In [21]:
from assets.database import db_session
from assets.models import Data

from keras.models import Sequential
import numpy as np
import pandas as pd
import requests
import pickle
from datetime import datetime
from datetime import timedelta

In [6]:
# DBからデータを取得
data = db_session.query(Data.date, Data.real_price, Data.pred_price).all()

# 取得したデータを項目ごとに分配
dates = []
real_prices = []
pred_prices = []

for _data in data:
    dates.append(_data.date)
    real_prices.append(_data.real_price)
    pred_prices.append(_data.pred_price)
    
dates = np.array(dates)
real_prices = np.array(real_prices)
pred_prices = np.array(pred_prices)

real_prices

2021-03-13 15:56:27,594 INFO sqlalchemy.engine.base.Engine SELECT data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price
FROM data
2021-03-13 15:56:27,599 INFO sqlalchemy.engine.base.Engine ()

array([376384.0, 369767.0, 368506.0, 396319.0, 395754.0, 398468.0,
       394797.0, 395085.0, 395099.0, 392999.0, 393923.0, 395229.0,
       400000.0, 427531.0, 429902.0, 435816.0, 432185.0, 435789.0,
       453900.0, 413712.0, 423575.0, 419629.0, 421267.0, 422865.0,
       425943.0, 426039.0, 423661.0, 413871.0, 429450.0, 429848.0,
       430100.0, 427484.0, 435287.0, 433206.0, 428795.0, 429580.0,
       428300.0, 430167.0, 434178.0, 443635.0, 441454.0, 442176.0,
       445064.0, 445814.0, 440825.0, 438504.0, 438500.0, 436971.0,
       429928.0, 433151.0, 444477.0, 443222.0, 452501.0, 453000.0,
       453417.0, 460500.0, 545469.0, 555300.0, 548000.0, 562532.0,
       563489.0, 579725.0, 588520.0, 576430.0, 591143.0, 564000.0,
       569500.0, 568149.0, 577750.0, 563500.0, 581653.0, 584418.0,
       591395.0, 591437.0, 595646.0, 594101.0, 603102.0, 619737.0,
       611479.0, 579000.0, 579700.0, 579990.0, 579000.0, 577863.0,
       587393.0, 593000.0, 601458.0, 628473.0, 640290.0, 632873.0,
       629700.0, 636280.0, 653899.0, 674664.0, 698820.0, 797940.0,
       766297.0, 854062.0, 877000.0, 897002.0, 867106.0, 813262.0,
       801006.0, 899120.0, 878650.0, 879495.0, 844000.0, 863494.0,
       874415.0, 883875.0, 953474.0, 960100.0, 952867.0, 948273.0,
       907386.0, 928180.0, 925022.0, 946500.0, 878998.0, 831423.0,
       844971.0, 846482.0, 867670.0, 860954.0, 833600.0, 870015.0,
       860725.0, 886889.0, 893750.0, 944847.0, 959400.0, 977299.0,
       1013696.0, 986025.0, 1002024.0, 1023420.0, 1095000.0, 1145500.0,
       1163505.0, 1180700.0, 1262333.0, 1399265.0, 1221271.0, 1342710.0,
       1290768.0, 1171306.0, 1156299.0, 1174473.0, 1291931.0, 1204098.0,
       1197650.0, 1222633.0, 1246467.0, 1335843.0, 1369916.0, 1313605.0,
       1237053.0, 1278534.0, 1233028.0, 1103883.0, 1177393.0, 1021334.0,
       1045283.0, 1144998.0, 1134597.0, 1160989.0, 1142766.0, 1114925.0,
       1067521.0, 1056426.0, 1074893.0, 1070121.0, 1030983.0, 1036720.0,
       1035395.0, 1041900.0, 1098400.0, 1118400.0, 1123000.0, 1153754.0,
       1170875.0, 1246972.0, 1220016.0, 1269227.0, 1267904.0, 1253887.0,
       1192119.0, 1216700.0, 1201588.0, 1158871.0, 1063000.0, 1095055.0,
       1100020.0, 1088953.0, 1098880.0, 1164274.0, 1142377.0, 1080771.0,
       1076343.0, 1097352.0, 1069511.0, 1064237.0, 1097674.0, 1075910.0,
       1032192.0, 1011000.0, 1018178.0, 1020001.0, 1036267.0, 1102000.0,
       1123874.0, 1124541.0, 1131641.0, 1103996.0, 1121490.0, 1112171.0,
       1106945.0, 1086657.0, 1095555.0, 1126914.0, 1119558.0, 1118737.0,
       1111526.0, 1108663.0, 1101600.0, 1100344.0, 1108999.0, 1093999.0,
       1074107.0, 1081500.0, 1044001.0, 917999.0, 910274.0, 869605.0,
       886900.0, 887254.0, 869799.0, 898291.0, 896313.0, 899088.0,
       881977.0, 873171.0, 872594.0, 841354.0, 879399.0, 874804.0,
       919414.0, 926444.0, 898000.0, 901833.0, 899998.0, 905500.0,
       887464.0, 869340.0, 877000.0, 862890.0, 863000.0, 891400.0,
       891947.0, 870050.0, 812505.0, 807310.0, 940000.0, 1002159.0,
       1037500.0, 1003370.0, 1025514.0, 997247.0, 988920.0, 999769.0,
       1006460.0, 996034.0, 1021915.0, 1015450.0, 1015778.0, 1006260.0,
       957397.0, 962771.0, 986500.0, 950719.0, 960000.0, 953321.0,
       936240.0, 921483.0, 923400.0, 925304.0, 888914.0, 880856.0,
       876921.0, 827661.0, 791420.0, 796610.0, 752853.0, 776240.0,
       781873.0, 822380.0, 814000.0, 849890.0, 827393.0, 811428.0,
       796925.0, 792786.0, 783614.0, 803858.0, 818480.0, 814301.0,
       816707.0, 797959.0, 785869.0, 782164.0, 786190.0, 792353.0,
       773304.0, 777016.0, 754500.0, 724800.0, 798000.0, 779042.0,
       786600.0, 781592.0, 821550.0, 800320.0, 793410.0, 787145.0,
       788330.0, 792233.0, 799490.0, 807988.0, 787115.0, 779450.0,
       780490.0, 754800.0, 793000.0, 794060.0, 793632.0, 841539.0,
       882500.0, 877290.0, 854944.0, 895000.0, 875339.0, 892969.0,
       887538.0, 965570.0, 964324.0, 958730.0, 980172.0, 981000.0,
       957880.0, 950811.0, 957629.0, 950633.0, 918822.0, 921808.0,
       911000.0, 936240.0, 969060.0, 1022498.0, 1011955.0, 1031610.0,
       1013273.0, 1015630.0, 1010175.0, 1008820.0, 1003300.0, 1053671.0,
       1070900.0, 1076199.0, 1086240.0, 1110975.0, 1081510.0, 1123524.0,
       1136950.0, 1124591.0, 1137555.0, 1087798.0, 1091360.0, 1066850.0,
       1118896.0, 1068601.0, 1076399.0, 1082615.0, 1078573.0, 1111020.0,
       1071701.0, 1027477.0, 970306.0, 965988.0, 941169.0, 923207.0,
       920400.0, 968732.0, 938769.0, 944324.0, 963433.0, 966010.0,
       940979.0, 837484.0, 820200.0, 830836.0, 832286.0, 517999.0,
       616477.0, 565780.0, 582013.0, 547160.0, 579530.0, 588404.0,
       692529.0, 690005.0, 688958.0, 647262.0, 719267.0, 752500.0,
       741720.0, 737681.0, 690539.0, 677000.0, 634168.0, 693221.0,
       691824.0, 714987.0, 735176.0, 732900.0, 746176.0, 737468.0,
       801357.0, 784414.0, 803139.0, 793267.0, 746887.0, 749585.0,
       751793.0, 739986.0, 738259.0, 713829.0, 768443.0, 758043.0,
       781254.0, 768579.0, 738350.0, 740881.0, 770246.0, 805725.0,
       808353.0, 813203.0, 828532.0, 836500.0, 829395.0, 937577.0,
       926749.0, 946265.0, 962121.0, 952856.0, 949894.0, 962100.0,
       973954.0, 1065810.0, 1048000.0, 1017000.0, 934350.0, 922489.0,
       945875.0, 997533.0, 1051000.0, 996901.0, 1005016.0, 1037701.0,
       1044362.0, 1053101.0, 1025000.0, 977238.0, 988518.0, 988442.0,
       940810.0, 960276.0, 951651.0, 992287.0, 1031382.0, 1016000.0,
       1044454.0, 1017708.0, 1096695.0, 1036500.0, 1054000.0, 1068556.0,
       1055001.0, 1060890.0, 1068671.0, 1061999.0, 1055300.0, 1058435.0,
       991979.0, 1019130.0, 1018635.0, 1002600.0, 1014726.0, 1023100.0,
       1012444.0, 1004324.0, 996198.0, 1001500.0, 993100.0, 1035188.0,
       1024910.0, 996110.0, 991379.0, 983990.0, 969100.0, 979187.0,
       990000.0, 987501.0, 992614.0, 979088.0, 976000.0, 983699.0,
       977116.0, 1003420.0, 996682.0, 1012852.0, 991400.0, 994063.0,
       988877.0, 994403.0, 991999.0, 992629.0, 984953.0, 981001.0,
       981400.0, 983008.0, 987318.0, 983258.0, 1003851.0, 1021745.0,
       1026771.0, 1014790.0, 1030800.0, 1052800.0, 1161792.0, 1148483.0,
       1167267.0, 1162795.0, 1201369.0, 1253271.0, 1174208.0, 1192124.0,
       1184018.0, 1241698.0, 1244183.0, 1232000.0, 1247789.0, 1238888.0,
       1261304.0, 1216250.0, 1237245.0, 1260621.0, 1256372.0, 1264963.0,
       1269993.0, 1305300.0, 1261745.0, 1249355.0, 1254646.0, 1222031.0,
       1237485.0, 1235514.0, 1246899.0, 1208500.0, 1216528.0, 1209914.0,
       1215522.0, 1213222.0, 1237375.0, 1238000.0, 1264036.0, 1213836.0,
       1081385.0, 1116228.0, 1081637.0, 1093172.0, 1104509.0, 1074006.0,
       1087081.0, 1099282.0, 1103947.0, 1110235.0, 1098495.0, 1129458.0,
       1138456.0, 1152172.0, 1146789.0, 1144683.0, 1159267.0, 1142239.0,
       1091082.0, 1106570.0, 1078788.0, 1132018.0, 1129490.0, 1134774.0,
       1138923.0, 1128478.0, 1146293.0, 1137292.0, 1121999.0, 1114512.0,
       1112500.0, 1127500.0, 1141000.0, 1121836.0, 1131100.0, 1157278.0,
       1168815.0, 1192637.0, 1200341.0, 1215517.0, 1204407.0, 1200316.0,
       1212122.0, 1194529.0, 1197535.0, 1213571.0, 1237405.0, 1256584.0,
       1340000.0, 1357938.0, 1354278.0, 1371544.0, 1364513.0, 1369830.0,
       1425690.0, 1387544.0, 1406387.0, 1419400.0, 1444181.0, 1441000.0,
       1420893.0, 1464000.0, 1477239.0, 1618413.0, 1611191.0, 1533355.0,
       1598834.0, 1611570.0, 1610899.0, 1654168.0, 1712114.0, 1709518.0,
       1685924.0, 1672849.0, 1747522.0, 1841189.0, 1848331.0, 1849940.0,
       1939124.0, 1945098.0, 1911568.0, 1914000.0, 1960390.0, 1952078.0,
       1788077.0, 1784100.0, 1846869.0, 1893175.0, 2045665.0, 1960119.0,
       2005987.0, 2018000.0, 1947001.0, 1995555.0, 2016630.0, 1997150.0,
       1911000.0, 1936500.0, 1899694.0, 1875759.0, 1957880.0, 1988187.0,
       2000099.0, 2011544.0, 2204169.0, 2345936.0, 2384389.0, 2463470.0,
       2431406.0, 2352054.0, 2463605.0, 2402890.0, 2455575.0, 2549805.0,
       2744909.0, 2720240.0, 2805138.0, 2827970.0, 2957123.0, 2968795.0,
       3010042.0, 3318029.0, 3410000.0, 3292693.0, 3470021.0, 3794337.0,
       4101108.0, 4225266.0, 4186509.0, 3979170.0, 3691706.0, 3528567.0,
       3882383.0, 4063030.0, 3820075.0, 3742517.0, 3717046.0, 3800000.0,
       3736678.0, 3683531.0, 3184848.0, 3423811.0, 3332124.0, 3350424.0,
       3353886.0, 3363982.0, 3167193.0, 3480542.0, 3576069.0, 3579626.0,
       3456656.0, 3485976.0, 3712619.0, 3932798.0, 3901624.0, 4035812.0,
       4131757.0, 4097000.0, 4875000.0, 4874233.0, 4704412.0, 5014707.0,
       4973709.0, 4957394.0, 5111984.0, 5055269.0, 5205481.0, 5526975.0,
       5456000.0, 5910646.0, 5910115.0, 6080178.0, 5687069.0, 5422284.0,
       None], dtype=object)

In [24]:
# DBからデータを取得
data = db_session.query(Data.date, Data.real_price, Data.pred_price).all()

# 取得したデータを項目ごとに分配
dates = []
real_prices = []
pred_prices = []

for _data in data:
    dates.append(_data.date)
    real_prices.append(_data.real_price)
    pred_prices.append(_data.pred_price)
    
df = pd.DataFrame({'date':dates, 'real_price':real_prices, 'pred_price':pred_prices})
df.tail()

2021-03-13 17:05:29,942 INFO sqlalchemy.engine.base.Engine SELECT data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price
FROM data
2021-03-13 17:05:29,946 INFO sqlalchemy.engine.base.Engine ()

                   date  real_price    pred_price
746 2021-02-21 09:00:00   5910115.0  5.998294e+06
747 2021-02-22 09:00:00   6080178.0  6.000729e+06
748 2021-02-23 09:00:00   5687069.0  6.152566e+06
749 2021-02-24 09:00:00   5422284.0  5.721341e+06
750 2021-02-25 09:00:00         NaN  5.521486e+06

In [26]:
df['real_price'][:-1].tail(10)

740    5111984.0
741    5055269.0
742    5205481.0
743    5526975.0
744    5456000.0
745    5910646.0
746    5910115.0
747    6080178.0
748    5687069.0
749    5422284.0
Name: real_price, dtype: float64

In [27]:
df['5ma'] = df['real_price'].rolling(5, min_periods=1).mean()
df.tail(10)

                   date  real_price    pred_price        5ma
741 2021-02-16 09:00:00   5055269.0  5.140096e+06  5022612.6
742 2021-02-17 09:00:00   5205481.0  5.076019e+06  5060767.4
743 2021-02-18 09:00:00   5526975.0  5.234057e+06  5171420.6
744 2021-02-19 09:00:00   5456000.0  5.605767e+06  5271141.8
745 2021-02-20 09:00:00   5910646.0  5.514918e+06  5430874.2
746 2021-02-21 09:00:00   5910115.0  5.998294e+06  5601843.4
747 2021-02-22 09:00:00   6080178.0  6.000729e+06  5776782.8
748 2021-02-23 09:00:00   5687069.0  6.152566e+06  5808801.6
749 2021-02-24 09:00:00   5422284.0  5.721341e+06  5802058.4
750 2021-02-25 09:00:00         NaN  5.521486e+06  5774911.5

In [10]:
type(real_prices[1])

float

In [19]:
period = 5
moving_averages = np.convolve(real_prices[:-1], np.ones(period)/float(period), 'same')
moving_averages

array([381346.0, 385762.80000000005, 390768.80000000005,
       396084.60000000003, 395840.60000000003, 395289.6, 394380.6,
       394466.99999999994, 395450.0, 401936.4, 409317.00000000006,
       417695.60000000003, 425086.80000000005, 432244.60000000003,
       437518.4, 434280.4, 431832.2, 429321.0, 426416.60000000003,
       420209.60000000003, 422655.80000000005, 423148.60000000003,
       423955.00000000006, 422475.80000000005, 423792.80000000005,
       424573.80000000005, 425386.0, 426150.60000000003,
       430433.80000000005, 431185.00000000006, 430974.4, 430870.4,
       431033.60000000003, 430009.60000000003, 430204.0, 433172.0,
       435546.8, 438322.0, 441301.4, 443628.6, 443066.6, 442476.6,
       441741.39999999997, 440122.8, 436945.6, 435410.8, 436605.4,
       437549.80000000005, 440655.80000000005, 445270.20000000007,
       449323.4, 452528.00000000006, 472977.4, 493537.2, 512537.2,
       534360.2, 554958.0, 561809.2, 568453.2, 574139.2, 579861.4,
       579963.6, 577918.6, 573844.4, 574108.3999999999, 568579.8,
       572110.4, 575094.0, 579743.2, 582480.6, 588909.8, 591399.4,
       595136.2000000001, 600804.6000000001, 604813.0000000001, 601483.8,
       598603.6000000001, 593981.2, 585833.8, 579110.6, 580789.2,
       583449.2, 587742.8, 597637.4, 610122.8, 619218.8, 626558.8,
       633523.2, 638608.4, 645483.2, 658672.6, 692320.6,
       718324.0000000001, 758356.6000000001, 798823.8, 838460.2000000001,
       852293.4000000001, 861686.4, 851075.2000000002, 855499.2000000001,
       851828.8, 854306.6000000001, 860454.2, 872951.8, 868010.8,
       869055.8, 883851.6000000001, 907071.6000000001, 924946.2000000001,
       939717.8, 944420.0, 939361.2, 932345.6, 931072.2000000001,
       917217.2000000001, 902024.6, 885382.8, 869674.7999999999, 853908.8,
       850300.0000000001, 850735.4, 855744.2000000001, 858592.8,
       862436.6000000001, 868995.8, 891245.2000000001, 909122.2000000001,
       932437.0000000001, 957798.4000000001, 976253.4000000001, 987688.8,
       1000492.8, 1024033.0, 1050393.8, 1085889.8, 1121625.0, 1169407.6,
       1230260.6, 1245414.8, 1281255.8, 1303269.4000000001, 1285064.0,
       1236470.8, 1227111.2000000002, 1216955.4000000001,
       1199621.4000000001, 1204890.2000000002, 1218157.0, 1232555.8,
       1241338.2, 1274501.8, 1297692.8, 1300576.8000000003,
       1306990.2000000002, 1286427.2, 1233220.6, 1205978.2, 1162834.4,
       1116184.2000000002, 1098578.2, 1104721.0, 1101440.2, 1125726.6,
       1139655.0, 1124159.6, 1108525.4, 1091306.2000000002, 1076777.2,
       1059988.8, 1053828.6, 1049622.4, 1043023.8, 1048679.6, 1066163.0,
       1083419.0, 1107090.8, 1132885.8, 1162600.2000000002,
       1182923.4000000001, 1212168.8000000003, 1234998.8,
       1251601.2000000002, 1240630.6, 1239967.4000000001, 1226439.6,
       1204633.0, 1166455.6, 1147042.8, 1123706.8, 1101179.8, 1089181.6,
       1109436.4, 1118900.8, 1115051.0, 1112529.0000000002,
       1112223.4000000001, 1093270.8, 1077642.8000000003, 1081023.4,
       1080936.8, 1067904.8, 1056202.6, 1046990.8, 1031456.2, 1023527.6,
       1037489.2000000001, 1060064.0, 1081336.6, 1103664.6, 1117210.4,
       1121108.4, 1118767.8, 1115248.6, 1106251.8, 1104563.6,
       1105648.4000000001, 1107125.8, 1109484.2000000002, 1114458.0,
       1117079.6, 1112016.7999999998, 1108174.0, 1106226.4000000001,
       1102721.0, 1095809.8000000003, 1091789.8, 1080521.2,
       1042321.2000000002, 1005576.2000000002, 964675.8, 925755.8,
       894406.4000000001, 884766.4000000001, 882369.8, 887711.4, 890149.0,
       889093.6, 889768.0, 884628.6000000001, 873636.8, 869699.0000000001,
       868264.4000000001, 877513.0000000001, 888283.0000000001,
       899612.2000000001, 904099.0, 909137.8, 906355.0, 898559.0,
       892827.0, 887860.4, 880438.8, 871938.8, 872726.0, 877247.4,
       875857.4, 865780.4, 854642.4, 864362.4, 886404.8, 919894.8,
       958067.8, 1001708.6000000001, 1013158.0000000001,
       1010510.2000000001, 1002964.0000000001, 1003582.0000000001,
       997686.0000000001, 1002619.6000000001, 1007925.6000000001,
       1011127.4, 1011087.4, 1003360.0, 991531.2, 985741.2,
       972729.4000000001, 963477.4000000001, 962662.2, 957356.0, 944352.6,
       938888.7999999999, 931949.6000000001, 919068.2000000001,
       907991.4000000001, 899079.0, 879931.2, 853154.3999999999,
       834693.6000000001, 809093.0, 788956.8, 779799.2, 785991.2,
       789469.2, 808876.6, 819107.2, 825018.2, 819927.2,
       815684.3999999999, 802429.2000000001, 797722.2, 799132.6, 802607.8,
       807392.0000000001, 810261.0, 806663.2000000001, 799400.0000000001,
       793777.8000000002, 788907.0, 783976.0000000001, 782205.4000000001,
       776672.6000000001, 764394.6000000001, 765524.0, 766671.6, 768588.4,
       774006.8, 793356.8, 793820.8, 796694.4, 796803.4, 798151.0,
       792287.6, 792121.6, 795037.2, 795031.2, 793255.2, 790906.6,
       781968.6, 778971.0, 780360.0, 783196.4, 795406.2000000001,
       820946.2000000001, 837804.2000000001, 849981.0000000001,
       870254.6000000001, 877014.6000000001, 879108.4000000001,
       881158.0000000001, 903283.2000000001, 917148.0000000001,
       933826.2000000001, 951266.8, 969959.2000000001, 968421.2000000001,
       965718.6000000001, 965498.4000000001, 959590.6, 947155.0, 939940.6,
       931978.4, 927700.6, 931386.0, 952121.2, 970150.6, 994272.6,
       1009679.2, 1018993.2, 1016528.6, 1015901.6, 1010239.6, 1018319.2,
       1029373.2, 1042578.0, 1058062.0, 1079597.0, 1085164.8, 1095689.6,
       1107839.8, 1115510.0, 1120826.0, 1122083.6, 1115650.7999999998,
       1101630.8, 1100491.8, 1086701.0, 1084421.2, 1082672.2000000002,
       1085016.8, 1083441.6, 1084061.6, 1074277.2000000002,
       1051815.4000000001, 1029298.4, 995328.2000000001,
       965629.4000000001, 944214.0000000001, 943899.2000000001,
       938455.4000000001, 939086.4000000001, 947131.6000000001,
       956253.6000000001, 950703.0000000001, 930446.0000000001,
       905621.2000000001, 879101.8, 852357.0, 767761.0000000001,
       723559.6000000001, 672675.6, 622911.0, 565885.8, 578192.0,
       572577.4, 597927.2, 619525.6, 647885.2, 661431.6000000001,
       687604.2000000001, 699598.4, 709941.4, 719686.0, 728341.4000000001,
       719888.0, 696221.6, 686521.8, 677350.4000000001, 682240.0,
       693875.2000000002, 713621.6000000001, 724212.6000000001, 733341.4,
       750615.4, 760463.0000000001, 774510.8000000002, 783929.0000000001,
       785812.8000000002, 775458.4, 768934.2000000001, 756303.6000000001,
       745302.0, 738690.4, 742462.0000000001, 743712.0, 751965.6000000001,
       758029.6000000001, 762933.8, 757421.4000000001, 759862.0,
       764756.2000000001, 772711.0, 787681.6, 805211.8, 818462.6,
       823196.6000000001, 849041.4, 871750.6000000001, 895297.2000000001,
       920421.4000000001, 945113.6000000001, 947577.0, 954647.2000000001,
       960185.0000000001, 980922.8, 999951.6000000001, 1013372.8,
       1007822.8, 997529.8, 973542.8, 963449.4, 970249.4,
       982759.6000000001, 999265.0, 1017630.2, 1026996.0000000001,
       1027416.2000000002, 1033036.0, 1027480.4, 1017643.8, 1006459.8,
       984001.6, 971056.8, 965939.3999999999, 966693.2000000001,
       975281.2000000001, 990319.2000000001, 1007154.8,
       1020366.2000000001, 1041247.8, 1042271.4, 1049871.4, 1054691.8,
       1062150.4, 1054989.4, 1061423.6, 1063023.4000000001,
       1060372.2000000002, 1061059.0, 1047276.8, 1037368.6000000001,
       1028695.8, 1018155.8, 1009414.0, 1015638.2, 1014301.0, 1011438.8,
       1010158.4, 1007513.2000000001, 1001513.2000000001, 1006062.0,
       1010179.2, 1010161.6, 1008137.4, 1006315.4, 993097.8,
       983953.2000000001, 982731.2000000001, 981955.6000000001,
       983680.4000000001, 985678.0000000001, 985040.6, 983780.4,
       981703.4000000001, 983864.6000000001, 987383.4, 994753.8,
       996294.0000000001, 999683.4, 996774.8, 996319.0, 992148.4,
       992394.2000000001, 990572.2000000001, 988997.0, 986396.4000000001,
       984598.2000000001, 983536.0, 983197.0, 987767.0, 995836.0,
       1004588.6000000001, 1010083.0, 1019591.4, 1029381.2, 1057390.6,
       1081733.0, 1112228.4, 1138627.4, 1168341.2, 1186637.0,
       1191782.0000000002, 1196753.4, 1200998.0, 1209063.8, 1207246.2,
       1218804.6, 1229937.6, 1240911.6, 1244832.8, 1239246.2000000002,
       1240295.2000000002, 1242861.6, 1246358.4, 1247090.2, 1257838.8,
       1271449.8, 1271674.6, 1270271.2, 1268207.8, 1258615.4, 1245052.4,
       1239806.2, 1239315.0, 1230085.8, 1228985.2000000002, 1223471.0,
       1219472.6, 1212737.2000000002, 1218512.2000000002, 1222806.6,
       1233631.0, 1233293.8, 1206926.4, 1182697.0, 1151424.4, 1117251.6,
       1095386.2, 1093910.4000000001, 1088081.0, 1091610.0, 1093765.0,
       1094910.2000000002, 1099808.0, 1108283.4000000001, 1116118.2,
       1125763.2000000002, 1133074.0, 1142311.6, 1148273.4, 1149030.0,
       1136812.0, 1128768.2000000002, 1115589.2000000002,
       1110139.4000000001, 1107589.6, 1116328.0, 1122798.6, 1132736.6,
       1135591.6, 1137152.0, 1134597.0, 1129714.8000000003,
       1126519.2000000002, 1122760.6, 1123502.2000000002, 1123469.6,
       1126787.2, 1135742.8, 1144005.7999999998, 1154333.2000000002,
       1170034.2, 1186917.6, 1196343.4000000001, 1202643.6, 1206540.6,
       1205378.2, 1201781.8, 1203614.6, 1211032.4000000001, 1219924.8,
       1249019.0, 1281099.6, 1309241.0000000002, 1336068.8000000003,
       1357654.6000000003, 1363620.6, 1377171.0, 1383824.2,
       1390792.8000000003, 1401770.2000000002, 1416640.4000000001,
       1419702.4, 1426372.2000000002, 1437894.8, 1449462.6,
       1484309.0000000002, 1518347.2000000002, 1540839.6,
       1567806.4000000001, 1594672.6, 1593169.8, 1601765.2000000002,
       1637517.0000000002, 1659653.8000000003, 1674524.6000000003,
       1686914.6000000003, 1705585.4000000004, 1731400.4000000001,
       1759163.0000000002, 1791966.2, 1845221.2000000002,
       1884736.4000000001, 1898812.2000000002, 1911946.0000000002,
       1934036.0000000002, 1936626.8000000003, 1905222.6, 1879729.0,
       1866302.8, 1852859.8, 1871577.2000000002, 1905985.6, 1950363.0,
       1984589.2000000002, 1995354.4000000001, 1985332.4000000001,
       1996634.6, 1994867.2, 1973467.2, 1971367.0, 1952194.8, 1924020.6,
       1916166.6, 1931604.0, 1944323.8, 1966693.8000000003,
       2032375.8000000003, 2109987.0, 2189227.4000000004, 2281901.6,
       2365874.0, 2395451.0, 2418984.8, 2422685.0, 2421106.0, 2444785.8,
       2523356.8, 2574683.8, 2655133.4, 2729612.4, 2811076.0, 2855853.2,
       2913813.6, 3016391.8, 3132797.8, 3199911.8000000003,
       3300157.0000000005, 3457016.0, 3613631.8000000003,
       3776685.0000000005, 3955448.2, 4057278.0, 4036751.8000000007,
       3922243.6, 3853667.0, 3828971.2, 3797152.2, 3807314.4, 3845010.2,
       3828533.6, 3763263.2, 3735954.4000000004, 3624420.6000000006,
       3565773.6000000006, 3472198.4000000004, 3394947.6000000006,
       3329018.6000000006, 3364845.4, 3313521.8000000003, 3343205.4,
       3388334.4000000004, 3433482.4000000004, 3452017.2,
       3515773.8000000007, 3562189.2, 3633535.0000000005,
       3697934.6000000006, 3813765.8000000003, 3942922.0, 4019798.2,
       4208238.6, 4402760.4, 4536480.4, 4713070.4, 4888412.2, 4904891.0,
       4952441.2, 5022612.6, 5060767.4, 5171420.600000001,
       5271141.800000001, 5430874.2, 5601843.4, 5776782.800000001,
       5808801.600000001, 5802058.4], dtype=object)

In [15]:
# 移動平均の点数
n = 3
    
    # 配列生成
data = np.array([ 1,  2,  5,  4,  2,  4,  3])
    
    # コンボリューション積分で移動平均の計算
ave = np.convolve(data, np.ones(n)/float(n), 'same')

ave

array([1.        , 2.66666667, 3.66666667, 3.66666667, 3.33333333,
       3.        , 2.33333333])

In [17]:
data[:-1]

array([1, 2, 5, 4, 2, 4])

In [33]:
db_session.query(Data).all()[-1].date

2021-02-22 01:58:04,588 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-02-22 01:58:04,590 INFO sqlalchemy.engine.base.Engine ()

datetime.datetime(2021, 2, 21, 0, 0)

In [19]:
a = db_session.query(Data).all()[-5:]
input_will = []

for price in a:
    input_will.append(price.real_price)
input_will = np.array(input_will).reshape(1, 5, 1)
input_mean = np.mean(input_will)
input_std = np.std(input_will)
sta_input = (input_will - input_mean) / input_std
sta_input

2021-02-22 01:44:55,385 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-02-22 01:44:55,388 INFO sqlalchemy.engine.base.Engine ()

array([[[-1.44852977],
        [-0.27361098],
        [-0.53299331],
        [ 1.12853731],
        [ 1.12659674]]])

In [38]:
# 翌日の日付を取得
today = db_session.query(Data).all()[-1].date
next_day = today + timedelta(days=1)
next_day

2021-02-22 02:00:07,729 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-02-22 02:00:07,732 INFO sqlalchemy.engine.base.Engine ()

datetime.datetime(2021, 2, 22, 0, 0)

In [1]:
from assets.database import db_session
from assets.models import Data

from keras.models import Sequential
import numpy as np
import requests
import pickle
#from datetime import datetime
from datetime import timedelta

def get_price():
    URL = 'https://coincheck.com/api/ticker'
    coincheck = requests.get(URL).json() 
    last_price = coincheck['last']
    
    return last_price

def predict_nextday():

    # 価格情報を取得しデータフレームに格納
    today_data = db_session.query(Data).all()[-1]
    today_data.real_price = get_price()  # 上書き
    db_session.add(today_data)
    db_session.commit()

    # windowを作成し標準化
    window = 5

    data_five = db_session.query(Data).all()[-window:]
    input_will = []

    for price in data_five:
        input_will.append(price.real_price)
    input_will = np.array(input_will).reshape(1, window, 1)
    input_mean = np.mean(input_will)
    input_std = np.std(input_will)
    sta_input = (input_will - input_mean) / input_std
    print(sta_input)

    # 学習済みモデルを取得
    with open("lstm_model.pickle", "rb") as f:
        model = pickle.load(f)

    # 翌日の価格を予測、標準化してあるので元に戻す
    future_price = model.predict(sta_input)
    future_price = future_price.reshape(-1)
    future_price = future_price*input_std + input_mean
    future_price = float(future_price)
    print(future_price)

    # 翌日の日付を取得
    today = db_session.query(Data).all()[-1].date
    next_day = today + timedelta(days=1)
    print(next_day)

    # 翌日の日付、予測した価格をデータベースに格納
    row = Data(date = next_day, real_price = None, pred_price = future_price)
    db_session.add(row)
    db_session.commit()

Using TensorFlow backend.
C:\Users\tomot\anaconda3\envs\lstm\lib\site-packages\tensorflow\python\framework\dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\tomot\anaconda3\envs\lstm\lib\site-packages\tensorflow\python\framework\dtypes.py:524: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\tomot\anaconda3\envs\lstm\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\tomot\anaconda3\envs\lstm\lib\site-packages\tensorflow\python\framework\dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\tomot\anaconda3\envs\lstm\lib\site-packages\tensorflow\python\framework\dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\tomot\anaconda3\envs\lstm\lib\site-packages\tensorflow\python\framework\dtypes.py:532: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
predict_nextday()

2021-02-23 17:13:06,304 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-02-23 17:13:06,311 INFO sqlalchemy.engine.base.Engine ()
2021-02-23 17:13:06,321 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-02-23 17:13:06,324 INFO sqlalchemy.engine.base.Engine ()
2021-02-23 17:13:06,331 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-23 17:13:06,344 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-02-23 17:13:06,349 INFO sqlalchemy.engine.base.Engine ()
2021-02-23 17:13:08,238 INFO sqlalchemy.engine.base.Engine UPDATE data SET real_price=? WHERE data.id = ?
2021-02-23 17:13:08,243 INFO sqlalchemy.engine.base.Engine (5129755.0, 749)
2021-02-23 17:13:08,256 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-23 17:13:08,291 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-23 17:13:08,296 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-02-23 17:13:08,303 INFO sqlalchemy.engine.base.Engine ()
[[[-0.6149011 ]
  [ 0.86479702]
  [ 0.86306881]
  [ 0.56373853]
  [-1.67670327]]]
5318548.0
2021-02-23 17:13:16,931 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-02-23 17:13:16,942 INFO sqlalchemy.engine.base.Engine ()
2021-02-24 00:00:00
2021-02-23 17:13:17,000 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-23 17:13:17,005 INFO sqlalchemy.engine.base.Engine ('2021-02-24 00:00:00.000000', None, 5318548.0, '2021-02-23 17:12:17.855228')
2021-02-23 17:13:17,017 INFO sqlalchemy.engine.base.Engine COMMIT

In [47]:
# 翌日の日付、予測した価格をデータベースに格納
row = Data(date = next_day, real_price = None, pred_price = future_price)
db_session.add(row)
db_session.commit()

2021-02-22 02:09:53,807 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 02:09:53,809 INFO sqlalchemy.engine.base.Engine ('2021-02-22 00:00:00.000000', None, 6211567.0, '2021-02-22 01:09:37.634966')
2021-02-22 02:09:53,818 INFO sqlalchemy.engine.base.Engine COMMIT

In [51]:
print(db_session.query(Data).all()[-1].real_price)

2021-02-22 02:11:03,158 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-02-22 02:11:03,158 INFO sqlalchemy.engine.base.Engine ()
None