In [1]:
import requests
import json
import pandas as pd
import numpy as np
#import time
#from datetime import datetime
#from datetime import timedelta
import pickle

from keras.models import Sequential

Using TensorFlow backend.
C:\Users\tomot\anaconda3\envs\lstm\lib\site-packages\tensorflow\python\framework\dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\tomot\anaconda3\envs\lstm\lib\site-packages\tensorflow\python\framework\dtypes.py:524: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\tomot\anaconda3\envs\lstm\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\tomot\anaconda3\envs\lstm\lib\site-packages\tensorflow\python\framework\dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\tomot\anaconda3\envs\lstm\lib\site-packages\tensorflow\python\framework\dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\tomot\anaconda3\envs\lstm\lib\site-packages\tensorflow\python\framework\dtypes.py:532: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
# 2019/02/01～の情報を取得（UTCとの時差は9時間）（close_timeは日本時間で午前9時）
res = requests.get('https://api.cryptowat.ch/markets/bitflyer/btcjpy/ohlc?periods=86400&after=1548979200')
data = json.loads(res.text)
daily_data = pd.DataFrame(data['result']['86400'], columns=['close_time', 'open_price', 'high_price', 'low_price', 'close_price', 'volume', 'quote_volume'])
daily_data['date'] = pd.to_datetime(daily_data['close_time'], unit='s')
daily_data = daily_data[:-1] # 最終行を削除（取得した時点の情報が次の日の情報となっているため）

In [3]:
with open("lstm_model.pickle", "rb") as f:
    model = pickle.load(f)

In [4]:
period = 5
data = daily_data['close_price']

input_tensor = []
label_tensor = []
mean_list = []
std_list = []
data_len = len(data)    #総データ数
    
#変数とラベルの生成
for i in range(0, data_len - period, 1):
    window = data.values[i:i + period]
    mean = np.mean(window)
    std = np.std(window)
    mean_list.append(mean)
    std_list.append(std)
    input_tensor.append((window-mean) / std)
    label_tensor.append((data.values[i + period]-mean) / std)
        
input_tensor = np.array(input_tensor).reshape(len(data)-period, period, 1)
label_tensor = np.array(label_tensor).reshape(len(data)-period, 1)
mean_list = np.array(mean_list)
std_list = np.array(std_list)

In [5]:
date = daily_data['date'][5:].reset_index(drop=True)

In [6]:
pred = model.predict(input_tensor)
pred = pred.reshape(-1)
pred = pred*std_list + mean_list
label_tensor = label_tensor.reshape(-1)
real = label_tensor*std_list + mean_list
past_df = pd.DataFrame({'date':date, 'pred':pred, 'real':real})
past_df.tail()

          date          pred       real
742 2021-02-17  5.076019e+06  5205481.0
743 2021-02-18  5.234057e+06  5526975.0
744 2021-02-19  5.605767e+06  5456000.0
745 2021-02-20  5.514918e+06  5910646.0
746 2021-02-21  5.998294e+06  5910115.0

In [15]:
a=past_df['date'].iloc[0]
a

Timestamp('2019-02-06 00:00:00')

In [2]:
from assets import models

from assets.database import db_session

In [3]:
from assets.database import init_db

init_db()

2021-02-22 19:20:14,704 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-02-22 19:20:14,709 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 19:20:14,717 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-02-22 19:20:14,723 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 19:20:14,731 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("data")
2021-02-22 19:20:14,736 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 19:20:14,746 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("data")
2021-02-22 19:20:14,753 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 19:20:14,760 INFO sqlalchemy.engine.base.Engine
CREATE TABLE data (
	id INTEGER NOT NULL,
	date DATETIME,
	real_price FLOAT,
	pred_price FLOAT,
	timestamp DATETIME,
	PRIMARY KEY (id)
)


2021-02-22 19:20:14,764 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 19:20:14,793 INFO sqlalchemy.engine.base.Engine COMMIT

In [17]:
row = models.Data(date = past_df['date'].iloc[0], real_price = past_df['real'].iloc[0], pred_price = past_df['pred'].iloc[0])
db_session.add(row)

In [18]:
db_session.commit()

2021-02-22 00:28:57,496 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-22 00:28:57,502 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:28:57,512 INFO sqlalchemy.engine.base.Engine ('2019-02-06 00:00:00.000000', 376384.0, 374529.5314869114, '2021-02-22 00:23:56.804582')
2021-02-22 00:28:57,524 INFO sqlalchemy.engine.base.Engine COMMIT

In [4]:
import datetime
date = datetime.date.today()
row = models.Data(date=date, real_price=30000.0, pred_price=20000.0)

In [5]:
db_session.add(row)

In [6]:
db_session.commit()

2021-02-22 00:17:48,525 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-22 00:17:48,535 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:17:48,543 INFO sqlalchemy.engine.base.Engine ('2021-02-22 00:00:00.000000', 30000.0, 20000.0, '2021-02-22 00:17:05.779172')
2021-02-22 00:17:48,556 INFO sqlalchemy.engine.base.Engine COMMIT

In [8]:
db_session.query(models.Data).all()[0].date

2021-02-22 00:19:22,473 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-22 00:19:22,481 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-02-22 00:19:22,488 INFO sqlalchemy.engine.base.Engine ()

datetime.datetime(2021, 2, 22, 0, 0)

In [20]:

for index, _past_df in past_df.iterrows():
    row = models.Data(date = _past_df['date'], real_price = _past_df['real'], pred_price = _past_df['pred'])
    db_session.add(row)
    
db_session.commit()

2021-02-22 00:29:55,595 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-22 00:29:55,615 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:55,623 INFO sqlalchemy.engine.base.Engine ('2019-02-06 00:00:00.000000', 376384.0, 374529.5314869114, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:55,640 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:55,647 INFO sqlalchemy.engine.base.Engine ('2019-02-07 00:00:00.000000', 369767.0, 376527.961247868, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:55,654 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:55,662 INFO sqlalchemy.engine.base.Engine ('2019-02-08 00:00:00.000000', 368506.0, 371621.32793994085, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:55,669 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:55,676 INFO sqlalchemy.engine.base.Engine ('2019-02-09 00:00:00.000000', 396319.0, 369134.3806383569, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:55,684 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:55,692 INFO sqlalchemy.engine.base.Engine ('2019-02-10 00:00:00.000000', 395754.0, 397465.3537710287, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:55,700 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:55,708 INFO sqlalchemy.engine.base.Engine ('2019-02-11 00:00:00.000000', 398468.0, 401571.44259234343, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:55,718 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:55,724 INFO sqlalchemy.engine.base.Engine ('2019-02-12 00:00:00.000000', 394797.0, 401429.24657715997, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:55,729 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:55,737 INFO sqlalchemy.engine.base.Engine ('2019-02-13 00:00:00.000000', 395085.0, 395329.63452875684, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:55,744 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:55,751 INFO sqlalchemy.engine.base.Engine ('2019-02-14 00:00:00.000000', 395099.0, 395172.3885669565, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:55,760 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:55,766 INFO sqlalchemy.engine.base.Engine ('2019-02-15 00:00:00.000000', 392999.0, 395258.42715959094, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:55,773 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:55,779 INFO sqlalchemy.engine.base.Engine ('2019-02-16 00:00:00.000000', 393923.0, 393703.1711848595, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:55,788 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:55,795 INFO sqlalchemy.engine.base.Engine ('2019-02-17 00:00:00.000000', 395229.0, 393794.2240514598, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:55,804 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:55,812 INFO sqlalchemy.engine.base.Engine ('2019-02-18 00:00:00.000000', 400000.0, 395277.6547361201, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:55,813 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:55,821 INFO sqlalchemy.engine.base.Engine ('2019-02-19 00:00:00.000000', 427531.0, 400954.43093780766, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:55,829 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:55,835 INFO sqlalchemy.engine.base.Engine ('2019-02-20 00:00:00.000000', 429902.0, 432217.9070786438, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:55,843 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:55,847 INFO sqlalchemy.engine.base.Engine ('2019-02-21 00:00:00.000000', 435816.0, 436348.40344634437, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:55,855 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:55,864 INFO sqlalchemy.engine.base.Engine ('2019-02-22 00:00:00.000000', 432185.0, 439611.9610337186, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:55,869 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:55,878 INFO sqlalchemy.engine.base.Engine ('2019-02-23 00:00:00.000000', 435789.0, 433087.0236215339, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:55,887 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:55,893 INFO sqlalchemy.engine.base.Engine ('2019-02-24 00:00:00.000000', 453900.0, 436471.06414527335, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:55,901 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:55,908 INFO sqlalchemy.engine.base.Engine ('2019-02-25 00:00:00.000000', 413712.0, 456788.845745324, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:55,914 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:55,921 INFO sqlalchemy.engine.base.Engine ('2019-02-26 00:00:00.000000', 423575.0, 422978.13204648986, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:55,929 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:55,933 INFO sqlalchemy.engine.base.Engine ('2019-02-27 00:00:00.000000', 419629.0, 422846.70924554655, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:55,943 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:55,948 INFO sqlalchemy.engine.base.Engine ('2019-02-28 00:00:00.000000', 421267.0, 421205.02481883, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:55,957 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:55,963 INFO sqlalchemy.engine.base.Engine ('2019-03-01 00:00:00.000000', 422865.0, 424592.85604912223, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:55,971 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:55,980 INFO sqlalchemy.engine.base.Engine ('2019-03-02 00:00:00.000000', 425943.0, 423693.4160035024, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:55,987 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:55,992 INFO sqlalchemy.engine.base.Engine ('2019-03-03 00:00:00.000000', 426039.0, 426844.1769709058, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,001 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,007 INFO sqlalchemy.engine.base.Engine ('2019-03-04 00:00:00.000000', 423661.0, 426733.9694784019, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,016 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,022 INFO sqlalchemy.engine.base.Engine ('2019-03-05 00:00:00.000000', 413871.0, 423803.3500174398, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,028 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,033 INFO sqlalchemy.engine.base.Engine ('2019-03-06 00:00:00.000000', 429450.0, 417104.6367028262, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,041 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,046 INFO sqlalchemy.engine.base.Engine ('2019-03-07 00:00:00.000000', 429848.0, 427803.7782647633, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,054 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,063 INFO sqlalchemy.engine.base.Engine ('2019-03-08 00:00:00.000000', 430100.0, 432190.86778652447, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,071 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,076 INFO sqlalchemy.engine.base.Engine ('2019-03-09 00:00:00.000000', 427484.0, 431551.40498561854, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,080 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,086 INFO sqlalchemy.engine.base.Engine ('2019-03-10 00:00:00.000000', 435287.0, 427643.42702497536, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,096 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,105 INFO sqlalchemy.engine.base.Engine ('2019-03-11 00:00:00.000000', 433206.0, 435297.52896302356, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,113 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,119 INFO sqlalchemy.engine.base.Engine ('2019-03-12 00:00:00.000000', 428795.0, 434310.0378821922, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,127 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,132 INFO sqlalchemy.engine.base.Engine ('2019-03-13 00:00:00.000000', 429580.0, 429507.2707630528, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,136 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,144 INFO sqlalchemy.engine.base.Engine ('2019-03-14 00:00:00.000000', 428300.0, 429627.68191744934, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,152 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,158 INFO sqlalchemy.engine.base.Engine ('2019-03-15 00:00:00.000000', 430167.0, 428844.88946988113, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,163 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,169 INFO sqlalchemy.engine.base.Engine ('2019-03-16 00:00:00.000000', 434178.0, 430416.80763831764, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,179 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,184 INFO sqlalchemy.engine.base.Engine ('2019-03-17 00:00:00.000000', 443635.0, 435015.0770449901, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,192 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,200 INFO sqlalchemy.engine.base.Engine ('2019-03-18 00:00:00.000000', 441454.0, 446016.051444053, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,208 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,212 INFO sqlalchemy.engine.base.Engine ('2019-03-19 00:00:00.000000', 442176.0, 443082.85585859284, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,217 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,224 INFO sqlalchemy.engine.base.Engine ('2019-03-20 00:00:00.000000', 445064.0, 442908.60673625994, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,230 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,234 INFO sqlalchemy.engine.base.Engine ('2019-03-21 00:00:00.000000', 445814.0, 445876.249232148, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,242 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,246 INFO sqlalchemy.engine.base.Engine ('2019-03-22 00:00:00.000000', 440825.0, 446607.9208295232, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,257 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,263 INFO sqlalchemy.engine.base.Engine ('2019-03-23 00:00:00.000000', 438504.0, 441682.9030641876, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,274 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,282 INFO sqlalchemy.engine.base.Engine ('2019-03-24 00:00:00.000000', 438500.0, 439334.7663265638, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,287 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,292 INFO sqlalchemy.engine.base.Engine ('2019-03-25 00:00:00.000000', 436971.0, 438753.7181507867, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,300 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,305 INFO sqlalchemy.engine.base.Engine ('2019-03-26 00:00:00.000000', 429928.0, 437763.41741173307, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,310 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,314 INFO sqlalchemy.engine.base.Engine ('2019-03-27 00:00:00.000000', 433151.0, 432388.71854231803, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,325 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,332 INFO sqlalchemy.engine.base.Engine ('2019-03-28 00:00:00.000000', 444477.0, 432745.7090977086, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,340 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,348 INFO sqlalchemy.engine.base.Engine ('2019-03-29 00:00:00.000000', 443222.0, 445065.83286597626, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,355 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,362 INFO sqlalchemy.engine.base.Engine ('2019-03-30 00:00:00.000000', 452501.0, 445550.7911006916, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,367 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,375 INFO sqlalchemy.engine.base.Engine ('2019-03-31 00:00:00.000000', 453000.0, 454890.2160889527, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,384 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,392 INFO sqlalchemy.engine.base.Engine ('2019-04-01 00:00:00.000000', 453417.0, 454928.6587035303, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,399 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,405 INFO sqlalchemy.engine.base.Engine ('2019-04-02 00:00:00.000000', 460500.0, 454395.39888509375, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,411 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-02-22 00:29:56,415 INFO sqlalchemy.engine.base.Engine ('2019-04-03 00:00:00.000000', 545469.0, 461938.734322117, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,427 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,431 INFO sqlalchemy.engine.base.Engine ('2019-04-04 00:00:00.000000', 555300.0, 556856.0345419074, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,439 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,447 INFO sqlalchemy.engine.base.Engine ('2019-04-05 00:00:00.000000', 548000.0, 575529.1077154774, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,457 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,462 INFO sqlalchemy.engine.base.Engine ('2019-04-06 00:00:00.000000', 562532.0, 555409.3112297106, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,470 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,477 INFO sqlalchemy.engine.base.Engine ('2019-04-07 00:00:00.000000', 563489.0, 565951.8656682409, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,485 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,491 INFO sqlalchemy.engine.base.Engine ('2019-04-08 00:00:00.000000', 579725.0, 566507.3203350795, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,501 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,512 INFO sqlalchemy.engine.base.Engine ('2019-04-09 00:00:00.000000', 588520.0, 583756.8644353605, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,516 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,526 INFO sqlalchemy.engine.base.Engine ('2019-04-10 00:00:00.000000', 576430.0, 593569.3383425561, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,535 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,540 INFO sqlalchemy.engine.base.Engine ('2019-04-11 00:00:00.000000', 591143.0, 577417.7411378685, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,551 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,557 INFO sqlalchemy.engine.base.Engine ('2019-04-12 00:00:00.000000', 564000.0, 592160.7760131501, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,567 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,572 INFO sqlalchemy.engine.base.Engine ('2019-04-13 00:00:00.000000', 569500.0, 570520.1512529968, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,580 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,585 INFO sqlalchemy.engine.base.Engine ('2019-04-14 00:00:00.000000', 568149.0, 569478.9585958362, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,595 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,601 INFO sqlalchemy.engine.base.Engine ('2019-04-15 00:00:00.000000', 577750.0, 569159.8568805305, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,610 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,614 INFO sqlalchemy.engine.base.Engine ('2019-04-16 00:00:00.000000', 563500.0, 580255.016320706, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,620 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,626 INFO sqlalchemy.engine.base.Engine ('2019-04-17 00:00:00.000000', 581653.0, 565543.5836059898, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,634 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,642 INFO sqlalchemy.engine.base.Engine ('2019-04-18 00:00:00.000000', 584418.0, 581553.6136851524, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,650 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,654 INFO sqlalchemy.engine.base.Engine ('2019-04-19 00:00:00.000000', 591395.0, 588013.7703324059, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,662 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,669 INFO sqlalchemy.engine.base.Engine ('2019-04-20 00:00:00.000000', 591437.0, 594672.2369662382, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,683 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,688 INFO sqlalchemy.engine.base.Engine ('2019-04-21 00:00:00.000000', 595646.0, 592960.3559396896, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,696 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,702 INFO sqlalchemy.engine.base.Engine ('2019-04-22 00:00:00.000000', 594101.0, 597000.3949117276, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,709 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,711 INFO sqlalchemy.engine.base.Engine ('2019-04-23 00:00:00.000000', 603102.0, 594637.7370838387, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,723 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,729 INFO sqlalchemy.engine.base.Engine ('2019-04-24 00:00:00.000000', 619737.0, 604389.8201955192, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,739 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,748 INFO sqlalchemy.engine.base.Engine ('2019-04-25 00:00:00.000000', 611479.0, 624092.995383079, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,754 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,762 INFO sqlalchemy.engine.base.Engine ('2019-04-26 00:00:00.000000', 579000.0, 613646.2602981839, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,771 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,780 INFO sqlalchemy.engine.base.Engine ('2019-04-27 00:00:00.000000', 579700.0, 587413.4970795008, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,788 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,797 INFO sqlalchemy.engine.base.Engine ('2019-04-28 00:00:00.000000', 579990.0, 580931.0184996146, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,803 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,805 INFO sqlalchemy.engine.base.Engine ('2019-04-29 00:00:00.000000', 579000.0, 581643.6023568091, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,817 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,823 INFO sqlalchemy.engine.base.Engine ('2019-04-30 00:00:00.000000', 577863.0, 582300.8326767252, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,834 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,840 INFO sqlalchemy.engine.base.Engine ('2019-05-01 00:00:00.000000', 587393.0, 578235.5593432556, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,849 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,853 INFO sqlalchemy.engine.base.Engine ('2019-05-02 00:00:00.000000', 593000.0, 587800.9077254714, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,861 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,872 INFO sqlalchemy.engine.base.Engine ('2019-05-03 00:00:00.000000', 601458.0, 595914.2663065011, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,877 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,883 INFO sqlalchemy.engine.base.Engine ('2019-05-04 00:00:00.000000', 628473.0, 604768.3009967715, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,890 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,901 INFO sqlalchemy.engine.base.Engine ('2019-05-05 00:00:00.000000', 640290.0, 634956.780403771, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,909 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,920 INFO sqlalchemy.engine.base.Engine ('2019-05-06 00:00:00.000000', 632873.0, 648525.270391169, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,927 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,933 INFO sqlalchemy.engine.base.Engine ('2019-05-07 00:00:00.000000', 629700.0, 635455.7210502848, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,942 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,950 INFO sqlalchemy.engine.base.Engine ('2019-05-08 00:00:00.000000', 636280.0, 629879.2970407518, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,953 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,965 INFO sqlalchemy.engine.base.Engine ('2019-05-09 00:00:00.000000', 653899.0, 636796.7550365333, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,973 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,981 INFO sqlalchemy.engine.base.Engine ('2019-05-10 00:00:00.000000', 674664.0, 656762.6582184772, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:56,989 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:56,995 INFO sqlalchemy.engine.base.Engine ('2019-05-11 00:00:00.000000', 698820.0, 682251.0980833843, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,004 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,012 INFO sqlalchemy.engine.base.Engine ('2019-05-12 00:00:00.000000', 797940.0, 708477.2408787463, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,020 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,028 INFO sqlalchemy.engine.base.Engine ('2019-05-13 00:00:00.000000', 766297.0, 819528.0450991385, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,035 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,040 INFO sqlalchemy.engine.base.Engine ('2019-05-14 00:00:00.000000', 854062.0, 780985.9346502138, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,050 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,054 INFO sqlalchemy.engine.base.Engine ('2019-05-15 00:00:00.000000', 877000.0, 872587.602090074, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,065 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,070 INFO sqlalchemy.engine.base.Engine ('2019-05-16 00:00:00.000000', 897002.0, 898899.4080814187, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,080 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,085 INFO sqlalchemy.engine.base.Engine ('2019-05-17 00:00:00.000000', 867106.0, 911943.1626964211, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,094 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,100 INFO sqlalchemy.engine.base.Engine ('2019-05-18 00:00:00.000000', 813262.0, 868622.4459216325, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,108 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,118 INFO sqlalchemy.engine.base.Engine ('2019-05-19 00:00:00.000000', 801006.0, 829753.4707026535, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,126 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,134 INFO sqlalchemy.engine.base.Engine ('2019-05-20 00:00:00.000000', 899120.0, 807789.036615559, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,139 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,145 INFO sqlalchemy.engine.base.Engine ('2019-05-21 00:00:00.000000', 878650.0, 894103.1451992246, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,154 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,160 INFO sqlalchemy.engine.base.Engine ('2019-05-22 00:00:00.000000', 879495.0, 894361.5069718262, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,166 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,176 INFO sqlalchemy.engine.base.Engine ('2019-05-23 00:00:00.000000', 844000.0, 887155.5766126295, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,184 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,192 INFO sqlalchemy.engine.base.Engine ('2019-05-24 00:00:00.000000', 863494.0, 847564.376619243, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,199 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,208 INFO sqlalchemy.engine.base.Engine ('2019-05-25 00:00:00.000000', 874415.0, 861854.6510335499, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,215 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,221 INFO sqlalchemy.engine.base.Engine ('2019-05-26 00:00:00.000000', 883875.0, 875669.2067893088, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,230 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,236 INFO sqlalchemy.engine.base.Engine ('2019-05-27 00:00:00.000000', 953474.0, 889181.9829224502, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,246 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,254 INFO sqlalchemy.engine.base.Engine ('2019-05-28 00:00:00.000000', 960100.0, 966563.242890102, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,262 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,270 INFO sqlalchemy.engine.base.Engine ('2019-05-29 00:00:00.000000', 952867.0, 976312.8843848092, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,281 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-02-22 00:29:57,288 INFO sqlalchemy.engine.base.Engine ('2019-05-30 00:00:00.000000', 948273.0, 958541.2596675691, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,297 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,305 INFO sqlalchemy.engine.base.Engine ('2019-05-31 00:00:00.000000', 907386.0, 948912.8186389765, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,312 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,320 INFO sqlalchemy.engine.base.Engine ('2019-06-01 00:00:00.000000', 928180.0, 921267.9618989141, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,329 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,335 INFO sqlalchemy.engine.base.Engine ('2019-06-02 00:00:00.000000', 925022.0, 925632.324737471, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,343 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,351 INFO sqlalchemy.engine.base.Engine ('2019-06-03 00:00:00.000000', 946500.0, 926876.074091559, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,360 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,362 INFO sqlalchemy.engine.base.Engine ('2019-06-04 00:00:00.000000', 878998.0, 950792.7401580944, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,372 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,378 INFO sqlalchemy.engine.base.Engine ('2019-06-05 00:00:00.000000', 831423.0, 895710.2695043667, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,381 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,386 INFO sqlalchemy.engine.base.Engine ('2019-06-06 00:00:00.000000', 844971.0, 849730.7443366421, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,396 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,402 INFO sqlalchemy.engine.base.Engine ('2019-06-07 00:00:00.000000', 846482.0, 845398.5830995295, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,411 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,422 INFO sqlalchemy.engine.base.Engine ('2019-06-08 00:00:00.000000', 867670.0, 854306.74040436, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,430 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,435 INFO sqlalchemy.engine.base.Engine ('2019-06-09 00:00:00.000000', 860954.0, 872880.1989613436, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,442 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,451 INFO sqlalchemy.engine.base.Engine ('2019-06-10 00:00:00.000000', 833600.0, 863867.3479170608, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,458 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,464 INFO sqlalchemy.engine.base.Engine ('2019-06-11 00:00:00.000000', 870015.0, 839899.7874717991, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,474 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,481 INFO sqlalchemy.engine.base.Engine ('2019-06-12 00:00:00.000000', 860725.0, 867325.1132899822, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,490 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,501 INFO sqlalchemy.engine.base.Engine ('2019-06-13 00:00:00.000000', 886889.0, 863680.8827715536, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,507 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,516 INFO sqlalchemy.engine.base.Engine ('2019-06-14 00:00:00.000000', 893750.0, 892695.5457568184, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,523 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,530 INFO sqlalchemy.engine.base.Engine ('2019-06-15 00:00:00.000000', 944847.0, 900297.0288484305, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,540 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,547 INFO sqlalchemy.engine.base.Engine ('2019-06-16 00:00:00.000000', 959400.0, 956050.7214042323, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,556 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,563 INFO sqlalchemy.engine.base.Engine ('2019-06-17 00:00:00.000000', 977299.0, 972970.9085468267, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,572 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,581 INFO sqlalchemy.engine.base.Engine ('2019-06-18 00:00:00.000000', 1013696.0, 987164.0655088951, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,588 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,596 INFO sqlalchemy.engine.base.Engine ('2019-06-19 00:00:00.000000', 986025.0, 1024966.1803238043, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,605 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,612 INFO sqlalchemy.engine.base.Engine ('2019-06-20 00:00:00.000000', 1002024.0, 989147.1632161852, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,619 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,628 INFO sqlalchemy.engine.base.Engine ('2019-06-21 00:00:00.000000', 1023420.0, 1004987.8429137436, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,635 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,644 INFO sqlalchemy.engine.base.Engine ('2019-06-22 00:00:00.000000', 1095000.0, 1030104.535763752, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,654 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,661 INFO sqlalchemy.engine.base.Engine ('2019-06-23 00:00:00.000000', 1145500.0, 1110310.4880471493, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,667 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,672 INFO sqlalchemy.engine.base.Engine ('2019-06-24 00:00:00.000000', 1163505.0, 1170720.4849609733, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,681 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,688 INFO sqlalchemy.engine.base.Engine ('2019-06-25 00:00:00.000000', 1180700.0, 1180960.712348329, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,698 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,701 INFO sqlalchemy.engine.base.Engine ('2019-06-26 00:00:00.000000', 1262333.0, 1190614.2206029284, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,709 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,717 INFO sqlalchemy.engine.base.Engine ('2019-06-27 00:00:00.000000', 1399265.0, 1280730.0922354807, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,727 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,733 INFO sqlalchemy.engine.base.Engine ('2019-06-28 00:00:00.000000', 1221271.0, 1439474.9432103187, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,740 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,748 INFO sqlalchemy.engine.base.Engine ('2019-06-29 00:00:00.000000', 1342710.0, 1236356.967264428, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,756 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,764 INFO sqlalchemy.engine.base.Engine ('2019-06-30 00:00:00.000000', 1290768.0, 1348383.1328006848, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,771 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,776 INFO sqlalchemy.engine.base.Engine ('2019-07-01 00:00:00.000000', 1171306.0, 1304392.2332715828, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,785 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,790 INFO sqlalchemy.engine.base.Engine ('2019-07-02 00:00:00.000000', 1156299.0, 1205510.4111991776, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,798 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,806 INFO sqlalchemy.engine.base.Engine ('2019-07-03 00:00:00.000000', 1174473.0, 1164922.5579693648, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,812 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,816 INFO sqlalchemy.engine.base.Engine ('2019-07-04 00:00:00.000000', 1291931.0, 1179425.5750179933, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,822 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,830 INFO sqlalchemy.engine.base.Engine ('2019-07-05 00:00:00.000000', 1204098.0, 1305298.795811465, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,838 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,847 INFO sqlalchemy.engine.base.Engine ('2019-07-06 00:00:00.000000', 1197650.0, 1214801.979651418, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,856 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,862 INFO sqlalchemy.engine.base.Engine ('2019-07-07 00:00:00.000000', 1222633.0, 1204330.9596744245, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,873 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,879 INFO sqlalchemy.engine.base.Engine ('2019-07-08 00:00:00.000000', 1246467.0, 1230570.417304164, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,886 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,894 INFO sqlalchemy.engine.base.Engine ('2019-07-09 00:00:00.000000', 1335843.0, 1257857.9757346916, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,902 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,910 INFO sqlalchemy.engine.base.Engine ('2019-07-10 00:00:00.000000', 1369916.0, 1355871.1380917246, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,916 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,924 INFO sqlalchemy.engine.base.Engine ('2019-07-11 00:00:00.000000', 1313605.0, 1395969.1945462448, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,933 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,939 INFO sqlalchemy.engine.base.Engine ('2019-07-12 00:00:00.000000', 1237053.0, 1318102.6378610642, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,948 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,955 INFO sqlalchemy.engine.base.Engine ('2019-07-13 00:00:00.000000', 1278534.0, 1253434.4630950624, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,964 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,970 INFO sqlalchemy.engine.base.Engine ('2019-07-14 00:00:00.000000', 1233028.0, 1273256.4950538722, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,977 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:57,983 INFO sqlalchemy.engine.base.Engine ('2019-07-15 00:00:00.000000', 1103883.0, 1247441.0169364635, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:57,993 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,000 INFO sqlalchemy.engine.base.Engine ('2019-07-16 00:00:00.000000', 1177393.0, 1148294.2237106804, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,008 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,015 INFO sqlalchemy.engine.base.Engine ('2019-07-17 00:00:00.000000', 1021334.0, 1166885.9658621105, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,024 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,028 INFO sqlalchemy.engine.base.Engine ('2019-07-18 00:00:00.000000', 1045283.0, 1065769.408964446, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,036 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,042 INFO sqlalchemy.engine.base.Engine ('2019-07-19 00:00:00.000000', 1144998.0, 1049981.727244113, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,050 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,054 INFO sqlalchemy.engine.base.Engine ('2019-07-20 00:00:00.000000', 1134597.0, 1144918.7966683088, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,064 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,070 INFO sqlalchemy.engine.base.Engine ('2019-07-21 00:00:00.000000', 1160989.0, 1156348.5290966856, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,081 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,087 INFO sqlalchemy.engine.base.Engine ('2019-07-22 00:00:00.000000', 1142766.0, 1173286.208455458, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,095 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,104 INFO sqlalchemy.engine.base.Engine ('2019-07-23 00:00:00.000000', 1114925.0, 1145927.064754439, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,112 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,120 INFO sqlalchemy.engine.base.Engine ('2019-07-24 00:00:00.000000', 1067521.0, 1123296.1260418764, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,131 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-02-22 00:29:58,139 INFO sqlalchemy.engine.base.Engine ('2019-07-25 00:00:00.000000', 1056426.0, 1084237.2922403421, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,148 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,156 INFO sqlalchemy.engine.base.Engine ('2019-07-26 00:00:00.000000', 1074893.0, 1063675.4250667577, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,166 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,172 INFO sqlalchemy.engine.base.Engine ('2019-07-27 00:00:00.000000', 1070121.0, 1075716.1940893608, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,179 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,189 INFO sqlalchemy.engine.base.Engine ('2019-07-28 00:00:00.000000', 1030983.0, 1076124.2435872427, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,198 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,205 INFO sqlalchemy.engine.base.Engine ('2019-07-29 00:00:00.000000', 1036720.0, 1042841.8355592496, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,212 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,219 INFO sqlalchemy.engine.base.Engine ('2019-07-30 00:00:00.000000', 1035395.0, 1036751.2335383355, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,229 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,235 INFO sqlalchemy.engine.base.Engine ('2019-07-31 00:00:00.000000', 1041900.0, 1037203.5376208462, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,245 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,253 INFO sqlalchemy.engine.base.Engine ('2019-08-01 00:00:00.000000', 1098400.0, 1045458.5332158281, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,259 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,266 INFO sqlalchemy.engine.base.Engine ('2019-08-02 00:00:00.000000', 1118400.0, 1106626.1549410548, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,277 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,284 INFO sqlalchemy.engine.base.Engine ('2019-08-03 00:00:00.000000', 1123000.0, 1134417.405226438, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,293 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,301 INFO sqlalchemy.engine.base.Engine ('2019-08-04 00:00:00.000000', 1153754.0, 1131528.809114281, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,311 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,320 INFO sqlalchemy.engine.base.Engine ('2019-08-05 00:00:00.000000', 1170875.0, 1161885.4154753033, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,328 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,333 INFO sqlalchemy.engine.base.Engine ('2019-08-06 00:00:00.000000', 1246972.0, 1180637.7067650268, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,342 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,352 INFO sqlalchemy.engine.base.Engine ('2019-08-07 00:00:00.000000', 1220016.0, 1264689.9497199003, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,364 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,369 INFO sqlalchemy.engine.base.Engine ('2019-08-08 00:00:00.000000', 1269227.0, 1230457.6887399703, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,379 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,386 INFO sqlalchemy.engine.base.Engine ('2019-08-09 00:00:00.000000', 1267904.0, 1280850.0974853104, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,392 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,401 INFO sqlalchemy.engine.base.Engine ('2019-08-10 00:00:00.000000', 1253887.0, 1277428.1623982207, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,411 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,418 INFO sqlalchemy.engine.base.Engine ('2019-08-11 00:00:00.000000', 1192119.0, 1256291.7577508108, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,428 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,436 INFO sqlalchemy.engine.base.Engine ('2019-08-12 00:00:00.000000', 1216700.0, 1208785.1781536038, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,443 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,450 INFO sqlalchemy.engine.base.Engine ('2019-08-13 00:00:00.000000', 1201588.0, 1213978.5203213145, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,456 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,461 INFO sqlalchemy.engine.base.Engine ('2019-08-14 00:00:00.000000', 1158871.0, 1206712.9913930926, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,466 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,477 INFO sqlalchemy.engine.base.Engine ('2019-08-15 00:00:00.000000', 1063000.0, 1172731.302636668, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,484 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,492 INFO sqlalchemy.engine.base.Engine ('2019-08-16 00:00:00.000000', 1095055.0, 1096997.9546136134, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,502 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,508 INFO sqlalchemy.engine.base.Engine ('2019-08-17 00:00:00.000000', 1100020.0, 1093528.0333580892, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,517 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,518 INFO sqlalchemy.engine.base.Engine ('2019-08-18 00:00:00.000000', 1088953.0, 1105862.16836098, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,529 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,538 INFO sqlalchemy.engine.base.Engine ('2019-08-19 00:00:00.000000', 1098880.0, 1097065.5431519512, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,546 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,552 INFO sqlalchemy.engine.base.Engine ('2019-08-20 00:00:00.000000', 1164274.0, 1099717.1378502506, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,564 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,572 INFO sqlalchemy.engine.base.Engine ('2019-08-21 00:00:00.000000', 1142377.0, 1172660.9748550951, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,581 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,587 INFO sqlalchemy.engine.base.Engine ('2019-08-22 00:00:00.000000', 1080771.0, 1152218.838813741, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,596 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,603 INFO sqlalchemy.engine.base.Engine ('2019-08-23 00:00:00.000000', 1076343.0, 1091790.0506925771, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,612 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,619 INFO sqlalchemy.engine.base.Engine ('2019-08-24 00:00:00.000000', 1097352.0, 1079600.7105485047, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,626 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,636 INFO sqlalchemy.engine.base.Engine ('2019-08-25 00:00:00.000000', 1069511.0, 1097773.960495831, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,642 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,649 INFO sqlalchemy.engine.base.Engine ('2019-08-26 00:00:00.000000', 1064237.0, 1078547.1670563694, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,659 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,667 INFO sqlalchemy.engine.base.Engine ('2019-08-27 00:00:00.000000', 1097674.0, 1066531.455215529, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,673 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,680 INFO sqlalchemy.engine.base.Engine ('2019-08-28 00:00:00.000000', 1075910.0, 1096935.6127031185, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,689 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,697 INFO sqlalchemy.engine.base.Engine ('2019-08-29 00:00:00.000000', 1032192.0, 1079796.5860866783, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,703 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,711 INFO sqlalchemy.engine.base.Engine ('2019-08-30 00:00:00.000000', 1011000.0, 1045054.1206703504, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,720 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,728 INFO sqlalchemy.engine.base.Engine ('2019-08-31 00:00:00.000000', 1018178.0, 1019460.2254349074, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,733 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,740 INFO sqlalchemy.engine.base.Engine ('2019-09-01 00:00:00.000000', 1020001.0, 1020323.2468501517, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,747 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,751 INFO sqlalchemy.engine.base.Engine ('2019-09-02 00:00:00.000000', 1036267.0, 1024895.201214509, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,763 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,766 INFO sqlalchemy.engine.base.Engine ('2019-09-03 00:00:00.000000', 1102000.0, 1039255.9083092246, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,775 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,780 INFO sqlalchemy.engine.base.Engine ('2019-09-04 00:00:00.000000', 1123874.0, 1114647.476523637, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,786 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,796 INFO sqlalchemy.engine.base.Engine ('2019-09-05 00:00:00.000000', 1124541.0, 1142586.64133352, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,806 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,811 INFO sqlalchemy.engine.base.Engine ('2019-09-06 00:00:00.000000', 1131641.0, 1133245.283715576, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,818 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,830 INFO sqlalchemy.engine.base.Engine ('2019-09-07 00:00:00.000000', 1103996.0, 1135127.9263980882, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,832 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,843 INFO sqlalchemy.engine.base.Engine ('2019-09-08 00:00:00.000000', 1121490.0, 1108522.5258422974, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,851 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,857 INFO sqlalchemy.engine.base.Engine ('2019-09-09 00:00:00.000000', 1112171.0, 1119407.4312508602, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,866 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,870 INFO sqlalchemy.engine.base.Engine ('2019-09-10 00:00:00.000000', 1106945.0, 1113686.2265124673, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,879 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,886 INFO sqlalchemy.engine.base.Engine ('2019-09-11 00:00:00.000000', 1086657.0, 1108989.7159064806, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,893 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,901 INFO sqlalchemy.engine.base.Engine ('2019-09-12 00:00:00.000000', 1095555.0, 1092965.4745551776, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,909 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,913 INFO sqlalchemy.engine.base.Engine ('2019-09-13 00:00:00.000000', 1126914.0, 1095000.9856276035, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,919 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,926 INFO sqlalchemy.engine.base.Engine ('2019-09-14 00:00:00.000000', 1119558.0, 1128320.262307852, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,934 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,939 INFO sqlalchemy.engine.base.Engine ('2019-09-15 00:00:00.000000', 1118737.0, 1125176.402848104, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,953 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,955 INFO sqlalchemy.engine.base.Engine ('2019-09-16 00:00:00.000000', 1111526.0, 1120773.1469384774, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,965 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,970 INFO sqlalchemy.engine.base.Engine ('2019-09-17 00:00:00.000000', 1108663.0, 1112344.7589728725, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,980 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:58,984 INFO sqlalchemy.engine.base.Engine ('2019-09-18 00:00:00.000000', 1101600.0, 1110187.8521200137, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:58,992 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-02-22 00:29:58,999 INFO sqlalchemy.engine.base.Engine ('2019-09-19 00:00:00.000000', 1100344.0, 1104145.058386488, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,006 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,013 INFO sqlalchemy.engine.base.Engine ('2019-09-20 00:00:00.000000', 1108999.0, 1101486.34695307, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,020 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,026 INFO sqlalchemy.engine.base.Engine ('2019-09-21 00:00:00.000000', 1093999.0, 1108474.6666829232, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,034 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,042 INFO sqlalchemy.engine.base.Engine ('2019-09-22 00:00:00.000000', 1074107.0, 1097537.6456854003, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,049 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,054 INFO sqlalchemy.engine.base.Engine ('2019-09-23 00:00:00.000000', 1081500.0, 1081141.6162085212, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,059 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,067 INFO sqlalchemy.engine.base.Engine ('2019-09-24 00:00:00.000000', 1044001.0, 1080838.0968679194, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,079 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,080 INFO sqlalchemy.engine.base.Engine ('2019-09-25 00:00:00.000000', 917999.0, 1055905.1012796264, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,090 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,099 INFO sqlalchemy.engine.base.Engine ('2019-09-26 00:00:00.000000', 910274.0, 962418.529094367, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,106 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,111 INFO sqlalchemy.engine.base.Engine ('2019-09-27 00:00:00.000000', 869605.0, 919980.7321705322, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,121 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,128 INFO sqlalchemy.engine.base.Engine ('2019-09-28 00:00:00.000000', 886900.0, 886494.5792347742, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,133 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,139 INFO sqlalchemy.engine.base.Engine ('2019-09-29 00:00:00.000000', 887254.0, 896030.1928978385, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,147 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,152 INFO sqlalchemy.engine.base.Engine ('2019-09-30 00:00:00.000000', 869799.0, 889004.5859380732, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,161 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,168 INFO sqlalchemy.engine.base.Engine ('2019-10-01 00:00:00.000000', 898291.0, 874564.3818649454, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,176 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,182 INFO sqlalchemy.engine.base.Engine ('2019-10-02 00:00:00.000000', 896313.0, 897785.8496715851, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,191 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,194 INFO sqlalchemy.engine.base.Engine ('2019-10-03 00:00:00.000000', 899088.0, 900411.2651829708, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,205 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,212 INFO sqlalchemy.engine.base.Engine ('2019-10-04 00:00:00.000000', 881977.0, 901878.1774977589, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,215 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,220 INFO sqlalchemy.engine.base.Engine ('2019-10-05 00:00:00.000000', 873171.0, 883593.647938486, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,232 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,239 INFO sqlalchemy.engine.base.Engine ('2019-10-06 00:00:00.000000', 872594.0, 876849.570664514, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,244 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,247 INFO sqlalchemy.engine.base.Engine ('2019-10-07 00:00:00.000000', 841354.0, 873646.5374245866, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,260 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,263 INFO sqlalchemy.engine.base.Engine ('2019-10-08 00:00:00.000000', 879399.0, 851863.0869284648, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,275 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,283 INFO sqlalchemy.engine.base.Engine ('2019-10-09 00:00:00.000000', 874804.0, 875314.1616884978, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,290 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,297 INFO sqlalchemy.engine.base.Engine ('2019-10-10 00:00:00.000000', 919414.0, 878403.1949503465, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,304 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,310 INFO sqlalchemy.engine.base.Engine ('2019-10-11 00:00:00.000000', 926444.0, 928362.1919704874, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,313 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,324 INFO sqlalchemy.engine.base.Engine ('2019-10-12 00:00:00.000000', 898000.0, 936777.7276726273, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,333 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,338 INFO sqlalchemy.engine.base.Engine ('2019-10-13 00:00:00.000000', 901833.0, 900310.486750836, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,349 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,353 INFO sqlalchemy.engine.base.Engine ('2019-10-14 00:00:00.000000', 899998.0, 901565.1300675566, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,359 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,366 INFO sqlalchemy.engine.base.Engine ('2019-10-15 00:00:00.000000', 905500.0, 901013.4903266982, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,373 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,384 INFO sqlalchemy.engine.base.Engine ('2019-10-16 00:00:00.000000', 887464.0, 907997.7911523053, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,392 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,399 INFO sqlalchemy.engine.base.Engine ('2019-10-17 00:00:00.000000', 869340.0, 892381.5246554246, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,406 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,413 INFO sqlalchemy.engine.base.Engine ('2019-10-18 00:00:00.000000', 877000.0, 876123.9515267443, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,423 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,430 INFO sqlalchemy.engine.base.Engine ('2019-10-19 00:00:00.000000', 862890.0, 876387.2634009256, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,438 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,443 INFO sqlalchemy.engine.base.Engine ('2019-10-20 00:00:00.000000', 863000.0, 867613.3124630372, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,452 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,459 INFO sqlalchemy.engine.base.Engine ('2019-10-21 00:00:00.000000', 891400.0, 864251.74115007, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,466 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,470 INFO sqlalchemy.engine.base.Engine ('2019-10-22 00:00:00.000000', 891947.0, 892099.6566167527, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,480 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,488 INFO sqlalchemy.engine.base.Engine ('2019-10-23 00:00:00.000000', 870050.0, 898124.1546346191, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,495 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,502 INFO sqlalchemy.engine.base.Engine ('2019-10-24 00:00:00.000000', 812505.0, 872201.7026438316, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,514 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,521 INFO sqlalchemy.engine.base.Engine ('2019-10-25 00:00:00.000000', 807310.0, 831184.9292761292, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,527 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,533 INFO sqlalchemy.engine.base.Engine ('2019-10-26 00:00:00.000000', 940000.0, 812477.5578865384, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,544 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,551 INFO sqlalchemy.engine.base.Engine ('2019-10-27 00:00:00.000000', 1002159.0, 937059.1003512719, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,560 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,567 INFO sqlalchemy.engine.base.Engine ('2019-10-28 00:00:00.000000', 1037500.0, 1040581.780779721, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,574 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,581 INFO sqlalchemy.engine.base.Engine ('2019-10-29 00:00:00.000000', 1003370.0, 1065201.5725440688, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,588 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,596 INFO sqlalchemy.engine.base.Engine ('2019-10-30 00:00:00.000000', 1025514.0, 1008497.257791134, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,606 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,612 INFO sqlalchemy.engine.base.Engine ('2019-10-31 00:00:00.000000', 997247.0, 1027936.7674630292, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,623 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,631 INFO sqlalchemy.engine.base.Engine ('2019-11-01 00:00:00.000000', 988920.0, 1002559.9665528286, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,639 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,648 INFO sqlalchemy.engine.base.Engine ('2019-11-02 00:00:00.000000', 999769.0, 992943.1968511778, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,654 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,662 INFO sqlalchemy.engine.base.Engine ('2019-11-03 00:00:00.000000', 1006460.0, 999404.2207575866, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,668 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,675 INFO sqlalchemy.engine.base.Engine ('2019-11-04 00:00:00.000000', 996034.0, 1010211.5199464725, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,687 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,692 INFO sqlalchemy.engine.base.Engine ('2019-11-05 00:00:00.000000', 1021915.0, 997025.5509616213, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,699 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,709 INFO sqlalchemy.engine.base.Engine ('2019-11-06 00:00:00.000000', 1015450.0, 1023606.3034464294, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,716 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,720 INFO sqlalchemy.engine.base.Engine ('2019-11-07 00:00:00.000000', 1015778.0, 1019158.7088696335, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,730 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,738 INFO sqlalchemy.engine.base.Engine ('2019-11-08 00:00:00.000000', 1006260.0, 1017727.4799384377, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,746 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,754 INFO sqlalchemy.engine.base.Engine ('2019-11-09 00:00:00.000000', 957397.0, 1007353.4231095886, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,762 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,769 INFO sqlalchemy.engine.base.Engine ('2019-11-10 00:00:00.000000', 962771.0, 974382.6128934348, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,776 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,780 INFO sqlalchemy.engine.base.Engine ('2019-11-11 00:00:00.000000', 986500.0, 964021.81097839, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,788 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,794 INFO sqlalchemy.engine.base.Engine ('2019-11-12 00:00:00.000000', 950719.0, 985936.3015077407, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,800 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,807 INFO sqlalchemy.engine.base.Engine ('2019-11-13 00:00:00.000000', 960000.0, 958885.8113844878, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,814 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,821 INFO sqlalchemy.engine.base.Engine ('2019-11-14 00:00:00.000000', 953321.0, 960083.8814473327, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,829 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-02-22 00:29:59,833 INFO sqlalchemy.engine.base.Engine ('2019-11-15 00:00:00.000000', 936240.0, 955534.3255979455, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,843 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,848 INFO sqlalchemy.engine.base.Engine ('2019-11-16 00:00:00.000000', 921483.0, 942245.7058054208, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,854 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,861 INFO sqlalchemy.engine.base.Engine ('2019-11-17 00:00:00.000000', 923400.0, 927064.1808847943, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,871 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,877 INFO sqlalchemy.engine.base.Engine ('2019-11-18 00:00:00.000000', 925304.0, 924530.5308882794, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,884 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,890 INFO sqlalchemy.engine.base.Engine ('2019-11-19 00:00:00.000000', 888914.0, 927086.6703868617, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,900 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,906 INFO sqlalchemy.engine.base.Engine ('2019-11-20 00:00:00.000000', 880856.0, 900698.4818337673, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,917 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,917 INFO sqlalchemy.engine.base.Engine ('2019-11-21 00:00:00.000000', 876921.0, 885104.1107987604, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,930 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,937 INFO sqlalchemy.engine.base.Engine ('2019-11-22 00:00:00.000000', 827661.0, 879461.774426641, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,948 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,953 INFO sqlalchemy.engine.base.Engine ('2019-11-23 00:00:00.000000', 791420.0, 844360.2243292192, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,960 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,967 INFO sqlalchemy.engine.base.Engine ('2019-11-24 00:00:00.000000', 796610.0, 806060.1040957166, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,973 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,981 INFO sqlalchemy.engine.base.Engine ('2019-11-25 00:00:00.000000', 752853.0, 798876.602226308, '2021-02-22 00:23:56.804582')
2021-02-22 00:29:59,990 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:29:59,998 INFO sqlalchemy.engine.base.Engine ('2019-11-26 00:00:00.000000', 776240.0, 768012.0109665352, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,007 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,016 INFO sqlalchemy.engine.base.Engine ('2019-11-27 00:00:00.000000', 781873.0, 775147.712096513, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,023 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,031 INFO sqlalchemy.engine.base.Engine ('2019-11-28 00:00:00.000000', 822380.0, 783092.8444046197, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,042 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,050 INFO sqlalchemy.engine.base.Engine ('2019-11-29 00:00:00.000000', 814000.0, 830761.2160246059, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,054 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,063 INFO sqlalchemy.engine.base.Engine ('2019-11-30 00:00:00.000000', 849890.0, 820571.8305093074, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,070 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,077 INFO sqlalchemy.engine.base.Engine ('2019-12-01 00:00:00.000000', 827393.0, 858177.8421403161, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,086 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,092 INFO sqlalchemy.engine.base.Engine ('2019-12-02 00:00:00.000000', 811428.0, 830384.7879871541, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,101 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,105 INFO sqlalchemy.engine.base.Engine ('2019-12-03 00:00:00.000000', 796925.0, 815290.7573283071, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,116 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,123 INFO sqlalchemy.engine.base.Engine ('2019-12-04 00:00:00.000000', 792786.0, 801653.8480178517, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,131 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,139 INFO sqlalchemy.engine.base.Engine ('2019-12-05 00:00:00.000000', 783614.0, 796376.5099106802, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,148 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,154 INFO sqlalchemy.engine.base.Engine ('2019-12-06 00:00:00.000000', 803858.0, 787592.6678945909, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,159 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,168 INFO sqlalchemy.engine.base.Engine ('2019-12-07 00:00:00.000000', 818480.0, 803082.9729229417, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,178 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,184 INFO sqlalchemy.engine.base.Engine ('2019-12-08 00:00:00.000000', 814301.0, 824165.0840336028, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,190 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,197 INFO sqlalchemy.engine.base.Engine ('2019-12-09 00:00:00.000000', 816707.0, 817561.186123956, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,204 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,209 INFO sqlalchemy.engine.base.Engine ('2019-12-10 00:00:00.000000', 797959.0, 817852.3675051435, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,218 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,228 INFO sqlalchemy.engine.base.Engine ('2019-12-11 00:00:00.000000', 785869.0, 802519.7050618547, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,234 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,240 INFO sqlalchemy.engine.base.Engine ('2019-12-12 00:00:00.000000', 782164.0, 790788.3663825108, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,250 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,259 INFO sqlalchemy.engine.base.Engine ('2019-12-13 00:00:00.000000', 786190.0, 784327.3821422908, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,268 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,277 INFO sqlalchemy.engine.base.Engine ('2019-12-14 00:00:00.000000', 792353.0, 787653.0275848797, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,283 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,288 INFO sqlalchemy.engine.base.Engine ('2019-12-15 00:00:00.000000', 773304.0, 793927.0754256218, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,295 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,301 INFO sqlalchemy.engine.base.Engine ('2019-12-16 00:00:00.000000', 777016.0, 778113.2649586513, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,310 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,319 INFO sqlalchemy.engine.base.Engine ('2019-12-17 00:00:00.000000', 754500.0, 776758.635397607, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,329 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,337 INFO sqlalchemy.engine.base.Engine ('2019-12-18 00:00:00.000000', 724800.0, 761504.7412112079, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,346 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,352 INFO sqlalchemy.engine.base.Engine ('2019-12-19 00:00:00.000000', 798000.0, 735959.6032554401, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,362 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,368 INFO sqlalchemy.engine.base.Engine ('2019-12-20 00:00:00.000000', 779042.0, 791471.4904505971, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,377 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,384 INFO sqlalchemy.engine.base.Engine ('2019-12-21 00:00:00.000000', 786600.0, 788067.8076230366, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,391 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,397 INFO sqlalchemy.engine.base.Engine ('2019-12-22 00:00:00.000000', 781592.0, 793099.3979994993, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,407 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,411 INFO sqlalchemy.engine.base.Engine ('2019-12-23 00:00:00.000000', 821550.0, 784135.7845686733, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,419 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,426 INFO sqlalchemy.engine.base.Engine ('2019-12-24 00:00:00.000000', 800320.0, 824502.4703402524, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,437 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,440 INFO sqlalchemy.engine.base.Engine ('2019-12-25 00:00:00.000000', 793410.0, 804407.7877111621, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,451 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,458 INFO sqlalchemy.engine.base.Engine ('2019-12-26 00:00:00.000000', 787145.0, 795873.7997083107, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,467 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,473 INFO sqlalchemy.engine.base.Engine ('2019-12-27 00:00:00.000000', 788330.0, 789397.4946166795, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,482 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,488 INFO sqlalchemy.engine.base.Engine ('2019-12-28 00:00:00.000000', 792233.0, 790269.1766873811, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,501 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,505 INFO sqlalchemy.engine.base.Engine ('2019-12-29 00:00:00.000000', 799490.0, 792752.4044851853, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,517 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,522 INFO sqlalchemy.engine.base.Engine ('2019-12-30 00:00:00.000000', 807988.0, 801336.5135966409, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,533 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,540 INFO sqlalchemy.engine.base.Engine ('2019-12-31 00:00:00.000000', 787115.0, 811214.6785359259, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,548 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,554 INFO sqlalchemy.engine.base.Engine ('2020-01-01 00:00:00.000000', 779450.0, 790293.9864815911, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,567 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,573 INFO sqlalchemy.engine.base.Engine ('2020-01-02 00:00:00.000000', 780490.0, 782203.2827136525, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,583 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,590 INFO sqlalchemy.engine.base.Engine ('2020-01-03 00:00:00.000000', 754800.0, 781062.3869572439, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,598 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,603 INFO sqlalchemy.engine.base.Engine ('2020-01-04 00:00:00.000000', 793000.0, 763322.7017305726, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,613 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,620 INFO sqlalchemy.engine.base.Engine ('2020-01-05 00:00:00.000000', 794060.0, 789491.4810131151, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,626 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,633 INFO sqlalchemy.engine.base.Engine ('2020-01-06 00:00:00.000000', 793632.0, 799933.7055365586, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,643 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,651 INFO sqlalchemy.engine.base.Engine ('2020-01-07 00:00:00.000000', 841539.0, 796958.6164940131, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,658 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,662 INFO sqlalchemy.engine.base.Engine ('2020-01-08 00:00:00.000000', 882500.0, 849337.349327674, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,671 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,676 INFO sqlalchemy.engine.base.Engine ('2020-01-09 00:00:00.000000', 877290.0, 899508.1411898006, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,687 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,691 INFO sqlalchemy.engine.base.Engine ('2020-01-10 00:00:00.000000', 854944.0, 886908.4864969784, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,699 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-02-22 00:30:00,707 INFO sqlalchemy.engine.base.Engine ('2020-01-11 00:00:00.000000', 895000.0, 855834.6869582118, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,713 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,722 INFO sqlalchemy.engine.base.Engine ('2020-01-12 00:00:00.000000', 875339.0, 896041.2574397865, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,731 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,738 INFO sqlalchemy.engine.base.Engine ('2020-01-13 00:00:00.000000', 892969.0, 878347.115701582, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,747 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,755 INFO sqlalchemy.engine.base.Engine ('2020-01-14 00:00:00.000000', 887538.0, 897080.6458785101, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,762 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,771 INFO sqlalchemy.engine.base.Engine ('2020-01-15 00:00:00.000000', 965570.0, 890558.00127634, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,779 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,786 INFO sqlalchemy.engine.base.Engine ('2020-01-16 00:00:00.000000', 964324.0, 974357.7108997833, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,793 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,797 INFO sqlalchemy.engine.base.Engine ('2020-01-17 00:00:00.000000', 958730.0, 980276.9370152439, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,805 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,814 INFO sqlalchemy.engine.base.Engine ('2020-01-18 00:00:00.000000', 980172.0, 964797.2121420798, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,820 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,827 INFO sqlalchemy.engine.base.Engine ('2020-01-19 00:00:00.000000', 981000.0, 984504.9795403811, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,837 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,845 INFO sqlalchemy.engine.base.Engine ('2020-01-20 00:00:00.000000', 957880.0, 985459.1978241997, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,851 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,859 INFO sqlalchemy.engine.base.Engine ('2020-01-21 00:00:00.000000', 950811.0, 961764.4862943722, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,867 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,876 INFO sqlalchemy.engine.base.Engine ('2020-01-22 00:00:00.000000', 957629.0, 953105.3619740016, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,884 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,892 INFO sqlalchemy.engine.base.Engine ('2020-01-23 00:00:00.000000', 950633.0, 957282.4679216152, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,901 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,908 INFO sqlalchemy.engine.base.Engine ('2020-01-24 00:00:00.000000', 918822.0, 953945.5480859533, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,917 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,926 INFO sqlalchemy.engine.base.Engine ('2020-01-25 00:00:00.000000', 921808.0, 929659.3374749445, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,935 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,939 INFO sqlalchemy.engine.base.Engine ('2020-01-26 00:00:00.000000', 911000.0, 922582.681512507, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,949 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,955 INFO sqlalchemy.engine.base.Engine ('2020-01-27 00:00:00.000000', 936240.0, 914953.4407289606, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,965 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,973 INFO sqlalchemy.engine.base.Engine ('2020-01-28 00:00:00.000000', 969060.0, 937373.5169741549, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,981 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:00,987 INFO sqlalchemy.engine.base.Engine ('2020-01-29 00:00:00.000000', 1022498.0, 978419.4796526921, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:00,995 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,002 INFO sqlalchemy.engine.base.Engine ('2020-01-30 00:00:00.000000', 1011955.0, 1039880.5736439903, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,010 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,016 INFO sqlalchemy.engine.base.Engine ('2020-01-31 00:00:00.000000', 1031610.0, 1021726.2266454003, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,024 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,031 INFO sqlalchemy.engine.base.Engine ('2020-02-01 00:00:00.000000', 1013273.0, 1038288.3212013093, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,038 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,043 INFO sqlalchemy.engine.base.Engine ('2020-02-02 00:00:00.000000', 1015630.0, 1014929.9503674055, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,063 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,069 INFO sqlalchemy.engine.base.Engine ('2020-02-03 00:00:00.000000', 1010175.0, 1016310.7989214205, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,076 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,082 INFO sqlalchemy.engine.base.Engine ('2020-02-04 00:00:00.000000', 1008820.0, 1011981.9580643944, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,088 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,096 INFO sqlalchemy.engine.base.Engine ('2020-02-05 00:00:00.000000', 1003300.0, 1010551.5048703651, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,105 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,114 INFO sqlalchemy.engine.base.Engine ('2020-02-06 00:00:00.000000', 1053671.0, 1005175.3300513051, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,119 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,127 INFO sqlalchemy.engine.base.Engine ('2020-02-07 00:00:00.000000', 1070900.0, 1056279.8803149585, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,137 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,145 INFO sqlalchemy.engine.base.Engine ('2020-02-08 00:00:00.000000', 1076199.0, 1084498.685860951, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,152 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,159 INFO sqlalchemy.engine.base.Engine ('2020-02-09 00:00:00.000000', 1086240.0, 1084065.7966660415, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,168 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,177 INFO sqlalchemy.engine.base.Engine ('2020-02-10 00:00:00.000000', 1110975.0, 1090462.7482831501, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,186 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,192 INFO sqlalchemy.engine.base.Engine ('2020-02-11 00:00:00.000000', 1081510.0, 1117660.087092745, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,202 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,212 INFO sqlalchemy.engine.base.Engine ('2020-02-12 00:00:00.000000', 1123524.0, 1083998.4647100572, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,222 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,231 INFO sqlalchemy.engine.base.Engine ('2020-02-13 00:00:00.000000', 1136950.0, 1125577.2327516854, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,241 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,250 INFO sqlalchemy.engine.base.Engine ('2020-02-14 00:00:00.000000', 1124591.0, 1146958.8480745575, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,259 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,266 INFO sqlalchemy.engine.base.Engine ('2020-02-15 00:00:00.000000', 1137555.0, 1127820.6002254311, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,274 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,280 INFO sqlalchemy.engine.base.Engine ('2020-02-16 00:00:00.000000', 1087798.0, 1139360.6781648449, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,289 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,296 INFO sqlalchemy.engine.base.Engine ('2020-02-17 00:00:00.000000', 1091360.0, 1102314.8585173057, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,304 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,312 INFO sqlalchemy.engine.base.Engine ('2020-02-18 00:00:00.000000', 1066850.0, 1092851.5494918867, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,320 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,329 INFO sqlalchemy.engine.base.Engine ('2020-02-19 00:00:00.000000', 1118896.0, 1074408.6164188741, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,341 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,349 INFO sqlalchemy.engine.base.Engine ('2020-02-20 00:00:00.000000', 1068601.0, 1118915.5584043078, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,366 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,379 INFO sqlalchemy.engine.base.Engine ('2020-02-21 00:00:00.000000', 1076399.0, 1075564.203898398, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,387 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,393 INFO sqlalchemy.engine.base.Engine ('2020-02-22 00:00:00.000000', 1082615.0, 1078182.9163457472, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,401 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,408 INFO sqlalchemy.engine.base.Engine ('2020-02-23 00:00:00.000000', 1078573.0, 1086930.050119709, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,415 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,422 INFO sqlalchemy.engine.base.Engine ('2020-02-24 00:00:00.000000', 1111020.0, 1083631.1187934068, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,430 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,438 INFO sqlalchemy.engine.base.Engine ('2020-02-25 00:00:00.000000', 1071701.0, 1114916.1451069794, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,449 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,466 INFO sqlalchemy.engine.base.Engine ('2020-02-26 00:00:00.000000', 1027477.0, 1076924.6482611902, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,474 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,481 INFO sqlalchemy.engine.base.Engine ('2020-02-27 00:00:00.000000', 970306.0, 1042315.3769300063, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,489 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,499 INFO sqlalchemy.engine.base.Engine ('2020-02-28 00:00:00.000000', 965988.0, 991225.598295244, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,508 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,515 INFO sqlalchemy.engine.base.Engine ('2020-02-29 00:00:00.000000', 941169.0, 973357.2304374496, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,524 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,533 INFO sqlalchemy.engine.base.Engine ('2020-03-01 00:00:00.000000', 923207.0, 952152.3083983177, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,541 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,548 INFO sqlalchemy.engine.base.Engine ('2020-03-02 00:00:00.000000', 920400.0, 932359.7217726919, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,556 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,563 INFO sqlalchemy.engine.base.Engine ('2020-03-03 00:00:00.000000', 968732.0, 923065.1713964791, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,571 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,577 INFO sqlalchemy.engine.base.Engine ('2020-03-04 00:00:00.000000', 938769.0, 968474.4393766706, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,583 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,589 INFO sqlalchemy.engine.base.Engine ('2020-03-05 00:00:00.000000', 944324.0, 943522.9918727521, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,596 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,602 INFO sqlalchemy.engine.base.Engine ('2020-03-06 00:00:00.000000', 963433.0, 948018.972170137, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,610 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-02-22 00:30:01,617 INFO sqlalchemy.engine.base.Engine ('2020-03-07 00:00:00.000000', 966010.0, 968889.6363666741, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,632 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,638 INFO sqlalchemy.engine.base.Engine ('2020-03-08 00:00:00.000000', 940979.0, 970948.0832209545, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,648 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,657 INFO sqlalchemy.engine.base.Engine ('2020-03-09 00:00:00.000000', 837484.0, 944322.4094096823, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,667 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,674 INFO sqlalchemy.engine.base.Engine ('2020-03-10 00:00:00.000000', 820200.0, 872562.0743785973, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,683 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,691 INFO sqlalchemy.engine.base.Engine ('2020-03-11 00:00:00.000000', 830836.0, 831482.2588370811, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,704 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,716 INFO sqlalchemy.engine.base.Engine ('2020-03-12 00:00:00.000000', 832286.0, 834558.038657585, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,724 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,731 INFO sqlalchemy.engine.base.Engine ('2020-03-13 00:00:00.000000', 517999.0, 843538.7678630803, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,739 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,747 INFO sqlalchemy.engine.base.Engine ('2020-03-14 00:00:00.000000', 616477.0, 621221.1213388346, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,757 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,765 INFO sqlalchemy.engine.base.Engine ('2020-03-15 00:00:00.000000', 565780.0, 605947.5930664062, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,774 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,781 INFO sqlalchemy.engine.base.Engine ('2020-03-16 00:00:00.000000', 582013.0, 583230.8969062138, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,789 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,795 INFO sqlalchemy.engine.base.Engine ('2020-03-17 00:00:00.000000', 547160.0, 605565.4041124947, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,805 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,813 INFO sqlalchemy.engine.base.Engine ('2020-03-18 00:00:00.000000', 579530.0, 553454.4361156044, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,822 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,830 INFO sqlalchemy.engine.base.Engine ('2020-03-19 00:00:00.000000', 588404.0, 579594.4685486346, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,840 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,849 INFO sqlalchemy.engine.base.Engine ('2020-03-20 00:00:00.000000', 692529.0, 593952.9979315168, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,862 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,869 INFO sqlalchemy.engine.base.Engine ('2020-03-21 00:00:00.000000', 690005.0, 710317.9265725716, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,880 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,889 INFO sqlalchemy.engine.base.Engine ('2020-03-22 00:00:00.000000', 688958.0, 711276.4697714539, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,900 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,908 INFO sqlalchemy.engine.base.Engine ('2020-03-23 00:00:00.000000', 647262.0, 697889.0590306815, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,917 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,924 INFO sqlalchemy.engine.base.Engine ('2020-03-24 00:00:00.000000', 719267.0, 649715.8257755608, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,934 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,942 INFO sqlalchemy.engine.base.Engine ('2020-03-25 00:00:00.000000', 752500.0, 713360.0666797097, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,952 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,959 INFO sqlalchemy.engine.base.Engine ('2020-03-26 00:00:00.000000', 741720.0, 769668.3940188629, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,968 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,974 INFO sqlalchemy.engine.base.Engine ('2020-03-27 00:00:00.000000', 737681.0, 750805.3141799321, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:01,985 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:01,994 INFO sqlalchemy.engine.base.Engine ('2020-03-28 00:00:00.000000', 690539.0, 739127.3243875832, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,004 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,010 INFO sqlalchemy.engine.base.Engine ('2020-03-29 00:00:00.000000', 677000.0, 704269.4052606568, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,018 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,025 INFO sqlalchemy.engine.base.Engine ('2020-03-30 00:00:00.000000', 634168.0, 684078.4639046255, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,034 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,041 INFO sqlalchemy.engine.base.Engine ('2020-03-31 00:00:00.000000', 693221.0, 649331.6590995179, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,049 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,057 INFO sqlalchemy.engine.base.Engine ('2020-04-01 00:00:00.000000', 691824.0, 689803.084668954, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,066 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,073 INFO sqlalchemy.engine.base.Engine ('2020-04-02 00:00:00.000000', 714987.0, 699019.7480529275, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,081 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,088 INFO sqlalchemy.engine.base.Engine ('2020-04-03 00:00:00.000000', 735176.0, 724112.3260614431, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,097 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,104 INFO sqlalchemy.engine.base.Engine ('2020-04-04 00:00:00.000000', 732900.0, 743971.5400813558, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,111 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,120 INFO sqlalchemy.engine.base.Engine ('2020-04-05 00:00:00.000000', 746176.0, 737689.9438093358, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,131 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,140 INFO sqlalchemy.engine.base.Engine ('2020-04-06 00:00:00.000000', 737468.0, 749859.3855258371, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,150 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,158 INFO sqlalchemy.engine.base.Engine ('2020-04-07 00:00:00.000000', 801357.0, 738559.0144995173, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,168 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,174 INFO sqlalchemy.engine.base.Engine ('2020-04-08 00:00:00.000000', 784414.0, 807837.1256675171, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,182 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,191 INFO sqlalchemy.engine.base.Engine ('2020-04-09 00:00:00.000000', 803139.0, 794090.7137660057, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,200 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,207 INFO sqlalchemy.engine.base.Engine ('2020-04-10 00:00:00.000000', 793267.0, 810738.2927933799, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,216 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,226 INFO sqlalchemy.engine.base.Engine ('2020-04-11 00:00:00.000000', 746887.0, 796037.4491208461, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,235 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,243 INFO sqlalchemy.engine.base.Engine ('2020-04-12 00:00:00.000000', 749585.0, 761984.255613406, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,255 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,262 INFO sqlalchemy.engine.base.Engine ('2020-04-13 00:00:00.000000', 751793.0, 750930.5366175994, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,272 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,279 INFO sqlalchemy.engine.base.Engine ('2020-04-14 00:00:00.000000', 739986.0, 753650.4827731536, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,289 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,297 INFO sqlalchemy.engine.base.Engine ('2020-04-15 00:00:00.000000', 738259.0, 745658.4787757228, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,307 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,313 INFO sqlalchemy.engine.base.Engine ('2020-04-16 00:00:00.000000', 713829.0, 739216.6225458685, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,325 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,333 INFO sqlalchemy.engine.base.Engine ('2020-04-17 00:00:00.000000', 768443.0, 722114.2412868771, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,346 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,353 INFO sqlalchemy.engine.base.Engine ('2020-04-18 00:00:00.000000', 758043.0, 764972.9305650915, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,367 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,376 INFO sqlalchemy.engine.base.Engine ('2020-04-19 00:00:00.000000', 781254.0, 765831.0931194448, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,385 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,390 INFO sqlalchemy.engine.base.Engine ('2020-04-20 00:00:00.000000', 768579.0, 789101.8569873535, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,398 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,406 INFO sqlalchemy.engine.base.Engine ('2020-04-21 00:00:00.000000', 738350.0, 771143.8168018706, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,414 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,419 INFO sqlalchemy.engine.base.Engine ('2020-04-22 00:00:00.000000', 740881.0, 747368.986121426, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,425 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,432 INFO sqlalchemy.engine.base.Engine ('2020-04-23 00:00:00.000000', 770246.0, 741541.9656159877, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,440 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,447 INFO sqlalchemy.engine.base.Engine ('2020-04-24 00:00:00.000000', 805725.0, 769522.4153292746, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,454 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,459 INFO sqlalchemy.engine.base.Engine ('2020-04-25 00:00:00.000000', 808353.0, 817013.2847606421, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,470 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,478 INFO sqlalchemy.engine.base.Engine ('2020-04-26 00:00:00.000000', 813203.0, 817450.2505674288, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,484 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,491 INFO sqlalchemy.engine.base.Engine ('2020-04-27 00:00:00.000000', 828532.0, 817332.4225058198, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,498 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,505 INFO sqlalchemy.engine.base.Engine ('2020-04-28 00:00:00.000000', 836500.0, 832804.3657711645, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,514 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,520 INFO sqlalchemy.engine.base.Engine ('2020-04-29 00:00:00.000000', 829395.0, 841414.2502102534, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,526 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,533 INFO sqlalchemy.engine.base.Engine ('2020-04-30 00:00:00.000000', 937577.0, 830604.5588885433, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,538 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,546 INFO sqlalchemy.engine.base.Engine ('2020-05-01 00:00:00.000000', 926749.0, 949468.9453209531, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,556 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,563 INFO sqlalchemy.engine.base.Engine ('2020-05-02 00:00:00.000000', 946265.0, 947288.5098553738, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,567 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-02-22 00:30:02,576 INFO sqlalchemy.engine.base.Engine ('2020-05-03 00:00:00.000000', 962121.0, 958564.8025320722, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,583 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,590 INFO sqlalchemy.engine.base.Engine ('2020-05-04 00:00:00.000000', 952856.0, 970036.5351491126, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,598 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,603 INFO sqlalchemy.engine.base.Engine ('2020-05-05 00:00:00.000000', 949894.0, 955344.9497407406, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,609 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,617 INFO sqlalchemy.engine.base.Engine ('2020-05-06 00:00:00.000000', 962100.0, 950253.1333926291, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,626 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,633 INFO sqlalchemy.engine.base.Engine ('2020-05-07 00:00:00.000000', 973954.0, 963199.2394838224, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,642 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,650 INFO sqlalchemy.engine.base.Engine ('2020-05-08 00:00:00.000000', 1065810.0, 977836.0224542083, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,655 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,665 INFO sqlalchemy.engine.base.Engine ('2020-05-09 00:00:00.000000', 1048000.0, 1081204.7735099227, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,672 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,679 INFO sqlalchemy.engine.base.Engine ('2020-05-10 00:00:00.000000', 1017000.0, 1063906.7841471527, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,689 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,699 INFO sqlalchemy.engine.base.Engine ('2020-05-11 00:00:00.000000', 934350.0, 1020892.269624812, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,706 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,714 INFO sqlalchemy.engine.base.Engine ('2020-05-12 00:00:00.000000', 922489.0, 956706.0296210649, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,720 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,725 INFO sqlalchemy.engine.base.Engine ('2020-05-13 00:00:00.000000', 945875.0, 931857.9236000596, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,735 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,741 INFO sqlalchemy.engine.base.Engine ('2020-05-14 00:00:00.000000', 997533.0, 947126.2434898776, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,750 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,758 INFO sqlalchemy.engine.base.Engine ('2020-05-15 00:00:00.000000', 1051000.0, 1008587.7387451396, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,767 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,775 INFO sqlalchemy.engine.base.Engine ('2020-05-16 00:00:00.000000', 996901.0, 1072457.6633849782, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,785 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,791 INFO sqlalchemy.engine.base.Engine ('2020-05-17 00:00:00.000000', 1005016.0, 1001447.2837794994, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,800 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,808 INFO sqlalchemy.engine.base.Engine ('2020-05-18 00:00:00.000000', 1037701.0, 1006623.5290469199, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,819 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,828 INFO sqlalchemy.engine.base.Engine ('2020-05-19 00:00:00.000000', 1044362.0, 1043243.7379028314, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,836 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,844 INFO sqlalchemy.engine.base.Engine ('2020-05-20 00:00:00.000000', 1053101.0, 1053222.0231568657, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,853 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,860 INFO sqlalchemy.engine.base.Engine ('2020-05-21 00:00:00.000000', 1025000.0, 1058442.2880391928, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,870 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,876 INFO sqlalchemy.engine.base.Engine ('2020-05-22 00:00:00.000000', 977238.0, 1027046.1909226807, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,885 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,892 INFO sqlalchemy.engine.base.Engine ('2020-05-23 00:00:00.000000', 988518.0, 994086.9624654391, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,914 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,925 INFO sqlalchemy.engine.base.Engine ('2020-05-24 00:00:00.000000', 988442.0, 988494.2112347279, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,934 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,944 INFO sqlalchemy.engine.base.Engine ('2020-05-25 00:00:00.000000', 940810.0, 992274.9471555116, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,954 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,961 INFO sqlalchemy.engine.base.Engine ('2020-05-26 00:00:00.000000', 960276.0, 955633.90502029, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,970 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,976 INFO sqlalchemy.engine.base.Engine ('2020-05-27 00:00:00.000000', 951651.0, 957588.9257873326, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,983 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:02,991 INFO sqlalchemy.engine.base.Engine ('2020-05-28 00:00:00.000000', 992287.0, 954245.2151243696, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:02,997 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,002 INFO sqlalchemy.engine.base.Engine ('2020-05-29 00:00:00.000000', 1031382.0, 996565.7328083075, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,010 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,018 INFO sqlalchemy.engine.base.Engine ('2020-05-30 00:00:00.000000', 1016000.0, 1046176.7817513637, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,025 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,032 INFO sqlalchemy.engine.base.Engine ('2020-05-31 00:00:00.000000', 1044454.0, 1022881.6776730635, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,039 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,047 INFO sqlalchemy.engine.base.Engine ('2020-06-01 00:00:00.000000', 1017708.0, 1050449.0693111462, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,054 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,059 INFO sqlalchemy.engine.base.Engine ('2020-06-02 00:00:00.000000', 1096695.0, 1020125.4283203915, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,069 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,080 INFO sqlalchemy.engine.base.Engine ('2020-06-03 00:00:00.000000', 1036500.0, 1101533.8955389268, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,092 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,099 INFO sqlalchemy.engine.base.Engine ('2020-06-04 00:00:00.000000', 1054000.0, 1043121.1108439566, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,108 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,114 INFO sqlalchemy.engine.base.Engine ('2020-06-05 00:00:00.000000', 1068556.0, 1059228.5792904678, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,124 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,131 INFO sqlalchemy.engine.base.Engine ('2020-06-06 00:00:00.000000', 1055001.0, 1077072.8571867896, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,142 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,150 INFO sqlalchemy.engine.base.Engine ('2020-06-07 00:00:00.000000', 1060890.0, 1060426.0476673404, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,159 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,165 INFO sqlalchemy.engine.base.Engine ('2020-06-08 00:00:00.000000', 1068671.0, 1061612.7150778626, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,173 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,180 INFO sqlalchemy.engine.base.Engine ('2020-06-09 00:00:00.000000', 1061999.0, 1071010.0221467745, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,191 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,197 INFO sqlalchemy.engine.base.Engine ('2020-06-10 00:00:00.000000', 1055300.0, 1063107.0394804475, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,205 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,214 INFO sqlalchemy.engine.base.Engine ('2020-06-11 00:00:00.000000', 1058435.0, 1056534.6285151213, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,223 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,231 INFO sqlalchemy.engine.base.Engine ('2020-06-12 00:00:00.000000', 991979.0, 1058201.4195644706, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,238 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,244 INFO sqlalchemy.engine.base.Engine ('2020-06-13 00:00:00.000000', 1019130.0, 1013972.2129011751, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,253 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,258 INFO sqlalchemy.engine.base.Engine ('2020-06-14 00:00:00.000000', 1018635.0, 1015807.4314939223, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,267 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,274 INFO sqlalchemy.engine.base.Engine ('2020-06-15 00:00:00.000000', 1002600.0, 1020509.8785013823, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,280 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,284 INFO sqlalchemy.engine.base.Engine ('2020-06-16 00:00:00.000000', 1014726.0, 1008386.3943625774, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,293 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,300 INFO sqlalchemy.engine.base.Engine ('2020-06-17 00:00:00.000000', 1023100.0, 1014630.4907062507, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,314 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,321 INFO sqlalchemy.engine.base.Engine ('2020-06-18 00:00:00.000000', 1012444.0, 1024643.887263718, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,330 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,337 INFO sqlalchemy.engine.base.Engine ('2020-06-19 00:00:00.000000', 1004324.0, 1013638.0875171864, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,343 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,351 INFO sqlalchemy.engine.base.Engine ('2020-06-20 00:00:00.000000', 996198.0, 1005759.5043185592, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,359 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,365 INFO sqlalchemy.engine.base.Engine ('2020-06-21 00:00:00.000000', 1001500.0, 999202.697647282, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,373 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,381 INFO sqlalchemy.engine.base.Engine ('2020-06-22 00:00:00.000000', 993100.0, 1001756.4148198318, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,387 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,395 INFO sqlalchemy.engine.base.Engine ('2020-06-23 00:00:00.000000', 1035188.0, 995582.6772969238, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,400 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,407 INFO sqlalchemy.engine.base.Engine ('2020-06-24 00:00:00.000000', 1024910.0, 1037306.638100937, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,415 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,422 INFO sqlalchemy.engine.base.Engine ('2020-06-25 00:00:00.000000', 996110.0, 1031434.8025666715, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,432 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,438 INFO sqlalchemy.engine.base.Engine ('2020-06-26 00:00:00.000000', 991379.0, 1000715.2730271906, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,442 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,449 INFO sqlalchemy.engine.base.Engine ('2020-06-27 00:00:00.000000', 983990.0, 993184.2961157326, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,454 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-02-22 00:30:03,464 INFO sqlalchemy.engine.base.Engine ('2020-06-28 00:00:00.000000', 969100.0, 987615.8641710741, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,470 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,481 INFO sqlalchemy.engine.base.Engine ('2020-06-29 00:00:00.000000', 979187.0, 975117.3283144784, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,486 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,492 INFO sqlalchemy.engine.base.Engine ('2020-06-30 00:00:00.000000', 990000.0, 978103.3961020133, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,499 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,504 INFO sqlalchemy.engine.base.Engine ('2020-07-01 00:00:00.000000', 987501.0, 991424.8679882259, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,508 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,522 INFO sqlalchemy.engine.base.Engine ('2020-07-02 00:00:00.000000', 992614.0, 989767.6627924398, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,531 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,536 INFO sqlalchemy.engine.base.Engine ('2020-07-03 00:00:00.000000', 979088.0, 994077.1731840576, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,541 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,552 INFO sqlalchemy.engine.base.Engine ('2020-07-04 00:00:00.000000', 976000.0, 981461.9627783933, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,557 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,565 INFO sqlalchemy.engine.base.Engine ('2020-07-05 00:00:00.000000', 983699.0, 977531.7121974025, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,568 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,578 INFO sqlalchemy.engine.base.Engine ('2020-07-06 00:00:00.000000', 977116.0, 982940.5847841705, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,588 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,595 INFO sqlalchemy.engine.base.Engine ('2020-07-07 00:00:00.000000', 1003420.0, 979103.0880932848, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,604 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,611 INFO sqlalchemy.engine.base.Engine ('2020-07-08 00:00:00.000000', 996682.0, 1005481.2405112013, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,619 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,628 INFO sqlalchemy.engine.base.Engine ('2020-07-09 00:00:00.000000', 1012852.0, 1000608.2184482293, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,635 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,643 INFO sqlalchemy.engine.base.Engine ('2020-07-10 00:00:00.000000', 991400.0, 1017126.5956671326, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,654 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,660 INFO sqlalchemy.engine.base.Engine ('2020-07-11 00:00:00.000000', 994063.0, 993221.1345678535, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,669 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,676 INFO sqlalchemy.engine.base.Engine ('2020-07-12 00:00:00.000000', 988877.0, 994422.2754292882, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,683 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,687 INFO sqlalchemy.engine.base.Engine ('2020-07-13 00:00:00.000000', 994403.0, 990569.2564137782, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,696 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,704 INFO sqlalchemy.engine.base.Engine ('2020-07-14 00:00:00.000000', 991999.0, 995835.9098650874, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,714 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,719 INFO sqlalchemy.engine.base.Engine ('2020-07-15 00:00:00.000000', 992629.0, 992393.954904753, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,727 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,735 INFO sqlalchemy.engine.base.Engine ('2020-07-16 00:00:00.000000', 984953.0, 992898.3529216383, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,741 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,746 INFO sqlalchemy.engine.base.Engine ('2020-07-17 00:00:00.000000', 981001.0, 987056.5726686681, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,755 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,761 INFO sqlalchemy.engine.base.Engine ('2020-07-18 00:00:00.000000', 981400.0, 982703.6135004736, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,772 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,778 INFO sqlalchemy.engine.base.Engine ('2020-07-19 00:00:00.000000', 983008.0, 981725.1989214431, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,787 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,794 INFO sqlalchemy.engine.base.Engine ('2020-07-20 00:00:00.000000', 987318.0, 983719.2653245665, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,803 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,810 INFO sqlalchemy.engine.base.Engine ('2020-07-21 00:00:00.000000', 983258.0, 988170.0996419732, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,818 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,824 INFO sqlalchemy.engine.base.Engine ('2020-07-22 00:00:00.000000', 1003851.0, 983619.7137876218, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,830 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,836 INFO sqlalchemy.engine.base.Engine ('2020-07-23 00:00:00.000000', 1021745.0, 1005715.8024382159, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,848 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,856 INFO sqlalchemy.engine.base.Engine ('2020-07-24 00:00:00.000000', 1026771.0, 1028857.529437752, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,865 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,871 INFO sqlalchemy.engine.base.Engine ('2020-07-25 00:00:00.000000', 1014790.0, 1032534.5537354475, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,880 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,884 INFO sqlalchemy.engine.base.Engine ('2020-07-26 00:00:00.000000', 1030800.0, 1015425.615034554, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,893 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,902 INFO sqlalchemy.engine.base.Engine ('2020-07-27 00:00:00.000000', 1052800.0, 1031506.0131713646, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,909 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,918 INFO sqlalchemy.engine.base.Engine ('2020-07-28 00:00:00.000000', 1161792.0, 1058329.5201787623, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,925 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,931 INFO sqlalchemy.engine.base.Engine ('2020-07-29 00:00:00.000000', 1148483.0, 1182133.13749024, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,940 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,946 INFO sqlalchemy.engine.base.Engine ('2020-07-30 00:00:00.000000', 1167267.0, 1169151.568336121, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,954 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,960 INFO sqlalchemy.engine.base.Engine ('2020-07-31 00:00:00.000000', 1162795.0, 1178845.3586267056, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,967 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,972 INFO sqlalchemy.engine.base.Engine ('2020-08-01 00:00:00.000000', 1201369.0, 1167148.183594419, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,983 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:03,988 INFO sqlalchemy.engine.base.Engine ('2020-08-02 00:00:00.000000', 1253271.0, 1207008.1185728654, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:03,999 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,005 INFO sqlalchemy.engine.base.Engine ('2020-08-03 00:00:00.000000', 1174208.0, 1269668.0882098556, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,014 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,018 INFO sqlalchemy.engine.base.Engine ('2020-08-04 00:00:00.000000', 1192124.0, 1182277.1532873285, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,026 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,034 INFO sqlalchemy.engine.base.Engine ('2020-08-05 00:00:00.000000', 1184018.0, 1192550.2990744263, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,039 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,050 INFO sqlalchemy.engine.base.Engine ('2020-08-06 00:00:00.000000', 1241698.0, 1188078.8116612413, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,055 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,065 INFO sqlalchemy.engine.base.Engine ('2020-08-07 00:00:00.000000', 1244183.0, 1248596.290146435, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,073 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,081 INFO sqlalchemy.engine.base.Engine ('2020-08-08 00:00:00.000000', 1232000.0, 1256496.1486110059, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,086 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,094 INFO sqlalchemy.engine.base.Engine ('2020-08-09 00:00:00.000000', 1247789.0, 1235595.2943766736, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,101 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,106 INFO sqlalchemy.engine.base.Engine ('2020-08-10 00:00:00.000000', 1238888.0, 1249846.413182091, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,117 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,123 INFO sqlalchemy.engine.base.Engine ('2020-08-11 00:00:00.000000', 1261304.0, 1239909.3434796021, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,133 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,138 INFO sqlalchemy.engine.base.Engine ('2020-08-12 00:00:00.000000', 1216250.0, 1263655.069181467, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,145 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,149 INFO sqlalchemy.engine.base.Engine ('2020-08-13 00:00:00.000000', 1237245.0, 1226035.8929923442, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,157 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,163 INFO sqlalchemy.engine.base.Engine ('2020-08-14 00:00:00.000000', 1260621.0, 1235351.871820676, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,171 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,178 INFO sqlalchemy.engine.base.Engine ('2020-08-15 00:00:00.000000', 1256372.0, 1264085.3929274196, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,193 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,200 INFO sqlalchemy.engine.base.Engine ('2020-08-16 00:00:00.000000', 1264963.0, 1261697.7452823406, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,205 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,212 INFO sqlalchemy.engine.base.Engine ('2020-08-17 00:00:00.000000', 1269993.0, 1267864.4964975182, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,222 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,226 INFO sqlalchemy.engine.base.Engine ('2020-08-18 00:00:00.000000', 1305300.0, 1272775.1390428618, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,236 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,243 INFO sqlalchemy.engine.base.Engine ('2020-08-19 00:00:00.000000', 1261745.0, 1311820.142408208, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,251 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,259 INFO sqlalchemy.engine.base.Engine ('2020-08-20 00:00:00.000000', 1249355.0, 1266321.9088461131, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,268 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,270 INFO sqlalchemy.engine.base.Engine ('2020-08-21 00:00:00.000000', 1254646.0, 1253439.2196770702, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,281 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,287 INFO sqlalchemy.engine.base.Engine ('2020-08-22 00:00:00.000000', 1222031.0, 1255503.4828501637, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,292 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-02-22 00:30:04,300 INFO sqlalchemy.engine.base.Engine ('2020-08-23 00:00:00.000000', 1237485.0, 1232982.6150094364, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,307 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,314 INFO sqlalchemy.engine.base.Engine ('2020-08-24 00:00:00.000000', 1235514.0, 1235852.9826177023, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,318 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,328 INFO sqlalchemy.engine.base.Engine ('2020-08-25 00:00:00.000000', 1246899.0, 1236470.0208838838, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,336 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,340 INFO sqlalchemy.engine.base.Engine ('2020-08-26 00:00:00.000000', 1208500.0, 1249948.1975377447, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,350 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,357 INFO sqlalchemy.engine.base.Engine ('2020-08-27 00:00:00.000000', 1216528.0, 1217679.6934285762, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,363 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,372 INFO sqlalchemy.engine.base.Engine ('2020-08-28 00:00:00.000000', 1209914.0, 1216057.7693423189, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,382 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,387 INFO sqlalchemy.engine.base.Engine ('2020-08-29 00:00:00.000000', 1215522.0, 1211963.5869093603, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,395 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,403 INFO sqlalchemy.engine.base.Engine ('2020-08-30 00:00:00.000000', 1213222.0, 1218434.6125808451, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,411 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,418 INFO sqlalchemy.engine.base.Engine ('2020-08-31 00:00:00.000000', 1237375.0, 1213989.4103107033, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,423 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,430 INFO sqlalchemy.engine.base.Engine ('2020-09-01 00:00:00.000000', 1238000.0, 1239898.137685633, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,439 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,445 INFO sqlalchemy.engine.base.Engine ('2020-09-02 00:00:00.000000', 1264036.0, 1243124.7433180488, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,454 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,462 INFO sqlalchemy.engine.base.Engine ('2020-09-03 00:00:00.000000', 1213836.0, 1270547.0700175068, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,470 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,476 INFO sqlalchemy.engine.base.Engine ('2020-09-04 00:00:00.000000', 1081385.0, 1221401.5816830494, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,485 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,490 INFO sqlalchemy.engine.base.Engine ('2020-09-05 00:00:00.000000', 1116228.0, 1127264.7540983984, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,496 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,504 INFO sqlalchemy.engine.base.Engine ('2020-09-06 00:00:00.000000', 1081637.0, 1114267.6429252105, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,516 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,521 INFO sqlalchemy.engine.base.Engine ('2020-09-07 00:00:00.000000', 1093172.0, 1095636.379626306, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,531 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,536 INFO sqlalchemy.engine.base.Engine ('2020-09-08 00:00:00.000000', 1104509.0, 1102424.2207239524, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,545 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,553 INFO sqlalchemy.engine.base.Engine ('2020-09-09 00:00:00.000000', 1074006.0, 1108906.0092857995, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,561 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,567 INFO sqlalchemy.engine.base.Engine ('2020-09-10 00:00:00.000000', 1087081.0, 1081227.6280670934, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,576 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,580 INFO sqlalchemy.engine.base.Engine ('2020-09-11 00:00:00.000000', 1099282.0, 1085950.364550331, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,584 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,594 INFO sqlalchemy.engine.base.Engine ('2020-09-12 00:00:00.000000', 1103947.0, 1100472.7250538687, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,599 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,608 INFO sqlalchemy.engine.base.Engine ('2020-09-13 00:00:00.000000', 1110235.0, 1108282.1417083829, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,618 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,625 INFO sqlalchemy.engine.base.Engine ('2020-09-14 00:00:00.000000', 1098495.0, 1113099.4918850586, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,633 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,641 INFO sqlalchemy.engine.base.Engine ('2020-09-15 00:00:00.000000', 1129458.0, 1099080.7075882198, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,647 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,656 INFO sqlalchemy.engine.base.Engine ('2020-09-16 00:00:00.000000', 1138456.0, 1130618.9882657807, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,665 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,670 INFO sqlalchemy.engine.base.Engine ('2020-09-17 00:00:00.000000', 1152172.0, 1146086.5232927206, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,678 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,682 INFO sqlalchemy.engine.base.Engine ('2020-09-18 00:00:00.000000', 1146789.0, 1158864.0298974456, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,690 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,700 INFO sqlalchemy.engine.base.Engine ('2020-09-19 00:00:00.000000', 1144683.0, 1148864.2123816966, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,707 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,709 INFO sqlalchemy.engine.base.Engine ('2020-09-20 00:00:00.000000', 1159267.0, 1145201.5390331622, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,721 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,730 INFO sqlalchemy.engine.base.Engine ('2020-09-21 00:00:00.000000', 1142239.0, 1160752.4389375665, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,730 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,741 INFO sqlalchemy.engine.base.Engine ('2020-09-22 00:00:00.000000', 1091082.0, 1144982.1207582122, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,748 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,756 INFO sqlalchemy.engine.base.Engine ('2020-09-23 00:00:00.000000', 1106570.0, 1108381.3286477267, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,766 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,772 INFO sqlalchemy.engine.base.Engine ('2020-09-24 00:00:00.000000', 1078788.0, 1105136.2367938845, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,780 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,788 INFO sqlalchemy.engine.base.Engine ('2020-09-25 00:00:00.000000', 1132018.0, 1087409.6852721542, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,797 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,804 INFO sqlalchemy.engine.base.Engine ('2020-09-26 00:00:00.000000', 1129490.0, 1132347.4571202411, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,808 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,817 INFO sqlalchemy.engine.base.Engine ('2020-09-27 00:00:00.000000', 1134774.0, 1138880.2310394647, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,825 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,832 INFO sqlalchemy.engine.base.Engine ('2020-09-28 00:00:00.000000', 1138923.0, 1140261.2406657543, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,838 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,846 INFO sqlalchemy.engine.base.Engine ('2020-09-29 00:00:00.000000', 1128478.0, 1141499.965232377, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,854 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,861 INFO sqlalchemy.engine.base.Engine ('2020-09-30 00:00:00.000000', 1146293.0, 1130247.042854708, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,870 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,880 INFO sqlalchemy.engine.base.Engine ('2020-10-01 00:00:00.000000', 1137292.0, 1146250.8627713362, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,887 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,893 INFO sqlalchemy.engine.base.Engine ('2020-10-02 00:00:00.000000', 1121999.0, 1138718.5788923572, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,902 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,907 INFO sqlalchemy.engine.base.Engine ('2020-10-03 00:00:00.000000', 1114512.0, 1126151.4688612157, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,917 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,925 INFO sqlalchemy.engine.base.Engine ('2020-10-04 00:00:00.000000', 1112500.0, 1117269.0293245192, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,931 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,940 INFO sqlalchemy.engine.base.Engine ('2020-10-05 00:00:00.000000', 1127500.0, 1114388.794330961, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,947 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,955 INFO sqlalchemy.engine.base.Engine ('2020-10-06 00:00:00.000000', 1141000.0, 1127981.9461433324, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,962 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,967 INFO sqlalchemy.engine.base.Engine ('2020-10-07 00:00:00.000000', 1121836.0, 1146018.7703432033, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,977 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,983 INFO sqlalchemy.engine.base.Engine ('2020-10-08 00:00:00.000000', 1131100.0, 1123375.6268897403, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:04,992 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:04,999 INFO sqlalchemy.engine.base.Engine ('2020-10-09 00:00:00.000000', 1157278.0, 1131405.1816889194, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,008 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,015 INFO sqlalchemy.engine.base.Engine ('2020-10-10 00:00:00.000000', 1168815.0, 1160843.2828376328, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,020 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,030 INFO sqlalchemy.engine.base.Engine ('2020-10-11 00:00:00.000000', 1192637.0, 1177007.9268171932, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,041 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,048 INFO sqlalchemy.engine.base.Engine ('2020-10-12 00:00:00.000000', 1200341.0, 1201050.9221580292, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,053 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,063 INFO sqlalchemy.engine.base.Engine ('2020-10-13 00:00:00.000000', 1215517.0, 1207029.2858744257, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,068 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,077 INFO sqlalchemy.engine.base.Engine ('2020-10-14 00:00:00.000000', 1204407.0, 1221488.2552754723, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,082 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,092 INFO sqlalchemy.engine.base.Engine ('2020-10-15 00:00:00.000000', 1200316.0, 1205727.215036589, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,098 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,103 INFO sqlalchemy.engine.base.Engine ('2020-10-16 00:00:00.000000', 1212122.0, 1201036.969045428, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,113 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,121 INFO sqlalchemy.engine.base.Engine ('2020-10-17 00:00:00.000000', 1194529.0, 1212696.116739585, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,127 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-02-22 00:30:05,134 INFO sqlalchemy.engine.base.Engine ('2020-10-18 00:00:00.000000', 1197535.0, 1198626.526763807, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,143 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,150 INFO sqlalchemy.engine.base.Engine ('2020-10-19 00:00:00.000000', 1213571.0, 1197626.7134840665, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,157 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,164 INFO sqlalchemy.engine.base.Engine ('2020-10-20 00:00:00.000000', 1237405.0, 1214436.0722789657, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,173 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,178 INFO sqlalchemy.engine.base.Engine ('2020-10-21 00:00:00.000000', 1256584.0, 1244279.4014660511, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,187 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,194 INFO sqlalchemy.engine.base.Engine ('2020-10-22 00:00:00.000000', 1340000.0, 1265914.5759614424, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,202 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,208 INFO sqlalchemy.engine.base.Engine ('2020-10-23 00:00:00.000000', 1357938.0, 1358664.8779797915, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,216 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,224 INFO sqlalchemy.engine.base.Engine ('2020-10-24 00:00:00.000000', 1354278.0, 1379423.0164298897, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,233 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,237 INFO sqlalchemy.engine.base.Engine ('2020-10-25 00:00:00.000000', 1371544.0, 1363093.6071297363, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,246 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,252 INFO sqlalchemy.engine.base.Engine ('2020-10-26 00:00:00.000000', 1364513.0, 1376211.0509296327, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,258 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,266 INFO sqlalchemy.engine.base.Engine ('2020-10-27 00:00:00.000000', 1369830.0, 1366495.2577829037, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,271 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,281 INFO sqlalchemy.engine.base.Engine ('2020-10-28 00:00:00.000000', 1425690.0, 1371750.2130606882, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,289 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,294 INFO sqlalchemy.engine.base.Engine ('2020-10-29 00:00:00.000000', 1387544.0, 1433435.6188821248, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,302 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,310 INFO sqlalchemy.engine.base.Engine ('2020-10-30 00:00:00.000000', 1406387.0, 1392810.1190286246, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,320 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,328 INFO sqlalchemy.engine.base.Engine ('2020-10-31 00:00:00.000000', 1419400.0, 1411433.2403944102, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,336 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,343 INFO sqlalchemy.engine.base.Engine ('2020-11-01 00:00:00.000000', 1444181.0, 1426625.61858154, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,350 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,356 INFO sqlalchemy.engine.base.Engine ('2020-11-02 00:00:00.000000', 1441000.0, 1452072.7007542546, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,365 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,368 INFO sqlalchemy.engine.base.Engine ('2020-11-03 00:00:00.000000', 1420893.0, 1445707.2380188208, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,376 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,382 INFO sqlalchemy.engine.base.Engine ('2020-11-04 00:00:00.000000', 1464000.0, 1422486.112820652, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,390 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,398 INFO sqlalchemy.engine.base.Engine ('2020-11-05 00:00:00.000000', 1477239.0, 1464092.9080628448, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,407 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,413 INFO sqlalchemy.engine.base.Engine ('2020-11-06 00:00:00.000000', 1618413.0, 1487138.7498448282, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,423 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,428 INFO sqlalchemy.engine.base.Engine ('2020-11-07 00:00:00.000000', 1611191.0, 1643854.9794938455, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,439 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,445 INFO sqlalchemy.engine.base.Engine ('2020-11-08 00:00:00.000000', 1533355.0, 1639273.1318695303, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,452 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,456 INFO sqlalchemy.engine.base.Engine ('2020-11-09 00:00:00.000000', 1598834.0, 1539887.40962081, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,465 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,472 INFO sqlalchemy.engine.base.Engine ('2020-11-10 00:00:00.000000', 1611570.0, 1599012.1088909532, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,477 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,486 INFO sqlalchemy.engine.base.Engine ('2020-11-11 00:00:00.000000', 1610899.0, 1617696.5173041092, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,493 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,499 INFO sqlalchemy.engine.base.Engine ('2020-11-12 00:00:00.000000', 1654168.0, 1617770.6627849678, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,507 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,512 INFO sqlalchemy.engine.base.Engine ('2020-11-13 00:00:00.000000', 1712114.0, 1663113.5964830832, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,521 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,528 INFO sqlalchemy.engine.base.Engine ('2020-11-14 00:00:00.000000', 1709518.0, 1730616.6124143498, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,535 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,541 INFO sqlalchemy.engine.base.Engine ('2020-11-15 00:00:00.000000', 1685924.0, 1722771.742020646, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,547 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,556 INFO sqlalchemy.engine.base.Engine ('2020-11-16 00:00:00.000000', 1672849.0, 1687791.622105551, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,564 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,571 INFO sqlalchemy.engine.base.Engine ('2020-11-17 00:00:00.000000', 1747522.0, 1674608.3319421122, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,580 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,585 INFO sqlalchemy.engine.base.Engine ('2020-11-18 00:00:00.000000', 1841189.0, 1744801.0971059822, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,592 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,601 INFO sqlalchemy.engine.base.Engine ('2020-11-19 00:00:00.000000', 1848331.0, 1869479.022129199, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,609 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,615 INFO sqlalchemy.engine.base.Engine ('2020-11-20 00:00:00.000000', 1849940.0, 1872590.2804615884, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,621 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,625 INFO sqlalchemy.engine.base.Engine ('2020-11-21 00:00:00.000000', 1939124.0, 1858906.8134044365, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,639 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,639 INFO sqlalchemy.engine.base.Engine ('2020-11-22 00:00:00.000000', 1945098.0, 1955688.3507192733, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,650 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,659 INFO sqlalchemy.engine.base.Engine ('2020-11-23 00:00:00.000000', 1911568.0, 1965211.591756475, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,667 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,671 INFO sqlalchemy.engine.base.Engine ('2020-11-24 00:00:00.000000', 1914000.0, 1915754.654920022, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,679 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,686 INFO sqlalchemy.engine.base.Engine ('2020-11-25 00:00:00.000000', 1960390.0, 1914072.2277160063, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,696 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,701 INFO sqlalchemy.engine.base.Engine ('2020-11-26 00:00:00.000000', 1952078.0, 1959179.5277170707, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,710 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,717 INFO sqlalchemy.engine.base.Engine ('2020-11-27 00:00:00.000000', 1788077.0, 1960309.5297753152, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,726 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,732 INFO sqlalchemy.engine.base.Engine ('2020-11-28 00:00:00.000000', 1784100.0, 1837845.193652375, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,741 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,747 INFO sqlalchemy.engine.base.Engine ('2020-11-29 00:00:00.000000', 1846869.0, 1792462.091928056, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,757 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,764 INFO sqlalchemy.engine.base.Engine ('2020-11-30 00:00:00.000000', 1893175.0, 1843585.253453425, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,773 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,781 INFO sqlalchemy.engine.base.Engine ('2020-12-01 00:00:00.000000', 2045665.0, 1916837.0516965277, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,787 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,792 INFO sqlalchemy.engine.base.Engine ('2020-12-02 00:00:00.000000', 1960119.0, 2083826.728180576, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,801 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,806 INFO sqlalchemy.engine.base.Engine ('2020-12-03 00:00:00.000000', 2005987.0, 1975897.473516087, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,816 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,821 INFO sqlalchemy.engine.base.Engine ('2020-12-04 00:00:00.000000', 2018000.0, 2019542.0333670147, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,828 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,833 INFO sqlalchemy.engine.base.Engine ('2020-12-05 00:00:00.000000', 1947001.0, 2032873.4901175997, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,843 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,849 INFO sqlalchemy.engine.base.Engine ('2020-12-06 00:00:00.000000', 1995555.0, 1963825.1397867426, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,853 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,859 INFO sqlalchemy.engine.base.Engine ('2020-12-07 00:00:00.000000', 2016630.0, 1991613.489910387, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,870 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,878 INFO sqlalchemy.engine.base.Engine ('2020-12-08 00:00:00.000000', 1997150.0, 2021376.5409262488, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,886 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,890 INFO sqlalchemy.engine.base.Engine ('2020-12-09 00:00:00.000000', 1911000.0, 2001588.333957587, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,901 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,909 INFO sqlalchemy.engine.base.Engine ('2020-12-10 00:00:00.000000', 1936500.0, 1933598.165623868, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,916 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,919 INFO sqlalchemy.engine.base.Engine ('2020-12-11 00:00:00.000000', 1899694.0, 1934023.9767043283, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,926 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,934 INFO sqlalchemy.engine.base.Engine ('2020-12-12 00:00:00.000000', 1875759.0, 1911074.8119312047, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,943 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-02-22 00:30:05,951 INFO sqlalchemy.engine.base.Engine ('2020-12-13 00:00:00.000000', 1957880.0, 1886875.8507260678, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,957 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,966 INFO sqlalchemy.engine.base.Engine ('2020-12-14 00:00:00.000000', 1988187.0, 1953257.7656325772, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,973 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,979 INFO sqlalchemy.engine.base.Engine ('2020-12-15 00:00:00.000000', 2000099.0, 2008440.7503635222, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:05,986 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:05,990 INFO sqlalchemy.engine.base.Engine ('2020-12-16 00:00:00.000000', 2011544.0, 2014081.4163231188, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,000 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,011 INFO sqlalchemy.engine.base.Engine ('2020-12-17 00:00:00.000000', 2204169.0, 2018151.1748004858, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,019 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,026 INFO sqlalchemy.engine.base.Engine ('2020-12-18 00:00:00.000000', 2345936.0, 2232462.1972497157, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,038 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,042 INFO sqlalchemy.engine.base.Engine ('2020-12-19 00:00:00.000000', 2384389.0, 2411988.507303371, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,053 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,060 INFO sqlalchemy.engine.base.Engine ('2020-12-20 00:00:00.000000', 2463470.0, 2430968.5997524867, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,068 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,073 INFO sqlalchemy.engine.base.Engine ('2020-12-21 00:00:00.000000', 2431406.0, 2495272.2102835723, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,083 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,090 INFO sqlalchemy.engine.base.Engine ('2020-12-22 00:00:00.000000', 2352054.0, 2442208.830206312, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,097 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,106 INFO sqlalchemy.engine.base.Engine ('2020-12-23 00:00:00.000000', 2463605.0, 2364635.3821379873, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,114 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,119 INFO sqlalchemy.engine.base.Engine ('2020-12-24 00:00:00.000000', 2402890.0, 2456769.2091795816, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,128 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,134 INFO sqlalchemy.engine.base.Engine ('2020-12-25 00:00:00.000000', 2455575.0, 2411983.5799957146, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,140 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,145 INFO sqlalchemy.engine.base.Engine ('2020-12-26 00:00:00.000000', 2549805.0, 2464885.4247660846, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,155 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,163 INFO sqlalchemy.engine.base.Engine ('2020-12-27 00:00:00.000000', 2744909.0, 2575337.8589359745, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,173 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,177 INFO sqlalchemy.engine.base.Engine ('2020-12-28 00:00:00.000000', 2720240.0, 2797719.7570108096, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,183 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,191 INFO sqlalchemy.engine.base.Engine ('2020-12-29 00:00:00.000000', 2805138.0, 2758279.0347526236, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,201 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,205 INFO sqlalchemy.engine.base.Engine ('2020-12-30 00:00:00.000000', 2827970.0, 2833713.954774776, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,215 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,221 INFO sqlalchemy.engine.base.Engine ('2020-12-31 00:00:00.000000', 2957123.0, 2849716.8616474397, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,224 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,233 INFO sqlalchemy.engine.base.Engine ('2021-01-01 00:00:00.000000', 2968795.0, 2989075.1495608073, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,242 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,249 INFO sqlalchemy.engine.base.Engine ('2021-01-02 00:00:00.000000', 3010042.0, 2997857.4191244864, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,259 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,266 INFO sqlalchemy.engine.base.Engine ('2021-01-03 00:00:00.000000', 3318029.0, 3030437.4953728593, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,270 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,274 INFO sqlalchemy.engine.base.Engine ('2021-01-04 00:00:00.000000', 3410000.0, 3373399.602730296, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,285 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,289 INFO sqlalchemy.engine.base.Engine ('2021-01-05 00:00:00.000000', 3292693.0, 3494322.0440555457, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,298 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,306 INFO sqlalchemy.engine.base.Engine ('2021-01-06 00:00:00.000000', 3470021.0, 3312332.6330613303, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,314 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,321 INFO sqlalchemy.engine.base.Engine ('2021-01-07 00:00:00.000000', 3794337.0, 3489616.024358427, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,328 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,337 INFO sqlalchemy.engine.base.Engine ('2021-01-08 00:00:00.000000', 4101108.0, 3869574.639299382, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,343 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,350 INFO sqlalchemy.engine.base.Engine ('2021-01-09 00:00:00.000000', 4225266.0, 4233559.15071723, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,359 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,368 INFO sqlalchemy.engine.base.Engine ('2021-01-10 00:00:00.000000', 4186509.0, 4326845.112603396, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,374 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,381 INFO sqlalchemy.engine.base.Engine ('2021-01-11 00:00:00.000000', 3979170.0, 4221870.564010641, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,388 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,391 INFO sqlalchemy.engine.base.Engine ('2021-01-12 00:00:00.000000', 3691706.0, 3993739.4099466368, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,404 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,412 INFO sqlalchemy.engine.base.Engine ('2021-01-13 00:00:00.000000', 3528567.0, 3794787.4830491906, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,418 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,424 INFO sqlalchemy.engine.base.Engine ('2021-01-14 00:00:00.000000', 3882383.0, 3600842.84044581, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,432 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,439 INFO sqlalchemy.engine.base.Engine ('2021-01-15 00:00:00.000000', 4063030.0, 3859686.464484245, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,446 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,454 INFO sqlalchemy.engine.base.Engine ('2021-01-16 00:00:00.000000', 3820075.0, 4145517.7327967635, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,464 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,471 INFO sqlalchemy.engine.base.Engine ('2021-01-17 00:00:00.000000', 3742517.0, 3843627.63258679, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,481 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,486 INFO sqlalchemy.engine.base.Engine ('2021-01-18 00:00:00.000000', 3717046.0, 3748739.3711730856, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,492 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,497 INFO sqlalchemy.engine.base.Engine ('2021-01-19 00:00:00.000000', 3800000.0, 3732256.2939420794, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,506 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,515 INFO sqlalchemy.engine.base.Engine ('2021-01-20 00:00:00.000000', 3736678.0, 3817811.965245905, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,522 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,528 INFO sqlalchemy.engine.base.Engine ('2021-01-21 00:00:00.000000', 3683531.0, 3748881.756717742, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,537 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,542 INFO sqlalchemy.engine.base.Engine ('2021-01-22 00:00:00.000000', 3184848.0, 3698638.047933571, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,551 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,558 INFO sqlalchemy.engine.base.Engine ('2021-01-23 00:00:00.000000', 3423811.0, 3353093.471360668, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,567 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,573 INFO sqlalchemy.engine.base.Engine ('2021-01-24 00:00:00.000000', 3332124.0, 3394195.701349858, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,583 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,587 INFO sqlalchemy.engine.base.Engine ('2021-01-25 00:00:00.000000', 3350424.0, 3361428.688435156, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,595 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,602 INFO sqlalchemy.engine.base.Engine ('2021-01-26 00:00:00.000000', 3353886.0, 3382158.997874528, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,608 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,615 INFO sqlalchemy.engine.base.Engine ('2021-01-27 00:00:00.000000', 3363982.0, 3366077.4667858416, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,624 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,630 INFO sqlalchemy.engine.base.Engine ('2021-01-28 00:00:00.000000', 3167193.0, 3372767.59821733, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,636 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,644 INFO sqlalchemy.engine.base.Engine ('2021-01-29 00:00:00.000000', 3480542.0, 3229503.420464016, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,651 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,657 INFO sqlalchemy.engine.base.Engine ('2021-01-30 00:00:00.000000', 3576069.0, 3455396.710225561, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,667 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,672 INFO sqlalchemy.engine.base.Engine ('2021-01-31 00:00:00.000000', 3579626.0, 3642104.736031349, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,680 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,685 INFO sqlalchemy.engine.base.Engine ('2021-02-01 00:00:00.000000', 3456656.0, 3621214.0748786186, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,692 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,698 INFO sqlalchemy.engine.base.Engine ('2021-02-02 00:00:00.000000', 3485976.0, 3458907.627547207, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,705 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,710 INFO sqlalchemy.engine.base.Engine ('2021-02-03 00:00:00.000000', 3712619.0, 3483122.379947136, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,721 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,726 INFO sqlalchemy.engine.base.Engine ('2021-02-04 00:00:00.000000', 3932798.0, 3718385.9148446172, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,735 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,743 INFO sqlalchemy.engine.base.Engine ('2021-02-05 00:00:00.000000', 3901624.0, 4017416.5614287546, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,750 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,759 INFO sqlalchemy.engine.base.Engine ('2021-02-06 00:00:00.000000', 4035812.0, 3950357.9811355756, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,768 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-02-22 00:30:06,773 INFO sqlalchemy.engine.base.Engine ('2021-02-07 00:00:00.000000', 4131757.0, 4073272.9961310425, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,782 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,786 INFO sqlalchemy.engine.base.Engine ('2021-02-08 00:00:00.000000', 4097000.0, 4177361.367391569, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,794 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,800 INFO sqlalchemy.engine.base.Engine ('2021-02-09 00:00:00.000000', 4875000.0, 4116769.5886623785, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,810 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,814 INFO sqlalchemy.engine.base.Engine ('2021-02-10 00:00:00.000000', 4874233.0, 4974096.493954754, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,824 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,830 INFO sqlalchemy.engine.base.Engine ('2021-02-11 00:00:00.000000', 4704412.0, 5037392.014518771, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,838 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,845 INFO sqlalchemy.engine.base.Engine ('2021-02-12 00:00:00.000000', 5014707.0, 4749471.302696669, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,854 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,858 INFO sqlalchemy.engine.base.Engine ('2021-02-13 00:00:00.000000', 4973709.0, 5053482.343205865, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,869 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,875 INFO sqlalchemy.engine.base.Engine ('2021-02-14 00:00:00.000000', 4957394.0, 5017460.601910314, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,882 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,890 INFO sqlalchemy.engine.base.Engine ('2021-02-15 00:00:00.000000', 5111984.0, 4978520.385874478, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,901 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,906 INFO sqlalchemy.engine.base.Engine ('2021-02-16 00:00:00.000000', 5055269.0, 5140095.784159578, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,914 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,924 INFO sqlalchemy.engine.base.Engine ('2021-02-17 00:00:00.000000', 5205481.0, 5076019.132882365, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,932 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,939 INFO sqlalchemy.engine.base.Engine ('2021-02-18 00:00:00.000000', 5526975.0, 5234057.334633816, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,948 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,951 INFO sqlalchemy.engine.base.Engine ('2021-02-19 00:00:00.000000', 5456000.0, 5605767.308983523, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,956 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,970 INFO sqlalchemy.engine.base.Engine ('2021-02-20 00:00:00.000000', 5910646.0, 5514918.429170044, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:06,978 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 00:30:06,986 INFO sqlalchemy.engine.base.Engine ('2021-02-21 00:00:00.000000', 5910115.0, 5998294.45643004, '2021-02-22 00:23:56.804582')
2021-02-22 00:30:07,054 INFO sqlalchemy.engine.base.Engine COMMIT

In [4]:
def read_data():
    from assets import models

    # 2019/02/01～の情報を取得（UTCとの時差は9時間）（close_timeは日本時間で午前9時）
    res = requests.get('https://api.cryptowat.ch/markets/bitflyer/btcjpy/ohlc?periods=86400&after=1548979200')
    data = json.loads(res.text)
    daily_data = pd.DataFrame(data['result']['86400'], columns=['close_time', 'open_price', 'high_price', 'low_price', 'close_price', 'volume', 'quote_volume'])
    daily_data['date'] = pd.to_datetime(daily_data['close_time'], unit='s')
    daily_data = daily_data[:-1] # 最終行を削除（取得した時点の情報が次の日の情報となっているため）

    period = 5
    data = daily_data['close_price']

    input_tensor = []
    label_tensor = []
    mean_list = []
    std_list = []
    data_len = len(data)    #総データ数

    #変数とラベルの生成
    for i in range(0, data_len - period, 1):
        window = data.values[i:i + period]
        mean = np.mean(window)
        std = np.std(window)
        mean_list.append(mean)
        std_list.append(std)
        input_tensor.append((window-mean) / std)
        label_tensor.append((data.values[i + period]-mean) / std)

    input_tensor = np.array(input_tensor).reshape(len(data)-period, period, 1)
    label_tensor = np.array(label_tensor).reshape(len(data)-period, 1)
    mean_list = np.array(mean_list)
    std_list = np.array(std_list)

    date = daily_data['date'][5:].reset_index(drop=True)

    with open("lstm_model.pickle", "rb") as f:
        model = pickle.load(f)

    pred = model.predict(input_tensor)
    pred = pred.reshape(-1)
    pred = pred*std_list + mean_list
    label_tensor = label_tensor.reshape(-1)
    real = label_tensor*std_list + mean_list
    past_df = pd.DataFrame({'date':date, 'pred':pred, 'real':real})

    for index, _past_df in past_df.iterrows():
        row = models.Data(date = _past_df['date'], real_price = _past_df['real'], pred_price = _past_df['pred'])
        db_session.add(row)

    db_session.commit()

In [5]:
read_data()

2021-02-22 19:20:57,363 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-22 19:20:57,383 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,388 INFO sqlalchemy.engine.base.Engine ('2019-02-06 00:00:00.000000', 376384.0, 374529.5314869114, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,402 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,407 INFO sqlalchemy.engine.base.Engine ('2019-02-07 00:00:00.000000', 369767.0, 376527.961247868, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,414 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,421 INFO sqlalchemy.engine.base.Engine ('2019-02-08 00:00:00.000000', 368506.0, 371621.32793994085, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,429 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,435 INFO sqlalchemy.engine.base.Engine ('2019-02-09 00:00:00.000000', 396319.0, 369134.3806383569, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,441 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,448 INFO sqlalchemy.engine.base.Engine ('2019-02-10 00:00:00.000000', 395754.0, 397465.3537710287, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,453 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,464 INFO sqlalchemy.engine.base.Engine ('2019-02-11 00:00:00.000000', 398468.0, 401571.44259234343, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,471 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,480 INFO sqlalchemy.engine.base.Engine ('2019-02-12 00:00:00.000000', 394797.0, 401429.24657715997, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,487 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,490 INFO sqlalchemy.engine.base.Engine ('2019-02-13 00:00:00.000000', 395085.0, 395329.63452875684, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,496 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,505 INFO sqlalchemy.engine.base.Engine ('2019-02-14 00:00:00.000000', 395099.0, 395172.3885669565, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,510 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,515 INFO sqlalchemy.engine.base.Engine ('2019-02-15 00:00:00.000000', 392999.0, 395258.42715959094, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,521 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,525 INFO sqlalchemy.engine.base.Engine ('2019-02-16 00:00:00.000000', 393923.0, 393703.1711848595, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,533 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,538 INFO sqlalchemy.engine.base.Engine ('2019-02-17 00:00:00.000000', 395229.0, 393794.2240514598, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,547 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,551 INFO sqlalchemy.engine.base.Engine ('2019-02-18 00:00:00.000000', 400000.0, 395277.6547361201, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,558 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,564 INFO sqlalchemy.engine.base.Engine ('2019-02-19 00:00:00.000000', 427531.0, 400954.43093780766, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,569 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,574 INFO sqlalchemy.engine.base.Engine ('2019-02-20 00:00:00.000000', 429902.0, 432217.9070786438, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,582 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,586 INFO sqlalchemy.engine.base.Engine ('2019-02-21 00:00:00.000000', 435816.0, 436348.40344634437, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,593 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,598 INFO sqlalchemy.engine.base.Engine ('2019-02-22 00:00:00.000000', 432185.0, 439611.9610337186, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,604 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,611 INFO sqlalchemy.engine.base.Engine ('2019-02-23 00:00:00.000000', 435789.0, 433087.0236215339, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,618 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,623 INFO sqlalchemy.engine.base.Engine ('2019-02-24 00:00:00.000000', 453900.0, 436471.06414527335, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,628 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,633 INFO sqlalchemy.engine.base.Engine ('2019-02-25 00:00:00.000000', 413712.0, 456788.845745324, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,640 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,644 INFO sqlalchemy.engine.base.Engine ('2019-02-26 00:00:00.000000', 423575.0, 422978.13204648986, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,650 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,653 INFO sqlalchemy.engine.base.Engine ('2019-02-27 00:00:00.000000', 419629.0, 422846.70924554655, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,658 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,662 INFO sqlalchemy.engine.base.Engine ('2019-02-28 00:00:00.000000', 421267.0, 421205.02481883, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,666 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,671 INFO sqlalchemy.engine.base.Engine ('2019-03-01 00:00:00.000000', 422865.0, 424592.85604912223, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,678 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,682 INFO sqlalchemy.engine.base.Engine ('2019-03-02 00:00:00.000000', 425943.0, 423693.4160035024, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,690 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,695 INFO sqlalchemy.engine.base.Engine ('2019-03-03 00:00:00.000000', 426039.0, 426844.1769709058, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,699 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,703 INFO sqlalchemy.engine.base.Engine ('2019-03-04 00:00:00.000000', 423661.0, 426733.9694784019, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,708 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,717 INFO sqlalchemy.engine.base.Engine ('2019-03-05 00:00:00.000000', 413871.0, 423803.3500174398, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,722 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,726 INFO sqlalchemy.engine.base.Engine ('2019-03-06 00:00:00.000000', 429450.0, 417104.6367028262, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,732 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,736 INFO sqlalchemy.engine.base.Engine ('2019-03-07 00:00:00.000000', 429848.0, 427803.7782647633, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,742 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,748 INFO sqlalchemy.engine.base.Engine ('2019-03-08 00:00:00.000000', 430100.0, 432190.86778652447, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,756 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,760 INFO sqlalchemy.engine.base.Engine ('2019-03-09 00:00:00.000000', 427484.0, 431551.40498561854, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,766 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,770 INFO sqlalchemy.engine.base.Engine ('2019-03-10 00:00:00.000000', 435287.0, 427643.42702497536, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,774 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,779 INFO sqlalchemy.engine.base.Engine ('2019-03-11 00:00:00.000000', 433206.0, 435297.52896302356, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,786 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,790 INFO sqlalchemy.engine.base.Engine ('2019-03-12 00:00:00.000000', 428795.0, 434310.0378821922, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,795 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,799 INFO sqlalchemy.engine.base.Engine ('2019-03-13 00:00:00.000000', 429580.0, 429507.2707630528, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,804 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,808 INFO sqlalchemy.engine.base.Engine ('2019-03-14 00:00:00.000000', 428300.0, 429627.68191744934, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,815 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,820 INFO sqlalchemy.engine.base.Engine ('2019-03-15 00:00:00.000000', 430167.0, 428844.88946988113, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,830 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,835 INFO sqlalchemy.engine.base.Engine ('2019-03-16 00:00:00.000000', 434178.0, 430416.80763831764, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,841 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,847 INFO sqlalchemy.engine.base.Engine ('2019-03-17 00:00:00.000000', 443635.0, 435015.0770449901, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,856 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,861 INFO sqlalchemy.engine.base.Engine ('2019-03-18 00:00:00.000000', 441454.0, 446016.051444053, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,867 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,871 INFO sqlalchemy.engine.base.Engine ('2019-03-19 00:00:00.000000', 442176.0, 443082.85585859284, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,878 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,885 INFO sqlalchemy.engine.base.Engine ('2019-03-20 00:00:00.000000', 445064.0, 442908.60673625994, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,891 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,896 INFO sqlalchemy.engine.base.Engine ('2019-03-21 00:00:00.000000', 445814.0, 445876.249232148, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,903 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,908 INFO sqlalchemy.engine.base.Engine ('2019-03-22 00:00:00.000000', 440825.0, 446607.9208295232, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,916 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,920 INFO sqlalchemy.engine.base.Engine ('2019-03-23 00:00:00.000000', 438504.0, 441682.9030641876, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,925 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,930 INFO sqlalchemy.engine.base.Engine ('2019-03-24 00:00:00.000000', 438500.0, 439334.7663265638, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,937 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,943 INFO sqlalchemy.engine.base.Engine ('2019-03-25 00:00:00.000000', 436971.0, 438753.7181507867, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,947 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,951 INFO sqlalchemy.engine.base.Engine ('2019-03-26 00:00:00.000000', 429928.0, 437763.41741173307, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,956 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,964 INFO sqlalchemy.engine.base.Engine ('2019-03-27 00:00:00.000000', 433151.0, 432388.71854231803, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,970 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,976 INFO sqlalchemy.engine.base.Engine ('2019-03-28 00:00:00.000000', 444477.0, 432745.7090977086, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,985 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:57,992 INFO sqlalchemy.engine.base.Engine ('2019-03-29 00:00:00.000000', 443222.0, 445065.83286597626, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:57,999 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,003 INFO sqlalchemy.engine.base.Engine ('2019-03-30 00:00:00.000000', 452501.0, 445550.7911006916, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,009 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,013 INFO sqlalchemy.engine.base.Engine ('2019-03-31 00:00:00.000000', 453000.0, 454890.2160889527, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,018 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,022 INFO sqlalchemy.engine.base.Engine ('2019-04-01 00:00:00.000000', 453417.0, 454928.6587035303, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,027 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,032 INFO sqlalchemy.engine.base.Engine ('2019-04-02 00:00:00.000000', 460500.0, 454395.39888509375, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,039 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-02-22 19:20:58,044 INFO sqlalchemy.engine.base.Engine ('2019-04-03 00:00:00.000000', 545469.0, 461938.734322117, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,052 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,058 INFO sqlalchemy.engine.base.Engine ('2019-04-04 00:00:00.000000', 555300.0, 556856.0345419074, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,063 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,068 INFO sqlalchemy.engine.base.Engine ('2019-04-05 00:00:00.000000', 548000.0, 575529.1077154774, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,073 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,077 INFO sqlalchemy.engine.base.Engine ('2019-04-06 00:00:00.000000', 562532.0, 555409.3112297106, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,082 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,087 INFO sqlalchemy.engine.base.Engine ('2019-04-07 00:00:00.000000', 563489.0, 565951.8656682409, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,092 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,099 INFO sqlalchemy.engine.base.Engine ('2019-04-08 00:00:00.000000', 579725.0, 566507.3203350795, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,106 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,112 INFO sqlalchemy.engine.base.Engine ('2019-04-09 00:00:00.000000', 588520.0, 583756.8644353605, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,120 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,124 INFO sqlalchemy.engine.base.Engine ('2019-04-10 00:00:00.000000', 576430.0, 593569.3383425561, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,131 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,136 INFO sqlalchemy.engine.base.Engine ('2019-04-11 00:00:00.000000', 591143.0, 577417.7411378685, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,143 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,147 INFO sqlalchemy.engine.base.Engine ('2019-04-12 00:00:00.000000', 564000.0, 592160.7760131501, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,153 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,158 INFO sqlalchemy.engine.base.Engine ('2019-04-13 00:00:00.000000', 569500.0, 570520.1512529968, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,163 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,167 INFO sqlalchemy.engine.base.Engine ('2019-04-14 00:00:00.000000', 568149.0, 569478.9585958362, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,172 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,176 INFO sqlalchemy.engine.base.Engine ('2019-04-15 00:00:00.000000', 577750.0, 569159.8568805305, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,181 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,184 INFO sqlalchemy.engine.base.Engine ('2019-04-16 00:00:00.000000', 563500.0, 580255.016320706, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,189 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,193 INFO sqlalchemy.engine.base.Engine ('2019-04-17 00:00:00.000000', 581653.0, 565543.5836059898, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,200 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,206 INFO sqlalchemy.engine.base.Engine ('2019-04-18 00:00:00.000000', 584418.0, 581553.6136851524, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,213 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,221 INFO sqlalchemy.engine.base.Engine ('2019-04-19 00:00:00.000000', 591395.0, 588013.7703324059, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,227 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,237 INFO sqlalchemy.engine.base.Engine ('2019-04-20 00:00:00.000000', 591437.0, 594672.2369662382, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,244 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,249 INFO sqlalchemy.engine.base.Engine ('2019-04-21 00:00:00.000000', 595646.0, 592960.3559396896, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,257 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,262 INFO sqlalchemy.engine.base.Engine ('2019-04-22 00:00:00.000000', 594101.0, 597000.3949117276, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,269 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,276 INFO sqlalchemy.engine.base.Engine ('2019-04-23 00:00:00.000000', 603102.0, 594637.7370838387, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,284 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,289 INFO sqlalchemy.engine.base.Engine ('2019-04-24 00:00:00.000000', 619737.0, 604389.8201955192, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,297 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,302 INFO sqlalchemy.engine.base.Engine ('2019-04-25 00:00:00.000000', 611479.0, 624092.995383079, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,311 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,318 INFO sqlalchemy.engine.base.Engine ('2019-04-26 00:00:00.000000', 579000.0, 613646.2602981839, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,325 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,332 INFO sqlalchemy.engine.base.Engine ('2019-04-27 00:00:00.000000', 579700.0, 587413.4970795008, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,340 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,350 INFO sqlalchemy.engine.base.Engine ('2019-04-28 00:00:00.000000', 579990.0, 580931.0184996146, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,359 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,367 INFO sqlalchemy.engine.base.Engine ('2019-04-29 00:00:00.000000', 579000.0, 581643.6023568091, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,374 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,385 INFO sqlalchemy.engine.base.Engine ('2019-04-30 00:00:00.000000', 577863.0, 582300.8326767252, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,390 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,399 INFO sqlalchemy.engine.base.Engine ('2019-05-01 00:00:00.000000', 587393.0, 578235.5593432556, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,406 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,413 INFO sqlalchemy.engine.base.Engine ('2019-05-02 00:00:00.000000', 593000.0, 587800.9077254714, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,422 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,429 INFO sqlalchemy.engine.base.Engine ('2019-05-03 00:00:00.000000', 601458.0, 595914.2663065011, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,436 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,444 INFO sqlalchemy.engine.base.Engine ('2019-05-04 00:00:00.000000', 628473.0, 604768.3009967715, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,451 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,456 INFO sqlalchemy.engine.base.Engine ('2019-05-05 00:00:00.000000', 640290.0, 634956.780403771, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,462 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,467 INFO sqlalchemy.engine.base.Engine ('2019-05-06 00:00:00.000000', 632873.0, 648525.270391169, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,474 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,479 INFO sqlalchemy.engine.base.Engine ('2019-05-07 00:00:00.000000', 629700.0, 635455.7210502848, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,484 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,487 INFO sqlalchemy.engine.base.Engine ('2019-05-08 00:00:00.000000', 636280.0, 629879.2970407518, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,494 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,500 INFO sqlalchemy.engine.base.Engine ('2019-05-09 00:00:00.000000', 653899.0, 636796.7550365333, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,509 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,515 INFO sqlalchemy.engine.base.Engine ('2019-05-10 00:00:00.000000', 674664.0, 656762.6582184772, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,523 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,530 INFO sqlalchemy.engine.base.Engine ('2019-05-11 00:00:00.000000', 698820.0, 682251.0980833843, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,539 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,544 INFO sqlalchemy.engine.base.Engine ('2019-05-12 00:00:00.000000', 797940.0, 708477.2408787463, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,550 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,555 INFO sqlalchemy.engine.base.Engine ('2019-05-13 00:00:00.000000', 766297.0, 819528.0450991385, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,564 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,568 INFO sqlalchemy.engine.base.Engine ('2019-05-14 00:00:00.000000', 854062.0, 780985.9346502138, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,575 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,581 INFO sqlalchemy.engine.base.Engine ('2019-05-15 00:00:00.000000', 877000.0, 872587.602090074, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,588 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,593 INFO sqlalchemy.engine.base.Engine ('2019-05-16 00:00:00.000000', 897002.0, 898899.4080814187, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,602 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,606 INFO sqlalchemy.engine.base.Engine ('2019-05-17 00:00:00.000000', 867106.0, 911943.1626964211, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,614 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,625 INFO sqlalchemy.engine.base.Engine ('2019-05-18 00:00:00.000000', 813262.0, 868622.4459216325, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,635 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,641 INFO sqlalchemy.engine.base.Engine ('2019-05-19 00:00:00.000000', 801006.0, 829753.4707026535, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,647 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,655 INFO sqlalchemy.engine.base.Engine ('2019-05-20 00:00:00.000000', 899120.0, 807789.036615559, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,666 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,672 INFO sqlalchemy.engine.base.Engine ('2019-05-21 00:00:00.000000', 878650.0, 894103.1451992246, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,681 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,690 INFO sqlalchemy.engine.base.Engine ('2019-05-22 00:00:00.000000', 879495.0, 894361.5069718262, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,697 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,705 INFO sqlalchemy.engine.base.Engine ('2019-05-23 00:00:00.000000', 844000.0, 887155.5766126295, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,712 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,721 INFO sqlalchemy.engine.base.Engine ('2019-05-24 00:00:00.000000', 863494.0, 847564.376619243, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,727 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,738 INFO sqlalchemy.engine.base.Engine ('2019-05-25 00:00:00.000000', 874415.0, 861854.6510335499, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,746 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,754 INFO sqlalchemy.engine.base.Engine ('2019-05-26 00:00:00.000000', 883875.0, 875669.2067893088, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,759 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,767 INFO sqlalchemy.engine.base.Engine ('2019-05-27 00:00:00.000000', 953474.0, 889181.9829224502, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,775 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,785 INFO sqlalchemy.engine.base.Engine ('2019-05-28 00:00:00.000000', 960100.0, 966563.242890102, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,792 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,801 INFO sqlalchemy.engine.base.Engine ('2019-05-29 00:00:00.000000', 952867.0, 976312.8843848092, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,809 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-02-22 19:20:58,817 INFO sqlalchemy.engine.base.Engine ('2019-05-30 00:00:00.000000', 948273.0, 958541.2596675691, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,823 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,829 INFO sqlalchemy.engine.base.Engine ('2019-05-31 00:00:00.000000', 907386.0, 948912.8186389765, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,837 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,844 INFO sqlalchemy.engine.base.Engine ('2019-06-01 00:00:00.000000', 928180.0, 921267.9618989141, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,856 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,864 INFO sqlalchemy.engine.base.Engine ('2019-06-02 00:00:00.000000', 925022.0, 925632.324737471, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,871 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,876 INFO sqlalchemy.engine.base.Engine ('2019-06-03 00:00:00.000000', 946500.0, 926876.074091559, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,887 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,893 INFO sqlalchemy.engine.base.Engine ('2019-06-04 00:00:00.000000', 878998.0, 950792.7401580944, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,903 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,908 INFO sqlalchemy.engine.base.Engine ('2019-06-05 00:00:00.000000', 831423.0, 895710.2695043667, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,920 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,924 INFO sqlalchemy.engine.base.Engine ('2019-06-06 00:00:00.000000', 844971.0, 849730.7443366421, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,932 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,938 INFO sqlalchemy.engine.base.Engine ('2019-06-07 00:00:00.000000', 846482.0, 845398.5830995295, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,946 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,954 INFO sqlalchemy.engine.base.Engine ('2019-06-08 00:00:00.000000', 867670.0, 854306.74040436, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,967 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,975 INFO sqlalchemy.engine.base.Engine ('2019-06-09 00:00:00.000000', 860954.0, 872880.1989613436, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:58,986 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:58,993 INFO sqlalchemy.engine.base.Engine ('2019-06-10 00:00:00.000000', 833600.0, 863867.3479170608, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,005 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,012 INFO sqlalchemy.engine.base.Engine ('2019-06-11 00:00:00.000000', 870015.0, 839899.7874717991, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,021 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,028 INFO sqlalchemy.engine.base.Engine ('2019-06-12 00:00:00.000000', 860725.0, 867325.1132899822, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,041 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,050 INFO sqlalchemy.engine.base.Engine ('2019-06-13 00:00:00.000000', 886889.0, 863680.8827715536, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,058 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,065 INFO sqlalchemy.engine.base.Engine ('2019-06-14 00:00:00.000000', 893750.0, 892695.5457568184, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,074 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,089 INFO sqlalchemy.engine.base.Engine ('2019-06-15 00:00:00.000000', 944847.0, 900297.0288484305, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,099 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,107 INFO sqlalchemy.engine.base.Engine ('2019-06-16 00:00:00.000000', 959400.0, 956050.7214042323, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,115 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,121 INFO sqlalchemy.engine.base.Engine ('2019-06-17 00:00:00.000000', 977299.0, 972970.9085468267, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,127 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,133 INFO sqlalchemy.engine.base.Engine ('2019-06-18 00:00:00.000000', 1013696.0, 987164.0655088951, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,143 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,152 INFO sqlalchemy.engine.base.Engine ('2019-06-19 00:00:00.000000', 986025.0, 1024966.1803238043, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,157 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,167 INFO sqlalchemy.engine.base.Engine ('2019-06-20 00:00:00.000000', 1002024.0, 989147.1632161852, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,177 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,181 INFO sqlalchemy.engine.base.Engine ('2019-06-21 00:00:00.000000', 1023420.0, 1004987.8429137436, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,187 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,194 INFO sqlalchemy.engine.base.Engine ('2019-06-22 00:00:00.000000', 1095000.0, 1030104.535763752, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,199 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,202 INFO sqlalchemy.engine.base.Engine ('2019-06-23 00:00:00.000000', 1145500.0, 1110310.4880471493, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,210 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,218 INFO sqlalchemy.engine.base.Engine ('2019-06-24 00:00:00.000000', 1163505.0, 1170720.4849609733, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,229 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,233 INFO sqlalchemy.engine.base.Engine ('2019-06-25 00:00:00.000000', 1180700.0, 1180960.712348329, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,240 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,246 INFO sqlalchemy.engine.base.Engine ('2019-06-26 00:00:00.000000', 1262333.0, 1190614.2206029284, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,254 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,257 INFO sqlalchemy.engine.base.Engine ('2019-06-27 00:00:00.000000', 1399265.0, 1280730.0922354807, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,263 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,270 INFO sqlalchemy.engine.base.Engine ('2019-06-28 00:00:00.000000', 1221271.0, 1439474.9432103187, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,276 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,282 INFO sqlalchemy.engine.base.Engine ('2019-06-29 00:00:00.000000', 1342710.0, 1236356.967264428, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,290 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,294 INFO sqlalchemy.engine.base.Engine ('2019-06-30 00:00:00.000000', 1290768.0, 1348383.1328006848, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,301 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,307 INFO sqlalchemy.engine.base.Engine ('2019-07-01 00:00:00.000000', 1171306.0, 1304392.2332715828, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,314 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,319 INFO sqlalchemy.engine.base.Engine ('2019-07-02 00:00:00.000000', 1156299.0, 1205510.4111991776, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,326 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,332 INFO sqlalchemy.engine.base.Engine ('2019-07-03 00:00:00.000000', 1174473.0, 1164922.5579693648, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,338 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,344 INFO sqlalchemy.engine.base.Engine ('2019-07-04 00:00:00.000000', 1291931.0, 1179425.5750179933, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,354 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,359 INFO sqlalchemy.engine.base.Engine ('2019-07-05 00:00:00.000000', 1204098.0, 1305298.795811465, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,366 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,370 INFO sqlalchemy.engine.base.Engine ('2019-07-06 00:00:00.000000', 1197650.0, 1214801.979651418, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,376 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,384 INFO sqlalchemy.engine.base.Engine ('2019-07-07 00:00:00.000000', 1222633.0, 1204330.9596744245, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,391 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,395 INFO sqlalchemy.engine.base.Engine ('2019-07-08 00:00:00.000000', 1246467.0, 1230570.417304164, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,402 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,407 INFO sqlalchemy.engine.base.Engine ('2019-07-09 00:00:00.000000', 1335843.0, 1257857.9757346916, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,415 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,418 INFO sqlalchemy.engine.base.Engine ('2019-07-10 00:00:00.000000', 1369916.0, 1355871.1380917246, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,424 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,431 INFO sqlalchemy.engine.base.Engine ('2019-07-11 00:00:00.000000', 1313605.0, 1395969.1945462448, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,436 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,442 INFO sqlalchemy.engine.base.Engine ('2019-07-12 00:00:00.000000', 1237053.0, 1318102.6378610642, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,452 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,455 INFO sqlalchemy.engine.base.Engine ('2019-07-13 00:00:00.000000', 1278534.0, 1253434.4630950624, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,460 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,466 INFO sqlalchemy.engine.base.Engine ('2019-07-14 00:00:00.000000', 1233028.0, 1273256.4950538722, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,473 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,479 INFO sqlalchemy.engine.base.Engine ('2019-07-15 00:00:00.000000', 1103883.0, 1247441.0169364635, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,486 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,491 INFO sqlalchemy.engine.base.Engine ('2019-07-16 00:00:00.000000', 1177393.0, 1148294.2237106804, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,502 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,507 INFO sqlalchemy.engine.base.Engine ('2019-07-17 00:00:00.000000', 1021334.0, 1166885.9658621105, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,513 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,518 INFO sqlalchemy.engine.base.Engine ('2019-07-18 00:00:00.000000', 1045283.0, 1065769.408964446, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,523 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,528 INFO sqlalchemy.engine.base.Engine ('2019-07-19 00:00:00.000000', 1144998.0, 1049981.727244113, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,537 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,544 INFO sqlalchemy.engine.base.Engine ('2019-07-20 00:00:00.000000', 1134597.0, 1144918.7966683088, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,552 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,556 INFO sqlalchemy.engine.base.Engine ('2019-07-21 00:00:00.000000', 1160989.0, 1156348.5290966856, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,564 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,568 INFO sqlalchemy.engine.base.Engine ('2019-07-22 00:00:00.000000', 1142766.0, 1173286.208455458, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,572 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,575 INFO sqlalchemy.engine.base.Engine ('2019-07-23 00:00:00.000000', 1114925.0, 1145927.064754439, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,583 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,589 INFO sqlalchemy.engine.base.Engine ('2019-07-24 00:00:00.000000', 1067521.0, 1123296.1260418764, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,598 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-02-22 19:20:59,603 INFO sqlalchemy.engine.base.Engine ('2019-07-25 00:00:00.000000', 1056426.0, 1084237.2922403421, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,609 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,613 INFO sqlalchemy.engine.base.Engine ('2019-07-26 00:00:00.000000', 1074893.0, 1063675.4250667577, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,617 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,625 INFO sqlalchemy.engine.base.Engine ('2019-07-27 00:00:00.000000', 1070121.0, 1075716.1940893608, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,632 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,637 INFO sqlalchemy.engine.base.Engine ('2019-07-28 00:00:00.000000', 1030983.0, 1076124.2435872427, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,645 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,651 INFO sqlalchemy.engine.base.Engine ('2019-07-29 00:00:00.000000', 1036720.0, 1042841.8355592496, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,656 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,662 INFO sqlalchemy.engine.base.Engine ('2019-07-30 00:00:00.000000', 1035395.0, 1036751.2335383355, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,667 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,672 INFO sqlalchemy.engine.base.Engine ('2019-07-31 00:00:00.000000', 1041900.0, 1037203.5376208462, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,681 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,686 INFO sqlalchemy.engine.base.Engine ('2019-08-01 00:00:00.000000', 1098400.0, 1045458.5332158281, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,691 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,697 INFO sqlalchemy.engine.base.Engine ('2019-08-02 00:00:00.000000', 1118400.0, 1106626.1549410548, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,704 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,708 INFO sqlalchemy.engine.base.Engine ('2019-08-03 00:00:00.000000', 1123000.0, 1134417.405226438, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,715 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,722 INFO sqlalchemy.engine.base.Engine ('2019-08-04 00:00:00.000000', 1153754.0, 1131528.809114281, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,727 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,733 INFO sqlalchemy.engine.base.Engine ('2019-08-05 00:00:00.000000', 1170875.0, 1161885.4154753033, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,740 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,747 INFO sqlalchemy.engine.base.Engine ('2019-08-06 00:00:00.000000', 1246972.0, 1180637.7067650268, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,754 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,760 INFO sqlalchemy.engine.base.Engine ('2019-08-07 00:00:00.000000', 1220016.0, 1264689.9497199003, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,771 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,775 INFO sqlalchemy.engine.base.Engine ('2019-08-08 00:00:00.000000', 1269227.0, 1230457.6887399703, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,784 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,790 INFO sqlalchemy.engine.base.Engine ('2019-08-09 00:00:00.000000', 1267904.0, 1280850.0974853104, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,800 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,807 INFO sqlalchemy.engine.base.Engine ('2019-08-10 00:00:00.000000', 1253887.0, 1277428.1623982207, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,814 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,821 INFO sqlalchemy.engine.base.Engine ('2019-08-11 00:00:00.000000', 1192119.0, 1256291.7577508108, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,826 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,833 INFO sqlalchemy.engine.base.Engine ('2019-08-12 00:00:00.000000', 1216700.0, 1208785.1781536038, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,841 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,846 INFO sqlalchemy.engine.base.Engine ('2019-08-13 00:00:00.000000', 1201588.0, 1213978.5203213145, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,855 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,861 INFO sqlalchemy.engine.base.Engine ('2019-08-14 00:00:00.000000', 1158871.0, 1206712.9913930926, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,867 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,873 INFO sqlalchemy.engine.base.Engine ('2019-08-15 00:00:00.000000', 1063000.0, 1172731.302636668, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,879 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,885 INFO sqlalchemy.engine.base.Engine ('2019-08-16 00:00:00.000000', 1095055.0, 1096997.9546136134, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,891 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,895 INFO sqlalchemy.engine.base.Engine ('2019-08-17 00:00:00.000000', 1100020.0, 1093528.0333580892, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,903 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,911 INFO sqlalchemy.engine.base.Engine ('2019-08-18 00:00:00.000000', 1088953.0, 1105862.16836098, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,917 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,922 INFO sqlalchemy.engine.base.Engine ('2019-08-19 00:00:00.000000', 1098880.0, 1097065.5431519512, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,928 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,933 INFO sqlalchemy.engine.base.Engine ('2019-08-20 00:00:00.000000', 1164274.0, 1099717.1378502506, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,941 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,948 INFO sqlalchemy.engine.base.Engine ('2019-08-21 00:00:00.000000', 1142377.0, 1172660.9748550951, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,956 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,960 INFO sqlalchemy.engine.base.Engine ('2019-08-22 00:00:00.000000', 1080771.0, 1152218.838813741, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,967 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,973 INFO sqlalchemy.engine.base.Engine ('2019-08-23 00:00:00.000000', 1076343.0, 1091790.0506925771, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,982 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:20:59,988 INFO sqlalchemy.engine.base.Engine ('2019-08-24 00:00:00.000000', 1097352.0, 1079600.7105485047, '2021-02-22 19:19:46.857845')
2021-02-22 19:20:59,996 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,001 INFO sqlalchemy.engine.base.Engine ('2019-08-25 00:00:00.000000', 1069511.0, 1097773.960495831, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,009 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,016 INFO sqlalchemy.engine.base.Engine ('2019-08-26 00:00:00.000000', 1064237.0, 1078547.1670563694, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,023 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,030 INFO sqlalchemy.engine.base.Engine ('2019-08-27 00:00:00.000000', 1097674.0, 1066531.455215529, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,040 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,047 INFO sqlalchemy.engine.base.Engine ('2019-08-28 00:00:00.000000', 1075910.0, 1096935.6127031185, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,056 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,061 INFO sqlalchemy.engine.base.Engine ('2019-08-29 00:00:00.000000', 1032192.0, 1079796.5860866783, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,068 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,073 INFO sqlalchemy.engine.base.Engine ('2019-08-30 00:00:00.000000', 1011000.0, 1045054.1206703504, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,081 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,088 INFO sqlalchemy.engine.base.Engine ('2019-08-31 00:00:00.000000', 1018178.0, 1019460.2254349074, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,098 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,102 INFO sqlalchemy.engine.base.Engine ('2019-09-01 00:00:00.000000', 1020001.0, 1020323.2468501517, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,108 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,112 INFO sqlalchemy.engine.base.Engine ('2019-09-02 00:00:00.000000', 1036267.0, 1024895.201214509, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,117 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,121 INFO sqlalchemy.engine.base.Engine ('2019-09-03 00:00:00.000000', 1102000.0, 1039255.9083092246, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,132 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,139 INFO sqlalchemy.engine.base.Engine ('2019-09-04 00:00:00.000000', 1123874.0, 1114647.476523637, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,145 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,150 INFO sqlalchemy.engine.base.Engine ('2019-09-05 00:00:00.000000', 1124541.0, 1142586.64133352, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,154 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,159 INFO sqlalchemy.engine.base.Engine ('2019-09-06 00:00:00.000000', 1131641.0, 1133245.283715576, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,165 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,171 INFO sqlalchemy.engine.base.Engine ('2019-09-07 00:00:00.000000', 1103996.0, 1135127.9263980882, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,178 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,184 INFO sqlalchemy.engine.base.Engine ('2019-09-08 00:00:00.000000', 1121490.0, 1108522.5258422974, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,189 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,193 INFO sqlalchemy.engine.base.Engine ('2019-09-09 00:00:00.000000', 1112171.0, 1119407.4312508602, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,200 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,209 INFO sqlalchemy.engine.base.Engine ('2019-09-10 00:00:00.000000', 1106945.0, 1113686.2265124673, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,217 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,223 INFO sqlalchemy.engine.base.Engine ('2019-09-11 00:00:00.000000', 1086657.0, 1108989.7159064806, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,229 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,234 INFO sqlalchemy.engine.base.Engine ('2019-09-12 00:00:00.000000', 1095555.0, 1092965.4745551776, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,240 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,245 INFO sqlalchemy.engine.base.Engine ('2019-09-13 00:00:00.000000', 1126914.0, 1095000.9856276035, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,252 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,255 INFO sqlalchemy.engine.base.Engine ('2019-09-14 00:00:00.000000', 1119558.0, 1128320.262307852, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,261 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,265 INFO sqlalchemy.engine.base.Engine ('2019-09-15 00:00:00.000000', 1118737.0, 1125176.402848104, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,271 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,277 INFO sqlalchemy.engine.base.Engine ('2019-09-16 00:00:00.000000', 1111526.0, 1120773.1469384774, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,283 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,290 INFO sqlalchemy.engine.base.Engine ('2019-09-17 00:00:00.000000', 1108663.0, 1112344.7589728725, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,298 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,305 INFO sqlalchemy.engine.base.Engine ('2019-09-18 00:00:00.000000', 1101600.0, 1110187.8521200137, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,311 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-02-22 19:21:00,317 INFO sqlalchemy.engine.base.Engine ('2019-09-19 00:00:00.000000', 1100344.0, 1104145.058386488, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,324 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,330 INFO sqlalchemy.engine.base.Engine ('2019-09-20 00:00:00.000000', 1108999.0, 1101486.34695307, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,337 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,341 INFO sqlalchemy.engine.base.Engine ('2019-09-21 00:00:00.000000', 1093999.0, 1108474.6666829232, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,347 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,353 INFO sqlalchemy.engine.base.Engine ('2019-09-22 00:00:00.000000', 1074107.0, 1097537.6456854003, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,361 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,367 INFO sqlalchemy.engine.base.Engine ('2019-09-23 00:00:00.000000', 1081500.0, 1081141.6162085212, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,373 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,378 INFO sqlalchemy.engine.base.Engine ('2019-09-24 00:00:00.000000', 1044001.0, 1080838.0968679194, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,384 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,393 INFO sqlalchemy.engine.base.Engine ('2019-09-25 00:00:00.000000', 917999.0, 1055905.1012796264, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,401 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,407 INFO sqlalchemy.engine.base.Engine ('2019-09-26 00:00:00.000000', 910274.0, 962418.529094367, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,416 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,421 INFO sqlalchemy.engine.base.Engine ('2019-09-27 00:00:00.000000', 869605.0, 919980.7321705322, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,429 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,435 INFO sqlalchemy.engine.base.Engine ('2019-09-28 00:00:00.000000', 886900.0, 886494.5792347742, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,440 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,445 INFO sqlalchemy.engine.base.Engine ('2019-09-29 00:00:00.000000', 887254.0, 896030.1928978385, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,454 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,461 INFO sqlalchemy.engine.base.Engine ('2019-09-30 00:00:00.000000', 869799.0, 889004.5859380732, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,470 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,474 INFO sqlalchemy.engine.base.Engine ('2019-10-01 00:00:00.000000', 898291.0, 874564.3818649454, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,479 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,483 INFO sqlalchemy.engine.base.Engine ('2019-10-02 00:00:00.000000', 896313.0, 897785.8496715851, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,492 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,498 INFO sqlalchemy.engine.base.Engine ('2019-10-03 00:00:00.000000', 899088.0, 900411.2651829708, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,504 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,508 INFO sqlalchemy.engine.base.Engine ('2019-10-04 00:00:00.000000', 881977.0, 901878.1774977589, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,521 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,527 INFO sqlalchemy.engine.base.Engine ('2019-10-05 00:00:00.000000', 873171.0, 883593.647938486, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,535 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,540 INFO sqlalchemy.engine.base.Engine ('2019-10-06 00:00:00.000000', 872594.0, 876849.570664514, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,546 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,553 INFO sqlalchemy.engine.base.Engine ('2019-10-07 00:00:00.000000', 841354.0, 873646.5374245866, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,557 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,564 INFO sqlalchemy.engine.base.Engine ('2019-10-08 00:00:00.000000', 879399.0, 851863.0869284648, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,571 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,576 INFO sqlalchemy.engine.base.Engine ('2019-10-09 00:00:00.000000', 874804.0, 875314.1616884978, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,582 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,590 INFO sqlalchemy.engine.base.Engine ('2019-10-10 00:00:00.000000', 919414.0, 878403.1949503465, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,595 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,599 INFO sqlalchemy.engine.base.Engine ('2019-10-11 00:00:00.000000', 926444.0, 928362.1919704874, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,606 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,612 INFO sqlalchemy.engine.base.Engine ('2019-10-12 00:00:00.000000', 898000.0, 936777.7276726273, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,616 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,621 INFO sqlalchemy.engine.base.Engine ('2019-10-13 00:00:00.000000', 901833.0, 900310.486750836, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,627 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,635 INFO sqlalchemy.engine.base.Engine ('2019-10-14 00:00:00.000000', 899998.0, 901565.1300675566, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,640 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,649 INFO sqlalchemy.engine.base.Engine ('2019-10-15 00:00:00.000000', 905500.0, 901013.4903266982, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,654 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,659 INFO sqlalchemy.engine.base.Engine ('2019-10-16 00:00:00.000000', 887464.0, 907997.7911523053, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,667 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,672 INFO sqlalchemy.engine.base.Engine ('2019-10-17 00:00:00.000000', 869340.0, 892381.5246554246, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,680 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,686 INFO sqlalchemy.engine.base.Engine ('2019-10-18 00:00:00.000000', 877000.0, 876123.9515267443, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,693 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,698 INFO sqlalchemy.engine.base.Engine ('2019-10-19 00:00:00.000000', 862890.0, 876387.2634009256, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,705 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,709 INFO sqlalchemy.engine.base.Engine ('2019-10-20 00:00:00.000000', 863000.0, 867613.3124630372, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,715 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,721 INFO sqlalchemy.engine.base.Engine ('2019-10-21 00:00:00.000000', 891400.0, 864251.74115007, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,731 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,736 INFO sqlalchemy.engine.base.Engine ('2019-10-22 00:00:00.000000', 891947.0, 892099.6566167527, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,741 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,749 INFO sqlalchemy.engine.base.Engine ('2019-10-23 00:00:00.000000', 870050.0, 898124.1546346191, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,756 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,762 INFO sqlalchemy.engine.base.Engine ('2019-10-24 00:00:00.000000', 812505.0, 872201.7026438316, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,770 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,778 INFO sqlalchemy.engine.base.Engine ('2019-10-25 00:00:00.000000', 807310.0, 831184.9292761292, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,785 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,790 INFO sqlalchemy.engine.base.Engine ('2019-10-26 00:00:00.000000', 940000.0, 812477.5578865384, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,797 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,806 INFO sqlalchemy.engine.base.Engine ('2019-10-27 00:00:00.000000', 1002159.0, 937059.1003512719, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,816 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,823 INFO sqlalchemy.engine.base.Engine ('2019-10-28 00:00:00.000000', 1037500.0, 1040581.780779721, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,830 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,838 INFO sqlalchemy.engine.base.Engine ('2019-10-29 00:00:00.000000', 1003370.0, 1065201.5725440688, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,845 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,854 INFO sqlalchemy.engine.base.Engine ('2019-10-30 00:00:00.000000', 1025514.0, 1008497.257791134, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,863 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,870 INFO sqlalchemy.engine.base.Engine ('2019-10-31 00:00:00.000000', 997247.0, 1027936.7674630292, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,877 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,883 INFO sqlalchemy.engine.base.Engine ('2019-11-01 00:00:00.000000', 988920.0, 1002559.9665528286, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,890 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,900 INFO sqlalchemy.engine.base.Engine ('2019-11-02 00:00:00.000000', 999769.0, 992943.1968511778, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,908 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,917 INFO sqlalchemy.engine.base.Engine ('2019-11-03 00:00:00.000000', 1006460.0, 999404.2207575866, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,926 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,934 INFO sqlalchemy.engine.base.Engine ('2019-11-04 00:00:00.000000', 996034.0, 1010211.5199464725, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,939 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,945 INFO sqlalchemy.engine.base.Engine ('2019-11-05 00:00:00.000000', 1021915.0, 997025.5509616213, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,952 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,959 INFO sqlalchemy.engine.base.Engine ('2019-11-06 00:00:00.000000', 1015450.0, 1023606.3034464294, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,972 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,979 INFO sqlalchemy.engine.base.Engine ('2019-11-07 00:00:00.000000', 1015778.0, 1019158.7088696335, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:00,988 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:00,995 INFO sqlalchemy.engine.base.Engine ('2019-11-08 00:00:00.000000', 1006260.0, 1017727.4799384377, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,005 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,010 INFO sqlalchemy.engine.base.Engine ('2019-11-09 00:00:00.000000', 957397.0, 1007353.4231095886, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,019 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,026 INFO sqlalchemy.engine.base.Engine ('2019-11-10 00:00:00.000000', 962771.0, 974382.6128934348, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,038 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,045 INFO sqlalchemy.engine.base.Engine ('2019-11-11 00:00:00.000000', 986500.0, 964021.81097839, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,055 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,062 INFO sqlalchemy.engine.base.Engine ('2019-11-12 00:00:00.000000', 950719.0, 985936.3015077407, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,071 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,079 INFO sqlalchemy.engine.base.Engine ('2019-11-13 00:00:00.000000', 960000.0, 958885.8113844878, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,090 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,101 INFO sqlalchemy.engine.base.Engine ('2019-11-14 00:00:00.000000', 953321.0, 960083.8814473327, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,110 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-02-22 19:21:01,116 INFO sqlalchemy.engine.base.Engine ('2019-11-15 00:00:00.000000', 936240.0, 955534.3255979455, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,125 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,134 INFO sqlalchemy.engine.base.Engine ('2019-11-16 00:00:00.000000', 921483.0, 942245.7058054208, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,148 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,154 INFO sqlalchemy.engine.base.Engine ('2019-11-17 00:00:00.000000', 923400.0, 927064.1808847943, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,161 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,166 INFO sqlalchemy.engine.base.Engine ('2019-11-18 00:00:00.000000', 925304.0, 924530.5308882794, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,171 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,182 INFO sqlalchemy.engine.base.Engine ('2019-11-19 00:00:00.000000', 888914.0, 927086.6703868617, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,189 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,200 INFO sqlalchemy.engine.base.Engine ('2019-11-20 00:00:00.000000', 880856.0, 900698.4818337673, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,207 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,214 INFO sqlalchemy.engine.base.Engine ('2019-11-21 00:00:00.000000', 876921.0, 885104.1107987604, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,221 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,228 INFO sqlalchemy.engine.base.Engine ('2019-11-22 00:00:00.000000', 827661.0, 879461.774426641, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,238 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,243 INFO sqlalchemy.engine.base.Engine ('2019-11-23 00:00:00.000000', 791420.0, 844360.2243292192, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,252 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,259 INFO sqlalchemy.engine.base.Engine ('2019-11-24 00:00:00.000000', 796610.0, 806060.1040957166, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,267 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,273 INFO sqlalchemy.engine.base.Engine ('2019-11-25 00:00:00.000000', 752853.0, 798876.602226308, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,281 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,287 INFO sqlalchemy.engine.base.Engine ('2019-11-26 00:00:00.000000', 776240.0, 768012.0109665352, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,292 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,302 INFO sqlalchemy.engine.base.Engine ('2019-11-27 00:00:00.000000', 781873.0, 775147.712096513, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,309 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,317 INFO sqlalchemy.engine.base.Engine ('2019-11-28 00:00:00.000000', 822380.0, 783092.8444046197, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,321 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,328 INFO sqlalchemy.engine.base.Engine ('2019-11-29 00:00:00.000000', 814000.0, 830761.2160246059, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,335 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,340 INFO sqlalchemy.engine.base.Engine ('2019-11-30 00:00:00.000000', 849890.0, 820571.8305093074, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,348 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,354 INFO sqlalchemy.engine.base.Engine ('2019-12-01 00:00:00.000000', 827393.0, 858177.8421403161, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,360 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,364 INFO sqlalchemy.engine.base.Engine ('2019-12-02 00:00:00.000000', 811428.0, 830384.7879871541, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,374 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,378 INFO sqlalchemy.engine.base.Engine ('2019-12-03 00:00:00.000000', 796925.0, 815290.7573283071, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,384 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,388 INFO sqlalchemy.engine.base.Engine ('2019-12-04 00:00:00.000000', 792786.0, 801653.8480178517, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,393 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,399 INFO sqlalchemy.engine.base.Engine ('2019-12-05 00:00:00.000000', 783614.0, 796376.5099106802, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,405 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,413 INFO sqlalchemy.engine.base.Engine ('2019-12-06 00:00:00.000000', 803858.0, 787592.6678945909, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,419 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,422 INFO sqlalchemy.engine.base.Engine ('2019-12-07 00:00:00.000000', 818480.0, 803082.9729229417, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,427 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,432 INFO sqlalchemy.engine.base.Engine ('2019-12-08 00:00:00.000000', 814301.0, 824165.0840336028, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,439 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,445 INFO sqlalchemy.engine.base.Engine ('2019-12-09 00:00:00.000000', 816707.0, 817561.186123956, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,452 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,457 INFO sqlalchemy.engine.base.Engine ('2019-12-10 00:00:00.000000', 797959.0, 817852.3675051435, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,463 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,467 INFO sqlalchemy.engine.base.Engine ('2019-12-11 00:00:00.000000', 785869.0, 802519.7050618547, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,473 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,479 INFO sqlalchemy.engine.base.Engine ('2019-12-12 00:00:00.000000', 782164.0, 790788.3663825108, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,490 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,494 INFO sqlalchemy.engine.base.Engine ('2019-12-13 00:00:00.000000', 786190.0, 784327.3821422908, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,503 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,509 INFO sqlalchemy.engine.base.Engine ('2019-12-14 00:00:00.000000', 792353.0, 787653.0275848797, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,516 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,520 INFO sqlalchemy.engine.base.Engine ('2019-12-15 00:00:00.000000', 773304.0, 793927.0754256218, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,531 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,538 INFO sqlalchemy.engine.base.Engine ('2019-12-16 00:00:00.000000', 777016.0, 778113.2649586513, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,543 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,550 INFO sqlalchemy.engine.base.Engine ('2019-12-17 00:00:00.000000', 754500.0, 776758.635397607, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,558 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,565 INFO sqlalchemy.engine.base.Engine ('2019-12-18 00:00:00.000000', 724800.0, 761504.7412112079, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,572 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,581 INFO sqlalchemy.engine.base.Engine ('2019-12-19 00:00:00.000000', 798000.0, 735959.6032554401, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,589 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,596 INFO sqlalchemy.engine.base.Engine ('2019-12-20 00:00:00.000000', 779042.0, 791471.4904505971, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,606 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,613 INFO sqlalchemy.engine.base.Engine ('2019-12-21 00:00:00.000000', 786600.0, 788067.8076230366, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,619 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,625 INFO sqlalchemy.engine.base.Engine ('2019-12-22 00:00:00.000000', 781592.0, 793099.3979994993, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,634 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,639 INFO sqlalchemy.engine.base.Engine ('2019-12-23 00:00:00.000000', 821550.0, 784135.7845686733, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,646 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,652 INFO sqlalchemy.engine.base.Engine ('2019-12-24 00:00:00.000000', 800320.0, 824502.4703402524, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,661 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,668 INFO sqlalchemy.engine.base.Engine ('2019-12-25 00:00:00.000000', 793410.0, 804407.7877111621, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,675 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,682 INFO sqlalchemy.engine.base.Engine ('2019-12-26 00:00:00.000000', 787145.0, 795873.7997083107, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,687 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,692 INFO sqlalchemy.engine.base.Engine ('2019-12-27 00:00:00.000000', 788330.0, 789397.4946166795, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,702 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,709 INFO sqlalchemy.engine.base.Engine ('2019-12-28 00:00:00.000000', 792233.0, 790269.1766873811, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,716 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,720 INFO sqlalchemy.engine.base.Engine ('2019-12-29 00:00:00.000000', 799490.0, 792752.4044851853, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,726 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,732 INFO sqlalchemy.engine.base.Engine ('2019-12-30 00:00:00.000000', 807988.0, 801336.5135966409, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,740 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,745 INFO sqlalchemy.engine.base.Engine ('2019-12-31 00:00:00.000000', 787115.0, 811214.6785359259, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,757 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,761 INFO sqlalchemy.engine.base.Engine ('2020-01-01 00:00:00.000000', 779450.0, 790293.9864815911, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,767 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,773 INFO sqlalchemy.engine.base.Engine ('2020-01-02 00:00:00.000000', 780490.0, 782203.2827136525, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,779 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,784 INFO sqlalchemy.engine.base.Engine ('2020-01-03 00:00:00.000000', 754800.0, 781062.3869572439, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,788 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,793 INFO sqlalchemy.engine.base.Engine ('2020-01-04 00:00:00.000000', 793000.0, 763322.7017305726, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,801 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,807 INFO sqlalchemy.engine.base.Engine ('2020-01-05 00:00:00.000000', 794060.0, 789491.4810131151, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,812 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,820 INFO sqlalchemy.engine.base.Engine ('2020-01-06 00:00:00.000000', 793632.0, 799933.7055365586, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,829 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,835 INFO sqlalchemy.engine.base.Engine ('2020-01-07 00:00:00.000000', 841539.0, 796958.6164940131, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,844 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,848 INFO sqlalchemy.engine.base.Engine ('2020-01-08 00:00:00.000000', 882500.0, 849337.349327674, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,854 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,859 INFO sqlalchemy.engine.base.Engine ('2020-01-09 00:00:00.000000', 877290.0, 899508.1411898006, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,866 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,870 INFO sqlalchemy.engine.base.Engine ('2020-01-10 00:00:00.000000', 854944.0, 886908.4864969784, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,878 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-02-22 19:21:01,882 INFO sqlalchemy.engine.base.Engine ('2020-01-11 00:00:00.000000', 895000.0, 855834.6869582118, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,887 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,891 INFO sqlalchemy.engine.base.Engine ('2020-01-12 00:00:00.000000', 875339.0, 896041.2574397865, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,896 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,901 INFO sqlalchemy.engine.base.Engine ('2020-01-13 00:00:00.000000', 892969.0, 878347.115701582, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,908 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,913 INFO sqlalchemy.engine.base.Engine ('2020-01-14 00:00:00.000000', 887538.0, 897080.6458785101, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,920 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,925 INFO sqlalchemy.engine.base.Engine ('2020-01-15 00:00:00.000000', 965570.0, 890558.00127634, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,938 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,944 INFO sqlalchemy.engine.base.Engine ('2020-01-16 00:00:00.000000', 964324.0, 974357.7108997833, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,949 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,953 INFO sqlalchemy.engine.base.Engine ('2020-01-17 00:00:00.000000', 958730.0, 980276.9370152439, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,957 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,961 INFO sqlalchemy.engine.base.Engine ('2020-01-18 00:00:00.000000', 980172.0, 964797.2121420798, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,968 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,974 INFO sqlalchemy.engine.base.Engine ('2020-01-19 00:00:00.000000', 981000.0, 984504.9795403811, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,981 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,987 INFO sqlalchemy.engine.base.Engine ('2020-01-20 00:00:00.000000', 957880.0, 985459.1978241997, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:01,992 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:01,999 INFO sqlalchemy.engine.base.Engine ('2020-01-21 00:00:00.000000', 950811.0, 961764.4862943722, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,009 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,014 INFO sqlalchemy.engine.base.Engine ('2020-01-22 00:00:00.000000', 957629.0, 953105.3619740016, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,020 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,025 INFO sqlalchemy.engine.base.Engine ('2020-01-23 00:00:00.000000', 950633.0, 957282.4679216152, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,034 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,039 INFO sqlalchemy.engine.base.Engine ('2020-01-24 00:00:00.000000', 918822.0, 953945.5480859533, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,045 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,050 INFO sqlalchemy.engine.base.Engine ('2020-01-25 00:00:00.000000', 921808.0, 929659.3374749445, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,058 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,065 INFO sqlalchemy.engine.base.Engine ('2020-01-26 00:00:00.000000', 911000.0, 922582.681512507, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,071 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,074 INFO sqlalchemy.engine.base.Engine ('2020-01-27 00:00:00.000000', 936240.0, 914953.4407289606, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,080 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,087 INFO sqlalchemy.engine.base.Engine ('2020-01-28 00:00:00.000000', 969060.0, 937373.5169741549, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,096 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,105 INFO sqlalchemy.engine.base.Engine ('2020-01-29 00:00:00.000000', 1022498.0, 978419.4796526921, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,112 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,119 INFO sqlalchemy.engine.base.Engine ('2020-01-30 00:00:00.000000', 1011955.0, 1039880.5736439903, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,126 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,131 INFO sqlalchemy.engine.base.Engine ('2020-01-31 00:00:00.000000', 1031610.0, 1021726.2266454003, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,135 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,138 INFO sqlalchemy.engine.base.Engine ('2020-02-01 00:00:00.000000', 1013273.0, 1038288.3212013093, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,146 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,152 INFO sqlalchemy.engine.base.Engine ('2020-02-02 00:00:00.000000', 1015630.0, 1014929.9503674055, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,162 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,167 INFO sqlalchemy.engine.base.Engine ('2020-02-03 00:00:00.000000', 1010175.0, 1016310.7989214205, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,173 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,179 INFO sqlalchemy.engine.base.Engine ('2020-02-04 00:00:00.000000', 1008820.0, 1011981.9580643944, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,187 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,193 INFO sqlalchemy.engine.base.Engine ('2020-02-05 00:00:00.000000', 1003300.0, 1010551.5048703651, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,203 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,210 INFO sqlalchemy.engine.base.Engine ('2020-02-06 00:00:00.000000', 1053671.0, 1005175.3300513051, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,215 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,223 INFO sqlalchemy.engine.base.Engine ('2020-02-07 00:00:00.000000', 1070900.0, 1056279.8803149585, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,232 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,237 INFO sqlalchemy.engine.base.Engine ('2020-02-08 00:00:00.000000', 1076199.0, 1084498.685860951, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,245 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,254 INFO sqlalchemy.engine.base.Engine ('2020-02-09 00:00:00.000000', 1086240.0, 1084065.7966660415, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,262 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,268 INFO sqlalchemy.engine.base.Engine ('2020-02-10 00:00:00.000000', 1110975.0, 1090462.7482831501, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,275 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,280 INFO sqlalchemy.engine.base.Engine ('2020-02-11 00:00:00.000000', 1081510.0, 1117660.087092745, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,286 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,292 INFO sqlalchemy.engine.base.Engine ('2020-02-12 00:00:00.000000', 1123524.0, 1083998.4647100572, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,302 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,307 INFO sqlalchemy.engine.base.Engine ('2020-02-13 00:00:00.000000', 1136950.0, 1125577.2327516854, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,314 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,319 INFO sqlalchemy.engine.base.Engine ('2020-02-14 00:00:00.000000', 1124591.0, 1146958.8480745575, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,324 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,330 INFO sqlalchemy.engine.base.Engine ('2020-02-15 00:00:00.000000', 1137555.0, 1127820.6002254311, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,339 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,345 INFO sqlalchemy.engine.base.Engine ('2020-02-16 00:00:00.000000', 1087798.0, 1139360.6781648449, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,352 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,356 INFO sqlalchemy.engine.base.Engine ('2020-02-17 00:00:00.000000', 1091360.0, 1102314.8585173057, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,362 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,369 INFO sqlalchemy.engine.base.Engine ('2020-02-18 00:00:00.000000', 1066850.0, 1092851.5494918867, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,378 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,385 INFO sqlalchemy.engine.base.Engine ('2020-02-19 00:00:00.000000', 1118896.0, 1074408.6164188741, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,390 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,397 INFO sqlalchemy.engine.base.Engine ('2020-02-20 00:00:00.000000', 1068601.0, 1118915.5584043078, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,408 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,412 INFO sqlalchemy.engine.base.Engine ('2020-02-21 00:00:00.000000', 1076399.0, 1075564.203898398, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,421 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,424 INFO sqlalchemy.engine.base.Engine ('2020-02-22 00:00:00.000000', 1082615.0, 1078182.9163457472, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,430 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,434 INFO sqlalchemy.engine.base.Engine ('2020-02-23 00:00:00.000000', 1078573.0, 1086930.050119709, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,443 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,450 INFO sqlalchemy.engine.base.Engine ('2020-02-24 00:00:00.000000', 1111020.0, 1083631.1187934068, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,456 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,460 INFO sqlalchemy.engine.base.Engine ('2020-02-25 00:00:00.000000', 1071701.0, 1114916.1451069794, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,467 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,470 INFO sqlalchemy.engine.base.Engine ('2020-02-26 00:00:00.000000', 1027477.0, 1076924.6482611902, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,475 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,481 INFO sqlalchemy.engine.base.Engine ('2020-02-27 00:00:00.000000', 970306.0, 1042315.3769300063, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,488 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,493 INFO sqlalchemy.engine.base.Engine ('2020-02-28 00:00:00.000000', 965988.0, 991225.598295244, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,499 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,504 INFO sqlalchemy.engine.base.Engine ('2020-02-29 00:00:00.000000', 941169.0, 973357.2304374496, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,509 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,519 INFO sqlalchemy.engine.base.Engine ('2020-03-01 00:00:00.000000', 923207.0, 952152.3083983177, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,527 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,534 INFO sqlalchemy.engine.base.Engine ('2020-03-02 00:00:00.000000', 920400.0, 932359.7217726919, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,538 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,543 INFO sqlalchemy.engine.base.Engine ('2020-03-03 00:00:00.000000', 968732.0, 923065.1713964791, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,548 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,554 INFO sqlalchemy.engine.base.Engine ('2020-03-04 00:00:00.000000', 938769.0, 968474.4393766706, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,561 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,567 INFO sqlalchemy.engine.base.Engine ('2020-03-05 00:00:00.000000', 944324.0, 943522.9918727521, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,572 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,576 INFO sqlalchemy.engine.base.Engine ('2020-03-06 00:00:00.000000', 963433.0, 948018.972170137, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,587 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-02-22 19:21:02,591 INFO sqlalchemy.engine.base.Engine ('2020-03-07 00:00:00.000000', 966010.0, 968889.6363666741, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,597 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,602 INFO sqlalchemy.engine.base.Engine ('2020-03-08 00:00:00.000000', 940979.0, 970948.0832209545, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,607 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,614 INFO sqlalchemy.engine.base.Engine ('2020-03-09 00:00:00.000000', 837484.0, 944322.4094096823, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,622 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,627 INFO sqlalchemy.engine.base.Engine ('2020-03-10 00:00:00.000000', 820200.0, 872562.0743785973, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,635 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,642 INFO sqlalchemy.engine.base.Engine ('2020-03-11 00:00:00.000000', 830836.0, 831482.2588370811, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,654 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,659 INFO sqlalchemy.engine.base.Engine ('2020-03-12 00:00:00.000000', 832286.0, 834558.038657585, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,666 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,672 INFO sqlalchemy.engine.base.Engine ('2020-03-13 00:00:00.000000', 517999.0, 843538.7678630803, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,680 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,684 INFO sqlalchemy.engine.base.Engine ('2020-03-14 00:00:00.000000', 616477.0, 621221.1213388346, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,692 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,699 INFO sqlalchemy.engine.base.Engine ('2020-03-15 00:00:00.000000', 565780.0, 605947.5930664062, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,704 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,709 INFO sqlalchemy.engine.base.Engine ('2020-03-16 00:00:00.000000', 582013.0, 583230.8969062138, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,717 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,723 INFO sqlalchemy.engine.base.Engine ('2020-03-17 00:00:00.000000', 547160.0, 605565.4041124947, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,730 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,734 INFO sqlalchemy.engine.base.Engine ('2020-03-18 00:00:00.000000', 579530.0, 553454.4361156044, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,739 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,743 INFO sqlalchemy.engine.base.Engine ('2020-03-19 00:00:00.000000', 588404.0, 579594.4685486346, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,748 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,756 INFO sqlalchemy.engine.base.Engine ('2020-03-20 00:00:00.000000', 692529.0, 593952.9979315168, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,764 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,769 INFO sqlalchemy.engine.base.Engine ('2020-03-21 00:00:00.000000', 690005.0, 710317.9265725716, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,774 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,778 INFO sqlalchemy.engine.base.Engine ('2020-03-22 00:00:00.000000', 688958.0, 711276.4697714539, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,783 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,791 INFO sqlalchemy.engine.base.Engine ('2020-03-23 00:00:00.000000', 647262.0, 697889.0590306815, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,798 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,805 INFO sqlalchemy.engine.base.Engine ('2020-03-24 00:00:00.000000', 719267.0, 649715.8257755608, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,812 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,818 INFO sqlalchemy.engine.base.Engine ('2020-03-25 00:00:00.000000', 752500.0, 713360.0666797097, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,825 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,832 INFO sqlalchemy.engine.base.Engine ('2020-03-26 00:00:00.000000', 741720.0, 769668.3940188629, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,837 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,842 INFO sqlalchemy.engine.base.Engine ('2020-03-27 00:00:00.000000', 737681.0, 750805.3141799321, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,848 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,854 INFO sqlalchemy.engine.base.Engine ('2020-03-28 00:00:00.000000', 690539.0, 739127.3243875832, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,860 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,868 INFO sqlalchemy.engine.base.Engine ('2020-03-29 00:00:00.000000', 677000.0, 704269.4052606568, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,873 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,878 INFO sqlalchemy.engine.base.Engine ('2020-03-30 00:00:00.000000', 634168.0, 684078.4639046255, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,885 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,890 INFO sqlalchemy.engine.base.Engine ('2020-03-31 00:00:00.000000', 693221.0, 649331.6590995179, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,897 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,901 INFO sqlalchemy.engine.base.Engine ('2020-04-01 00:00:00.000000', 691824.0, 689803.084668954, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,909 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,912 INFO sqlalchemy.engine.base.Engine ('2020-04-02 00:00:00.000000', 714987.0, 699019.7480529275, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,919 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,925 INFO sqlalchemy.engine.base.Engine ('2020-04-03 00:00:00.000000', 735176.0, 724112.3260614431, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,930 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,936 INFO sqlalchemy.engine.base.Engine ('2020-04-04 00:00:00.000000', 732900.0, 743971.5400813558, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,945 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,951 INFO sqlalchemy.engine.base.Engine ('2020-04-05 00:00:00.000000', 746176.0, 737689.9438093358, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,956 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,960 INFO sqlalchemy.engine.base.Engine ('2020-04-06 00:00:00.000000', 737468.0, 749859.3855258371, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,966 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,971 INFO sqlalchemy.engine.base.Engine ('2020-04-07 00:00:00.000000', 801357.0, 738559.0144995173, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,977 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,983 INFO sqlalchemy.engine.base.Engine ('2020-04-08 00:00:00.000000', 784414.0, 807837.1256675171, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:02,990 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:02,995 INFO sqlalchemy.engine.base.Engine ('2020-04-09 00:00:00.000000', 803139.0, 794090.7137660057, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,000 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,006 INFO sqlalchemy.engine.base.Engine ('2020-04-10 00:00:00.000000', 793267.0, 810738.2927933799, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,013 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,020 INFO sqlalchemy.engine.base.Engine ('2020-04-11 00:00:00.000000', 746887.0, 796037.4491208461, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,024 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,028 INFO sqlalchemy.engine.base.Engine ('2020-04-12 00:00:00.000000', 749585.0, 761984.255613406, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,036 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,042 INFO sqlalchemy.engine.base.Engine ('2020-04-13 00:00:00.000000', 751793.0, 750930.5366175994, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,050 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,054 INFO sqlalchemy.engine.base.Engine ('2020-04-14 00:00:00.000000', 739986.0, 753650.4827731536, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,060 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,066 INFO sqlalchemy.engine.base.Engine ('2020-04-15 00:00:00.000000', 738259.0, 745658.4787757228, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,072 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,079 INFO sqlalchemy.engine.base.Engine ('2020-04-16 00:00:00.000000', 713829.0, 739216.6225458685, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,085 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,092 INFO sqlalchemy.engine.base.Engine ('2020-04-17 00:00:00.000000', 768443.0, 722114.2412868771, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,097 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,103 INFO sqlalchemy.engine.base.Engine ('2020-04-18 00:00:00.000000', 758043.0, 764972.9305650915, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,109 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,118 INFO sqlalchemy.engine.base.Engine ('2020-04-19 00:00:00.000000', 781254.0, 765831.0931194448, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,123 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,129 INFO sqlalchemy.engine.base.Engine ('2020-04-20 00:00:00.000000', 768579.0, 789101.8569873535, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,137 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,142 INFO sqlalchemy.engine.base.Engine ('2020-04-21 00:00:00.000000', 738350.0, 771143.8168018706, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,147 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,153 INFO sqlalchemy.engine.base.Engine ('2020-04-22 00:00:00.000000', 740881.0, 747368.986121426, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,161 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,167 INFO sqlalchemy.engine.base.Engine ('2020-04-23 00:00:00.000000', 770246.0, 741541.9656159877, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,176 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,182 INFO sqlalchemy.engine.base.Engine ('2020-04-24 00:00:00.000000', 805725.0, 769522.4153292746, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,191 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,197 INFO sqlalchemy.engine.base.Engine ('2020-04-25 00:00:00.000000', 808353.0, 817013.2847606421, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,203 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,207 INFO sqlalchemy.engine.base.Engine ('2020-04-26 00:00:00.000000', 813203.0, 817450.2505674288, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,211 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,218 INFO sqlalchemy.engine.base.Engine ('2020-04-27 00:00:00.000000', 828532.0, 817332.4225058198, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,225 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,231 INFO sqlalchemy.engine.base.Engine ('2020-04-28 00:00:00.000000', 836500.0, 832804.3657711645, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,240 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,244 INFO sqlalchemy.engine.base.Engine ('2020-04-29 00:00:00.000000', 829395.0, 841414.2502102534, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,250 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,255 INFO sqlalchemy.engine.base.Engine ('2020-04-30 00:00:00.000000', 937577.0, 830604.5588885433, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,263 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,269 INFO sqlalchemy.engine.base.Engine ('2020-05-01 00:00:00.000000', 926749.0, 949468.9453209531, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,273 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,277 INFO sqlalchemy.engine.base.Engine ('2020-05-02 00:00:00.000000', 946265.0, 947288.5098553738, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,286 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-02-22 19:21:03,293 INFO sqlalchemy.engine.base.Engine ('2020-05-03 00:00:00.000000', 962121.0, 958564.8025320722, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,298 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,305 INFO sqlalchemy.engine.base.Engine ('2020-05-04 00:00:00.000000', 952856.0, 970036.5351491126, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,310 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,314 INFO sqlalchemy.engine.base.Engine ('2020-05-05 00:00:00.000000', 949894.0, 955344.9497407406, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,321 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,326 INFO sqlalchemy.engine.base.Engine ('2020-05-06 00:00:00.000000', 962100.0, 950253.1333926291, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,332 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,336 INFO sqlalchemy.engine.base.Engine ('2020-05-07 00:00:00.000000', 973954.0, 963199.2394838224, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,346 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,352 INFO sqlalchemy.engine.base.Engine ('2020-05-08 00:00:00.000000', 1065810.0, 977836.0224542083, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,358 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,364 INFO sqlalchemy.engine.base.Engine ('2020-05-09 00:00:00.000000', 1048000.0, 1081204.7735099227, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,371 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,376 INFO sqlalchemy.engine.base.Engine ('2020-05-10 00:00:00.000000', 1017000.0, 1063906.7841471527, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,380 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,385 INFO sqlalchemy.engine.base.Engine ('2020-05-11 00:00:00.000000', 934350.0, 1020892.269624812, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,392 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,397 INFO sqlalchemy.engine.base.Engine ('2020-05-12 00:00:00.000000', 922489.0, 956706.0296210649, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,403 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,411 INFO sqlalchemy.engine.base.Engine ('2020-05-13 00:00:00.000000', 945875.0, 931857.9236000596, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,418 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,424 INFO sqlalchemy.engine.base.Engine ('2020-05-14 00:00:00.000000', 997533.0, 947126.2434898776, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,429 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,437 INFO sqlalchemy.engine.base.Engine ('2020-05-15 00:00:00.000000', 1051000.0, 1008587.7387451396, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,441 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,445 INFO sqlalchemy.engine.base.Engine ('2020-05-16 00:00:00.000000', 996901.0, 1072457.6633849782, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,453 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,459 INFO sqlalchemy.engine.base.Engine ('2020-05-17 00:00:00.000000', 1005016.0, 1001447.2837794994, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,468 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,473 INFO sqlalchemy.engine.base.Engine ('2020-05-18 00:00:00.000000', 1037701.0, 1006623.5290469199, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,479 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,485 INFO sqlalchemy.engine.base.Engine ('2020-05-19 00:00:00.000000', 1044362.0, 1043243.7379028314, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,489 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,495 INFO sqlalchemy.engine.base.Engine ('2020-05-20 00:00:00.000000', 1053101.0, 1053222.0231568657, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,504 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,508 INFO sqlalchemy.engine.base.Engine ('2020-05-21 00:00:00.000000', 1025000.0, 1058442.2880391928, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,514 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,519 INFO sqlalchemy.engine.base.Engine ('2020-05-22 00:00:00.000000', 977238.0, 1027046.1909226807, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,525 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,533 INFO sqlalchemy.engine.base.Engine ('2020-05-23 00:00:00.000000', 988518.0, 994086.9624654391, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,540 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,544 INFO sqlalchemy.engine.base.Engine ('2020-05-24 00:00:00.000000', 988442.0, 988494.2112347279, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,551 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,556 INFO sqlalchemy.engine.base.Engine ('2020-05-25 00:00:00.000000', 940810.0, 992274.9471555116, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,561 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,570 INFO sqlalchemy.engine.base.Engine ('2020-05-26 00:00:00.000000', 960276.0, 955633.90502029, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,575 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,579 INFO sqlalchemy.engine.base.Engine ('2020-05-27 00:00:00.000000', 951651.0, 957588.9257873326, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,587 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,593 INFO sqlalchemy.engine.base.Engine ('2020-05-28 00:00:00.000000', 992287.0, 954245.2151243696, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,599 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,605 INFO sqlalchemy.engine.base.Engine ('2020-05-29 00:00:00.000000', 1031382.0, 996565.7328083075, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,610 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,618 INFO sqlalchemy.engine.base.Engine ('2020-05-30 00:00:00.000000', 1016000.0, 1046176.7817513637, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,626 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,632 INFO sqlalchemy.engine.base.Engine ('2020-05-31 00:00:00.000000', 1044454.0, 1022881.6776730635, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,638 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,642 INFO sqlalchemy.engine.base.Engine ('2020-06-01 00:00:00.000000', 1017708.0, 1050449.0693111462, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,647 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,653 INFO sqlalchemy.engine.base.Engine ('2020-06-02 00:00:00.000000', 1096695.0, 1020125.4283203915, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,660 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,668 INFO sqlalchemy.engine.base.Engine ('2020-06-03 00:00:00.000000', 1036500.0, 1101533.8955389268, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,674 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,680 INFO sqlalchemy.engine.base.Engine ('2020-06-04 00:00:00.000000', 1054000.0, 1043121.1108439566, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,688 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,693 INFO sqlalchemy.engine.base.Engine ('2020-06-05 00:00:00.000000', 1068556.0, 1059228.5792904678, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,701 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,705 INFO sqlalchemy.engine.base.Engine ('2020-06-06 00:00:00.000000', 1055001.0, 1077072.8571867896, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,712 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,717 INFO sqlalchemy.engine.base.Engine ('2020-06-07 00:00:00.000000', 1060890.0, 1060426.0476673404, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,725 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,729 INFO sqlalchemy.engine.base.Engine ('2020-06-08 00:00:00.000000', 1068671.0, 1061612.7150778626, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,736 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,740 INFO sqlalchemy.engine.base.Engine ('2020-06-09 00:00:00.000000', 1061999.0, 1071010.0221467745, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,746 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,757 INFO sqlalchemy.engine.base.Engine ('2020-06-10 00:00:00.000000', 1055300.0, 1063107.0394804475, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,765 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,770 INFO sqlalchemy.engine.base.Engine ('2020-06-11 00:00:00.000000', 1058435.0, 1056534.6285151213, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,775 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,779 INFO sqlalchemy.engine.base.Engine ('2020-06-12 00:00:00.000000', 991979.0, 1058201.4195644706, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,787 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,793 INFO sqlalchemy.engine.base.Engine ('2020-06-13 00:00:00.000000', 1019130.0, 1013972.2129011751, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,800 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,806 INFO sqlalchemy.engine.base.Engine ('2020-06-14 00:00:00.000000', 1018635.0, 1015807.4314939223, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,812 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,817 INFO sqlalchemy.engine.base.Engine ('2020-06-15 00:00:00.000000', 1002600.0, 1020509.8785013823, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,823 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,827 INFO sqlalchemy.engine.base.Engine ('2020-06-16 00:00:00.000000', 1014726.0, 1008386.3943625774, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,837 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,842 INFO sqlalchemy.engine.base.Engine ('2020-06-17 00:00:00.000000', 1023100.0, 1014630.4907062507, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,848 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,853 INFO sqlalchemy.engine.base.Engine ('2020-06-18 00:00:00.000000', 1012444.0, 1024643.887263718, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,859 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,865 INFO sqlalchemy.engine.base.Engine ('2020-06-19 00:00:00.000000', 1004324.0, 1013638.0875171864, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,874 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,879 INFO sqlalchemy.engine.base.Engine ('2020-06-20 00:00:00.000000', 996198.0, 1005759.5043185592, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,885 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,889 INFO sqlalchemy.engine.base.Engine ('2020-06-21 00:00:00.000000', 1001500.0, 999202.697647282, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,895 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,900 INFO sqlalchemy.engine.base.Engine ('2020-06-22 00:00:00.000000', 993100.0, 1001756.4148198318, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,906 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,912 INFO sqlalchemy.engine.base.Engine ('2020-06-23 00:00:00.000000', 1035188.0, 995582.6772969238, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,919 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,923 INFO sqlalchemy.engine.base.Engine ('2020-06-24 00:00:00.000000', 1024910.0, 1037306.638100937, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,928 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,934 INFO sqlalchemy.engine.base.Engine ('2020-06-25 00:00:00.000000', 996110.0, 1031434.8025666715, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,940 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,945 INFO sqlalchemy.engine.base.Engine ('2020-06-26 00:00:00.000000', 991379.0, 1000715.2730271906, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,953 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,957 INFO sqlalchemy.engine.base.Engine ('2020-06-27 00:00:00.000000', 983990.0, 993184.2961157326, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,962 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-02-22 19:21:03,966 INFO sqlalchemy.engine.base.Engine ('2020-06-28 00:00:00.000000', 969100.0, 987615.8641710741, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,970 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,975 INFO sqlalchemy.engine.base.Engine ('2020-06-29 00:00:00.000000', 979187.0, 975117.3283144784, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,982 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,987 INFO sqlalchemy.engine.base.Engine ('2020-06-30 00:00:00.000000', 990000.0, 978103.3961020133, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:03,992 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:03,995 INFO sqlalchemy.engine.base.Engine ('2020-07-01 00:00:00.000000', 987501.0, 991424.8679882259, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,004 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,013 INFO sqlalchemy.engine.base.Engine ('2020-07-02 00:00:00.000000', 992614.0, 989767.6627924398, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,021 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,027 INFO sqlalchemy.engine.base.Engine ('2020-07-03 00:00:00.000000', 979088.0, 994077.1731840576, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,033 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,037 INFO sqlalchemy.engine.base.Engine ('2020-07-04 00:00:00.000000', 976000.0, 981461.9627783933, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,044 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,052 INFO sqlalchemy.engine.base.Engine ('2020-07-05 00:00:00.000000', 983699.0, 977531.7121974025, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,057 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,063 INFO sqlalchemy.engine.base.Engine ('2020-07-06 00:00:00.000000', 977116.0, 982940.5847841705, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,069 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,076 INFO sqlalchemy.engine.base.Engine ('2020-07-07 00:00:00.000000', 1003420.0, 979103.0880932848, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,083 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,087 INFO sqlalchemy.engine.base.Engine ('2020-07-08 00:00:00.000000', 996682.0, 1005481.2405112013, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,095 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,103 INFO sqlalchemy.engine.base.Engine ('2020-07-09 00:00:00.000000', 1012852.0, 1000608.2184482293, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,110 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,119 INFO sqlalchemy.engine.base.Engine ('2020-07-10 00:00:00.000000', 991400.0, 1017126.5956671326, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,124 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,128 INFO sqlalchemy.engine.base.Engine ('2020-07-11 00:00:00.000000', 994063.0, 993221.1345678535, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,136 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,149 INFO sqlalchemy.engine.base.Engine ('2020-07-12 00:00:00.000000', 988877.0, 994422.2754292882, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,156 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,165 INFO sqlalchemy.engine.base.Engine ('2020-07-13 00:00:00.000000', 994403.0, 990569.2564137782, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,174 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,179 INFO sqlalchemy.engine.base.Engine ('2020-07-14 00:00:00.000000', 991999.0, 995835.9098650874, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,188 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,193 INFO sqlalchemy.engine.base.Engine ('2020-07-15 00:00:00.000000', 992629.0, 992393.954904753, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,201 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,208 INFO sqlalchemy.engine.base.Engine ('2020-07-16 00:00:00.000000', 984953.0, 992898.3529216383, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,217 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,221 INFO sqlalchemy.engine.base.Engine ('2020-07-17 00:00:00.000000', 981001.0, 987056.5726686681, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,229 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,234 INFO sqlalchemy.engine.base.Engine ('2020-07-18 00:00:00.000000', 981400.0, 982703.6135004736, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,239 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,245 INFO sqlalchemy.engine.base.Engine ('2020-07-19 00:00:00.000000', 983008.0, 981725.1989214431, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,253 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,258 INFO sqlalchemy.engine.base.Engine ('2020-07-20 00:00:00.000000', 987318.0, 983719.2653245665, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,267 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,272 INFO sqlalchemy.engine.base.Engine ('2020-07-21 00:00:00.000000', 983258.0, 988170.0996419732, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,277 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,283 INFO sqlalchemy.engine.base.Engine ('2020-07-22 00:00:00.000000', 1003851.0, 983619.7137876218, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,288 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,292 INFO sqlalchemy.engine.base.Engine ('2020-07-23 00:00:00.000000', 1021745.0, 1005715.8024382159, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,300 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,308 INFO sqlalchemy.engine.base.Engine ('2020-07-24 00:00:00.000000', 1026771.0, 1028857.529437752, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,313 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,318 INFO sqlalchemy.engine.base.Engine ('2020-07-25 00:00:00.000000', 1014790.0, 1032534.5537354475, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,330 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,337 INFO sqlalchemy.engine.base.Engine ('2020-07-26 00:00:00.000000', 1030800.0, 1015425.615034554, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,342 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,347 INFO sqlalchemy.engine.base.Engine ('2020-07-27 00:00:00.000000', 1052800.0, 1031506.0131713646, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,359 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,364 INFO sqlalchemy.engine.base.Engine ('2020-07-28 00:00:00.000000', 1161792.0, 1058329.5201787623, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,373 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,377 INFO sqlalchemy.engine.base.Engine ('2020-07-29 00:00:00.000000', 1148483.0, 1182133.13749024, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,384 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,387 INFO sqlalchemy.engine.base.Engine ('2020-07-30 00:00:00.000000', 1167267.0, 1169151.568336121, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,392 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,398 INFO sqlalchemy.engine.base.Engine ('2020-07-31 00:00:00.000000', 1162795.0, 1178845.3586267056, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,407 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,411 INFO sqlalchemy.engine.base.Engine ('2020-08-01 00:00:00.000000', 1201369.0, 1167148.183594419, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,417 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,422 INFO sqlalchemy.engine.base.Engine ('2020-08-02 00:00:00.000000', 1253271.0, 1207008.1185728654, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,429 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,439 INFO sqlalchemy.engine.base.Engine ('2020-08-03 00:00:00.000000', 1174208.0, 1269668.0882098556, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,448 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,455 INFO sqlalchemy.engine.base.Engine ('2020-08-04 00:00:00.000000', 1192124.0, 1182277.1532873285, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,461 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,466 INFO sqlalchemy.engine.base.Engine ('2020-08-05 00:00:00.000000', 1184018.0, 1192550.2990744263, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,471 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,475 INFO sqlalchemy.engine.base.Engine ('2020-08-06 00:00:00.000000', 1241698.0, 1188078.8116612413, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,482 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,491 INFO sqlalchemy.engine.base.Engine ('2020-08-07 00:00:00.000000', 1244183.0, 1248596.290146435, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,496 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,502 INFO sqlalchemy.engine.base.Engine ('2020-08-08 00:00:00.000000', 1232000.0, 1256496.1486110059, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,507 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,516 INFO sqlalchemy.engine.base.Engine ('2020-08-09 00:00:00.000000', 1247789.0, 1235595.2943766736, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,522 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,527 INFO sqlalchemy.engine.base.Engine ('2020-08-10 00:00:00.000000', 1238888.0, 1249846.413182091, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,533 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,538 INFO sqlalchemy.engine.base.Engine ('2020-08-11 00:00:00.000000', 1261304.0, 1239909.3434796021, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,543 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,549 INFO sqlalchemy.engine.base.Engine ('2020-08-12 00:00:00.000000', 1216250.0, 1263655.069181467, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,560 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,566 INFO sqlalchemy.engine.base.Engine ('2020-08-13 00:00:00.000000', 1237245.0, 1226035.8929923442, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,572 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,576 INFO sqlalchemy.engine.base.Engine ('2020-08-14 00:00:00.000000', 1260621.0, 1235351.871820676, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,582 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,586 INFO sqlalchemy.engine.base.Engine ('2020-08-15 00:00:00.000000', 1256372.0, 1264085.3929274196, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,593 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,602 INFO sqlalchemy.engine.base.Engine ('2020-08-16 00:00:00.000000', 1264963.0, 1261697.7452823406, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,609 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,619 INFO sqlalchemy.engine.base.Engine ('2020-08-17 00:00:00.000000', 1269993.0, 1267864.4964975182, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,625 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,634 INFO sqlalchemy.engine.base.Engine ('2020-08-18 00:00:00.000000', 1305300.0, 1272775.1390428618, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,642 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,650 INFO sqlalchemy.engine.base.Engine ('2020-08-19 00:00:00.000000', 1261745.0, 1311820.142408208, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,657 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,662 INFO sqlalchemy.engine.base.Engine ('2020-08-20 00:00:00.000000', 1249355.0, 1266321.9088461131, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,670 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,674 INFO sqlalchemy.engine.base.Engine ('2020-08-21 00:00:00.000000', 1254646.0, 1253439.2196770702, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,680 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,688 INFO sqlalchemy.engine.base.Engine ('2020-08-22 00:00:00.000000', 1222031.0, 1255503.4828501637, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,696 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-02-22 19:21:04,703 INFO sqlalchemy.engine.base.Engine ('2020-08-23 00:00:00.000000', 1237485.0, 1232982.6150094364, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,709 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,716 INFO sqlalchemy.engine.base.Engine ('2020-08-24 00:00:00.000000', 1235514.0, 1235852.9826177023, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,726 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,735 INFO sqlalchemy.engine.base.Engine ('2020-08-25 00:00:00.000000', 1246899.0, 1236470.0208838838, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,743 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,751 INFO sqlalchemy.engine.base.Engine ('2020-08-26 00:00:00.000000', 1208500.0, 1249948.1975377447, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,761 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,768 INFO sqlalchemy.engine.base.Engine ('2020-08-27 00:00:00.000000', 1216528.0, 1217679.6934285762, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,775 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,780 INFO sqlalchemy.engine.base.Engine ('2020-08-28 00:00:00.000000', 1209914.0, 1216057.7693423189, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,789 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,794 INFO sqlalchemy.engine.base.Engine ('2020-08-29 00:00:00.000000', 1215522.0, 1211963.5869093603, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,802 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,810 INFO sqlalchemy.engine.base.Engine ('2020-08-30 00:00:00.000000', 1213222.0, 1218434.6125808451, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,825 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,832 INFO sqlalchemy.engine.base.Engine ('2020-08-31 00:00:00.000000', 1237375.0, 1213989.4103107033, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,840 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,847 INFO sqlalchemy.engine.base.Engine ('2020-09-01 00:00:00.000000', 1238000.0, 1239898.137685633, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,856 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,860 INFO sqlalchemy.engine.base.Engine ('2020-09-02 00:00:00.000000', 1264036.0, 1243124.7433180488, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,868 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,874 INFO sqlalchemy.engine.base.Engine ('2020-09-03 00:00:00.000000', 1213836.0, 1270547.0700175068, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,882 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,888 INFO sqlalchemy.engine.base.Engine ('2020-09-04 00:00:00.000000', 1081385.0, 1221401.5816830494, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,894 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,901 INFO sqlalchemy.engine.base.Engine ('2020-09-05 00:00:00.000000', 1116228.0, 1127264.7540983984, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,911 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,918 INFO sqlalchemy.engine.base.Engine ('2020-09-06 00:00:00.000000', 1081637.0, 1114267.6429252105, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,925 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,932 INFO sqlalchemy.engine.base.Engine ('2020-09-07 00:00:00.000000', 1093172.0, 1095636.379626306, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,942 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,948 INFO sqlalchemy.engine.base.Engine ('2020-09-08 00:00:00.000000', 1104509.0, 1102424.2207239524, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,960 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,967 INFO sqlalchemy.engine.base.Engine ('2020-09-09 00:00:00.000000', 1074006.0, 1108906.0092857995, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,976 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,984 INFO sqlalchemy.engine.base.Engine ('2020-09-10 00:00:00.000000', 1087081.0, 1081227.6280670934, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:04,992 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:04,999 INFO sqlalchemy.engine.base.Engine ('2020-09-11 00:00:00.000000', 1099282.0, 1085950.364550331, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,009 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,014 INFO sqlalchemy.engine.base.Engine ('2020-09-12 00:00:00.000000', 1103947.0, 1100472.7250538687, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,024 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,032 INFO sqlalchemy.engine.base.Engine ('2020-09-13 00:00:00.000000', 1110235.0, 1108282.1417083829, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,040 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,045 INFO sqlalchemy.engine.base.Engine ('2020-09-14 00:00:00.000000', 1098495.0, 1113099.4918850586, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,054 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,058 INFO sqlalchemy.engine.base.Engine ('2020-09-15 00:00:00.000000', 1129458.0, 1099080.7075882198, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,066 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,075 INFO sqlalchemy.engine.base.Engine ('2020-09-16 00:00:00.000000', 1138456.0, 1130618.9882657807, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,082 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,089 INFO sqlalchemy.engine.base.Engine ('2020-09-17 00:00:00.000000', 1152172.0, 1146086.5232927206, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,096 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,104 INFO sqlalchemy.engine.base.Engine ('2020-09-18 00:00:00.000000', 1146789.0, 1158864.0298974456, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,112 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,121 INFO sqlalchemy.engine.base.Engine ('2020-09-19 00:00:00.000000', 1144683.0, 1148864.2123816966, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,129 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,138 INFO sqlalchemy.engine.base.Engine ('2020-09-20 00:00:00.000000', 1159267.0, 1145201.5390331622, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,148 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,155 INFO sqlalchemy.engine.base.Engine ('2020-09-21 00:00:00.000000', 1142239.0, 1160752.4389375665, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,161 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,168 INFO sqlalchemy.engine.base.Engine ('2020-09-22 00:00:00.000000', 1091082.0, 1144982.1207582122, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,177 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,185 INFO sqlalchemy.engine.base.Engine ('2020-09-23 00:00:00.000000', 1106570.0, 1108381.3286477267, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,192 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,198 INFO sqlalchemy.engine.base.Engine ('2020-09-24 00:00:00.000000', 1078788.0, 1105136.2367938845, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,206 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,211 INFO sqlalchemy.engine.base.Engine ('2020-09-25 00:00:00.000000', 1132018.0, 1087409.6852721542, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,223 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,229 INFO sqlalchemy.engine.base.Engine ('2020-09-26 00:00:00.000000', 1129490.0, 1132347.4571202411, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,237 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,244 INFO sqlalchemy.engine.base.Engine ('2020-09-27 00:00:00.000000', 1134774.0, 1138880.2310394647, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,253 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,260 INFO sqlalchemy.engine.base.Engine ('2020-09-28 00:00:00.000000', 1138923.0, 1140261.2406657543, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,267 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,274 INFO sqlalchemy.engine.base.Engine ('2020-09-29 00:00:00.000000', 1128478.0, 1141499.965232377, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,284 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,291 INFO sqlalchemy.engine.base.Engine ('2020-09-30 00:00:00.000000', 1146293.0, 1130247.042854708, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,299 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,307 INFO sqlalchemy.engine.base.Engine ('2020-10-01 00:00:00.000000', 1137292.0, 1146250.8627713362, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,314 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,322 INFO sqlalchemy.engine.base.Engine ('2020-10-02 00:00:00.000000', 1121999.0, 1138718.5788923572, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,327 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,333 INFO sqlalchemy.engine.base.Engine ('2020-10-03 00:00:00.000000', 1114512.0, 1126151.4688612157, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,344 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,351 INFO sqlalchemy.engine.base.Engine ('2020-10-04 00:00:00.000000', 1112500.0, 1117269.0293245192, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,359 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,363 INFO sqlalchemy.engine.base.Engine ('2020-10-05 00:00:00.000000', 1127500.0, 1114388.794330961, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,372 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,378 INFO sqlalchemy.engine.base.Engine ('2020-10-06 00:00:00.000000', 1141000.0, 1127981.9461433324, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,386 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,392 INFO sqlalchemy.engine.base.Engine ('2020-10-07 00:00:00.000000', 1121836.0, 1146018.7703432033, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,403 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,410 INFO sqlalchemy.engine.base.Engine ('2020-10-08 00:00:00.000000', 1131100.0, 1123375.6268897403, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,418 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,426 INFO sqlalchemy.engine.base.Engine ('2020-10-09 00:00:00.000000', 1157278.0, 1131405.1816889194, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,437 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,442 INFO sqlalchemy.engine.base.Engine ('2020-10-10 00:00:00.000000', 1168815.0, 1160843.2828376328, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,451 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,459 INFO sqlalchemy.engine.base.Engine ('2020-10-11 00:00:00.000000', 1192637.0, 1177007.9268171932, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,468 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,477 INFO sqlalchemy.engine.base.Engine ('2020-10-12 00:00:00.000000', 1200341.0, 1201050.9221580292, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,487 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,493 INFO sqlalchemy.engine.base.Engine ('2020-10-13 00:00:00.000000', 1215517.0, 1207029.2858744257, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,507 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,513 INFO sqlalchemy.engine.base.Engine ('2020-10-14 00:00:00.000000', 1204407.0, 1221488.2552754723, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,521 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,525 INFO sqlalchemy.engine.base.Engine ('2020-10-15 00:00:00.000000', 1200316.0, 1205727.215036589, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,533 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,538 INFO sqlalchemy.engine.base.Engine ('2020-10-16 00:00:00.000000', 1212122.0, 1201036.969045428, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,543 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,551 INFO sqlalchemy.engine.base.Engine ('2020-10-17 00:00:00.000000', 1194529.0, 1212696.116739585, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,560 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-02-22 19:21:05,565 INFO sqlalchemy.engine.base.Engine ('2020-10-18 00:00:00.000000', 1197535.0, 1198626.526763807, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,573 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,578 INFO sqlalchemy.engine.base.Engine ('2020-10-19 00:00:00.000000', 1213571.0, 1197626.7134840665, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,587 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,590 INFO sqlalchemy.engine.base.Engine ('2020-10-20 00:00:00.000000', 1237405.0, 1214436.0722789657, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,597 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,603 INFO sqlalchemy.engine.base.Engine ('2020-10-21 00:00:00.000000', 1256584.0, 1244279.4014660511, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,608 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,616 INFO sqlalchemy.engine.base.Engine ('2020-10-22 00:00:00.000000', 1340000.0, 1265914.5759614424, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,621 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,625 INFO sqlalchemy.engine.base.Engine ('2020-10-23 00:00:00.000000', 1357938.0, 1358664.8779797915, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,630 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,635 INFO sqlalchemy.engine.base.Engine ('2020-10-24 00:00:00.000000', 1354278.0, 1379423.0164298897, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,641 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,647 INFO sqlalchemy.engine.base.Engine ('2020-10-25 00:00:00.000000', 1371544.0, 1363093.6071297363, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,656 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,660 INFO sqlalchemy.engine.base.Engine ('2020-10-26 00:00:00.000000', 1364513.0, 1376211.0509296327, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,664 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,669 INFO sqlalchemy.engine.base.Engine ('2020-10-27 00:00:00.000000', 1369830.0, 1366495.2577829037, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,676 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,684 INFO sqlalchemy.engine.base.Engine ('2020-10-28 00:00:00.000000', 1425690.0, 1371750.2130606882, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,690 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,695 INFO sqlalchemy.engine.base.Engine ('2020-10-29 00:00:00.000000', 1387544.0, 1433435.6188821248, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,703 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,711 INFO sqlalchemy.engine.base.Engine ('2020-10-30 00:00:00.000000', 1406387.0, 1392810.1190286246, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,718 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,728 INFO sqlalchemy.engine.base.Engine ('2020-10-31 00:00:00.000000', 1419400.0, 1411433.2403944102, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,735 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,739 INFO sqlalchemy.engine.base.Engine ('2020-11-01 00:00:00.000000', 1444181.0, 1426625.61858154, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,746 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,751 INFO sqlalchemy.engine.base.Engine ('2020-11-02 00:00:00.000000', 1441000.0, 1452072.7007542546, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,755 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,760 INFO sqlalchemy.engine.base.Engine ('2020-11-03 00:00:00.000000', 1420893.0, 1445707.2380188208, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,764 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,769 INFO sqlalchemy.engine.base.Engine ('2020-11-04 00:00:00.000000', 1464000.0, 1422486.112820652, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,775 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,780 INFO sqlalchemy.engine.base.Engine ('2020-11-05 00:00:00.000000', 1477239.0, 1464092.9080628448, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,788 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,792 INFO sqlalchemy.engine.base.Engine ('2020-11-06 00:00:00.000000', 1618413.0, 1487138.7498448282, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,797 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,806 INFO sqlalchemy.engine.base.Engine ('2020-11-07 00:00:00.000000', 1611191.0, 1643854.9794938455, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,815 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,821 INFO sqlalchemy.engine.base.Engine ('2020-11-08 00:00:00.000000', 1533355.0, 1639273.1318695303, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,826 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,830 INFO sqlalchemy.engine.base.Engine ('2020-11-09 00:00:00.000000', 1598834.0, 1539887.40962081, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,836 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,842 INFO sqlalchemy.engine.base.Engine ('2020-11-10 00:00:00.000000', 1611570.0, 1599012.1088909532, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,849 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,853 INFO sqlalchemy.engine.base.Engine ('2020-11-11 00:00:00.000000', 1610899.0, 1617696.5173041092, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,857 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,862 INFO sqlalchemy.engine.base.Engine ('2020-11-12 00:00:00.000000', 1654168.0, 1617770.6627849678, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,871 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,875 INFO sqlalchemy.engine.base.Engine ('2020-11-13 00:00:00.000000', 1712114.0, 1663113.5964830832, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,879 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,884 INFO sqlalchemy.engine.base.Engine ('2020-11-14 00:00:00.000000', 1709518.0, 1730616.6124143498, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,890 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,894 INFO sqlalchemy.engine.base.Engine ('2020-11-15 00:00:00.000000', 1685924.0, 1722771.742020646, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,900 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,904 INFO sqlalchemy.engine.base.Engine ('2020-11-16 00:00:00.000000', 1672849.0, 1687791.622105551, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,909 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,913 INFO sqlalchemy.engine.base.Engine ('2020-11-17 00:00:00.000000', 1747522.0, 1674608.3319421122, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,919 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,923 INFO sqlalchemy.engine.base.Engine ('2020-11-18 00:00:00.000000', 1841189.0, 1744801.0971059822, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,926 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,930 INFO sqlalchemy.engine.base.Engine ('2020-11-19 00:00:00.000000', 1848331.0, 1869479.022129199, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,937 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,941 INFO sqlalchemy.engine.base.Engine ('2020-11-20 00:00:00.000000', 1849940.0, 1872590.2804615884, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,946 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,950 INFO sqlalchemy.engine.base.Engine ('2020-11-21 00:00:00.000000', 1939124.0, 1858906.8134044365, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,955 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,959 INFO sqlalchemy.engine.base.Engine ('2020-11-22 00:00:00.000000', 1945098.0, 1955688.3507192733, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,965 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,969 INFO sqlalchemy.engine.base.Engine ('2020-11-23 00:00:00.000000', 1911568.0, 1965211.591756475, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,975 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,979 INFO sqlalchemy.engine.base.Engine ('2020-11-24 00:00:00.000000', 1914000.0, 1915754.654920022, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,984 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,988 INFO sqlalchemy.engine.base.Engine ('2020-11-25 00:00:00.000000', 1960390.0, 1914072.2277160063, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,991 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:05,994 INFO sqlalchemy.engine.base.Engine ('2020-11-26 00:00:00.000000', 1952078.0, 1959179.5277170707, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:05,998 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,005 INFO sqlalchemy.engine.base.Engine ('2020-11-27 00:00:00.000000', 1788077.0, 1960309.5297753152, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,010 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,013 INFO sqlalchemy.engine.base.Engine ('2020-11-28 00:00:00.000000', 1784100.0, 1837845.193652375, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,016 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,023 INFO sqlalchemy.engine.base.Engine ('2020-11-29 00:00:00.000000', 1846869.0, 1792462.091928056, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,027 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,033 INFO sqlalchemy.engine.base.Engine ('2020-11-30 00:00:00.000000', 1893175.0, 1843585.253453425, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,038 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,042 INFO sqlalchemy.engine.base.Engine ('2020-12-01 00:00:00.000000', 2045665.0, 1916837.0516965277, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,048 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,053 INFO sqlalchemy.engine.base.Engine ('2020-12-02 00:00:00.000000', 1960119.0, 2083826.728180576, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,060 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,067 INFO sqlalchemy.engine.base.Engine ('2020-12-03 00:00:00.000000', 2005987.0, 1975897.473516087, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,072 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,076 INFO sqlalchemy.engine.base.Engine ('2020-12-04 00:00:00.000000', 2018000.0, 2019542.0333670147, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,082 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,088 INFO sqlalchemy.engine.base.Engine ('2020-12-05 00:00:00.000000', 1947001.0, 2032873.4901175997, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,097 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,102 INFO sqlalchemy.engine.base.Engine ('2020-12-06 00:00:00.000000', 1995555.0, 1963825.1397867426, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,107 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,114 INFO sqlalchemy.engine.base.Engine ('2020-12-07 00:00:00.000000', 2016630.0, 1991613.489910387, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,121 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,125 INFO sqlalchemy.engine.base.Engine ('2020-12-08 00:00:00.000000', 1997150.0, 2021376.5409262488, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,132 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,141 INFO sqlalchemy.engine.base.Engine ('2020-12-09 00:00:00.000000', 1911000.0, 2001588.333957587, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,148 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,156 INFO sqlalchemy.engine.base.Engine ('2020-12-10 00:00:00.000000', 1936500.0, 1933598.165623868, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,162 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,168 INFO sqlalchemy.engine.base.Engine ('2020-12-11 00:00:00.000000', 1899694.0, 1934023.9767043283, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,174 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,183 INFO sqlalchemy.engine.base.Engine ('2020-12-12 00:00:00.000000', 1875759.0, 1911074.8119312047, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,189 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-02-22 19:21:06,195 INFO sqlalchemy.engine.base.Engine ('2020-12-13 00:00:00.000000', 1957880.0, 1886875.8507260678, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,203 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,210 INFO sqlalchemy.engine.base.Engine ('2020-12-14 00:00:00.000000', 1988187.0, 1953257.7656325772, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,216 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,222 INFO sqlalchemy.engine.base.Engine ('2020-12-15 00:00:00.000000', 2000099.0, 2008440.7503635222, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,229 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,236 INFO sqlalchemy.engine.base.Engine ('2020-12-16 00:00:00.000000', 2011544.0, 2014081.4163231188, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,242 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,248 INFO sqlalchemy.engine.base.Engine ('2020-12-17 00:00:00.000000', 2204169.0, 2018151.1748004858, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,254 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,259 INFO sqlalchemy.engine.base.Engine ('2020-12-18 00:00:00.000000', 2345936.0, 2232462.1972497157, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,264 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,270 INFO sqlalchemy.engine.base.Engine ('2020-12-19 00:00:00.000000', 2384389.0, 2411988.507303371, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,278 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,290 INFO sqlalchemy.engine.base.Engine ('2020-12-20 00:00:00.000000', 2463470.0, 2430968.5997524867, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,296 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,301 INFO sqlalchemy.engine.base.Engine ('2020-12-21 00:00:00.000000', 2431406.0, 2495272.2102835723, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,310 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,315 INFO sqlalchemy.engine.base.Engine ('2020-12-22 00:00:00.000000', 2352054.0, 2442208.830206312, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,325 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,331 INFO sqlalchemy.engine.base.Engine ('2020-12-23 00:00:00.000000', 2463605.0, 2364635.3821379873, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,339 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,344 INFO sqlalchemy.engine.base.Engine ('2020-12-24 00:00:00.000000', 2402890.0, 2456769.2091795816, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,349 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,354 INFO sqlalchemy.engine.base.Engine ('2020-12-25 00:00:00.000000', 2455575.0, 2411983.5799957146, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,361 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,367 INFO sqlalchemy.engine.base.Engine ('2020-12-26 00:00:00.000000', 2549805.0, 2464885.4247660846, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,373 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,378 INFO sqlalchemy.engine.base.Engine ('2020-12-27 00:00:00.000000', 2744909.0, 2575337.8589359745, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,385 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,392 INFO sqlalchemy.engine.base.Engine ('2020-12-28 00:00:00.000000', 2720240.0, 2797719.7570108096, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,400 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,405 INFO sqlalchemy.engine.base.Engine ('2020-12-29 00:00:00.000000', 2805138.0, 2758279.0347526236, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,413 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,417 INFO sqlalchemy.engine.base.Engine ('2020-12-30 00:00:00.000000', 2827970.0, 2833713.954774776, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,424 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,432 INFO sqlalchemy.engine.base.Engine ('2020-12-31 00:00:00.000000', 2957123.0, 2849716.8616474397, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,437 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,441 INFO sqlalchemy.engine.base.Engine ('2021-01-01 00:00:00.000000', 2968795.0, 2989075.1495608073, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,449 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,455 INFO sqlalchemy.engine.base.Engine ('2021-01-02 00:00:00.000000', 3010042.0, 2997857.4191244864, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,461 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,467 INFO sqlalchemy.engine.base.Engine ('2021-01-03 00:00:00.000000', 3318029.0, 3030437.4953728593, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,474 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,479 INFO sqlalchemy.engine.base.Engine ('2021-01-04 00:00:00.000000', 3410000.0, 3373399.602730296, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,486 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,493 INFO sqlalchemy.engine.base.Engine ('2021-01-05 00:00:00.000000', 3292693.0, 3494322.0440555457, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,498 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,504 INFO sqlalchemy.engine.base.Engine ('2021-01-06 00:00:00.000000', 3470021.0, 3312332.6330613303, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,512 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,520 INFO sqlalchemy.engine.base.Engine ('2021-01-07 00:00:00.000000', 3794337.0, 3489616.024358427, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,525 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,529 INFO sqlalchemy.engine.base.Engine ('2021-01-08 00:00:00.000000', 4101108.0, 3869574.639299382, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,535 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,541 INFO sqlalchemy.engine.base.Engine ('2021-01-09 00:00:00.000000', 4225266.0, 4233559.15071723, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,548 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,553 INFO sqlalchemy.engine.base.Engine ('2021-01-10 00:00:00.000000', 4186509.0, 4326845.112603396, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,558 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,563 INFO sqlalchemy.engine.base.Engine ('2021-01-11 00:00:00.000000', 3979170.0, 4221870.564010641, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,576 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,580 INFO sqlalchemy.engine.base.Engine ('2021-01-12 00:00:00.000000', 3691706.0, 3993739.4099466368, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,588 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,593 INFO sqlalchemy.engine.base.Engine ('2021-01-13 00:00:00.000000', 3528567.0, 3794787.4830491906, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,598 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,604 INFO sqlalchemy.engine.base.Engine ('2021-01-14 00:00:00.000000', 3882383.0, 3600842.84044581, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,609 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,617 INFO sqlalchemy.engine.base.Engine ('2021-01-15 00:00:00.000000', 4063030.0, 3859686.464484245, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,628 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,633 INFO sqlalchemy.engine.base.Engine ('2021-01-16 00:00:00.000000', 3820075.0, 4145517.7327967635, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,639 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,644 INFO sqlalchemy.engine.base.Engine ('2021-01-17 00:00:00.000000', 3742517.0, 3843627.63258679, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,649 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,656 INFO sqlalchemy.engine.base.Engine ('2021-01-18 00:00:00.000000', 3717046.0, 3748739.3711730856, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,665 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,669 INFO sqlalchemy.engine.base.Engine ('2021-01-19 00:00:00.000000', 3800000.0, 3732256.2939420794, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,675 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,679 INFO sqlalchemy.engine.base.Engine ('2021-01-20 00:00:00.000000', 3736678.0, 3817811.965245905, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,685 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,690 INFO sqlalchemy.engine.base.Engine ('2021-01-21 00:00:00.000000', 3683531.0, 3748881.756717742, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,699 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,704 INFO sqlalchemy.engine.base.Engine ('2021-01-22 00:00:00.000000', 3184848.0, 3698638.047933571, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,708 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,713 INFO sqlalchemy.engine.base.Engine ('2021-01-23 00:00:00.000000', 3423811.0, 3353093.471360668, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,719 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,723 INFO sqlalchemy.engine.base.Engine ('2021-01-24 00:00:00.000000', 3332124.0, 3394195.701349858, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,732 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,739 INFO sqlalchemy.engine.base.Engine ('2021-01-25 00:00:00.000000', 3350424.0, 3361428.688435156, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,746 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,754 INFO sqlalchemy.engine.base.Engine ('2021-01-26 00:00:00.000000', 3353886.0, 3382158.997874528, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,759 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,765 INFO sqlalchemy.engine.base.Engine ('2021-01-27 00:00:00.000000', 3363982.0, 3366077.4667858416, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,776 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,780 INFO sqlalchemy.engine.base.Engine ('2021-01-28 00:00:00.000000', 3167193.0, 3372767.59821733, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,787 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,794 INFO sqlalchemy.engine.base.Engine ('2021-01-29 00:00:00.000000', 3480542.0, 3229503.420464016, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,800 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,807 INFO sqlalchemy.engine.base.Engine ('2021-01-30 00:00:00.000000', 3576069.0, 3455396.710225561, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,814 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,820 INFO sqlalchemy.engine.base.Engine ('2021-01-31 00:00:00.000000', 3579626.0, 3642104.736031349, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,825 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,833 INFO sqlalchemy.engine.base.Engine ('2021-02-01 00:00:00.000000', 3456656.0, 3621214.0748786186, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,841 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,846 INFO sqlalchemy.engine.base.Engine ('2021-02-02 00:00:00.000000', 3485976.0, 3458907.627547207, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,855 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,863 INFO sqlalchemy.engine.base.Engine ('2021-02-03 00:00:00.000000', 3712619.0, 3483122.379947136, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,872 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,878 INFO sqlalchemy.engine.base.Engine ('2021-02-04 00:00:00.000000', 3932798.0, 3718385.9148446172, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,885 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,890 INFO sqlalchemy.engine.base.Engine ('2021-02-05 00:00:00.000000', 3901624.0, 4017416.5614287546, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,895 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,902 INFO sqlalchemy.engine.base.Engine ('2021-02-06 00:00:00.000000', 4035812.0, 3950357.9811355756, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,910 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-02-22 19:21:06,917 INFO sqlalchemy.engine.base.Engine ('2021-02-07 00:00:00.000000', 4131757.0, 4073272.9961310425, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,923 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,929 INFO sqlalchemy.engine.base.Engine ('2021-02-08 00:00:00.000000', 4097000.0, 4177361.367391569, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,936 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,942 INFO sqlalchemy.engine.base.Engine ('2021-02-09 00:00:00.000000', 4875000.0, 4116769.5886623785, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,950 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,959 INFO sqlalchemy.engine.base.Engine ('2021-02-10 00:00:00.000000', 4874233.0, 4974096.493954754, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,965 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,969 INFO sqlalchemy.engine.base.Engine ('2021-02-11 00:00:00.000000', 4704412.0, 5037392.014518771, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,977 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,983 INFO sqlalchemy.engine.base.Engine ('2021-02-12 00:00:00.000000', 5014707.0, 4749471.302696669, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:06,992 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:06,998 INFO sqlalchemy.engine.base.Engine ('2021-02-13 00:00:00.000000', 4973709.0, 5053482.343205865, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:07,009 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:07,013 INFO sqlalchemy.engine.base.Engine ('2021-02-14 00:00:00.000000', 4957394.0, 5017460.601910314, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:07,021 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:07,026 INFO sqlalchemy.engine.base.Engine ('2021-02-15 00:00:00.000000', 5111984.0, 4978520.385874478, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:07,032 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:07,038 INFO sqlalchemy.engine.base.Engine ('2021-02-16 00:00:00.000000', 5055269.0, 5140095.784159578, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:07,045 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:07,052 INFO sqlalchemy.engine.base.Engine ('2021-02-17 00:00:00.000000', 5205481.0, 5076019.132882365, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:07,058 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:07,063 INFO sqlalchemy.engine.base.Engine ('2021-02-18 00:00:00.000000', 5526975.0, 5234057.334633816, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:07,071 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:07,076 INFO sqlalchemy.engine.base.Engine ('2021-02-19 00:00:00.000000', 5456000.0, 5605767.308983523, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:07,083 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:07,091 INFO sqlalchemy.engine.base.Engine ('2021-02-20 00:00:00.000000', 5910646.0, 5514918.429170044, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:07,096 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:07,101 INFO sqlalchemy.engine.base.Engine ('2021-02-21 00:00:00.000000', 5910115.0, 5998294.45643004, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:07,107 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 19:21:07,112 INFO sqlalchemy.engine.base.Engine ('2021-02-22 00:00:00.000000', 6080178.0, 6000728.893368417, '2021-02-22 19:19:46.857845')
2021-02-22 19:21:07,152 INFO sqlalchemy.engine.base.Engine COMMIT