In [5]:
from assets.database import db_session
from assets.database import init_db
from assets.models import Data

import datetime
import os

In [6]:
os.path.abspath(os.path.dirname('__file__'))

'C:\\Users\\tomot\\Desktop\\bitcoin_LSTM\\app'

In [7]:
init_db()

2021-02-22 00:00:10,232 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("data")
2021-02-22 00:00:10,239 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 00:00:10,246 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("data")
2021-02-22 00:00:10,248 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 00:00:10,261 INFO sqlalchemy.engine.base.Engine
CREATE TABLE data (
	id INTEGER NOT NULL,
	date DATETIME,
	real_price FLOAT,
	pred_price FLOAT,
	timestamp DATETIME,
	PRIMARY KEY (id)
)


2021-02-22 00:00:10,263 INFO sqlalchemy.engine.base.Engine ()
2021-02-22 00:00:10,296 INFO sqlalchemy.engine.base.Engine COMMIT

In [3]:
date = datetime.date.today()
date

datetime.date(2021, 2, 21)

In [4]:
row = Data(date=date, real_price=30000.0, pred_price=20000.0)

In [17]:
type(30000.0)

float

In [7]:
row.date

datetime.date(2021, 2, 21)

In [8]:
db_session.add(row)

In [9]:
db_session.commit()

2021-02-21 23:27:23,257 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-21 23:27:23,266 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-21 23:27:23,273 INFO sqlalchemy.engine.base.Engine ('2021-02-21 00:00:00.000000', 30000.0, 20000.0, '2021-02-21 23:24:17.725125')
2021-02-21 23:27:23,287 INFO sqlalchemy.engine.base.Engine COMMIT

In [12]:
db_session.query(Data).all()[0].date

2021-02-21 23:28:19,602 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-02-21 23:28:19,607 INFO sqlalchemy.engine.base.Engine ()

datetime.datetime(2021, 2, 21, 0, 0)