In [29]:
from assets.database import db_session, init_db, write_data
from assets.models import Data

from keras.models import Sequential
import numpy as np
import pandas as pd
import requests
import pickle
from datetime import datetime
from datetime import timedelta
import datetime

In [30]:
init_db()

2021-03-21 15:21:29,273 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("data")
2021-03-21 15:21:29,276 INFO sqlalchemy.engine.base.Engine ()

In [31]:
write_data()

WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\backend\tensorflow_backend.py:133: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\backend\tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\backend\tensorflow_backend.py:174: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\backend\tensorflow_backend.py:181: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\backend\tensorflow_backend.py:186: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\backend\tensorflow_backend.py:190: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\backend\tensorflow_backend.py:199: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\backend\tensorflow_backend.py:206: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\tensorflow_core\python\ops\math_grad.py:1424: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\backend\tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\backend\tensorflow_backend.py:973: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

2021-03-21 15:21:54,344 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,348 INFO sqlalchemy.engine.base.Engine ('2019-02-06 09:00:00.000000', 376384.0, 374487.7831480171, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,362 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,366 INFO sqlalchemy.engine.base.Engine ('2019-02-07 09:00:00.000000', 369767.0, 375886.0211233002, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,369 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,372 INFO sqlalchemy.engine.base.Engine ('2019-02-08 09:00:00.000000', 368506.0, 372006.53541261726, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,375 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,379 INFO sqlalchemy.engine.base.Engine ('2019-02-09 09:00:00.000000', 396319.0, 369267.8990260962, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,383 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,386 INFO sqlalchemy.engine.base.Engine ('2019-02-10 09:00:00.000000', 395754.0, 398055.1862077885, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,390 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,394 INFO sqlalchemy.engine.base.Engine ('2019-02-11 09:00:00.000000', 398468.0, 401900.8340939365, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,399 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,402 INFO sqlalchemy.engine.base.Engine ('2019-02-12 09:00:00.000000', 394797.0, 402140.21370634885, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,405 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,408 INFO sqlalchemy.engine.base.Engine ('2019-02-13 09:00:00.000000', 395085.0, 395465.4573968115, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,414 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,417 INFO sqlalchemy.engine.base.Engine ('2019-02-14 09:00:00.000000', 395099.0, 395128.9574072839, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,420 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,425 INFO sqlalchemy.engine.base.Engine ('2019-02-15 09:00:00.000000', 392999.0, 395027.64766195725, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,430 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,433 INFO sqlalchemy.engine.base.Engine ('2019-02-16 09:00:00.000000', 393923.0, 393789.2032414692, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,437 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,440 INFO sqlalchemy.engine.base.Engine ('2019-02-17 09:00:00.000000', 395229.0, 393619.84832367423, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,445 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,449 INFO sqlalchemy.engine.base.Engine ('2019-02-18 09:00:00.000000', 400000.0, 394852.8117749623, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,452 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,455 INFO sqlalchemy.engine.base.Engine ('2019-02-19 09:00:00.000000', 427531.0, 400892.0390358325, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,460 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,463 INFO sqlalchemy.engine.base.Engine ('2019-02-20 09:00:00.000000', 429902.0, 432637.14260214946, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,468 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,471 INFO sqlalchemy.engine.base.Engine ('2019-02-21 09:00:00.000000', 435816.0, 436048.1349383588, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,476 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-03-21 15:21:54,480 INFO sqlalchemy.engine.base.Engine ('2019-02-22 09:00:00.000000', 432185.0, 439862.3784933549, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,483 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,486 INFO sqlalchemy.engine.base.Engine ('2019-02-23 09:00:00.000000', 435789.0, 433178.9739439674, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,490 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,494 INFO sqlalchemy.engine.base.Engine ('2019-02-24 09:00:00.000000', 453900.0, 436850.5016638387, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,498 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,501 INFO sqlalchemy.engine.base.Engine ('2019-02-25 09:00:00.000000', 413712.0, 457276.9313178863, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,505 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,508 INFO sqlalchemy.engine.base.Engine ('2019-02-26 09:00:00.000000', 423575.0, 425736.1799610768, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,512 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,516 INFO sqlalchemy.engine.base.Engine ('2019-02-27 09:00:00.000000', 419629.0, 420927.5583877418, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,521 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,526 INFO sqlalchemy.engine.base.Engine ('2019-02-28 09:00:00.000000', 421267.0, 418138.55364578706, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,530 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,533 INFO sqlalchemy.engine.base.Engine ('2019-03-01 09:00:00.000000', 422865.0, 421267.62207752804, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,537 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,539 INFO sqlalchemy.engine.base.Engine ('2019-03-02 09:00:00.000000', 425943.0, 423962.4624872975, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,543 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,546 INFO sqlalchemy.engine.base.Engine ('2019-03-03 09:00:00.000000', 426039.0, 426573.4997813182, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,551 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,554 INFO sqlalchemy.engine.base.Engine ('2019-03-04 09:00:00.000000', 423661.0, 426684.2939030481, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,558 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,560 INFO sqlalchemy.engine.base.Engine ('2019-03-05 09:00:00.000000', 413871.0, 424019.3545167461, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,564 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,567 INFO sqlalchemy.engine.base.Engine ('2019-03-06 09:00:00.000000', 429450.0, 417795.1150356301, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,571 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,575 INFO sqlalchemy.engine.base.Engine ('2019-03-07 09:00:00.000000', 429848.0, 425896.27072997025, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,579 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,582 INFO sqlalchemy.engine.base.Engine ('2019-03-08 09:00:00.000000', 430100.0, 431650.7623081793, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,586 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,589 INFO sqlalchemy.engine.base.Engine ('2019-03-09 09:00:00.000000', 427484.0, 431748.84090109594, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,596 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,599 INFO sqlalchemy.engine.base.Engine ('2019-03-10 09:00:00.000000', 435287.0, 427695.2506892348, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,604 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,607 INFO sqlalchemy.engine.base.Engine ('2019-03-11 09:00:00.000000', 433206.0, 435621.2016578746, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,610 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,615 INFO sqlalchemy.engine.base.Engine ('2019-03-12 09:00:00.000000', 428795.0, 434763.03988780914, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,618 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,621 INFO sqlalchemy.engine.base.Engine ('2019-03-13 09:00:00.000000', 429580.0, 430156.1735730417, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,624 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,626 INFO sqlalchemy.engine.base.Engine ('2019-03-14 09:00:00.000000', 428300.0, 429508.8028756911, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,630 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,633 INFO sqlalchemy.engine.base.Engine ('2019-03-15 09:00:00.000000', 430167.0, 428600.26155241777, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,637 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,639 INFO sqlalchemy.engine.base.Engine ('2019-03-16 09:00:00.000000', 434178.0, 429795.4027935241, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,643 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,646 INFO sqlalchemy.engine.base.Engine ('2019-03-17 09:00:00.000000', 443635.0, 435037.7397038306, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,650 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,652 INFO sqlalchemy.engine.base.Engine ('2019-03-18 09:00:00.000000', 441454.0, 445865.40005603584, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,655 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,658 INFO sqlalchemy.engine.base.Engine ('2019-03-19 09:00:00.000000', 442176.0, 443164.7600779425, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,661 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,664 INFO sqlalchemy.engine.base.Engine ('2019-03-20 09:00:00.000000', 445064.0, 443231.8059042713, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,667 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,670 INFO sqlalchemy.engine.base.Engine ('2019-03-21 09:00:00.000000', 445814.0, 446048.7318612834, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,673 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,676 INFO sqlalchemy.engine.base.Engine ('2019-03-22 09:00:00.000000', 440825.0, 446518.0271513306, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,679 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-03-21 15:21:54,682 INFO sqlalchemy.engine.base.Engine ('2019-03-23 09:00:00.000000', 438504.0, 442093.6064802508, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,686 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,688 INFO sqlalchemy.engine.base.Engine ('2019-03-24 09:00:00.000000', 438500.0, 439569.81999970356, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,692 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,695 INFO sqlalchemy.engine.base.Engine ('2019-03-25 09:00:00.000000', 436971.0, 438501.8637057155, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,699 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,702 INFO sqlalchemy.engine.base.Engine ('2019-03-26 09:00:00.000000', 429928.0, 437613.4593917597, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,706 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,709 INFO sqlalchemy.engine.base.Engine ('2019-03-27 09:00:00.000000', 433151.0, 432940.52244605566, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,714 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,716 INFO sqlalchemy.engine.base.Engine ('2019-03-28 09:00:00.000000', 444477.0, 432144.54122802423, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,719 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,722 INFO sqlalchemy.engine.base.Engine ('2019-03-29 09:00:00.000000', 443222.0, 444060.5219317227, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,725 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,728 INFO sqlalchemy.engine.base.Engine ('2019-03-30 09:00:00.000000', 452501.0, 445637.0250514445, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,732 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,734 INFO sqlalchemy.engine.base.Engine ('2019-03-31 09:00:00.000000', 453000.0, 455103.2468060012, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,737 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,741 INFO sqlalchemy.engine.base.Engine ('2019-04-01 09:00:00.000000', 453417.0, 455034.5878155222, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,745 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,748 INFO sqlalchemy.engine.base.Engine ('2019-04-02 09:00:00.000000', 460500.0, 454607.72177896556, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,752 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,755 INFO sqlalchemy.engine.base.Engine ('2019-04-03 09:00:00.000000', 545469.0, 462122.06381410325, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,758 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,761 INFO sqlalchemy.engine.base.Engine ('2019-04-04 09:00:00.000000', 555300.0, 559009.3319259658, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,766 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,769 INFO sqlalchemy.engine.base.Engine ('2019-04-05 09:00:00.000000', 548000.0, 574746.8881741005, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,773 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,777 INFO sqlalchemy.engine.base.Engine ('2019-04-06 09:00:00.000000', 562532.0, 557528.409581815, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,781 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,784 INFO sqlalchemy.engine.base.Engine ('2019-04-07 09:00:00.000000', 563489.0, 565891.9400255891, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,787 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,790 INFO sqlalchemy.engine.base.Engine ('2019-04-08 09:00:00.000000', 579725.0, 566967.9745092718, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,794 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,799 INFO sqlalchemy.engine.base.Engine ('2019-04-09 09:00:00.000000', 588520.0, 583746.7499875937, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,802 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,806 INFO sqlalchemy.engine.base.Engine ('2019-04-10 09:00:00.000000', 576430.0, 593194.6052409895, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,811 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,813 INFO sqlalchemy.engine.base.Engine ('2019-04-11 09:00:00.000000', 591143.0, 578527.019854731, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,818 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,820 INFO sqlalchemy.engine.base.Engine ('2019-04-12 09:00:00.000000', 564000.0, 592870.6299157632, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,824 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,826 INFO sqlalchemy.engine.base.Engine ('2019-04-13 09:00:00.000000', 569500.0, 572109.0436123579, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,832 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,835 INFO sqlalchemy.engine.base.Engine ('2019-04-14 09:00:00.000000', 568149.0, 568160.6862398108, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,840 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,844 INFO sqlalchemy.engine.base.Engine ('2019-04-15 09:00:00.000000', 577750.0, 567063.0669303, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,849 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,851 INFO sqlalchemy.engine.base.Engine ('2019-04-16 09:00:00.000000', 563500.0, 576527.1990240655, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,856 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,859 INFO sqlalchemy.engine.base.Engine ('2019-04-17 09:00:00.000000', 581653.0, 566903.5688114115, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,864 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,867 INFO sqlalchemy.engine.base.Engine ('2019-04-18 09:00:00.000000', 584418.0, 582267.068865711, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,871 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,874 INFO sqlalchemy.engine.base.Engine ('2019-04-19 09:00:00.000000', 591395.0, 588419.9424434048, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,878 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,882 INFO sqlalchemy.engine.base.Engine ('2019-04-20 09:00:00.000000', 591437.0, 594334.2471551761, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,886 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-03-21 15:21:54,890 INFO sqlalchemy.engine.base.Engine ('2019-04-21 09:00:00.000000', 595646.0, 592938.5765763969, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,895 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,898 INFO sqlalchemy.engine.base.Engine ('2019-04-22 09:00:00.000000', 594101.0, 597044.6766205011, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,903 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,907 INFO sqlalchemy.engine.base.Engine ('2019-04-23 09:00:00.000000', 603102.0, 594756.7103510728, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,913 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,917 INFO sqlalchemy.engine.base.Engine ('2019-04-24 09:00:00.000000', 619737.0, 604757.0542884647, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,920 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,925 INFO sqlalchemy.engine.base.Engine ('2019-04-25 09:00:00.000000', 611479.0, 623953.8189318859, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,929 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,934 INFO sqlalchemy.engine.base.Engine ('2019-04-26 09:00:00.000000', 579000.0, 614336.3276266231, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,938 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,941 INFO sqlalchemy.engine.base.Engine ('2019-04-27 09:00:00.000000', 579700.0, 589936.895924856, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,948 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,952 INFO sqlalchemy.engine.base.Engine ('2019-04-28 09:00:00.000000', 579990.0, 580662.8681035566, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,958 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,962 INFO sqlalchemy.engine.base.Engine ('2019-04-29 09:00:00.000000', 579000.0, 578543.5333455398, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,966 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,970 INFO sqlalchemy.engine.base.Engine ('2019-04-30 09:00:00.000000', 577863.0, 579943.4949649022, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,974 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,978 INFO sqlalchemy.engine.base.Engine ('2019-05-01 09:00:00.000000', 587393.0, 578335.8976556598, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,984 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,988 INFO sqlalchemy.engine.base.Engine ('2019-05-02 09:00:00.000000', 593000.0, 588124.8550206781, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:54,992 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:54,997 INFO sqlalchemy.engine.base.Engine ('2019-05-03 09:00:00.000000', 601458.0, 595651.649905135, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,002 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,008 INFO sqlalchemy.engine.base.Engine ('2019-05-04 09:00:00.000000', 628473.0, 604387.0349732324, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,013 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,017 INFO sqlalchemy.engine.base.Engine ('2019-05-05 09:00:00.000000', 640290.0, 634875.5320472826, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,020 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,024 INFO sqlalchemy.engine.base.Engine ('2019-05-06 09:00:00.000000', 632873.0, 647558.6943200254, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,028 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,030 INFO sqlalchemy.engine.base.Engine ('2019-05-07 09:00:00.000000', 629700.0, 635974.836720142, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,034 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,036 INFO sqlalchemy.engine.base.Engine ('2019-05-08 09:00:00.000000', 636280.0, 629952.5176706233, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,042 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,045 INFO sqlalchemy.engine.base.Engine ('2019-05-09 09:00:00.000000', 653899.0, 636726.2050030293, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,049 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,051 INFO sqlalchemy.engine.base.Engine ('2019-05-10 09:00:00.000000', 674664.0, 656192.166360024, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,056 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,060 INFO sqlalchemy.engine.base.Engine ('2019-05-11 09:00:00.000000', 698820.0, 681330.1220258954, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,064 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,068 INFO sqlalchemy.engine.base.Engine ('2019-05-12 09:00:00.000000', 797940.0, 707277.4983980923, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,073 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,077 INFO sqlalchemy.engine.base.Engine ('2019-05-13 09:00:00.000000', 766297.0, 819746.3654501956, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,082 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,086 INFO sqlalchemy.engine.base.Engine ('2019-05-14 09:00:00.000000', 854062.0, 783527.6660081818, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,090 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,093 INFO sqlalchemy.engine.base.Engine ('2019-05-15 09:00:00.000000', 877000.0, 876922.0250053745, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,098 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,100 INFO sqlalchemy.engine.base.Engine ('2019-05-16 09:00:00.000000', 897002.0, 900062.4164351937, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,106 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,109 INFO sqlalchemy.engine.base.Engine ('2019-05-17 09:00:00.000000', 867106.0, 911523.738006378, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,114 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,119 INFO sqlalchemy.engine.base.Engine ('2019-05-18 09:00:00.000000', 813262.0, 869452.6765382909, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,125 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,130 INFO sqlalchemy.engine.base.Engine ('2019-05-19 09:00:00.000000', 801006.0, 834086.3852402829, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,133 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-03-21 15:21:55,138 INFO sqlalchemy.engine.base.Engine ('2019-05-20 09:00:00.000000', 899120.0, 808995.9671077644, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,142 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,145 INFO sqlalchemy.engine.base.Engine ('2019-05-21 09:00:00.000000', 878650.0, 876201.0077988271, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,150 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,154 INFO sqlalchemy.engine.base.Engine ('2019-05-22 09:00:00.000000', 879495.0, 895687.0292667376, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,157 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,161 INFO sqlalchemy.engine.base.Engine ('2019-05-23 09:00:00.000000', 844000.0, 892148.1951909423, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,166 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,169 INFO sqlalchemy.engine.base.Engine ('2019-05-24 09:00:00.000000', 863494.0, 850198.5563294004, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,173 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,176 INFO sqlalchemy.engine.base.Engine ('2019-05-25 09:00:00.000000', 874415.0, 857888.6431940943, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,183 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,186 INFO sqlalchemy.engine.base.Engine ('2019-05-26 09:00:00.000000', 883875.0, 869073.4528995894, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,189 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,192 INFO sqlalchemy.engine.base.Engine ('2019-05-27 09:00:00.000000', 953474.0, 886625.0253917737, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,196 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,200 INFO sqlalchemy.engine.base.Engine ('2019-05-28 09:00:00.000000', 960100.0, 967694.952299937, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,205 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,208 INFO sqlalchemy.engine.base.Engine ('2019-05-29 09:00:00.000000', 952867.0, 975587.8936644022, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,214 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,218 INFO sqlalchemy.engine.base.Engine ('2019-05-30 09:00:00.000000', 948273.0, 960402.5325139094, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,222 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,226 INFO sqlalchemy.engine.base.Engine ('2019-05-31 09:00:00.000000', 907386.0, 948772.8585805265, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,232 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,236 INFO sqlalchemy.engine.base.Engine ('2019-06-01 09:00:00.000000', 928180.0, 924105.514933861, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,240 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,243 INFO sqlalchemy.engine.base.Engine ('2019-06-02 09:00:00.000000', 925022.0, 921708.0930694599, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,248 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,252 INFO sqlalchemy.engine.base.Engine ('2019-06-03 09:00:00.000000', 946500.0, 921877.4877086978, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,256 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,261 INFO sqlalchemy.engine.base.Engine ('2019-06-04 09:00:00.000000', 878998.0, 946268.8340738654, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,266 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,269 INFO sqlalchemy.engine.base.Engine ('2019-06-05 09:00:00.000000', 831423.0, 899893.2510896611, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,273 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,275 INFO sqlalchemy.engine.base.Engine ('2019-06-06 09:00:00.000000', 844971.0, 854636.5306333741, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,281 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,284 INFO sqlalchemy.engine.base.Engine ('2019-06-07 09:00:00.000000', 846482.0, 840342.1245723423, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,287 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,291 INFO sqlalchemy.engine.base.Engine ('2019-06-08 09:00:00.000000', 867670.0, 845827.0893933766, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,294 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,298 INFO sqlalchemy.engine.base.Engine ('2019-06-09 09:00:00.000000', 860954.0, 866584.9384878438, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,302 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,305 INFO sqlalchemy.engine.base.Engine ('2019-06-10 09:00:00.000000', 833600.0, 864486.2683030402, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,308 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,312 INFO sqlalchemy.engine.base.Engine ('2019-06-11 09:00:00.000000', 870015.0, 842417.1124401089, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,317 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,321 INFO sqlalchemy.engine.base.Engine ('2019-06-12 09:00:00.000000', 860725.0, 865071.7166728898, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,326 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,330 INFO sqlalchemy.engine.base.Engine ('2019-06-13 09:00:00.000000', 886889.0, 861276.4784978444, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,334 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,339 INFO sqlalchemy.engine.base.Engine ('2019-06-14 09:00:00.000000', 893750.0, 893003.4481366713, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,345 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,349 INFO sqlalchemy.engine.base.Engine ('2019-06-15 09:00:00.000000', 944847.0, 900706.4847524002, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,353 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,356 INFO sqlalchemy.engine.base.Engine ('2019-06-16 09:00:00.000000', 959400.0, 956085.2178293631, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,361 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,366 INFO sqlalchemy.engine.base.Engine ('2019-06-17 09:00:00.000000', 977299.0, 971906.8943411564, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,370 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-03-21 15:21:55,373 INFO sqlalchemy.engine.base.Engine ('2019-06-18 09:00:00.000000', 1013696.0, 986674.641660392, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,377 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,381 INFO sqlalchemy.engine.base.Engine ('2019-06-19 09:00:00.000000', 986025.0, 1024523.7232497016, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,386 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,391 INFO sqlalchemy.engine.base.Engine ('2019-06-20 09:00:00.000000', 1002024.0, 991421.6248530169, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,395 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,400 INFO sqlalchemy.engine.base.Engine ('2019-06-21 09:00:00.000000', 1023420.0, 1007228.0040647273, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,403 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,406 INFO sqlalchemy.engine.base.Engine ('2019-06-22 09:00:00.000000', 1095000.0, 1031324.9801611587, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,409 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,413 INFO sqlalchemy.engine.base.Engine ('2019-06-23 09:00:00.000000', 1145500.0, 1109421.633611176, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,417 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,419 INFO sqlalchemy.engine.base.Engine ('2019-06-24 09:00:00.000000', 1163505.0, 1167621.2126911897, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,426 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,428 INFO sqlalchemy.engine.base.Engine ('2019-06-25 09:00:00.000000', 1180700.0, 1179196.5862670143, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,432 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,435 INFO sqlalchemy.engine.base.Engine ('2019-06-26 09:00:00.000000', 1262333.0, 1189990.7810525687, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,439 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,443 INFO sqlalchemy.engine.base.Engine ('2019-06-27 09:00:00.000000', 1399265.0, 1281313.2392732452, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,447 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,450 INFO sqlalchemy.engine.base.Engine ('2019-06-28 09:00:00.000000', 1221271.0, 1436359.7530705193, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,453 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,457 INFO sqlalchemy.engine.base.Engine ('2019-06-29 09:00:00.000000', 1342710.0, 1254177.0240173307, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,461 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,467 INFO sqlalchemy.engine.base.Engine ('2019-06-30 09:00:00.000000', 1290768.0, 1354805.2492191712, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,471 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,473 INFO sqlalchemy.engine.base.Engine ('2019-07-01 09:00:00.000000', 1171306.0, 1305056.0791129612, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,478 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,482 INFO sqlalchemy.engine.base.Engine ('2019-07-02 09:00:00.000000', 1156299.0, 1210929.7935518264, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,486 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,489 INFO sqlalchemy.engine.base.Engine ('2019-07-03 09:00:00.000000', 1174473.0, 1165985.907180967, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,493 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,495 INFO sqlalchemy.engine.base.Engine ('2019-07-04 09:00:00.000000', 1291931.0, 1165158.7651259953, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,500 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,503 INFO sqlalchemy.engine.base.Engine ('2019-07-05 09:00:00.000000', 1204098.0, 1284317.4306294974, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,507 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,512 INFO sqlalchemy.engine.base.Engine ('2019-07-06 09:00:00.000000', 1197650.0, 1226941.9905846105, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,516 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,520 INFO sqlalchemy.engine.base.Engine ('2019-07-07 09:00:00.000000', 1222633.0, 1213105.4843813016, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,524 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,527 INFO sqlalchemy.engine.base.Engine ('2019-07-08 09:00:00.000000', 1246467.0, 1230384.4641171962, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,532 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,534 INFO sqlalchemy.engine.base.Engine ('2019-07-09 09:00:00.000000', 1335843.0, 1245058.6024086273, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,538 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,540 INFO sqlalchemy.engine.base.Engine ('2019-07-10 09:00:00.000000', 1369916.0, 1355458.6685027736, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,543 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,547 INFO sqlalchemy.engine.base.Engine ('2019-07-11 09:00:00.000000', 1313605.0, 1393139.1148964055, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,550 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,554 INFO sqlalchemy.engine.base.Engine ('2019-07-12 09:00:00.000000', 1237053.0, 1323008.3314467627, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,558 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,561 INFO sqlalchemy.engine.base.Engine ('2019-07-13 09:00:00.000000', 1278534.0, 1259802.066178431, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,566 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,569 INFO sqlalchemy.engine.base.Engine ('2019-07-14 09:00:00.000000', 1233028.0, 1264312.064965474, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,572 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,574 INFO sqlalchemy.engine.base.Engine ('2019-07-15 09:00:00.000000', 1103883.0, 1244508.1553390243, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,578 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,580 INFO sqlalchemy.engine.base.Engine ('2019-07-16 09:00:00.000000', 1177393.0, 1158482.3075007633, '2021-03-21 11:39:13.025285')

2021-03-21 15:21:55,583 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,587 INFO sqlalchemy.engine.base.Engine ('2019-07-17 09:00:00.000000', 1021334.0, 1152601.8190536362, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,591 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,593 INFO sqlalchemy.engine.base.Engine ('2019-07-18 09:00:00.000000', 1045283.0, 1072222.9431810721, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,597 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,599 INFO sqlalchemy.engine.base.Engine ('2019-07-19 09:00:00.000000', 1144998.0, 1042381.373846193, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,605 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,607 INFO sqlalchemy.engine.base.Engine ('2019-07-20 09:00:00.000000', 1134597.0, 1119984.4037898374, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,611 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,615 INFO sqlalchemy.engine.base.Engine ('2019-07-21 09:00:00.000000', 1160989.0, 1145001.5062742059, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,618 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,621 INFO sqlalchemy.engine.base.Engine ('2019-07-22 09:00:00.000000', 1142766.0, 1175522.726410997, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,624 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,626 INFO sqlalchemy.engine.base.Engine ('2019-07-23 09:00:00.000000', 1114925.0, 1147314.516857594, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,630 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,633 INFO sqlalchemy.engine.base.Engine ('2019-07-24 09:00:00.000000', 1067521.0, 1125781.2941896275, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,638 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,642 INFO sqlalchemy.engine.base.Engine ('2019-07-25 09:00:00.000000', 1056426.0, 1088463.8446941902, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,648 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,651 INFO sqlalchemy.engine.base.Engine ('2019-07-26 09:00:00.000000', 1074893.0, 1064349.5679916164, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,655 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,658 INFO sqlalchemy.engine.base.Engine ('2019-07-27 09:00:00.000000', 1070121.0, 1067754.691357803, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,662 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,667 INFO sqlalchemy.engine.base.Engine ('2019-07-28 09:00:00.000000', 1030983.0, 1071675.1843526126, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,672 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,676 INFO sqlalchemy.engine.base.Engine ('2019-07-29 09:00:00.000000', 1036720.0, 1045436.93257543, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,681 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,685 INFO sqlalchemy.engine.base.Engine ('2019-07-30 09:00:00.000000', 1035395.0, 1035629.1610937585, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,688 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,690 INFO sqlalchemy.engine.base.Engine ('2019-07-31 09:00:00.000000', 1041900.0, 1033504.186007433, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,696 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,700 INFO sqlalchemy.engine.base.Engine ('2019-08-01 09:00:00.000000', 1098400.0, 1041122.4805158316, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,704 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,709 INFO sqlalchemy.engine.base.Engine ('2019-08-02 09:00:00.000000', 1118400.0, 1108052.7895848362, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,714 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,718 INFO sqlalchemy.engine.base.Engine ('2019-08-03 09:00:00.000000', 1123000.0, 1132920.4793146176, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,722 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,725 INFO sqlalchemy.engine.base.Engine ('2019-08-04 09:00:00.000000', 1153754.0, 1131478.1243943113, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,729 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,733 INFO sqlalchemy.engine.base.Engine ('2019-08-05 09:00:00.000000', 1170875.0, 1161902.1795361072, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,736 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,740 INFO sqlalchemy.engine.base.Engine ('2019-08-06 09:00:00.000000', 1246972.0, 1179704.897576059, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,744 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,748 INFO sqlalchemy.engine.base.Engine ('2019-08-07 09:00:00.000000', 1220016.0, 1264407.5046385983, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,751 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,754 INFO sqlalchemy.engine.base.Engine ('2019-08-08 09:00:00.000000', 1269227.0, 1232550.4463568083, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,758 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,760 INFO sqlalchemy.engine.base.Engine ('2019-08-09 09:00:00.000000', 1267904.0, 1284283.8756899764, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,765 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,769 INFO sqlalchemy.engine.base.Engine ('2019-08-10 09:00:00.000000', 1253887.0, 1279702.1926683523, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,774 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,777 INFO sqlalchemy.engine.base.Engine ('2019-08-11 09:00:00.000000', 1192119.0, 1258382.0202082335, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,782 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,786 INFO sqlalchemy.engine.base.Engine ('2019-08-12 09:00:00.000000', 1216700.0, 1213330.2612165262, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,792 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,795 INFO sqlalchemy.engine.base.Engine ('2019-08-13 09:00:00.000000', 1201588.0, 1209455.4885915099, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,801 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-03-21 15:21:55,804 INFO sqlalchemy.engine.base.Engine ('2019-08-14 09:00:00.000000', 1158871.0, 1202001.150282565, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,807 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,810 INFO sqlalchemy.engine.base.Engine ('2019-08-15 09:00:00.000000', 1063000.0, 1175342.6396331685, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,815 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,818 INFO sqlalchemy.engine.base.Engine ('2019-08-16 09:00:00.000000', 1095055.0, 1104950.3521129119, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,821 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,824 INFO sqlalchemy.engine.base.Engine ('2019-08-17 09:00:00.000000', 1100020.0, 1086959.654921497, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,827 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,830 INFO sqlalchemy.engine.base.Engine ('2019-08-18 09:00:00.000000', 1088953.0, 1092363.3163952136, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,834 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,836 INFO sqlalchemy.engine.base.Engine ('2019-08-19 09:00:00.000000', 1098880.0, 1090909.068073021, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,839 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,842 INFO sqlalchemy.engine.base.Engine ('2019-08-20 09:00:00.000000', 1164274.0, 1099722.5709265005, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,846 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,849 INFO sqlalchemy.engine.base.Engine ('2019-08-21 09:00:00.000000', 1142377.0, 1174199.384609373, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,854 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,857 INFO sqlalchemy.engine.base.Engine ('2019-08-22 09:00:00.000000', 1080771.0, 1154974.1423533214, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,862 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,865 INFO sqlalchemy.engine.base.Engine ('2019-08-23 09:00:00.000000', 1076343.0, 1098764.3011750474, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,869 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,872 INFO sqlalchemy.engine.base.Engine ('2019-08-24 09:00:00.000000', 1097352.0, 1079673.050562471, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,875 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,878 INFO sqlalchemy.engine.base.Engine ('2019-08-25 09:00:00.000000', 1069511.0, 1087730.4313875476, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,883 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,886 INFO sqlalchemy.engine.base.Engine ('2019-08-26 09:00:00.000000', 1064237.0, 1077564.7696164388, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,890 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,893 INFO sqlalchemy.engine.base.Engine ('2019-08-27 09:00:00.000000', 1097674.0, 1067150.1077403966, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,898 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,901 INFO sqlalchemy.engine.base.Engine ('2019-08-28 09:00:00.000000', 1075910.0, 1093986.6533947978, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,904 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,907 INFO sqlalchemy.engine.base.Engine ('2019-08-29 09:00:00.000000', 1032192.0, 1080095.724979415, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,912 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,915 INFO sqlalchemy.engine.base.Engine ('2019-08-30 09:00:00.000000', 1011000.0, 1048838.8435193035, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,919 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,921 INFO sqlalchemy.engine.base.Engine ('2019-08-31 09:00:00.000000', 1018178.0, 1021746.3461286307, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,924 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,927 INFO sqlalchemy.engine.base.Engine ('2019-09-01 09:00:00.000000', 1020001.0, 1015984.0683421566, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,931 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,935 INFO sqlalchemy.engine.base.Engine ('2019-09-02 09:00:00.000000', 1036267.0, 1019884.2155372542, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,939 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,942 INFO sqlalchemy.engine.base.Engine ('2019-09-03 09:00:00.000000', 1102000.0, 1037087.8363539749, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,947 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,951 INFO sqlalchemy.engine.base.Engine ('2019-09-04 09:00:00.000000', 1123874.0, 1115265.4337848064, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,955 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,958 INFO sqlalchemy.engine.base.Engine ('2019-09-05 09:00:00.000000', 1124541.0, 1140621.6899100998, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,963 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,966 INFO sqlalchemy.engine.base.Engine ('2019-09-06 09:00:00.000000', 1131641.0, 1133498.7698466224, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,970 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,973 INFO sqlalchemy.engine.base.Engine ('2019-09-07 09:00:00.000000', 1103996.0, 1134916.9405199985, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,977 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,982 INFO sqlalchemy.engine.base.Engine ('2019-09-08 09:00:00.000000', 1121490.0, 1110339.6758815984, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,986 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,989 INFO sqlalchemy.engine.base.Engine ('2019-09-09 09:00:00.000000', 1112171.0, 1116125.9616928569, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,992 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:55,996 INFO sqlalchemy.engine.base.Engine ('2019-09-10 09:00:00.000000', 1106945.0, 1111838.1273569649, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:55,998 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,001 INFO sqlalchemy.engine.base.Engine ('2019-09-11 09:00:00.000000', 1086657.0, 1107952.125156979, '2021-03-21 11:39:13.025285')

2021-03-21 15:21:56,005 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,007 INFO sqlalchemy.engine.base.Engine ('2019-09-12 09:00:00.000000', 1095555.0, 1094611.8847737976, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,010 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,013 INFO sqlalchemy.engine.base.Engine ('2019-09-13 09:00:00.000000', 1126914.0, 1093181.660703683, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,016 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,019 INFO sqlalchemy.engine.base.Engine ('2019-09-14 09:00:00.000000', 1119558.0, 1124988.1011860217, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,022 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,025 INFO sqlalchemy.engine.base.Engine ('2019-09-15 09:00:00.000000', 1118737.0, 1125874.023443459, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,031 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,034 INFO sqlalchemy.engine.base.Engine ('2019-09-16 09:00:00.000000', 1111526.0, 1122136.034010473, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,037 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,039 INFO sqlalchemy.engine.base.Engine ('2019-09-17 09:00:00.000000', 1108663.0, 1112965.9988156434, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,043 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,048 INFO sqlalchemy.engine.base.Engine ('2019-09-18 09:00:00.000000', 1101600.0, 1110421.5317585259, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,052 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,055 INFO sqlalchemy.engine.base.Engine ('2019-09-19 09:00:00.000000', 1100344.0, 1104678.865941759, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,058 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,061 INFO sqlalchemy.engine.base.Engine ('2019-09-20 09:00:00.000000', 1108999.0, 1101434.100116031, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,066 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,068 INFO sqlalchemy.engine.base.Engine ('2019-09-21 09:00:00.000000', 1093999.0, 1106350.2895325837, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,071 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,074 INFO sqlalchemy.engine.base.Engine ('2019-09-22 09:00:00.000000', 1074107.0, 1098419.8720742164, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,077 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,082 INFO sqlalchemy.engine.base.Engine ('2019-09-23 09:00:00.000000', 1081500.0, 1082868.8066953002, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,086 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,088 INFO sqlalchemy.engine.base.Engine ('2019-09-24 09:00:00.000000', 1044001.0, 1079185.9684858269, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,092 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,095 INFO sqlalchemy.engine.base.Engine ('2019-09-25 09:00:00.000000', 917999.0, 1058276.9584112852, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,102 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,107 INFO sqlalchemy.engine.base.Engine ('2019-09-26 09:00:00.000000', 910274.0, 972192.6216138224, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,111 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,116 INFO sqlalchemy.engine.base.Engine ('2019-09-27 09:00:00.000000', 869605.0, 920665.3684818505, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,121 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,125 INFO sqlalchemy.engine.base.Engine ('2019-09-28 09:00:00.000000', 886900.0, 883023.7535225461, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,130 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,133 INFO sqlalchemy.engine.base.Engine ('2019-09-29 09:00:00.000000', 887254.0, 885807.1196486239, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,138 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,141 INFO sqlalchemy.engine.base.Engine ('2019-09-30 09:00:00.000000', 869799.0, 883532.3664206647, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,145 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,148 INFO sqlalchemy.engine.base.Engine ('2019-10-01 09:00:00.000000', 898291.0, 874258.0409808132, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,153 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,155 INFO sqlalchemy.engine.base.Engine ('2019-10-02 09:00:00.000000', 896313.0, 898729.2840081736, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,159 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,162 INFO sqlalchemy.engine.base.Engine ('2019-10-03 09:00:00.000000', 899088.0, 900488.9131346537, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,167 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,170 INFO sqlalchemy.engine.base.Engine ('2019-10-04 09:00:00.000000', 881977.0, 902283.2573107475, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,174 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,176 INFO sqlalchemy.engine.base.Engine ('2019-10-05 09:00:00.000000', 873171.0, 884627.1125294783, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,183 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,187 INFO sqlalchemy.engine.base.Engine ('2019-10-06 09:00:00.000000', 872594.0, 877858.6539322818, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,190 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,194 INFO sqlalchemy.engine.base.Engine ('2019-10-07 09:00:00.000000', 841354.0, 872926.2291811674, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,200 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,204 INFO sqlalchemy.engine.base.Engine ('2019-10-08 09:00:00.000000', 879399.0, 854209.1807933176, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,208 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,211 INFO sqlalchemy.engine.base.Engine ('2019-10-09 09:00:00.000000', 874804.0, 869088.1324320717, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,216 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-03-21 15:21:56,219 INFO sqlalchemy.engine.base.Engine ('2019-10-10 09:00:00.000000', 919414.0, 875854.7198649327, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,223 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,225 INFO sqlalchemy.engine.base.Engine ('2019-10-11 09:00:00.000000', 926444.0, 928587.213999273, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,231 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,234 INFO sqlalchemy.engine.base.Engine ('2019-10-12 09:00:00.000000', 898000.0, 936803.666639936, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,238 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,240 INFO sqlalchemy.engine.base.Engine ('2019-10-13 09:00:00.000000', 901833.0, 903724.0425408748, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,245 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,249 INFO sqlalchemy.engine.base.Engine ('2019-10-14 09:00:00.000000', 899998.0, 900809.6729876972, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,253 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,256 INFO sqlalchemy.engine.base.Engine ('2019-10-15 09:00:00.000000', 905500.0, 898747.3092265471, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,261 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,264 INFO sqlalchemy.engine.base.Engine ('2019-10-16 09:00:00.000000', 887464.0, 904759.3387880856, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,268 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,271 INFO sqlalchemy.engine.base.Engine ('2019-10-17 09:00:00.000000', 869340.0, 893424.0156605073, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,274 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,277 INFO sqlalchemy.engine.base.Engine ('2019-10-18 09:00:00.000000', 877000.0, 877874.366999168, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,282 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,284 INFO sqlalchemy.engine.base.Engine ('2019-10-19 09:00:00.000000', 862890.0, 874432.7527572727, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,289 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,291 INFO sqlalchemy.engine.base.Engine ('2019-10-20 09:00:00.000000', 863000.0, 867427.4430733899, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,295 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,298 INFO sqlalchemy.engine.base.Engine ('2019-10-21 09:00:00.000000', 891400.0, 863606.5220305119, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,302 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,305 INFO sqlalchemy.engine.base.Engine ('2019-10-22 09:00:00.000000', 891947.0, 892011.0930309765, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,309 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,312 INFO sqlalchemy.engine.base.Engine ('2019-10-23 09:00:00.000000', 870050.0, 898133.1891298112, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,315 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,317 INFO sqlalchemy.engine.base.Engine ('2019-10-24 09:00:00.000000', 812505.0, 874785.19165439, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,324 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,328 INFO sqlalchemy.engine.base.Engine ('2019-10-25 09:00:00.000000', 807310.0, 835564.5406665086, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,331 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,335 INFO sqlalchemy.engine.base.Engine ('2019-10-26 09:00:00.000000', 940000.0, 812900.7935864702, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,340 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,343 INFO sqlalchemy.engine.base.Engine ('2019-10-27 09:00:00.000000', 1002159.0, 924103.7718762069, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,348 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,351 INFO sqlalchemy.engine.base.Engine ('2019-10-28 09:00:00.000000', 1037500.0, 1036527.3137456307, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,354 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,358 INFO sqlalchemy.engine.base.Engine ('2019-10-29 09:00:00.000000', 1003370.0, 1062974.7378613807, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,362 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,365 INFO sqlalchemy.engine.base.Engine ('2019-10-30 09:00:00.000000', 1025514.0, 1009197.3852212393, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,369 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,371 INFO sqlalchemy.engine.base.Engine ('2019-10-31 09:00:00.000000', 997247.0, 1028610.8872216126, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,376 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,378 INFO sqlalchemy.engine.base.Engine ('2019-11-01 09:00:00.000000', 988920.0, 1004892.6482084434, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,383 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,386 INFO sqlalchemy.engine.base.Engine ('2019-11-02 09:00:00.000000', 999769.0, 992946.9188237521, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,389 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,393 INFO sqlalchemy.engine.base.Engine ('2019-11-03 09:00:00.000000', 1006460.0, 996163.9985359582, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,396 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,400 INFO sqlalchemy.engine.base.Engine ('2019-11-04 09:00:00.000000', 996034.0, 1005706.6053144772, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,404 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,406 INFO sqlalchemy.engine.base.Engine ('2019-11-05 09:00:00.000000', 1021915.0, 997972.1161358777, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,409 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,412 INFO sqlalchemy.engine.base.Engine ('2019-11-06 09:00:00.000000', 1015450.0, 1025315.6659336233, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,417 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,419 INFO sqlalchemy.engine.base.Engine ('2019-11-07 09:00:00.000000', 1015778.0, 1020735.0848518712, '2021-03-21 11:39:13.025285')

2021-03-21 15:21:56,424 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,426 INFO sqlalchemy.engine.base.Engine ('2019-11-08 09:00:00.000000', 1006260.0, 1018980.5905196969, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,432 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,434 INFO sqlalchemy.engine.base.Engine ('2019-11-09 09:00:00.000000', 957397.0, 1008133.7633887327, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,438 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,441 INFO sqlalchemy.engine.base.Engine ('2019-11-10 09:00:00.000000', 962771.0, 977979.8175896709, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,445 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,448 INFO sqlalchemy.engine.base.Engine ('2019-11-11 09:00:00.000000', 986500.0, 963082.909649167, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,452 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,455 INFO sqlalchemy.engine.base.Engine ('2019-11-12 09:00:00.000000', 950719.0, 975926.7858240857, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,459 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,462 INFO sqlalchemy.engine.base.Engine ('2019-11-13 09:00:00.000000', 960000.0, 959804.233294188, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,466 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,469 INFO sqlalchemy.engine.base.Engine ('2019-11-14 09:00:00.000000', 953321.0, 959326.934583068, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,472 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,476 INFO sqlalchemy.engine.base.Engine ('2019-11-15 09:00:00.000000', 936240.0, 953970.5487284772, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,481 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,484 INFO sqlalchemy.engine.base.Engine ('2019-11-16 09:00:00.000000', 921483.0, 942893.8018372983, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,488 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,490 INFO sqlalchemy.engine.base.Engine ('2019-11-17 09:00:00.000000', 923400.0, 928583.9133887147, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,494 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,497 INFO sqlalchemy.engine.base.Engine ('2019-11-18 09:00:00.000000', 925304.0, 923368.1498068892, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,501 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,505 INFO sqlalchemy.engine.base.Engine ('2019-11-19 09:00:00.000000', 888914.0, 924576.7319103437, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,510 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,514 INFO sqlalchemy.engine.base.Engine ('2019-11-20 09:00:00.000000', 880856.0, 903103.3656588324, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,518 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,521 INFO sqlalchemy.engine.base.Engine ('2019-11-21 09:00:00.000000', 876921.0, 886120.5547283177, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,526 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,529 INFO sqlalchemy.engine.base.Engine ('2019-11-22 09:00:00.000000', 827661.0, 877778.0856977772, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,534 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,537 INFO sqlalchemy.engine.base.Engine ('2019-11-23 09:00:00.000000', 791420.0, 848146.8904504884, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,544 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,550 INFO sqlalchemy.engine.base.Engine ('2019-11-24 09:00:00.000000', 796610.0, 810083.5948266605, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,555 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,559 INFO sqlalchemy.engine.base.Engine ('2019-11-25 09:00:00.000000', 752853.0, 795766.6718244492, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,564 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,569 INFO sqlalchemy.engine.base.Engine ('2019-11-26 09:00:00.000000', 776240.0, 769851.9678362911, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,574 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,577 INFO sqlalchemy.engine.base.Engine ('2019-11-27 09:00:00.000000', 781873.0, 769961.5196061264, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,584 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,587 INFO sqlalchemy.engine.base.Engine ('2019-11-28 09:00:00.000000', 822380.0, 776097.1861606386, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,591 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,595 INFO sqlalchemy.engine.base.Engine ('2019-11-29 09:00:00.000000', 814000.0, 828161.3068036468, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,600 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,602 INFO sqlalchemy.engine.base.Engine ('2019-11-30 09:00:00.000000', 849890.0, 821179.6327782647, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,607 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,611 INFO sqlalchemy.engine.base.Engine ('2019-12-01 09:00:00.000000', 827393.0, 859452.780077804, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,615 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,618 INFO sqlalchemy.engine.base.Engine ('2019-12-02 09:00:00.000000', 811428.0, 833015.0639414483, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,622 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,625 INFO sqlalchemy.engine.base.Engine ('2019-12-03 09:00:00.000000', 796925.0, 818143.5717454286, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,629 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,634 INFO sqlalchemy.engine.base.Engine ('2019-12-04 09:00:00.000000', 792786.0, 803095.1627991411, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,637 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,641 INFO sqlalchemy.engine.base.Engine ('2019-12-05 09:00:00.000000', 783614.0, 795684.5357053775, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,645 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,649 INFO sqlalchemy.engine.base.Engine ('2019-12-06 09:00:00.000000', 803858.0, 787635.9315340082, '2021-03-21 11:39:13.025285')

2021-03-21 15:21:56,652 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,655 INFO sqlalchemy.engine.base.Engine ('2019-12-07 09:00:00.000000', 818480.0, 799020.536022145, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,660 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,665 INFO sqlalchemy.engine.base.Engine ('2019-12-08 09:00:00.000000', 814301.0, 823545.3993438852, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,669 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,671 INFO sqlalchemy.engine.base.Engine ('2019-12-09 09:00:00.000000', 816707.0, 817770.6584010678, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,676 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,679 INFO sqlalchemy.engine.base.Engine ('2019-12-10 09:00:00.000000', 797959.0, 818007.7114351466, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,685 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,688 INFO sqlalchemy.engine.base.Engine ('2019-12-11 09:00:00.000000', 785869.0, 803814.0581627281, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,691 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,693 INFO sqlalchemy.engine.base.Engine ('2019-12-12 09:00:00.000000', 782164.0, 792139.4968031835, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,700 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,702 INFO sqlalchemy.engine.base.Engine ('2019-12-13 09:00:00.000000', 786190.0, 784121.4857318788, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,708 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,711 INFO sqlalchemy.engine.base.Engine ('2019-12-14 09:00:00.000000', 792353.0, 785228.8681721344, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,715 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,719 INFO sqlalchemy.engine.base.Engine ('2019-12-15 09:00:00.000000', 773304.0, 791623.8810033592, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,722 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,725 INFO sqlalchemy.engine.base.Engine ('2019-12-16 09:00:00.000000', 777016.0, 779306.7261355807, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,728 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,733 INFO sqlalchemy.engine.base.Engine ('2019-12-17 09:00:00.000000', 754500.0, 775984.9513696398, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,736 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,739 INFO sqlalchemy.engine.base.Engine ('2019-12-18 09:00:00.000000', 724800.0, 762790.135274249, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,742 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,744 INFO sqlalchemy.engine.base.Engine ('2019-12-19 09:00:00.000000', 798000.0, 738854.6478758986, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,747 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,751 INFO sqlalchemy.engine.base.Engine ('2019-12-20 09:00:00.000000', 779042.0, 784216.2238587793, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,754 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,757 INFO sqlalchemy.engine.base.Engine ('2019-12-21 09:00:00.000000', 786600.0, 788758.3156133988, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,761 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,765 INFO sqlalchemy.engine.base.Engine ('2019-12-22 09:00:00.000000', 781592.0, 796382.5538036589, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,768 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,771 INFO sqlalchemy.engine.base.Engine ('2019-12-23 09:00:00.000000', 821550.0, 785398.7892193117, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,775 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,779 INFO sqlalchemy.engine.base.Engine ('2019-12-24 09:00:00.000000', 800320.0, 824195.6715354719, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,784 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,787 INFO sqlalchemy.engine.base.Engine ('2019-12-25 09:00:00.000000', 793410.0, 807815.6411860284, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,790 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,794 INFO sqlalchemy.engine.base.Engine ('2019-12-26 09:00:00.000000', 787145.0, 799208.5097350646, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,799 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,802 INFO sqlalchemy.engine.base.Engine ('2019-12-27 09:00:00.000000', 788330.0, 790352.7250561952, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,806 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,809 INFO sqlalchemy.engine.base.Engine ('2019-12-28 09:00:00.000000', 792233.0, 788715.6098486716, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,813 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,816 INFO sqlalchemy.engine.base.Engine ('2019-12-29 09:00:00.000000', 799490.0, 791033.2219830534, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,819 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,822 INFO sqlalchemy.engine.base.Engine ('2019-12-30 09:00:00.000000', 807988.0, 800897.9254634187, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,825 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,827 INFO sqlalchemy.engine.base.Engine ('2019-12-31 09:00:00.000000', 787115.0, 810823.106386968, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,834 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,838 INFO sqlalchemy.engine.base.Engine ('2020-01-01 09:00:00.000000', 779450.0, 791984.0312814672, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,842 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,845 INFO sqlalchemy.engine.base.Engine ('2020-01-02 09:00:00.000000', 780490.0, 782984.2427346327, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,850 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,853 INFO sqlalchemy.engine.base.Engine ('2020-01-03 09:00:00.000000', 754800.0, 779797.1618257826, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,857 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,859 INFO sqlalchemy.engine.base.Engine ('2020-01-04 09:00:00.000000', 793000.0, 765131.5586947778, '2021-03-21 11:39:13.025285')

2021-03-21 15:21:56,864 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,866 INFO sqlalchemy.engine.base.Engine ('2020-01-05 09:00:00.000000', 794060.0, 784932.885304051, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,871 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,874 INFO sqlalchemy.engine.base.Engine ('2020-01-06 09:00:00.000000', 793632.0, 799417.1442995674, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,878 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,882 INFO sqlalchemy.engine.base.Engine ('2020-01-07 09:00:00.000000', 841539.0, 797337.2065339334, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,886 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,888 INFO sqlalchemy.engine.base.Engine ('2020-01-08 09:00:00.000000', 882500.0, 851118.5483300989, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,892 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,895 INFO sqlalchemy.engine.base.Engine ('2020-01-09 09:00:00.000000', 877290.0, 897759.8127641531, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,898 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,901 INFO sqlalchemy.engine.base.Engine ('2020-01-10 09:00:00.000000', 854944.0, 886675.8104257012, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,906 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,909 INFO sqlalchemy.engine.base.Engine ('2020-01-11 09:00:00.000000', 895000.0, 857257.428134549, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,913 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,917 INFO sqlalchemy.engine.base.Engine ('2020-01-12 09:00:00.000000', 875339.0, 897717.7311438057, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,920 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,923 INFO sqlalchemy.engine.base.Engine ('2020-01-13 09:00:00.000000', 892969.0, 879042.1108681132, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,927 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,931 INFO sqlalchemy.engine.base.Engine ('2020-01-14 09:00:00.000000', 887538.0, 898514.3785730132, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,935 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,937 INFO sqlalchemy.engine.base.Engine ('2020-01-15 09:00:00.000000', 965570.0, 892358.8810872257, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,941 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,944 INFO sqlalchemy.engine.base.Engine ('2020-01-16 09:00:00.000000', 964324.0, 976369.7962787966, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,951 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,955 INFO sqlalchemy.engine.base.Engine ('2020-01-17 09:00:00.000000', 958730.0, 981061.5525648448, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,958 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,963 INFO sqlalchemy.engine.base.Engine ('2020-01-18 09:00:00.000000', 980172.0, 967659.0674811613, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,966 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,969 INFO sqlalchemy.engine.base.Engine ('2020-01-19 09:00:00.000000', 981000.0, 985000.1139363762, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,972 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,975 INFO sqlalchemy.engine.base.Engine ('2020-01-20 09:00:00.000000', 957880.0, 985773.1758051183, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,979 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,982 INFO sqlalchemy.engine.base.Engine ('2020-01-21 09:00:00.000000', 950811.0, 964070.1423528122, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,986 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,988 INFO sqlalchemy.engine.base.Engine ('2020-01-22 09:00:00.000000', 957629.0, 953739.9427601759, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:56,992 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:56,996 INFO sqlalchemy.engine.base.Engine ('2020-01-23 09:00:00.000000', 950633.0, 954433.0259389976, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,000 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,003 INFO sqlalchemy.engine.base.Engine ('2020-01-24 09:00:00.000000', 918822.0, 952879.6727400312, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,006 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,008 INFO sqlalchemy.engine.base.Engine ('2020-01-25 09:00:00.000000', 921808.0, 931921.6059954587, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,011 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,017 INFO sqlalchemy.engine.base.Engine ('2020-01-26 09:00:00.000000', 911000.0, 922037.1902159763, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,021 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,024 INFO sqlalchemy.engine.base.Engine ('2020-01-27 09:00:00.000000', 936240.0, 913912.0610231764, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,027 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,032 INFO sqlalchemy.engine.base.Engine ('2020-01-28 09:00:00.000000', 969060.0, 931490.2928742964, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,036 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,039 INFO sqlalchemy.engine.base.Engine ('2020-01-29 09:00:00.000000', 1022498.0, 977950.0198795224, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,044 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,050 INFO sqlalchemy.engine.base.Engine ('2020-01-30 09:00:00.000000', 1011955.0, 1037896.9806973289, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,053 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,056 INFO sqlalchemy.engine.base.Engine ('2020-01-31 09:00:00.000000', 1031610.0, 1021700.8068734786, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,061 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,064 INFO sqlalchemy.engine.base.Engine ('2020-02-01 09:00:00.000000', 1013273.0, 1039429.2156443358, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,068 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,070 INFO sqlalchemy.engine.base.Engine ('2020-02-02 09:00:00.000000', 1015630.0, 1016557.1233527034, '2021-03-21 11:39:13.025285')

2021-03-21 15:21:57,074 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,077 INFO sqlalchemy.engine.base.Engine ('2020-02-03 09:00:00.000000', 1010175.0, 1015875.7558741696, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,082 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,086 INFO sqlalchemy.engine.base.Engine ('2020-02-04 09:00:00.000000', 1008820.0, 1012266.6898767842, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,089 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,093 INFO sqlalchemy.engine.base.Engine ('2020-02-05 09:00:00.000000', 1003300.0, 1009821.7582485738, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,098 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,100 INFO sqlalchemy.engine.base.Engine ('2020-02-06 09:00:00.000000', 1053671.0, 1005577.0461654641, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,104 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,107 INFO sqlalchemy.engine.base.Engine ('2020-02-07 09:00:00.000000', 1070900.0, 1057604.4689666901, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,109 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,113 INFO sqlalchemy.engine.base.Engine ('2020-02-08 09:00:00.000000', 1076199.0, 1083676.9762747034, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,116 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,120 INFO sqlalchemy.engine.base.Engine ('2020-02-09 09:00:00.000000', 1086240.0, 1084002.3271915228, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,123 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,127 INFO sqlalchemy.engine.base.Engine ('2020-02-10 09:00:00.000000', 1110975.0, 1090232.374129628, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,131 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,133 INFO sqlalchemy.engine.base.Engine ('2020-02-11 09:00:00.000000', 1081510.0, 1117470.8372051592, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,137 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,139 INFO sqlalchemy.engine.base.Engine ('2020-02-12 09:00:00.000000', 1123524.0, 1087037.6667681176, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,144 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,147 INFO sqlalchemy.engine.base.Engine ('2020-02-13 09:00:00.000000', 1136950.0, 1128868.8906857553, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,152 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,154 INFO sqlalchemy.engine.base.Engine ('2020-02-14 09:00:00.000000', 1124591.0, 1147684.936053689, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,158 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,161 INFO sqlalchemy.engine.base.Engine ('2020-02-15 09:00:00.000000', 1137555.0, 1128845.581548664, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,166 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,169 INFO sqlalchemy.engine.base.Engine ('2020-02-16 09:00:00.000000', 1087798.0, 1139495.2351484592, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,172 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,175 INFO sqlalchemy.engine.base.Engine ('2020-02-17 09:00:00.000000', 1091360.0, 1105140.2712273046, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,177 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,181 INFO sqlalchemy.engine.base.Engine ('2020-02-18 09:00:00.000000', 1066850.0, 1092107.278127296, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,184 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,187 INFO sqlalchemy.engine.base.Engine ('2020-02-19 09:00:00.000000', 1118896.0, 1074468.303040699, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,191 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,194 INFO sqlalchemy.engine.base.Engine ('2020-02-20 09:00:00.000000', 1068601.0, 1108563.5220828766, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,199 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,201 INFO sqlalchemy.engine.base.Engine ('2020-02-21 09:00:00.000000', 1076399.0, 1080200.8435640384, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,205 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,208 INFO sqlalchemy.engine.base.Engine ('2020-02-22 09:00:00.000000', 1082615.0, 1077335.0114284186, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,211 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,214 INFO sqlalchemy.engine.base.Engine ('2020-02-23 09:00:00.000000', 1078573.0, 1085958.0261483337, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,218 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,221 INFO sqlalchemy.engine.base.Engine ('2020-02-24 09:00:00.000000', 1111020.0, 1079987.2311811482, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,224 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,229 INFO sqlalchemy.engine.base.Engine ('2020-02-25 09:00:00.000000', 1071701.0, 1116388.7726072068, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,234 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,237 INFO sqlalchemy.engine.base.Engine ('2020-02-26 09:00:00.000000', 1027477.0, 1081446.3225661004, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,240 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,243 INFO sqlalchemy.engine.base.Engine ('2020-02-27 09:00:00.000000', 970306.0, 1046315.88532477, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,248 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,250 INFO sqlalchemy.engine.base.Engine ('2020-02-28 09:00:00.000000', 965988.0, 996638.2916276905, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,254 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,258 INFO sqlalchemy.engine.base.Engine ('2020-02-29 09:00:00.000000', 941169.0, 971775.5414674515, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,261 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,265 INFO sqlalchemy.engine.base.Engine ('2020-03-01 09:00:00.000000', 923207.0, 950718.3761039263, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,269 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-03-21 15:21:57,273 INFO sqlalchemy.engine.base.Engine ('2020-03-02 09:00:00.000000', 920400.0, 932774.0122846088, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,276 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,278 INFO sqlalchemy.engine.base.Engine ('2020-03-03 09:00:00.000000', 968732.0, 922372.1598378823, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,283 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,286 INFO sqlalchemy.engine.base.Engine ('2020-03-04 09:00:00.000000', 938769.0, 960713.0716685035, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,290 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,293 INFO sqlalchemy.engine.base.Engine ('2020-03-05 09:00:00.000000', 944324.0, 947854.0408728861, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,296 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,299 INFO sqlalchemy.engine.base.Engine ('2020-03-06 09:00:00.000000', 963433.0, 951914.0947209932, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,304 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,307 INFO sqlalchemy.engine.base.Engine ('2020-03-07 09:00:00.000000', 966010.0, 970596.6976122631, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,310 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,314 INFO sqlalchemy.engine.base.Engine ('2020-03-08 09:00:00.000000', 940979.0, 968586.5006202483, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,318 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,321 INFO sqlalchemy.engine.base.Engine ('2020-03-09 09:00:00.000000', 837484.0, 946563.2463424462, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,325 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,327 INFO sqlalchemy.engine.base.Engine ('2020-03-10 09:00:00.000000', 820200.0, 879889.2417285616, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,331 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,334 INFO sqlalchemy.engine.base.Engine ('2020-03-11 09:00:00.000000', 830836.0, 833624.5018415678, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,341 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,345 INFO sqlalchemy.engine.base.Engine ('2020-03-12 09:00:00.000000', 832286.0, 824281.3279388932, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,349 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,353 INFO sqlalchemy.engine.base.Engine ('2020-03-13 09:00:00.000000', 517999.0, 834003.7115417861, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,357 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,360 INFO sqlalchemy.engine.base.Engine ('2020-03-14 09:00:00.000000', 616477.0, 640734.3191560062, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,366 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,370 INFO sqlalchemy.engine.base.Engine ('2020-03-15 09:00:00.000000', 565780.0, 588389.5423335071, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,374 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,379 INFO sqlalchemy.engine.base.Engine ('2020-03-16 09:00:00.000000', 582013.0, 557756.7984745422, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,385 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,388 INFO sqlalchemy.engine.base.Engine ('2020-03-17 09:00:00.000000', 547160.0, 579642.7690687461, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,392 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,397 INFO sqlalchemy.engine.base.Engine ('2020-03-18 09:00:00.000000', 579530.0, 558031.5489394236, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,403 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,407 INFO sqlalchemy.engine.base.Engine ('2020-03-19 09:00:00.000000', 588404.0, 571393.3900273246, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,411 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,416 INFO sqlalchemy.engine.base.Engine ('2020-03-20 09:00:00.000000', 692529.0, 592847.6976011815, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,420 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,423 INFO sqlalchemy.engine.base.Engine ('2020-03-21 09:00:00.000000', 690005.0, 711036.0182188418, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,427 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,432 INFO sqlalchemy.engine.base.Engine ('2020-03-22 09:00:00.000000', 688958.0, 711456.0254603863, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,436 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,439 INFO sqlalchemy.engine.base.Engine ('2020-03-23 09:00:00.000000', 647262.0, 701064.8478499012, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,444 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,449 INFO sqlalchemy.engine.base.Engine ('2020-03-24 09:00:00.000000', 719267.0, 651704.8541287011, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,453 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,456 INFO sqlalchemy.engine.base.Engine ('2020-03-25 09:00:00.000000', 752500.0, 708546.9193106315, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,460 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,465 INFO sqlalchemy.engine.base.Engine ('2020-03-26 09:00:00.000000', 741720.0, 768351.6117062137, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,469 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,473 INFO sqlalchemy.engine.base.Engine ('2020-03-27 09:00:00.000000', 737681.0, 751644.8931912218, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,477 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,480 INFO sqlalchemy.engine.base.Engine ('2020-03-28 09:00:00.000000', 690539.0, 739204.7470032811, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,484 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,487 INFO sqlalchemy.engine.base.Engine ('2020-03-29 09:00:00.000000', 677000.0, 707643.7632445066, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,491 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,493 INFO sqlalchemy.engine.base.Engine ('2020-03-30 09:00:00.000000', 634168.0, 685788.3809672206, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,501 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-03-21 15:21:57,504 INFO sqlalchemy.engine.base.Engine ('2020-03-31 09:00:00.000000', 693221.0, 652302.4343430322, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,507 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,511 INFO sqlalchemy.engine.base.Engine ('2020-04-01 09:00:00.000000', 691824.0, 676920.7323842668, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,516 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,520 INFO sqlalchemy.engine.base.Engine ('2020-04-02 09:00:00.000000', 714987.0, 694378.3195834187, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,524 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,528 INFO sqlalchemy.engine.base.Engine ('2020-04-03 09:00:00.000000', 735176.0, 723763.3343882505, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,533 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,536 INFO sqlalchemy.engine.base.Engine ('2020-04-04 09:00:00.000000', 732900.0, 743936.5509999696, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,540 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,542 INFO sqlalchemy.engine.base.Engine ('2020-04-05 09:00:00.000000', 746176.0, 737553.703404119, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,545 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,549 INFO sqlalchemy.engine.base.Engine ('2020-04-06 09:00:00.000000', 737468.0, 750041.6364255504, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,553 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,557 INFO sqlalchemy.engine.base.Engine ('2020-04-07 09:00:00.000000', 801357.0, 739370.235774857, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,560 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,563 INFO sqlalchemy.engine.base.Engine ('2020-04-08 09:00:00.000000', 784414.0, 810591.2728101198, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,566 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,569 INFO sqlalchemy.engine.base.Engine ('2020-04-09 09:00:00.000000', 803139.0, 796997.6206518378, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,572 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,575 INFO sqlalchemy.engine.base.Engine ('2020-04-10 09:00:00.000000', 793267.0, 813559.4868659934, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,578 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,581 INFO sqlalchemy.engine.base.Engine ('2020-04-11 09:00:00.000000', 746887.0, 797598.8728557, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,585 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,589 INFO sqlalchemy.engine.base.Engine ('2020-04-12 09:00:00.000000', 749585.0, 765186.4964431634, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,593 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,597 INFO sqlalchemy.engine.base.Engine ('2020-04-13 09:00:00.000000', 751793.0, 750335.1347366853, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,601 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,604 INFO sqlalchemy.engine.base.Engine ('2020-04-14 09:00:00.000000', 739986.0, 748732.5065113035, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,608 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,611 INFO sqlalchemy.engine.base.Engine ('2020-04-15 09:00:00.000000', 738259.0, 744276.5365825153, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,616 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,619 INFO sqlalchemy.engine.base.Engine ('2020-04-16 09:00:00.000000', 713829.0, 739390.2389778562, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,622 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,625 INFO sqlalchemy.engine.base.Engine ('2020-04-17 09:00:00.000000', 768443.0, 723887.9331938205, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,628 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,631 INFO sqlalchemy.engine.base.Engine ('2020-04-18 09:00:00.000000', 758043.0, 761069.2821805519, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,636 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,639 INFO sqlalchemy.engine.base.Engine ('2020-04-19 09:00:00.000000', 781254.0, 767852.985263859, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,643 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,647 INFO sqlalchemy.engine.base.Engine ('2020-04-20 09:00:00.000000', 768579.0, 790518.2032418024, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,651 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,654 INFO sqlalchemy.engine.base.Engine ('2020-04-21 09:00:00.000000', 738350.0, 772559.9460332057, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,657 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,659 INFO sqlalchemy.engine.base.Engine ('2020-04-22 09:00:00.000000', 740881.0, 749787.2723097305, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,663 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,667 INFO sqlalchemy.engine.base.Engine ('2020-04-23 09:00:00.000000', 770246.0, 740916.3288857746, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,671 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,673 INFO sqlalchemy.engine.base.Engine ('2020-04-24 09:00:00.000000', 805725.0, 761179.6441635072, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,677 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,681 INFO sqlalchemy.engine.base.Engine ('2020-04-25 09:00:00.000000', 808353.0, 814791.4209358876, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,686 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,689 INFO sqlalchemy.engine.base.Engine ('2020-04-26 09:00:00.000000', 813203.0, 816649.4379265354, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,693 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,696 INFO sqlalchemy.engine.base.Engine ('2020-04-27 09:00:00.000000', 828532.0, 817542.163759905, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,701 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,704 INFO sqlalchemy.engine.base.Engine ('2020-04-28 09:00:00.000000', 836500.0, 832931.924035181, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,706 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-03-21 15:21:57,710 INFO sqlalchemy.engine.base.Engine ('2020-04-29 09:00:00.000000', 829395.0, 840814.0121589409, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,715 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,718 INFO sqlalchemy.engine.base.Engine ('2020-04-30 09:00:00.000000', 937577.0, 831110.5472418626, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,721 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,724 INFO sqlalchemy.engine.base.Engine ('2020-05-01 09:00:00.000000', 926749.0, 954069.7465036854, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,728 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,732 INFO sqlalchemy.engine.base.Engine ('2020-05-02 09:00:00.000000', 946265.0, 949495.9621107525, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,737 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,740 INFO sqlalchemy.engine.base.Engine ('2020-05-03 09:00:00.000000', 962121.0, 961727.3608478043, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,744 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,748 INFO sqlalchemy.engine.base.Engine ('2020-05-04 09:00:00.000000', 952856.0, 970787.7357430208, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,752 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,754 INFO sqlalchemy.engine.base.Engine ('2020-05-05 09:00:00.000000', 949894.0, 956110.4896197444, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,757 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,760 INFO sqlalchemy.engine.base.Engine ('2020-05-06 09:00:00.000000', 962100.0, 950681.1923293038, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,765 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,768 INFO sqlalchemy.engine.base.Engine ('2020-05-07 09:00:00.000000', 973954.0, 963716.5730188254, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,772 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,775 INFO sqlalchemy.engine.base.Engine ('2020-05-08 09:00:00.000000', 1065810.0, 976980.997871771, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,778 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,782 INFO sqlalchemy.engine.base.Engine ('2020-05-09 09:00:00.000000', 1048000.0, 1082639.8777950492, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,784 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,787 INFO sqlalchemy.engine.base.Engine ('2020-05-10 09:00:00.000000', 1017000.0, 1065592.8605180094, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,793 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,796 INFO sqlalchemy.engine.base.Engine ('2020-05-11 09:00:00.000000', 934350.0, 1026922.6550247883, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,800 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,802 INFO sqlalchemy.engine.base.Engine ('2020-05-12 09:00:00.000000', 922489.0, 963551.2125474201, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,806 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,808 INFO sqlalchemy.engine.base.Engine ('2020-05-13 09:00:00.000000', 945875.0, 932893.8766669314, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,813 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,816 INFO sqlalchemy.engine.base.Engine ('2020-05-14 09:00:00.000000', 997533.0, 935185.6991169741, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,819 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,821 INFO sqlalchemy.engine.base.Engine ('2020-05-15 09:00:00.000000', 1051000.0, 994154.4336738068, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,827 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,831 INFO sqlalchemy.engine.base.Engine ('2020-05-16 09:00:00.000000', 996901.0, 1069646.1845052715, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,834 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,837 INFO sqlalchemy.engine.base.Engine ('2020-05-17 09:00:00.000000', 1005016.0, 1005615.9274033088, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,840 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,842 INFO sqlalchemy.engine.base.Engine ('2020-05-18 09:00:00.000000', 1037701.0, 1008171.3315262496, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,847 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,850 INFO sqlalchemy.engine.base.Engine ('2020-05-19 09:00:00.000000', 1044362.0, 1042212.5346933878, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,854 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,857 INFO sqlalchemy.engine.base.Engine ('2020-05-20 09:00:00.000000', 1053101.0, 1048394.7936867345, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,861 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,864 INFO sqlalchemy.engine.base.Engine ('2020-05-21 09:00:00.000000', 1025000.0, 1058393.8396781052, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,867 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,870 INFO sqlalchemy.engine.base.Engine ('2020-05-22 09:00:00.000000', 977238.0, 1028626.7115255207, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,873 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,876 INFO sqlalchemy.engine.base.Engine ('2020-05-23 09:00:00.000000', 988518.0, 998045.8131932871, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,880 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,883 INFO sqlalchemy.engine.base.Engine ('2020-05-24 09:00:00.000000', 988442.0, 986028.2592424443, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,888 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,892 INFO sqlalchemy.engine.base.Engine ('2020-05-25 09:00:00.000000', 940810.0, 986345.0210401915, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,897 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,901 INFO sqlalchemy.engine.base.Engine ('2020-05-26 09:00:00.000000', 960276.0, 958731.9526471888, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,904 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,907 INFO sqlalchemy.engine.base.Engine ('2020-05-27 09:00:00.000000', 951651.0, 953898.6932187006, '2021-03-21 11:39:13.025285')

2021-03-21 15:21:57,910 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,913 INFO sqlalchemy.engine.base.Engine ('2020-05-28 09:00:00.000000', 992287.0, 950118.715792667, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,917 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,920 INFO sqlalchemy.engine.base.Engine ('2020-05-29 09:00:00.000000', 1031382.0, 990921.1785931506, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,923 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,927 INFO sqlalchemy.engine.base.Engine ('2020-05-30 09:00:00.000000', 1016000.0, 1045210.7704484749, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,933 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,936 INFO sqlalchemy.engine.base.Engine ('2020-05-31 09:00:00.000000', 1044454.0, 1023743.7240546509, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,939 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,941 INFO sqlalchemy.engine.base.Engine ('2020-06-01 09:00:00.000000', 1017708.0, 1051599.4283977072, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,944 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,947 INFO sqlalchemy.engine.base.Engine ('2020-06-02 09:00:00.000000', 1096695.0, 1023386.4436377853, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,951 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,954 INFO sqlalchemy.engine.base.Engine ('2020-06-03 09:00:00.000000', 1036500.0, 1105529.0545535411, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,960 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,963 INFO sqlalchemy.engine.base.Engine ('2020-06-04 09:00:00.000000', 1054000.0, 1052764.361044437, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,968 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,970 INFO sqlalchemy.engine.base.Engine ('2020-06-05 09:00:00.000000', 1068556.0, 1063030.503657888, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,974 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,976 INFO sqlalchemy.engine.base.Engine ('2020-06-06 09:00:00.000000', 1055001.0, 1079359.79622234, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,979 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,983 INFO sqlalchemy.engine.base.Engine ('2020-06-07 09:00:00.000000', 1060890.0, 1057272.841353018, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,987 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,990 INFO sqlalchemy.engine.base.Engine ('2020-06-08 09:00:00.000000', 1068671.0, 1062006.1226444363, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:57,994 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:57,998 INFO sqlalchemy.engine.base.Engine ('2020-06-09 09:00:00.000000', 1061999.0, 1071343.280129126, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,002 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,005 INFO sqlalchemy.engine.base.Engine ('2020-06-10 09:00:00.000000', 1055300.0, 1063005.4042114662, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,009 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,013 INFO sqlalchemy.engine.base.Engine ('2020-06-11 09:00:00.000000', 1058435.0, 1057278.421647251, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,018 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,020 INFO sqlalchemy.engine.base.Engine ('2020-06-12 09:00:00.000000', 991979.0, 1057523.817699678, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,024 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,026 INFO sqlalchemy.engine.base.Engine ('2020-06-13 09:00:00.000000', 1019130.0, 1018229.3821929839, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,031 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,034 INFO sqlalchemy.engine.base.Engine ('2020-06-14 09:00:00.000000', 1018635.0, 1010807.1726089941, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,038 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,040 INFO sqlalchemy.engine.base.Engine ('2020-06-15 09:00:00.000000', 1002600.0, 1012170.8130981573, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,046 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,050 INFO sqlalchemy.engine.base.Engine ('2020-06-16 09:00:00.000000', 1014726.0, 1005824.2754211896, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,053 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,055 INFO sqlalchemy.engine.base.Engine ('2020-06-17 09:00:00.000000', 1023100.0, 1014131.0166987457, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,059 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,062 INFO sqlalchemy.engine.base.Engine ('2020-06-18 09:00:00.000000', 1012444.0, 1022096.92261393, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,067 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,070 INFO sqlalchemy.engine.base.Engine ('2020-06-19 09:00:00.000000', 1004324.0, 1013977.2521994665, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,075 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,078 INFO sqlalchemy.engine.base.Engine ('2020-06-20 09:00:00.000000', 996198.0, 1006533.4897168414, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,082 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,084 INFO sqlalchemy.engine.base.Engine ('2020-06-21 09:00:00.000000', 1001500.0, 999923.2416837182, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,087 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,090 INFO sqlalchemy.engine.base.Engine ('2020-06-22 09:00:00.000000', 993100.0, 1000065.9301183033, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,095 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,099 INFO sqlalchemy.engine.base.Engine ('2020-06-23 09:00:00.000000', 1035188.0, 995684.5823302694, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,103 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,106 INFO sqlalchemy.engine.base.Engine ('2020-06-24 09:00:00.000000', 1024910.0, 1038607.1430631832, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,110 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-03-21 15:21:58,115 INFO sqlalchemy.engine.base.Engine ('2020-06-25 09:00:00.000000', 996110.0, 1033491.5037139038, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,118 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,121 INFO sqlalchemy.engine.base.Engine ('2020-06-26 09:00:00.000000', 991379.0, 1004691.020524385, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,126 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,129 INFO sqlalchemy.engine.base.Engine ('2020-06-27 09:00:00.000000', 983990.0, 993504.6804078248, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,134 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,137 INFO sqlalchemy.engine.base.Engine ('2020-06-28 09:00:00.000000', 969100.0, 986626.2908612244, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,140 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,142 INFO sqlalchemy.engine.base.Engine ('2020-06-29 09:00:00.000000', 979187.0, 975888.0739244306, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,148 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,151 INFO sqlalchemy.engine.base.Engine ('2020-06-30 09:00:00.000000', 990000.0, 975943.8104282739, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,155 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,157 INFO sqlalchemy.engine.base.Engine ('2020-07-01 09:00:00.000000', 987501.0, 987874.4142790032, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,163 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,167 INFO sqlalchemy.engine.base.Engine ('2020-07-02 09:00:00.000000', 992614.0, 989579.0117972845, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,170 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,173 INFO sqlalchemy.engine.base.Engine ('2020-07-03 09:00:00.000000', 979088.0, 994265.4332210011, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,177 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,181 INFO sqlalchemy.engine.base.Engine ('2020-07-04 09:00:00.000000', 976000.0, 982441.248376807, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,186 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,188 INFO sqlalchemy.engine.base.Engine ('2020-07-05 09:00:00.000000', 983699.0, 977877.2392387816, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,191 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,195 INFO sqlalchemy.engine.base.Engine ('2020-07-06 09:00:00.000000', 977116.0, 980514.9044188752, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,202 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,206 INFO sqlalchemy.engine.base.Engine ('2020-07-07 09:00:00.000000', 1003420.0, 978706.0937767691, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,210 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,214 INFO sqlalchemy.engine.base.Engine ('2020-07-08 09:00:00.000000', 996682.0, 1006788.0150479729, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,219 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,223 INFO sqlalchemy.engine.base.Engine ('2020-07-09 09:00:00.000000', 1012852.0, 1001981.5029750754, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,227 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,230 INFO sqlalchemy.engine.base.Engine ('2020-07-10 09:00:00.000000', 991400.0, 1018098.7507023598, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,234 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,236 INFO sqlalchemy.engine.base.Engine ('2020-07-11 09:00:00.000000', 994063.0, 995198.0226387574, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,238 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,242 INFO sqlalchemy.engine.base.Engine ('2020-07-12 09:00:00.000000', 988877.0, 993832.3602138839, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,246 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,248 INFO sqlalchemy.engine.base.Engine ('2020-07-13 09:00:00.000000', 994403.0, 990092.2279335383, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,252 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,255 INFO sqlalchemy.engine.base.Engine ('2020-07-14 09:00:00.000000', 991999.0, 993403.0541198559, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,258 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,260 INFO sqlalchemy.engine.base.Engine ('2020-07-15 09:00:00.000000', 992629.0, 992457.5162959041, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,265 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,268 INFO sqlalchemy.engine.base.Engine ('2020-07-16 09:00:00.000000', 984953.0, 992516.3665727581, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,272 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,275 INFO sqlalchemy.engine.base.Engine ('2020-07-17 09:00:00.000000', 981001.0, 987588.6045217079, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,279 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,282 INFO sqlalchemy.engine.base.Engine ('2020-07-18 09:00:00.000000', 981400.0, 983168.2213931422, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,287 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,291 INFO sqlalchemy.engine.base.Engine ('2020-07-19 09:00:00.000000', 983008.0, 981270.937048106, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,297 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,302 INFO sqlalchemy.engine.base.Engine ('2020-07-20 09:00:00.000000', 987318.0, 982628.0455454065, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,308 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,312 INFO sqlalchemy.engine.base.Engine ('2020-07-21 09:00:00.000000', 983258.0, 987810.9951323203, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,317 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,322 INFO sqlalchemy.engine.base.Engine ('2020-07-22 09:00:00.000000', 1003851.0, 984064.4238134708, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,332 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,334 INFO sqlalchemy.engine.base.Engine ('2020-07-23 09:00:00.000000', 1021745.0, 1006787.7296138109, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,338 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-03-21 15:21:58,341 INFO sqlalchemy.engine.base.Engine ('2020-07-24 09:00:00.000000', 1026771.0, 1028303.071739922, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,345 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,348 INFO sqlalchemy.engine.base.Engine ('2020-07-25 09:00:00.000000', 1014790.0, 1031903.5722712376, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,352 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,355 INFO sqlalchemy.engine.base.Engine ('2020-07-26 09:00:00.000000', 1030800.0, 1016051.202270796, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,362 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,365 INFO sqlalchemy.engine.base.Engine ('2020-07-27 09:00:00.000000', 1052800.0, 1032156.1343787531, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,370 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,373 INFO sqlalchemy.engine.base.Engine ('2020-07-28 09:00:00.000000', 1161792.0, 1058233.9148050237, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,377 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,383 INFO sqlalchemy.engine.base.Engine ('2020-07-29 09:00:00.000000', 1148483.0, 1182792.1184921074, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,388 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,391 INFO sqlalchemy.engine.base.Engine ('2020-07-30 09:00:00.000000', 1167267.0, 1169859.7129722403, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,397 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,400 INFO sqlalchemy.engine.base.Engine ('2020-07-31 09:00:00.000000', 1162795.0, 1181866.8277778092, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,404 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,407 INFO sqlalchemy.engine.base.Engine ('2020-08-01 09:00:00.000000', 1201369.0, 1168149.4537426278, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,411 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,414 INFO sqlalchemy.engine.base.Engine ('2020-08-02 09:00:00.000000', 1253271.0, 1207986.2052080678, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,418 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,420 INFO sqlalchemy.engine.base.Engine ('2020-08-03 09:00:00.000000', 1174208.0, 1268642.1398210966, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,425 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,428 INFO sqlalchemy.engine.base.Engine ('2020-08-04 09:00:00.000000', 1192124.0, 1190249.8199923632, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,434 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,436 INFO sqlalchemy.engine.base.Engine ('2020-08-05 09:00:00.000000', 1184018.0, 1191890.7422593778, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,440 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,443 INFO sqlalchemy.engine.base.Engine ('2020-08-06 09:00:00.000000', 1241698.0, 1183504.7258716077, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,447 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,450 INFO sqlalchemy.engine.base.Engine ('2020-08-07 09:00:00.000000', 1244183.0, 1236757.865970082, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,455 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,458 INFO sqlalchemy.engine.base.Engine ('2020-08-08 09:00:00.000000', 1232000.0, 1256989.3877575544, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,461 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,466 INFO sqlalchemy.engine.base.Engine ('2020-08-09 09:00:00.000000', 1247789.0, 1238144.5099171258, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,470 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,472 INFO sqlalchemy.engine.base.Engine ('2020-08-10 09:00:00.000000', 1238888.0, 1250007.3799563951, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,476 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,478 INFO sqlalchemy.engine.base.Engine ('2020-08-11 09:00:00.000000', 1261304.0, 1240013.0375138954, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,482 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,485 INFO sqlalchemy.engine.base.Engine ('2020-08-12 09:00:00.000000', 1216250.0, 1264402.9527508724, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,488 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,491 INFO sqlalchemy.engine.base.Engine ('2020-08-13 09:00:00.000000', 1237245.0, 1229216.09009258, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,495 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,500 INFO sqlalchemy.engine.base.Engine ('2020-08-14 09:00:00.000000', 1260621.0, 1231295.8564600344, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,505 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,509 INFO sqlalchemy.engine.base.Engine ('2020-08-15 09:00:00.000000', 1256372.0, 1259796.804716248, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,512 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,517 INFO sqlalchemy.engine.base.Engine ('2020-08-16 09:00:00.000000', 1264963.0, 1259542.7038456302, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,522 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,525 INFO sqlalchemy.engine.base.Engine ('2020-08-17 09:00:00.000000', 1269993.0, 1268212.9744760676, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,529 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,532 INFO sqlalchemy.engine.base.Engine ('2020-08-18 09:00:00.000000', 1305300.0, 1273003.776697851, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,539 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,543 INFO sqlalchemy.engine.base.Engine ('2020-08-19 09:00:00.000000', 1261745.0, 1312128.0748434274, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,549 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,553 INFO sqlalchemy.engine.base.Engine ('2020-08-20 09:00:00.000000', 1249355.0, 1271138.285039008, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,556 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,559 INFO sqlalchemy.engine.base.Engine ('2020-08-21 09:00:00.000000', 1254646.0, 1255332.404850297, '2021-03-21 11:39:13.025285')

2021-03-21 15:21:58,565 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,569 INFO sqlalchemy.engine.base.Engine ('2020-08-22 09:00:00.000000', 1222031.0, 1252623.436645065, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,572 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,575 INFO sqlalchemy.engine.base.Engine ('2020-08-23 09:00:00.000000', 1237485.0, 1234541.9015668426, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,578 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,582 INFO sqlalchemy.engine.base.Engine ('2020-08-24 09:00:00.000000', 1235514.0, 1232838.5153396812, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,587 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,591 INFO sqlalchemy.engine.base.Engine ('2020-08-25 09:00:00.000000', 1246899.0, 1232643.8765302321, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,595 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,598 INFO sqlalchemy.engine.base.Engine ('2020-08-26 09:00:00.000000', 1208500.0, 1246086.8101460808, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,602 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,605 INFO sqlalchemy.engine.base.Engine ('2020-08-27 09:00:00.000000', 1216528.0, 1220104.2580099523, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,608 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,612 INFO sqlalchemy.engine.base.Engine ('2020-08-28 09:00:00.000000', 1209914.0, 1214496.686135399, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,617 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,619 INFO sqlalchemy.engine.base.Engine ('2020-08-29 09:00:00.000000', 1215522.0, 1209549.3666317093, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,625 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,627 INFO sqlalchemy.engine.base.Engine ('2020-08-30 09:00:00.000000', 1213222.0, 1214681.2133340559, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,632 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,634 INFO sqlalchemy.engine.base.Engine ('2020-08-31 09:00:00.000000', 1237375.0, 1214540.6053915187, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,637 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,641 INFO sqlalchemy.engine.base.Engine ('2020-09-01 09:00:00.000000', 1238000.0, 1240526.7001876077, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,646 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,650 INFO sqlalchemy.engine.base.Engine ('2020-09-02 09:00:00.000000', 1264036.0, 1243305.744901393, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,658 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,662 INFO sqlalchemy.engine.base.Engine ('2020-09-03 09:00:00.000000', 1213836.0, 1270728.7732783298, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,666 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,669 INFO sqlalchemy.engine.base.Engine ('2020-09-04 09:00:00.000000', 1081385.0, 1225392.4279345826, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,674 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,676 INFO sqlalchemy.engine.base.Engine ('2020-09-05 09:00:00.000000', 1116228.0, 1137268.6199405256, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,680 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,683 INFO sqlalchemy.engine.base.Engine ('2020-09-06 09:00:00.000000', 1081637.0, 1107722.347670154, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,686 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,688 INFO sqlalchemy.engine.base.Engine ('2020-09-07 09:00:00.000000', 1093172.0, 1087044.1503329002, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,692 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,695 INFO sqlalchemy.engine.base.Engine ('2020-09-08 09:00:00.000000', 1104509.0, 1091855.192200519, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,699 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,701 INFO sqlalchemy.engine.base.Engine ('2020-09-09 09:00:00.000000', 1074006.0, 1108933.9615712238, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,705 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,707 INFO sqlalchemy.engine.base.Engine ('2020-09-10 09:00:00.000000', 1087081.0, 1082518.2410112526, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,712 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,716 INFO sqlalchemy.engine.base.Engine ('2020-09-11 09:00:00.000000', 1099282.0, 1083860.7387206408, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,722 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,725 INFO sqlalchemy.engine.base.Engine ('2020-09-12 09:00:00.000000', 1103947.0, 1095952.2566993863, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,730 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,735 INFO sqlalchemy.engine.base.Engine ('2020-09-13 09:00:00.000000', 1110235.0, 1105978.4790258447, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,739 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,742 INFO sqlalchemy.engine.base.Engine ('2020-09-14 09:00:00.000000', 1098495.0, 1112897.935409448, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,745 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,747 INFO sqlalchemy.engine.base.Engine ('2020-09-15 09:00:00.000000', 1129458.0, 1099786.2108320543, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,751 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,754 INFO sqlalchemy.engine.base.Engine ('2020-09-16 09:00:00.000000', 1138456.0, 1132608.3651901337, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,757 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,762 INFO sqlalchemy.engine.base.Engine ('2020-09-17 09:00:00.000000', 1152172.0, 1146108.94447663, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,766 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,769 INFO sqlalchemy.engine.base.Engine ('2020-09-18 09:00:00.000000', 1146789.0, 1158369.6309979616, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,773 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-03-21 15:21:58,777 INFO sqlalchemy.engine.base.Engine ('2020-09-19 09:00:00.000000', 1144683.0, 1148951.0075131443, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,782 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,785 INFO sqlalchemy.engine.base.Engine ('2020-09-20 09:00:00.000000', 1159267.0, 1145784.8884314909, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,788 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,790 INFO sqlalchemy.engine.base.Engine ('2020-09-21 09:00:00.000000', 1142239.0, 1161637.0152539227, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,795 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,798 INFO sqlalchemy.engine.base.Engine ('2020-09-22 09:00:00.000000', 1091082.0, 1146479.6156175171, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,803 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,805 INFO sqlalchemy.engine.base.Engine ('2020-09-23 09:00:00.000000', 1106570.0, 1112101.8207542384, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,809 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,811 INFO sqlalchemy.engine.base.Engine ('2020-09-24 09:00:00.000000', 1078788.0, 1102269.1410604273, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,816 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,820 INFO sqlalchemy.engine.base.Engine ('2020-09-25 09:00:00.000000', 1132018.0, 1086546.431105554, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,823 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,827 INFO sqlalchemy.engine.base.Engine ('2020-09-26 09:00:00.000000', 1129490.0, 1123028.1465641249, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,831 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,833 INFO sqlalchemy.engine.base.Engine ('2020-09-27 09:00:00.000000', 1134774.0, 1140838.9762056377, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,837 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,840 INFO sqlalchemy.engine.base.Engine ('2020-09-28 09:00:00.000000', 1138923.0, 1141332.6472744704, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,843 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,845 INFO sqlalchemy.engine.base.Engine ('2020-09-29 09:00:00.000000', 1128478.0, 1141704.6813979964, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,850 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,853 INFO sqlalchemy.engine.base.Engine ('2020-09-30 09:00:00.000000', 1146293.0, 1131135.373793262, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,856 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,859 INFO sqlalchemy.engine.base.Engine ('2020-10-01 09:00:00.000000', 1137292.0, 1147252.6302294645, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,862 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,865 INFO sqlalchemy.engine.base.Engine ('2020-10-02 09:00:00.000000', 1121999.0, 1140004.50171781, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,869 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,872 INFO sqlalchemy.engine.base.Engine ('2020-10-03 09:00:00.000000', 1114512.0, 1127448.6420186523, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,875 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,877 INFO sqlalchemy.engine.base.Engine ('2020-10-04 09:00:00.000000', 1112500.0, 1118054.959306562, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,882 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,885 INFO sqlalchemy.engine.base.Engine ('2020-10-05 09:00:00.000000', 1127500.0, 1113669.6629201474, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,890 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,894 INFO sqlalchemy.engine.base.Engine ('2020-10-06 09:00:00.000000', 1141000.0, 1124060.7529219647, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,898 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,902 INFO sqlalchemy.engine.base.Engine ('2020-10-07 09:00:00.000000', 1121836.0, 1145360.8936936199, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,905 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,906 INFO sqlalchemy.engine.base.Engine ('2020-10-08 09:00:00.000000', 1131100.0, 1125287.8084452553, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,910 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,913 INFO sqlalchemy.engine.base.Engine ('2020-10-09 09:00:00.000000', 1157278.0, 1131522.5910643013, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,917 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,921 INFO sqlalchemy.engine.base.Engine ('2020-10-10 09:00:00.000000', 1168815.0, 1161172.8545299927, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,924 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,926 INFO sqlalchemy.engine.base.Engine ('2020-10-11 09:00:00.000000', 1192637.0, 1175920.4319978338, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,930 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,934 INFO sqlalchemy.engine.base.Engine ('2020-10-12 09:00:00.000000', 1200341.0, 1200339.4250817322, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,937 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,940 INFO sqlalchemy.engine.base.Engine ('2020-10-13 09:00:00.000000', 1215517.0, 1206408.606352212, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,944 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,949 INFO sqlalchemy.engine.base.Engine ('2020-10-14 09:00:00.000000', 1204407.0, 1221081.6711415194, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,953 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,955 INFO sqlalchemy.engine.base.Engine ('2020-10-15 09:00:00.000000', 1200316.0, 1206251.46792393, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,958 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,960 INFO sqlalchemy.engine.base.Engine ('2020-10-16 09:00:00.000000', 1212122.0, 1202034.9156302286, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,966 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,969 INFO sqlalchemy.engine.base.Engine ('2020-10-17 09:00:00.000000', 1194529.0, 1212490.4334608437, '2021-03-21 11:39:13.025285')

2021-03-21 15:21:58,973 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,976 INFO sqlalchemy.engine.base.Engine ('2020-10-18 09:00:00.000000', 1197535.0, 1199525.0292597609, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,979 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,983 INFO sqlalchemy.engine.base.Engine ('2020-10-19 09:00:00.000000', 1213571.0, 1197015.7192209398, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,987 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,989 INFO sqlalchemy.engine.base.Engine ('2020-10-20 09:00:00.000000', 1237405.0, 1213228.0995143447, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:58,993 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:58,997 INFO sqlalchemy.engine.base.Engine ('2020-10-21 09:00:00.000000', 1256584.0, 1243087.0935802958, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,000 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,004 INFO sqlalchemy.engine.base.Engine ('2020-10-22 09:00:00.000000', 1340000.0, 1264645.1395320971, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,007 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,009 INFO sqlalchemy.engine.base.Engine ('2020-10-23 09:00:00.000000', 1357938.0, 1358716.466020077, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,015 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,018 INFO sqlalchemy.engine.base.Engine ('2020-10-24 09:00:00.000000', 1354278.0, 1377595.2178049337, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,022 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,025 INFO sqlalchemy.engine.base.Engine ('2020-10-25 09:00:00.000000', 1371544.0, 1364236.9041770434, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,030 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,034 INFO sqlalchemy.engine.base.Engine ('2020-10-26 09:00:00.000000', 1364513.0, 1376108.4275184304, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,037 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,040 INFO sqlalchemy.engine.base.Engine ('2020-10-27 09:00:00.000000', 1369830.0, 1367414.9621110251, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,043 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,047 INFO sqlalchemy.engine.base.Engine ('2020-10-28 09:00:00.000000', 1425690.0, 1372804.5600944785, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,051 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,054 INFO sqlalchemy.engine.base.Engine ('2020-10-29 09:00:00.000000', 1387544.0, 1435351.786340289, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,059 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,063 INFO sqlalchemy.engine.base.Engine ('2020-10-30 09:00:00.000000', 1406387.0, 1398344.8049164154, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,068 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,071 INFO sqlalchemy.engine.base.Engine ('2020-10-31 09:00:00.000000', 1419400.0, 1415817.1056336958, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,074 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,077 INFO sqlalchemy.engine.base.Engine ('2020-11-01 09:00:00.000000', 1444181.0, 1428716.152879547, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,081 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,084 INFO sqlalchemy.engine.base.Engine ('2020-11-02 09:00:00.000000', 1441000.0, 1449475.5523972784, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,088 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,092 INFO sqlalchemy.engine.base.Engine ('2020-11-03 09:00:00.000000', 1420893.0, 1445589.639400332, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,096 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,100 INFO sqlalchemy.engine.base.Engine ('2020-11-04 09:00:00.000000', 1464000.0, 1424446.6714537754, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,103 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,106 INFO sqlalchemy.engine.base.Engine ('2020-11-05 09:00:00.000000', 1477239.0, 1466196.162962808, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,110 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,114 INFO sqlalchemy.engine.base.Engine ('2020-11-06 09:00:00.000000', 1618413.0, 1486709.8874903747, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,119 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,121 INFO sqlalchemy.engine.base.Engine ('2020-11-07 09:00:00.000000', 1611191.0, 1645499.1260292865, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,126 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,128 INFO sqlalchemy.engine.base.Engine ('2020-11-08 09:00:00.000000', 1533355.0, 1639805.2801734493, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,135 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,138 INFO sqlalchemy.engine.base.Engine ('2020-11-09 09:00:00.000000', 1598834.0, 1550354.3227117744, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,143 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,145 INFO sqlalchemy.engine.base.Engine ('2020-11-10 09:00:00.000000', 1611570.0, 1597150.9951951392, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,151 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,153 INFO sqlalchemy.engine.base.Engine ('2020-11-11 09:00:00.000000', 1610899.0, 1604855.6475649967, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,157 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,159 INFO sqlalchemy.engine.base.Engine ('2020-11-12 09:00:00.000000', 1654168.0, 1613952.0024806461, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,165 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,167 INFO sqlalchemy.engine.base.Engine ('2020-11-13 09:00:00.000000', 1712114.0, 1663961.9886982036, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,171 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,173 INFO sqlalchemy.engine.base.Engine ('2020-11-14 09:00:00.000000', 1709518.0, 1729181.332248938, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,176 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-03-21 15:21:59,179 INFO sqlalchemy.engine.base.Engine ('2020-11-15 09:00:00.000000', 1685924.0, 1722030.1251913249, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,184 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,187 INFO sqlalchemy.engine.base.Engine ('2020-11-16 09:00:00.000000', 1672849.0, 1689936.6109918123, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,191 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,194 INFO sqlalchemy.engine.base.Engine ('2020-11-17 09:00:00.000000', 1747522.0, 1675403.621611749, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,199 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,202 INFO sqlalchemy.engine.base.Engine ('2020-11-18 09:00:00.000000', 1841189.0, 1740938.225030949, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,205 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,207 INFO sqlalchemy.engine.base.Engine ('2020-11-19 09:00:00.000000', 1848331.0, 1866738.9547176766, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,211 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,214 INFO sqlalchemy.engine.base.Engine ('2020-11-20 09:00:00.000000', 1849940.0, 1870500.780887468, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,220 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,224 INFO sqlalchemy.engine.base.Engine ('2020-11-21 09:00:00.000000', 1939124.0, 1859844.2187137692, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,228 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,231 INFO sqlalchemy.engine.base.Engine ('2020-11-22 09:00:00.000000', 1945098.0, 1958352.026581476, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,235 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,238 INFO sqlalchemy.engine.base.Engine ('2020-11-23 09:00:00.000000', 1911568.0, 1965018.6865166666, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,241 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,244 INFO sqlalchemy.engine.base.Engine ('2020-11-24 09:00:00.000000', 1914000.0, 1920573.500585165, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,248 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,250 INFO sqlalchemy.engine.base.Engine ('2020-11-25 09:00:00.000000', 1960390.0, 1913386.027342113, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,253 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,256 INFO sqlalchemy.engine.base.Engine ('2020-11-26 09:00:00.000000', 1952078.0, 1953628.4536267524, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,259 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,263 INFO sqlalchemy.engine.base.Engine ('2020-11-27 09:00:00.000000', 1788077.0, 1960506.021223407, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,266 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,270 INFO sqlalchemy.engine.base.Engine ('2020-11-28 09:00:00.000000', 1784100.0, 1848161.887274608, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,274 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,276 INFO sqlalchemy.engine.base.Engine ('2020-11-29 09:00:00.000000', 1846869.0, 1792531.8380605453, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,282 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,284 INFO sqlalchemy.engine.base.Engine ('2020-11-30 09:00:00.000000', 1893175.0, 1815774.6501540318, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,288 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,290 INFO sqlalchemy.engine.base.Engine ('2020-12-01 09:00:00.000000', 2045665.0, 1893958.6315882793, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,295 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,298 INFO sqlalchemy.engine.base.Engine ('2020-12-02 09:00:00.000000', 1960119.0, 2082020.0879118615, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,301 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,305 INFO sqlalchemy.engine.base.Engine ('2020-12-03 09:00:00.000000', 2005987.0, 1983099.5465343783, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,309 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,312 INFO sqlalchemy.engine.base.Engine ('2020-12-04 09:00:00.000000', 2018000.0, 2028871.3160802843, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,317 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,319 INFO sqlalchemy.engine.base.Engine ('2020-12-05 09:00:00.000000', 1947001.0, 2038709.1281595572, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,323 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,327 INFO sqlalchemy.engine.base.Engine ('2020-12-06 09:00:00.000000', 1995555.0, 1966577.5766793264, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,333 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,336 INFO sqlalchemy.engine.base.Engine ('2020-12-07 09:00:00.000000', 2016630.0, 1985749.404554095, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,340 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,343 INFO sqlalchemy.engine.base.Engine ('2020-12-08 09:00:00.000000', 1997150.0, 2010753.8533630404, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,348 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,350 INFO sqlalchemy.engine.base.Engine ('2020-12-09 09:00:00.000000', 1911000.0, 1999013.8262258356, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,354 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,358 INFO sqlalchemy.engine.base.Engine ('2020-12-10 09:00:00.000000', 1936500.0, 1939740.0782584762, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,361 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,367 INFO sqlalchemy.engine.base.Engine ('2020-12-11 09:00:00.000000', 1899694.0, 1929428.0068649703, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,372 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,375 INFO sqlalchemy.engine.base.Engine ('2020-12-12 09:00:00.000000', 1875759.0, 1908246.5965983975, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,378 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,382 INFO sqlalchemy.engine.base.Engine ('2020-12-13 09:00:00.000000', 1957880.0, 1886925.6193845186, '2021-03-21 11:39:13.025285')

2021-03-21 15:21:59,386 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,389 INFO sqlalchemy.engine.base.Engine ('2020-12-14 09:00:00.000000', 1988187.0, 1948858.5716644656, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,393 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,397 INFO sqlalchemy.engine.base.Engine ('2020-12-15 09:00:00.000000', 2000099.0, 2005686.6922630367, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,401 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,403 INFO sqlalchemy.engine.base.Engine ('2020-12-16 09:00:00.000000', 2011544.0, 2013614.6693437942, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,407 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,409 INFO sqlalchemy.engine.base.Engine ('2020-12-17 09:00:00.000000', 2204169.0, 2017721.821810963, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,412 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,417 INFO sqlalchemy.engine.base.Engine ('2020-12-18 09:00:00.000000', 2345936.0, 2238024.7467038445, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,422 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,425 INFO sqlalchemy.engine.base.Engine ('2020-12-19 09:00:00.000000', 2384389.0, 2404826.053131949, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,428 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,433 INFO sqlalchemy.engine.base.Engine ('2020-12-20 09:00:00.000000', 2463470.0, 2426418.9867703626, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,436 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,439 INFO sqlalchemy.engine.base.Engine ('2020-12-21 09:00:00.000000', 2431406.0, 2493619.2665250152, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,442 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,444 INFO sqlalchemy.engine.base.Engine ('2020-12-22 09:00:00.000000', 2352054.0, 2443157.4089524047, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,450 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,454 INFO sqlalchemy.engine.base.Engine ('2020-12-23 09:00:00.000000', 2463605.0, 2372822.8971627746, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,457 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,460 INFO sqlalchemy.engine.base.Engine ('2020-12-24 09:00:00.000000', 2402890.0, 2450864.970874672, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,465 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,467 INFO sqlalchemy.engine.base.Engine ('2020-12-25 09:00:00.000000', 2455575.0, 2408530.013033157, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,472 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,474 INFO sqlalchemy.engine.base.Engine ('2020-12-26 09:00:00.000000', 2549805.0, 2464347.935754643, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,479 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,482 INFO sqlalchemy.engine.base.Engine ('2020-12-27 09:00:00.000000', 2744909.0, 2578383.85465287, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,486 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,488 INFO sqlalchemy.engine.base.Engine ('2020-12-28 09:00:00.000000', 2720240.0, 2792873.2806028915, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,491 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,494 INFO sqlalchemy.engine.base.Engine ('2020-12-29 09:00:00.000000', 2805138.0, 2757631.911176584, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,499 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,503 INFO sqlalchemy.engine.base.Engine ('2020-12-30 09:00:00.000000', 2827970.0, 2837156.8210851206, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,508 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,511 INFO sqlalchemy.engine.base.Engine ('2020-12-31 09:00:00.000000', 2957123.0, 2851247.326756709, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,517 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,519 INFO sqlalchemy.engine.base.Engine ('2021-01-01 09:00:00.000000', 2968795.0, 2988204.760660449, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,523 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,526 INFO sqlalchemy.engine.base.Engine ('2021-01-02 09:00:00.000000', 3010042.0, 2996564.8968641176, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,529 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,534 INFO sqlalchemy.engine.base.Engine ('2021-01-03 09:00:00.000000', 3318029.0, 3031087.752034645, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,539 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,542 INFO sqlalchemy.engine.base.Engine ('2021-01-04 09:00:00.000000', 3410000.0, 3380419.6234513465, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,547 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,552 INFO sqlalchemy.engine.base.Engine ('2021-01-05 09:00:00.000000', 3292693.0, 3486893.0771517293, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,556 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,560 INFO sqlalchemy.engine.base.Engine ('2021-01-06 09:00:00.000000', 3470021.0, 3324061.7481309827, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,566 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,569 INFO sqlalchemy.engine.base.Engine ('2021-01-07 09:00:00.000000', 3794337.0, 3495273.9747164436, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,573 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,577 INFO sqlalchemy.engine.base.Engine ('2021-01-08 09:00:00.000000', 4101108.0, 3870725.371738314, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,580 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,584 INFO sqlalchemy.engine.base.Engine ('2021-01-09 09:00:00.000000', 4225266.0, 4215243.257022531, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,587 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,590 INFO sqlalchemy.engine.base.Engine ('2021-01-10 09:00:00.000000', 4186509.0, 4314990.314815443, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,593 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-03-21 15:21:59,595 INFO sqlalchemy.engine.base.Engine ('2021-01-11 09:00:00.000000', 3979170.0, 4222568.195845958, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,601 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,605 INFO sqlalchemy.engine.base.Engine ('2021-01-12 09:00:00.000000', 3691706.0, 4005040.0521453707, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,608 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,611 INFO sqlalchemy.engine.base.Engine ('2021-01-13 09:00:00.000000', 3528567.0, 3820852.026292131, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,616 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,619 INFO sqlalchemy.engine.base.Engine ('2021-01-14 09:00:00.000000', 3882383.0, 3616768.3602734418, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,623 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,627 INFO sqlalchemy.engine.base.Engine ('2021-01-15 09:00:00.000000', 4063030.0, 3767965.1880935063, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,633 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,636 INFO sqlalchemy.engine.base.Engine ('2021-01-16 09:00:00.000000', 3820075.0, 4102122.8033050746, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,641 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,644 INFO sqlalchemy.engine.base.Engine ('2021-01-17 09:00:00.000000', 3742517.0, 3868921.397740554, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,648 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,652 INFO sqlalchemy.engine.base.Engine ('2021-01-18 09:00:00.000000', 3717046.0, 3753967.5080883265, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,656 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,659 INFO sqlalchemy.engine.base.Engine ('2021-01-19 09:00:00.000000', 3800000.0, 3725585.7915775543, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,663 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,667 INFO sqlalchemy.engine.base.Engine ('2021-01-20 09:00:00.000000', 3736678.0, 3781916.8544408423, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,671 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,674 INFO sqlalchemy.engine.base.Engine ('2021-01-21 09:00:00.000000', 3683531.0, 3748744.660974207, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,678 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,681 INFO sqlalchemy.engine.base.Engine ('2021-01-22 09:00:00.000000', 3184848.0, 3704900.5612409464, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,684 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,689 INFO sqlalchemy.engine.base.Engine ('2021-01-23 09:00:00.000000', 3423811.0, 3386974.924233372, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,692 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,694 INFO sqlalchemy.engine.base.Engine ('2021-01-24 09:00:00.000000', 3332124.0, 3349616.0724965315, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,700 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,703 INFO sqlalchemy.engine.base.Engine ('2021-01-25 09:00:00.000000', 3350424.0, 3314033.9645798737, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,706 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,711 INFO sqlalchemy.engine.base.Engine ('2021-01-26 09:00:00.000000', 3353886.0, 3339632.8134579547, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,717 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,720 INFO sqlalchemy.engine.base.Engine ('2021-01-27 09:00:00.000000', 3363982.0, 3371971.4547907417, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,723 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,725 INFO sqlalchemy.engine.base.Engine ('2021-01-28 09:00:00.000000', 3167193.0, 3363169.9547735583, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,729 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,733 INFO sqlalchemy.engine.base.Engine ('2021-01-29 09:00:00.000000', 3480542.0, 3241129.6066287225, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,737 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,740 INFO sqlalchemy.engine.base.Engine ('2021-01-30 09:00:00.000000', 3576069.0, 3437390.12845003, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,745 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,749 INFO sqlalchemy.engine.base.Engine ('2021-01-31 09:00:00.000000', 3579626.0, 3637737.839333186, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,754 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,757 INFO sqlalchemy.engine.base.Engine ('2021-02-01 09:00:00.000000', 3456656.0, 3621750.745770111, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,760 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,764 INFO sqlalchemy.engine.base.Engine ('2021-02-02 09:00:00.000000', 3485976.0, 3462531.8558109915, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,772 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,776 INFO sqlalchemy.engine.base.Engine ('2021-02-03 09:00:00.000000', 3712619.0, 3477144.9012698415, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,783 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,788 INFO sqlalchemy.engine.base.Engine ('2021-02-04 09:00:00.000000', 3932798.0, 3706267.104298763, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,794 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,799 INFO sqlalchemy.engine.base.Engine ('2021-02-05 09:00:00.000000', 3901624.0, 4006363.9188214038, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,806 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,809 INFO sqlalchemy.engine.base.Engine ('2021-02-06 09:00:00.000000', 4035812.0, 3949069.0657088, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,814 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,819 INFO sqlalchemy.engine.base.Engine ('2021-02-07 09:00:00.000000', 4131757.0, 4075828.1325448756, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,825 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,829 INFO sqlalchemy.engine.base.Engine ('2021-02-08 09:00:00.000000', 4097000.0, 4177089.658209255, '2021-03-21 11:39:13.025285')

2021-03-21 15:21:59,834 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,836 INFO sqlalchemy.engine.base.Engine ('2021-02-09 09:00:00.000000', 4875000.0, 4118747.266470525, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,840 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,845 INFO sqlalchemy.engine.base.Engine ('2021-02-10 09:00:00.000000', 4874233.0, 5004155.183693565, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,849 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,853 INFO sqlalchemy.engine.base.Engine ('2021-02-11 09:00:00.000000', 4704412.0, 5043309.40916493, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,857 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,860 INFO sqlalchemy.engine.base.Engine ('2021-02-12 09:00:00.000000', 5014707.0, 4785815.332895338, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,865 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,869 INFO sqlalchemy.engine.base.Engine ('2021-02-13 09:00:00.000000', 4973709.0, 5062020.485313512, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,873 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,877 INFO sqlalchemy.engine.base.Engine ('2021-02-14 09:00:00.000000', 4957394.0, 5023313.630827175, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,882 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,887 INFO sqlalchemy.engine.base.Engine ('2021-02-15 09:00:00.000000', 5111984.0, 4988166.4654300595, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,890 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,893 INFO sqlalchemy.engine.base.Engine ('2021-02-16 09:00:00.000000', 5055269.0, 5147021.362564384, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,897 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,902 INFO sqlalchemy.engine.base.Engine ('2021-02-17 09:00:00.000000', 5205481.0, 5085633.704623465, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,905 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,908 INFO sqlalchemy.engine.base.Engine ('2021-02-18 09:00:00.000000', 5526975.0, 5242538.470778422, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,913 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,916 INFO sqlalchemy.engine.base.Engine ('2021-02-19 09:00:00.000000', 5456000.0, 5606959.829606262, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,920 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,923 INFO sqlalchemy.engine.base.Engine ('2021-02-20 09:00:00.000000', 5910646.0, 5518540.828861438, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,925 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,928 INFO sqlalchemy.engine.base.Engine ('2021-02-21 09:00:00.000000', 5910115.0, 6012040.836195851, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,933 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,937 INFO sqlalchemy.engine.base.Engine ('2021-02-22 09:00:00.000000', 6080178.0, 6007177.279559594, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,942 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,945 INFO sqlalchemy.engine.base.Engine ('2021-02-23 09:00:00.000000', 5687069.0, 6157983.280767792, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,950 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,955 INFO sqlalchemy.engine.base.Engine ('2021-02-24 09:00:00.000000', 5176658.0, 5746703.3723018505, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,959 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,962 INFO sqlalchemy.engine.base.Engine ('2021-02-25 09:00:00.000000', 5281086.0, 5404962.4433731055, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,968 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,971 INFO sqlalchemy.engine.base.Engine ('2021-02-26 09:00:00.000000', 5024775.0, 5258910.724672943, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,974 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,978 INFO sqlalchemy.engine.base.Engine ('2021-02-27 09:00:00.000000', 4940000.0, 5107347.749526701, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,983 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,985 INFO sqlalchemy.engine.base.Engine ('2021-02-28 09:00:00.000000', 4932453.0, 4990803.3354071295, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,990 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:21:59,993 INFO sqlalchemy.engine.base.Engine ('2021-03-01 09:00:00.000000', 4819026.0, 4931810.739820114, '2021-03-21 11:39:13.025285')
2021-03-21 15:21:59,998 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:22:00,002 INFO sqlalchemy.engine.base.Engine ('2021-03-02 09:00:00.000000', 5310495.0, 4866386.196449147, '2021-03-21 11:39:13.025285')
2021-03-21 15:22:00,006 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:22:00,010 INFO sqlalchemy.engine.base.Engine ('2021-03-03 09:00:00.000000', 5178380.0, 5315719.194162073, '2021-03-21 11:39:13.025285')
2021-03-21 15:22:00,015 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:22:00,019 INFO sqlalchemy.engine.base.Engine ('2021-03-04 09:00:00.000000', 5401948.0, 5278574.230854421, '2021-03-21 11:39:13.025285')
2021-03-21 15:22:00,024 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:22:00,027 INFO sqlalchemy.engine.base.Engine ('2021-03-05 09:00:00.000000', 5223621.0, 5491317.856138384, '2021-03-21 11:39:13.025285')
2021-03-21 15:22:00,033 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:22:00,037 INFO sqlalchemy.engine.base.Engine ('2021-03-06 09:00:00.000000', 5288600.0, 5263047.080215822, '2021-03-21 11:39:13.025285')
2021-03-21 15:22:00,042 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:22:00,045 INFO sqlalchemy.engine.base.Engine ('2021-03-07 09:00:00.000000', 5285300.0, 5292714.331723553, '2021-03-21 11:39:13.025285')
2021-03-21 15:22:00,050 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:22:00,053 INFO sqlalchemy.engine.base.Engine ('2021-03-08 09:00:00.000000', 5513976.0, 5313262.260636762, '2021-03-21 11:39:13.025285')
2021-03-21 15:22:00,056 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)

2021-03-21 15:22:00,058 INFO sqlalchemy.engine.base.Engine ('2021-03-09 09:00:00.000000', 5675188.0, 5529633.82867851, '2021-03-21 11:39:13.025285')
2021-03-21 15:22:00,062 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:22:00,067 INFO sqlalchemy.engine.base.Engine ('2021-03-10 09:00:00.000000', 5943999.0, 5744538.329818613, '2021-03-21 11:39:13.025285')
2021-03-21 15:22:00,072 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:22:00,074 INFO sqlalchemy.engine.base.Engine ('2021-03-11 09:00:00.000000', 6047865.0, 6028960.952697689, '2021-03-21 11:39:13.025285')
2021-03-21 15:22:00,077 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:22:00,081 INFO sqlalchemy.engine.base.Engine ('2021-03-12 09:00:00.000000', 6272402.0, 6119749.213528922, '2021-03-21 11:39:13.025285')
2021-03-21 15:22:00,086 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:22:00,089 INFO sqlalchemy.engine.base.Engine ('2021-03-13 09:00:00.000000', 6230001.0, 6346509.39008186, '2021-03-21 11:39:13.025285')
2021-03-21 15:22:00,094 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:22:00,098 INFO sqlalchemy.engine.base.Engine ('2021-03-14 09:00:00.000000', 6680000.0, 6269041.207930334, '2021-03-21 11:39:13.025285')
2021-03-21 15:22:00,103 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:22:00,108 INFO sqlalchemy.engine.base.Engine ('2021-03-15 09:00:00.000000', 6432427.0, 6772049.99198769, '2021-03-21 11:39:13.025285')
2021-03-21 15:22:00,113 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:22:00,118 INFO sqlalchemy.engine.base.Engine ('2021-03-16 09:00:00.000000', 6082381.0, 6508439.653369639, '2021-03-21 11:39:13.025285')
2021-03-21 15:22:00,122 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:22:00,126 INFO sqlalchemy.engine.base.Engine ('2021-03-17 09:00:00.000000', 6200000.0, 6208172.609530944, '2021-03-21 11:39:13.025285')
2021-03-21 15:22:00,132 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:22:00,136 INFO sqlalchemy.engine.base.Engine ('2021-03-18 09:00:00.000000', 6411597.0, 6173887.293809362, '2021-03-21 11:39:13.025285')
2021-03-21 15:22:00,142 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:22:00,146 INFO sqlalchemy.engine.base.Engine ('2021-03-19 09:00:00.000000', 6284358.0, 6341519.627405506, '2021-03-21 11:39:13.025285')
2021-03-21 15:22:00,154 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:22:00,157 INFO sqlalchemy.engine.base.Engine ('2021-03-20 09:00:00.000000', 6327712.0, 6307707.543258409, '2021-03-21 11:39:13.025285')
2021-03-21 15:22:00,162 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:22:00,169 INFO sqlalchemy.engine.base.Engine ('2021-03-21 09:00:00.000000', 6333656.0, 6352390.310195476, '2021-03-21 11:39:13.025285')
2021-03-21 15:22:00,211 INFO sqlalchemy.engine.base.Engine COMMIT
2021-03-21 15:22:00,258 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-03-21 15:22:00,261 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-03-21 15:22:00,267 INFO sqlalchemy.engine.base.Engine ()
2021-03-21 15:22:00,717 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-03-21 15:22:00,720 INFO sqlalchemy.engine.base.Engine ()
2021-03-21 15:22:01,073 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:22:01,078 INFO sqlalchemy.engine.base.Engine ('2021-03-22 09:00:00.000000', None, 6358920.0, '2021-03-21 11:39:13.025285')
2021-03-21 15:22:01,091 INFO sqlalchemy.engine.base.Engine COMMIT

In [33]:
# data = db_session.query(Data.date, Data.real_price, Data.pred_price).all()
today = db_session.query(Data).all()[-2].date#.strftime ( '%Y – %m – %d　%H : %M : %S') 
nextday = db_session.query(Data).all()[-1].date
price_today = db_session.query(Data).all()[-2].real_price
price_nextday = db_session.query(Data).all()[-1].pred_price

print(today.strftime('%Y-%m-%d %H:%M'))
print(nextday)
print(price_today)
print(price_nextday)

2021-03-21 15:28:19,475 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-03-21 15:28:19,479 INFO sqlalchemy.engine.base.Engine ()
2021-03-21 15:28:19,711 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-03-21 15:28:19,711 INFO sqlalchemy.engine.base.Engine ()
2021-03-21 15:28:19,922 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-03-21 15:28:19,922 INFO sqlalchemy.engine.base.Engine ()
2021-03-21 15:28:20,406 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-03-21 15:28:20,408 INFO sqlalchemy.engine.base.Engine ()
2021-03-21 09:00
2021-03-22 09:00:00
6333656.0
6358920.0

In [5]:
from linebot import LineBotApi
from linebot.models import TextSendMessage

CHANNEL_ACCESS_TOKEN = "Sg+stNUrfwuTCC4XxsoXsEAzc2gIFkNdxTQcyhVC0pmHiqCU2at/kaXtXBa2WY5FC3dpjeAUu9HWFbFGHMwkSJqWDCBT/KJRUt0Q3LwAao3KyZgXiCQGU7diJkCUdz2ytUo9OixDmKk/f3MByR8ufQdB04t89/1O/w1cDnyilFU="
line_bot_api = LineBotApi(CHANNEL_ACCESS_TOKEN)

In [28]:
def main():
    # 必要なデータを取得
    today = db_session.query(Data).all()[-2].date
    nextday = db_session.query(Data).all()[-1].date
    price_today = db_session.query(Data).all()[-2].real_price
    price_nextday = db_session.query(Data).all()[-1].pred_price
    
    # 送信するメッセージを記述
    text = (
              "おはようございます！🌅 \n本日のビットコイン相場予測配信です！💹\n\n"
              f"{today.strftime('%Y-%m-%d %H:%M')}の実際相場\n"
              f"￥{price_today} (BTC/JPY)\n\n"
              f"{nextday.strftime('%Y-%m-%d %H:%M')}の予測相場\n"
              f"￥{price_nextday} (BTC/JPY)\n\n"
              "アプリケーションのURL \n"
              "https://predict-bitcoin.herokuapp.com/"
    )
    messages = TextSendMessage(text=text)
    line_bot_api.broadcast(messages=messages)

if __name__ == "__main__":
    main()

2021-03-21 14:39:06,873 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-03-21 14:39:06,876 INFO sqlalchemy.engine.base.Engine ()
2021-03-21 14:39:07,087 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-03-21 14:39:07,092 INFO sqlalchemy.engine.base.Engine ()
2021-03-21 14:39:07,296 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-03-21 14:39:07,301 INFO sqlalchemy.engine.base.Engine ()
2021-03-21 14:39:07,505 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-03-21 14:39:07,505 INFO sqlalchemy.engine.base.Engine ()

In [1]:
import predict
import line

predict.predict_nextday()
line.push()

Using TensorFlow backend.

2021-03-21 15:36:11,782 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-03-21 15:36:11,785 INFO sqlalchemy.engine.base.Engine ()
2021-03-21 15:36:11,789 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-03-21 15:36:11,792 INFO sqlalchemy.engine.base.Engine ()
2021-03-21 15:36:11,797 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-03-21 15:36:11,802 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-03-21 15:36:11,805 INFO sqlalchemy.engine.base.Engine ()
2021-03-21 15:36:12,516 INFO sqlalchemy.engine.base.Engine UPDATE data SET real_price=? WHERE data.id = ?
2021-03-21 15:36:12,519 INFO sqlalchemy.engine.base.Engine (6254588.0, 4651)
2021-03-21 15:36:12,526 INFO sqlalchemy.engine.base.Engine COMMIT
2021-03-21 15:36:12,559 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-03-21 15:36:12,564 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-03-21 15:36:12,567 INFO sqlalchemy.engine.base.Engine ()
WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\backend\tensorflow_backend.py:133: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\backend\tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\backend\tensorflow_backend.py:174: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\backend\tensorflow_backend.py:181: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\backend\tensorflow_backend.py:186: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\backend\tensorflow_backend.py:190: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\backend\tensorflow_backend.py:199: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\backend\tensorflow_backend.py:206: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\tensorflow_core\python\ops\math_grad.py:1424: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\backend\tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From C:\Users\tomot\anaconda3\envs\dashbitcopy\lib\site-packages\keras\backend\tensorflow_backend.py:973: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

2021-03-21 15:36:17,840 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-03-21 15:36:17,840 INFO sqlalchemy.engine.base.Engine ()
2021-03-21 15:36:18,241 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-03-21 15:36:18,241 INFO sqlalchemy.engine.base.Engine ('2021-03-24 09:00:00.000000', None, 6257614.5, '2021-03-21 15:36:11.560146')
2021-03-21 15:36:18,257 INFO sqlalchemy.engine.base.Engine COMMIT
2021-03-21 15:36:18,301 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-03-21 15:36:18,306 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-03-21 15:36:18,309 INFO sqlalchemy.engine.base.Engine ()
2021-03-21 15:36:18,562 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-03-21 15:36:18,562 INFO sqlalchemy.engine.base.Engine ()
2021-03-21 15:36:18,809 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-03-21 15:36:18,814 INFO sqlalchemy.engine.base.Engine ()
2021-03-21 15:36:19,191 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-03-21 15:36:19,196 INFO sqlalchemy.engine.base.Engine ()

In [2]:
import line

line.push()

2021-03-21 11:43:32,093 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-03-21 11:43:32,094 INFO sqlalchemy.engine.base.Engine ()
2021-03-21 11:43:32,100 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-03-21 11:43:32,105 INFO sqlalchemy.engine.base.Engine ()
2021-03-21 11:43:32,111 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-03-21 11:43:32,117 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-03-21 11:43:32,121 INFO sqlalchemy.engine.base.Engine ()
2021-03-21 11:43:32,556 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-03-21 11:43:32,556 INFO sqlalchemy.engine.base.Engine ()
2021-03-21 11:43:32,778 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-03-21 11:43:32,778 INFO sqlalchemy.engine.base.Engine ()
2021-03-21 11:43:33,097 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-03-21 11:43:33,102 INFO sqlalchemy.engine.base.Engine ()

In [ ]:
# DBからデータを取得
data = db_session.query(Data.date, Data.real_price, Data.pred_price).all()

# 取得したデータを項目ごとに分配
dates = []
real_prices = []
pred_prices = []

for _data in data:
    dates.append(_data.date)
    real_prices.append(_data.real_price)
    pred_prices.append(_data.pred_price)

In [6]:
# DBからデータを取得
data = db_session.query(Data.date, Data.real_price, Data.pred_price).all()

# 取得したデータを項目ごとに分配
dates = []
real_prices = []
pred_prices = []

for _data in data:
    dates.append(_data.date)
    real_prices.append(_data.real_price)
    pred_prices.append(_data.pred_price)
    
dates = np.array(dates)
real_prices = np.array(real_prices)
pred_prices = np.array(pred_prices)

real_prices

2021-03-13 15:56:27,594 INFO sqlalchemy.engine.base.Engine SELECT data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price
FROM data
2021-03-13 15:56:27,599 INFO sqlalchemy.engine.base.Engine ()

array([376384.0, 369767.0, 368506.0, 396319.0, 395754.0, 398468.0,
       394797.0, 395085.0, 395099.0, 392999.0, 393923.0, 395229.0,
       400000.0, 427531.0, 429902.0, 435816.0, 432185.0, 435789.0,
       453900.0, 413712.0, 423575.0, 419629.0, 421267.0, 422865.0,
       425943.0, 426039.0, 423661.0, 413871.0, 429450.0, 429848.0,
       430100.0, 427484.0, 435287.0, 433206.0, 428795.0, 429580.0,
       428300.0, 430167.0, 434178.0, 443635.0, 441454.0, 442176.0,
       445064.0, 445814.0, 440825.0, 438504.0, 438500.0, 436971.0,
       429928.0, 433151.0, 444477.0, 443222.0, 452501.0, 453000.0,
       453417.0, 460500.0, 545469.0, 555300.0, 548000.0, 562532.0,
       563489.0, 579725.0, 588520.0, 576430.0, 591143.0, 564000.0,
       569500.0, 568149.0, 577750.0, 563500.0, 581653.0, 584418.0,
       591395.0, 591437.0, 595646.0, 594101.0, 603102.0, 619737.0,
       611479.0, 579000.0, 579700.0, 579990.0, 579000.0, 577863.0,
       587393.0, 593000.0, 601458.0, 628473.0, 640290.0, 632873.0,
       629700.0, 636280.0, 653899.0, 674664.0, 698820.0, 797940.0,
       766297.0, 854062.0, 877000.0, 897002.0, 867106.0, 813262.0,
       801006.0, 899120.0, 878650.0, 879495.0, 844000.0, 863494.0,
       874415.0, 883875.0, 953474.0, 960100.0, 952867.0, 948273.0,
       907386.0, 928180.0, 925022.0, 946500.0, 878998.0, 831423.0,
       844971.0, 846482.0, 867670.0, 860954.0, 833600.0, 870015.0,
       860725.0, 886889.0, 893750.0, 944847.0, 959400.0, 977299.0,
       1013696.0, 986025.0, 1002024.0, 1023420.0, 1095000.0, 1145500.0,
       1163505.0, 1180700.0, 1262333.0, 1399265.0, 1221271.0, 1342710.0,
       1290768.0, 1171306.0, 1156299.0, 1174473.0, 1291931.0, 1204098.0,
       1197650.0, 1222633.0, 1246467.0, 1335843.0, 1369916.0, 1313605.0,
       1237053.0, 1278534.0, 1233028.0, 1103883.0, 1177393.0, 1021334.0,
       1045283.0, 1144998.0, 1134597.0, 1160989.0, 1142766.0, 1114925.0,
       1067521.0, 1056426.0, 1074893.0, 1070121.0, 1030983.0, 1036720.0,
       1035395.0, 1041900.0, 1098400.0, 1118400.0, 1123000.0, 1153754.0,
       1170875.0, 1246972.0, 1220016.0, 1269227.0, 1267904.0, 1253887.0,
       1192119.0, 1216700.0, 1201588.0, 1158871.0, 1063000.0, 1095055.0,
       1100020.0, 1088953.0, 1098880.0, 1164274.0, 1142377.0, 1080771.0,
       1076343.0, 1097352.0, 1069511.0, 1064237.0, 1097674.0, 1075910.0,
       1032192.0, 1011000.0, 1018178.0, 1020001.0, 1036267.0, 1102000.0,
       1123874.0, 1124541.0, 1131641.0, 1103996.0, 1121490.0, 1112171.0,
       1106945.0, 1086657.0, 1095555.0, 1126914.0, 1119558.0, 1118737.0,
       1111526.0, 1108663.0, 1101600.0, 1100344.0, 1108999.0, 1093999.0,
       1074107.0, 1081500.0, 1044001.0, 917999.0, 910274.0, 869605.0,
       886900.0, 887254.0, 869799.0, 898291.0, 896313.0, 899088.0,
       881977.0, 873171.0, 872594.0, 841354.0, 879399.0, 874804.0,
       919414.0, 926444.0, 898000.0, 901833.0, 899998.0, 905500.0,
       887464.0, 869340.0, 877000.0, 862890.0, 863000.0, 891400.0,
       891947.0, 870050.0, 812505.0, 807310.0, 940000.0, 1002159.0,
       1037500.0, 1003370.0, 1025514.0, 997247.0, 988920.0, 999769.0,
       1006460.0, 996034.0, 1021915.0, 1015450.0, 1015778.0, 1006260.0,
       957397.0, 962771.0, 986500.0, 950719.0, 960000.0, 953321.0,
       936240.0, 921483.0, 923400.0, 925304.0, 888914.0, 880856.0,
       876921.0, 827661.0, 791420.0, 796610.0, 752853.0, 776240.0,
       781873.0, 822380.0, 814000.0, 849890.0, 827393.0, 811428.0,
       796925.0, 792786.0, 783614.0, 803858.0, 818480.0, 814301.0,
       816707.0, 797959.0, 785869.0, 782164.0, 786190.0, 792353.0,
       773304.0, 777016.0, 754500.0, 724800.0, 798000.0, 779042.0,
       786600.0, 781592.0, 821550.0, 800320.0, 793410.0, 787145.0,
       788330.0, 792233.0, 799490.0, 807988.0, 787115.0, 779450.0,
       780490.0, 754800.0, 793000.0, 794060.0, 793632.0, 841539.0,
       882500.0, 877290.0, 854944.0, 895000.0, 875339.0, 892969.0,
       887538.0, 965570.0, 964324.0, 958730.0, 980172.0, 981000.0,
       957880.0, 950811.0, 957629.0, 950633.0, 918822.0, 921808.0,
       911000.0, 936240.0, 969060.0, 1022498.0, 1011955.0, 1031610.0,
       1013273.0, 1015630.0, 1010175.0, 1008820.0, 1003300.0, 1053671.0,
       1070900.0, 1076199.0, 1086240.0, 1110975.0, 1081510.0, 1123524.0,
       1136950.0, 1124591.0, 1137555.0, 1087798.0, 1091360.0, 1066850.0,
       1118896.0, 1068601.0, 1076399.0, 1082615.0, 1078573.0, 1111020.0,
       1071701.0, 1027477.0, 970306.0, 965988.0, 941169.0, 923207.0,
       920400.0, 968732.0, 938769.0, 944324.0, 963433.0, 966010.0,
       940979.0, 837484.0, 820200.0, 830836.0, 832286.0, 517999.0,
       616477.0, 565780.0, 582013.0, 547160.0, 579530.0, 588404.0,
       692529.0, 690005.0, 688958.0, 647262.0, 719267.0, 752500.0,
       741720.0, 737681.0, 690539.0, 677000.0, 634168.0, 693221.0,
       691824.0, 714987.0, 735176.0, 732900.0, 746176.0, 737468.0,
       801357.0, 784414.0, 803139.0, 793267.0, 746887.0, 749585.0,
       751793.0, 739986.0, 738259.0, 713829.0, 768443.0, 758043.0,
       781254.0, 768579.0, 738350.0, 740881.0, 770246.0, 805725.0,
       808353.0, 813203.0, 828532.0, 836500.0, 829395.0, 937577.0,
       926749.0, 946265.0, 962121.0, 952856.0, 949894.0, 962100.0,
       973954.0, 1065810.0, 1048000.0, 1017000.0, 934350.0, 922489.0,
       945875.0, 997533.0, 1051000.0, 996901.0, 1005016.0, 1037701.0,
       1044362.0, 1053101.0, 1025000.0, 977238.0, 988518.0, 988442.0,
       940810.0, 960276.0, 951651.0, 992287.0, 1031382.0, 1016000.0,
       1044454.0, 1017708.0, 1096695.0, 1036500.0, 1054000.0, 1068556.0,
       1055001.0, 1060890.0, 1068671.0, 1061999.0, 1055300.0, 1058435.0,
       991979.0, 1019130.0, 1018635.0, 1002600.0, 1014726.0, 1023100.0,
       1012444.0, 1004324.0, 996198.0, 1001500.0, 993100.0, 1035188.0,
       1024910.0, 996110.0, 991379.0, 983990.0, 969100.0, 979187.0,
       990000.0, 987501.0, 992614.0, 979088.0, 976000.0, 983699.0,
       977116.0, 1003420.0, 996682.0, 1012852.0, 991400.0, 994063.0,
       988877.0, 994403.0, 991999.0, 992629.0, 984953.0, 981001.0,
       981400.0, 983008.0, 987318.0, 983258.0, 1003851.0, 1021745.0,
       1026771.0, 1014790.0, 1030800.0, 1052800.0, 1161792.0, 1148483.0,
       1167267.0, 1162795.0, 1201369.0, 1253271.0, 1174208.0, 1192124.0,
       1184018.0, 1241698.0, 1244183.0, 1232000.0, 1247789.0, 1238888.0,
       1261304.0, 1216250.0, 1237245.0, 1260621.0, 1256372.0, 1264963.0,
       1269993.0, 1305300.0, 1261745.0, 1249355.0, 1254646.0, 1222031.0,
       1237485.0, 1235514.0, 1246899.0, 1208500.0, 1216528.0, 1209914.0,
       1215522.0, 1213222.0, 1237375.0, 1238000.0, 1264036.0, 1213836.0,
       1081385.0, 1116228.0, 1081637.0, 1093172.0, 1104509.0, 1074006.0,
       1087081.0, 1099282.0, 1103947.0, 1110235.0, 1098495.0, 1129458.0,
       1138456.0, 1152172.0, 1146789.0, 1144683.0, 1159267.0, 1142239.0,
       1091082.0, 1106570.0, 1078788.0, 1132018.0, 1129490.0, 1134774.0,
       1138923.0, 1128478.0, 1146293.0, 1137292.0, 1121999.0, 1114512.0,
       1112500.0, 1127500.0, 1141000.0, 1121836.0, 1131100.0, 1157278.0,
       1168815.0, 1192637.0, 1200341.0, 1215517.0, 1204407.0, 1200316.0,
       1212122.0, 1194529.0, 1197535.0, 1213571.0, 1237405.0, 1256584.0,
       1340000.0, 1357938.0, 1354278.0, 1371544.0, 1364513.0, 1369830.0,
       1425690.0, 1387544.0, 1406387.0, 1419400.0, 1444181.0, 1441000.0,
       1420893.0, 1464000.0, 1477239.0, 1618413.0, 1611191.0, 1533355.0,
       1598834.0, 1611570.0, 1610899.0, 1654168.0, 1712114.0, 1709518.0,
       1685924.0, 1672849.0, 1747522.0, 1841189.0, 1848331.0, 1849940.0,
       1939124.0, 1945098.0, 1911568.0, 1914000.0, 1960390.0, 1952078.0,
       1788077.0, 1784100.0, 1846869.0, 1893175.0, 2045665.0, 1960119.0,
       2005987.0, 2018000.0, 1947001.0, 1995555.0, 2016630.0, 1997150.0,
       1911000.0, 1936500.0, 1899694.0, 1875759.0, 1957880.0, 1988187.0,
       2000099.0, 2011544.0, 2204169.0, 2345936.0, 2384389.0, 2463470.0,
       2431406.0, 2352054.0, 2463605.0, 2402890.0, 2455575.0, 2549805.0,
       2744909.0, 2720240.0, 2805138.0, 2827970.0, 2957123.0, 2968795.0,
       3010042.0, 3318029.0, 3410000.0, 3292693.0, 3470021.0, 3794337.0,
       4101108.0, 4225266.0, 4186509.0, 3979170.0, 3691706.0, 3528567.0,
       3882383.0, 4063030.0, 3820075.0, 3742517.0, 3717046.0, 3800000.0,
       3736678.0, 3683531.0, 3184848.0, 3423811.0, 3332124.0, 3350424.0,
       3353886.0, 3363982.0, 3167193.0, 3480542.0, 3576069.0, 3579626.0,
       3456656.0, 3485976.0, 3712619.0, 3932798.0, 3901624.0, 4035812.0,
       4131757.0, 4097000.0, 4875000.0, 4874233.0, 4704412.0, 5014707.0,
       4973709.0, 4957394.0, 5111984.0, 5055269.0, 5205481.0, 5526975.0,
       5456000.0, 5910646.0, 5910115.0, 6080178.0, 5687069.0, 5422284.0,
       None], dtype=object)

In [24]:
# DBからデータを取得
data = db_session.query(Data.date, Data.real_price, Data.pred_price).all()

# 取得したデータを項目ごとに分配
dates = []
real_prices = []
pred_prices = []

for _data in data:
    dates.append(_data.date)
    real_prices.append(_data.real_price)
    pred_prices.append(_data.pred_price)
    
df = pd.DataFrame({'date':dates, 'real_price':real_prices, 'pred_price':pred_prices})
df.tail()

2021-03-13 17:05:29,942 INFO sqlalchemy.engine.base.Engine SELECT data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price
FROM data
2021-03-13 17:05:29,946 INFO sqlalchemy.engine.base.Engine ()

                   date  real_price    pred_price
746 2021-02-21 09:00:00   5910115.0  5.998294e+06
747 2021-02-22 09:00:00   6080178.0  6.000729e+06
748 2021-02-23 09:00:00   5687069.0  6.152566e+06
749 2021-02-24 09:00:00   5422284.0  5.721341e+06
750 2021-02-25 09:00:00         NaN  5.521486e+06

In [26]:
df['real_price'][:-1].tail(10)

740    5111984.0
741    5055269.0
742    5205481.0
743    5526975.0
744    5456000.0
745    5910646.0
746    5910115.0
747    6080178.0
748    5687069.0
749    5422284.0
Name: real_price, dtype: float64

In [27]:
df['5ma'] = df['real_price'].rolling(5, min_periods=1).mean()
df.tail(10)

                   date  real_price    pred_price        5ma
741 2021-02-16 09:00:00   5055269.0  5.140096e+06  5022612.6
742 2021-02-17 09:00:00   5205481.0  5.076019e+06  5060767.4
743 2021-02-18 09:00:00   5526975.0  5.234057e+06  5171420.6
744 2021-02-19 09:00:00   5456000.0  5.605767e+06  5271141.8
745 2021-02-20 09:00:00   5910646.0  5.514918e+06  5430874.2
746 2021-02-21 09:00:00   5910115.0  5.998294e+06  5601843.4
747 2021-02-22 09:00:00   6080178.0  6.000729e+06  5776782.8
748 2021-02-23 09:00:00   5687069.0  6.152566e+06  5808801.6
749 2021-02-24 09:00:00   5422284.0  5.721341e+06  5802058.4
750 2021-02-25 09:00:00         NaN  5.521486e+06  5774911.5

In [10]:
type(real_prices[1])

float

In [19]:
period = 5
moving_averages = np.convolve(real_prices[:-1], np.ones(period)/float(period), 'same')
moving_averages

array([381346.0, 385762.80000000005, 390768.80000000005,
       396084.60000000003, 395840.60000000003, 395289.6, 394380.6,
       394466.99999999994, 395450.0, 401936.4, 409317.00000000006,
       417695.60000000003, 425086.80000000005, 432244.60000000003,
       437518.4, 434280.4, 431832.2, 429321.0, 426416.60000000003,
       420209.60000000003, 422655.80000000005, 423148.60000000003,
       423955.00000000006, 422475.80000000005, 423792.80000000005,
       424573.80000000005, 425386.0, 426150.60000000003,
       430433.80000000005, 431185.00000000006, 430974.4, 430870.4,
       431033.60000000003, 430009.60000000003, 430204.0, 433172.0,
       435546.8, 438322.0, 441301.4, 443628.6, 443066.6, 442476.6,
       441741.39999999997, 440122.8, 436945.6, 435410.8, 436605.4,
       437549.80000000005, 440655.80000000005, 445270.20000000007,
       449323.4, 452528.00000000006, 472977.4, 493537.2, 512537.2,
       534360.2, 554958.0, 561809.2, 568453.2, 574139.2, 579861.4,
       579963.6, 577918.6, 573844.4, 574108.3999999999, 568579.8,
       572110.4, 575094.0, 579743.2, 582480.6, 588909.8, 591399.4,
       595136.2000000001, 600804.6000000001, 604813.0000000001, 601483.8,
       598603.6000000001, 593981.2, 585833.8, 579110.6, 580789.2,
       583449.2, 587742.8, 597637.4, 610122.8, 619218.8, 626558.8,
       633523.2, 638608.4, 645483.2, 658672.6, 692320.6,
       718324.0000000001, 758356.6000000001, 798823.8, 838460.2000000001,
       852293.4000000001, 861686.4, 851075.2000000002, 855499.2000000001,
       851828.8, 854306.6000000001, 860454.2, 872951.8, 868010.8,
       869055.8, 883851.6000000001, 907071.6000000001, 924946.2000000001,
       939717.8, 944420.0, 939361.2, 932345.6, 931072.2000000001,
       917217.2000000001, 902024.6, 885382.8, 869674.7999999999, 853908.8,
       850300.0000000001, 850735.4, 855744.2000000001, 858592.8,
       862436.6000000001, 868995.8, 891245.2000000001, 909122.2000000001,
       932437.0000000001, 957798.4000000001, 976253.4000000001, 987688.8,
       1000492.8, 1024033.0, 1050393.8, 1085889.8, 1121625.0, 1169407.6,
       1230260.6, 1245414.8, 1281255.8, 1303269.4000000001, 1285064.0,
       1236470.8, 1227111.2000000002, 1216955.4000000001,
       1199621.4000000001, 1204890.2000000002, 1218157.0, 1232555.8,
       1241338.2, 1274501.8, 1297692.8, 1300576.8000000003,
       1306990.2000000002, 1286427.2, 1233220.6, 1205978.2, 1162834.4,
       1116184.2000000002, 1098578.2, 1104721.0, 1101440.2, 1125726.6,
       1139655.0, 1124159.6, 1108525.4, 1091306.2000000002, 1076777.2,
       1059988.8, 1053828.6, 1049622.4, 1043023.8, 1048679.6, 1066163.0,
       1083419.0, 1107090.8, 1132885.8, 1162600.2000000002,
       1182923.4000000001, 1212168.8000000003, 1234998.8,
       1251601.2000000002, 1240630.6, 1239967.4000000001, 1226439.6,
       1204633.0, 1166455.6, 1147042.8, 1123706.8, 1101179.8, 1089181.6,
       1109436.4, 1118900.8, 1115051.0, 1112529.0000000002,
       1112223.4000000001, 1093270.8, 1077642.8000000003, 1081023.4,
       1080936.8, 1067904.8, 1056202.6, 1046990.8, 1031456.2, 1023527.6,
       1037489.2000000001, 1060064.0, 1081336.6, 1103664.6, 1117210.4,
       1121108.4, 1118767.8, 1115248.6, 1106251.8, 1104563.6,
       1105648.4000000001, 1107125.8, 1109484.2000000002, 1114458.0,
       1117079.6, 1112016.7999999998, 1108174.0, 1106226.4000000001,
       1102721.0, 1095809.8000000003, 1091789.8, 1080521.2,
       1042321.2000000002, 1005576.2000000002, 964675.8, 925755.8,
       894406.4000000001, 884766.4000000001, 882369.8, 887711.4, 890149.0,
       889093.6, 889768.0, 884628.6000000001, 873636.8, 869699.0000000001,
       868264.4000000001, 877513.0000000001, 888283.0000000001,
       899612.2000000001, 904099.0, 909137.8, 906355.0, 898559.0,
       892827.0, 887860.4, 880438.8, 871938.8, 872726.0, 877247.4,
       875857.4, 865780.4, 854642.4, 864362.4, 886404.8, 919894.8,
       958067.8, 1001708.6000000001, 1013158.0000000001,
       1010510.2000000001, 1002964.0000000001, 1003582.0000000001,
       997686.0000000001, 1002619.6000000001, 1007925.6000000001,
       1011127.4, 1011087.4, 1003360.0, 991531.2, 985741.2,
       972729.4000000001, 963477.4000000001, 962662.2, 957356.0, 944352.6,
       938888.7999999999, 931949.6000000001, 919068.2000000001,
       907991.4000000001, 899079.0, 879931.2, 853154.3999999999,
       834693.6000000001, 809093.0, 788956.8, 779799.2, 785991.2,
       789469.2, 808876.6, 819107.2, 825018.2, 819927.2,
       815684.3999999999, 802429.2000000001, 797722.2, 799132.6, 802607.8,
       807392.0000000001, 810261.0, 806663.2000000001, 799400.0000000001,
       793777.8000000002, 788907.0, 783976.0000000001, 782205.4000000001,
       776672.6000000001, 764394.6000000001, 765524.0, 766671.6, 768588.4,
       774006.8, 793356.8, 793820.8, 796694.4, 796803.4, 798151.0,
       792287.6, 792121.6, 795037.2, 795031.2, 793255.2, 790906.6,
       781968.6, 778971.0, 780360.0, 783196.4, 795406.2000000001,
       820946.2000000001, 837804.2000000001, 849981.0000000001,
       870254.6000000001, 877014.6000000001, 879108.4000000001,
       881158.0000000001, 903283.2000000001, 917148.0000000001,
       933826.2000000001, 951266.8, 969959.2000000001, 968421.2000000001,
       965718.6000000001, 965498.4000000001, 959590.6, 947155.0, 939940.6,
       931978.4, 927700.6, 931386.0, 952121.2, 970150.6, 994272.6,
       1009679.2, 1018993.2, 1016528.6, 1015901.6, 1010239.6, 1018319.2,
       1029373.2, 1042578.0, 1058062.0, 1079597.0, 1085164.8, 1095689.6,
       1107839.8, 1115510.0, 1120826.0, 1122083.6, 1115650.7999999998,
       1101630.8, 1100491.8, 1086701.0, 1084421.2, 1082672.2000000002,
       1085016.8, 1083441.6, 1084061.6, 1074277.2000000002,
       1051815.4000000001, 1029298.4, 995328.2000000001,
       965629.4000000001, 944214.0000000001, 943899.2000000001,
       938455.4000000001, 939086.4000000001, 947131.6000000001,
       956253.6000000001, 950703.0000000001, 930446.0000000001,
       905621.2000000001, 879101.8, 852357.0, 767761.0000000001,
       723559.6000000001, 672675.6, 622911.0, 565885.8, 578192.0,
       572577.4, 597927.2, 619525.6, 647885.2, 661431.6000000001,
       687604.2000000001, 699598.4, 709941.4, 719686.0, 728341.4000000001,
       719888.0, 696221.6, 686521.8, 677350.4000000001, 682240.0,
       693875.2000000002, 713621.6000000001, 724212.6000000001, 733341.4,
       750615.4, 760463.0000000001, 774510.8000000002, 783929.0000000001,
       785812.8000000002, 775458.4, 768934.2000000001, 756303.6000000001,
       745302.0, 738690.4, 742462.0000000001, 743712.0, 751965.6000000001,
       758029.6000000001, 762933.8, 757421.4000000001, 759862.0,
       764756.2000000001, 772711.0, 787681.6, 805211.8, 818462.6,
       823196.6000000001, 849041.4, 871750.6000000001, 895297.2000000001,
       920421.4000000001, 945113.6000000001, 947577.0, 954647.2000000001,
       960185.0000000001, 980922.8, 999951.6000000001, 1013372.8,
       1007822.8, 997529.8, 973542.8, 963449.4, 970249.4,
       982759.6000000001, 999265.0, 1017630.2, 1026996.0000000001,
       1027416.2000000002, 1033036.0, 1027480.4, 1017643.8, 1006459.8,
       984001.6, 971056.8, 965939.3999999999, 966693.2000000001,
       975281.2000000001, 990319.2000000001, 1007154.8,
       1020366.2000000001, 1041247.8, 1042271.4, 1049871.4, 1054691.8,
       1062150.4, 1054989.4, 1061423.6, 1063023.4000000001,
       1060372.2000000002, 1061059.0, 1047276.8, 1037368.6000000001,
       1028695.8, 1018155.8, 1009414.0, 1015638.2, 1014301.0, 1011438.8,
       1010158.4, 1007513.2000000001, 1001513.2000000001, 1006062.0,
       1010179.2, 1010161.6, 1008137.4, 1006315.4, 993097.8,
       983953.2000000001, 982731.2000000001, 981955.6000000001,
       983680.4000000001, 985678.0000000001, 985040.6, 983780.4,
       981703.4000000001, 983864.6000000001, 987383.4, 994753.8,
       996294.0000000001, 999683.4, 996774.8, 996319.0, 992148.4,
       992394.2000000001, 990572.2000000001, 988997.0, 986396.4000000001,
       984598.2000000001, 983536.0, 983197.0, 987767.0, 995836.0,
       1004588.6000000001, 1010083.0, 1019591.4, 1029381.2, 1057390.6,
       1081733.0, 1112228.4, 1138627.4, 1168341.2, 1186637.0,
       1191782.0000000002, 1196753.4, 1200998.0, 1209063.8, 1207246.2,
       1218804.6, 1229937.6, 1240911.6, 1244832.8, 1239246.2000000002,
       1240295.2000000002, 1242861.6, 1246358.4, 1247090.2, 1257838.8,
       1271449.8, 1271674.6, 1270271.2, 1268207.8, 1258615.4, 1245052.4,
       1239806.2, 1239315.0, 1230085.8, 1228985.2000000002, 1223471.0,
       1219472.6, 1212737.2000000002, 1218512.2000000002, 1222806.6,
       1233631.0, 1233293.8, 1206926.4, 1182697.0, 1151424.4, 1117251.6,
       1095386.2, 1093910.4000000001, 1088081.0, 1091610.0, 1093765.0,
       1094910.2000000002, 1099808.0, 1108283.4000000001, 1116118.2,
       1125763.2000000002, 1133074.0, 1142311.6, 1148273.4, 1149030.0,
       1136812.0, 1128768.2000000002, 1115589.2000000002,
       1110139.4000000001, 1107589.6, 1116328.0, 1122798.6, 1132736.6,
       1135591.6, 1137152.0, 1134597.0, 1129714.8000000003,
       1126519.2000000002, 1122760.6, 1123502.2000000002, 1123469.6,
       1126787.2, 1135742.8, 1144005.7999999998, 1154333.2000000002,
       1170034.2, 1186917.6, 1196343.4000000001, 1202643.6, 1206540.6,
       1205378.2, 1201781.8, 1203614.6, 1211032.4000000001, 1219924.8,
       1249019.0, 1281099.6, 1309241.0000000002, 1336068.8000000003,
       1357654.6000000003, 1363620.6, 1377171.0, 1383824.2,
       1390792.8000000003, 1401770.2000000002, 1416640.4000000001,
       1419702.4, 1426372.2000000002, 1437894.8, 1449462.6,
       1484309.0000000002, 1518347.2000000002, 1540839.6,
       1567806.4000000001, 1594672.6, 1593169.8, 1601765.2000000002,
       1637517.0000000002, 1659653.8000000003, 1674524.6000000003,
       1686914.6000000003, 1705585.4000000004, 1731400.4000000001,
       1759163.0000000002, 1791966.2, 1845221.2000000002,
       1884736.4000000001, 1898812.2000000002, 1911946.0000000002,
       1934036.0000000002, 1936626.8000000003, 1905222.6, 1879729.0,
       1866302.8, 1852859.8, 1871577.2000000002, 1905985.6, 1950363.0,
       1984589.2000000002, 1995354.4000000001, 1985332.4000000001,
       1996634.6, 1994867.2, 1973467.2, 1971367.0, 1952194.8, 1924020.6,
       1916166.6, 1931604.0, 1944323.8, 1966693.8000000003,
       2032375.8000000003, 2109987.0, 2189227.4000000004, 2281901.6,
       2365874.0, 2395451.0, 2418984.8, 2422685.0, 2421106.0, 2444785.8,
       2523356.8, 2574683.8, 2655133.4, 2729612.4, 2811076.0, 2855853.2,
       2913813.6, 3016391.8, 3132797.8, 3199911.8000000003,
       3300157.0000000005, 3457016.0, 3613631.8000000003,
       3776685.0000000005, 3955448.2, 4057278.0, 4036751.8000000007,
       3922243.6, 3853667.0, 3828971.2, 3797152.2, 3807314.4, 3845010.2,
       3828533.6, 3763263.2, 3735954.4000000004, 3624420.6000000006,
       3565773.6000000006, 3472198.4000000004, 3394947.6000000006,
       3329018.6000000006, 3364845.4, 3313521.8000000003, 3343205.4,
       3388334.4000000004, 3433482.4000000004, 3452017.2,
       3515773.8000000007, 3562189.2, 3633535.0000000005,
       3697934.6000000006, 3813765.8000000003, 3942922.0, 4019798.2,
       4208238.6, 4402760.4, 4536480.4, 4713070.4, 4888412.2, 4904891.0,
       4952441.2, 5022612.6, 5060767.4, 5171420.600000001,
       5271141.800000001, 5430874.2, 5601843.4, 5776782.800000001,
       5808801.600000001, 5802058.4], dtype=object)

In [15]:
# 移動平均の点数
n = 3
    
    # 配列生成
data = np.array([ 1,  2,  5,  4,  2,  4,  3])
    
    # コンボリューション積分で移動平均の計算
ave = np.convolve(data, np.ones(n)/float(n), 'same')

ave

array([1.        , 2.66666667, 3.66666667, 3.66666667, 3.33333333,
       3.        , 2.33333333])

In [17]:
data[:-1]

array([1, 2, 5, 4, 2, 4])

In [33]:
db_session.query(Data).all()[-1].date

2021-02-22 01:58:04,588 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-02-22 01:58:04,590 INFO sqlalchemy.engine.base.Engine ()

datetime.datetime(2021, 2, 21, 0, 0)

In [19]:
a = db_session.query(Data).all()[-5:]
input_will = []

for price in a:
    input_will.append(price.real_price)
input_will = np.array(input_will).reshape(1, 5, 1)
input_mean = np.mean(input_will)
input_std = np.std(input_will)
sta_input = (input_will - input_mean) / input_std
sta_input

2021-02-22 01:44:55,385 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-02-22 01:44:55,388 INFO sqlalchemy.engine.base.Engine ()

array([[[-1.44852977],
        [-0.27361098],
        [-0.53299331],
        [ 1.12853731],
        [ 1.12659674]]])

In [38]:
# 翌日の日付を取得
today = db_session.query(Data).all()[-1].date
next_day = today + timedelta(days=1)
next_day

2021-02-22 02:00:07,729 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-02-22 02:00:07,732 INFO sqlalchemy.engine.base.Engine ()

datetime.datetime(2021, 2, 22, 0, 0)

In [1]:
from assets.database import db_session
from assets.models import Data

from keras.models import Sequential
import numpy as np
import requests
import pickle
#from datetime import datetime
from datetime import timedelta

def get_price():
    URL = 'https://coincheck.com/api/ticker'
    coincheck = requests.get(URL).json() 
    last_price = coincheck['last']
    
    return last_price

def predict_nextday():

    # 価格情報を取得しデータフレームに格納
    today_data = db_session.query(Data).all()[-1]
    today_data.real_price = get_price()  # 上書き
    db_session.add(today_data)
    db_session.commit()

    # windowを作成し標準化
    window = 5

    data_five = db_session.query(Data).all()[-window:]
    input_will = []

    for price in data_five:
        input_will.append(price.real_price)
    input_will = np.array(input_will).reshape(1, window, 1)
    input_mean = np.mean(input_will)
    input_std = np.std(input_will)
    sta_input = (input_will - input_mean) / input_std
    print(sta_input)

    # 学習済みモデルを取得
    with open("lstm_model.pickle", "rb") as f:
        model = pickle.load(f)

    # 翌日の価格を予測、標準化してあるので元に戻す
    future_price = model.predict(sta_input)
    future_price = future_price.reshape(-1)
    future_price = future_price*input_std + input_mean
    future_price = float(future_price)
    print(future_price)

    # 翌日の日付を取得
    today = db_session.query(Data).all()[-1].date
    next_day = today + timedelta(days=1)
    print(next_day)

    # 翌日の日付、予測した価格をデータベースに格納
    row = Data(date = next_day, real_price = None, pred_price = future_price)
    db_session.add(row)
    db_session.commit()

Using TensorFlow backend.
C:\Users\tomot\anaconda3\envs\lstm\lib\site-packages\tensorflow\python\framework\dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\tomot\anaconda3\envs\lstm\lib\site-packages\tensorflow\python\framework\dtypes.py:524: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\tomot\anaconda3\envs\lstm\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\tomot\anaconda3\envs\lstm\lib\site-packages\tensorflow\python\framework\dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\tomot\anaconda3\envs\lstm\lib\site-packages\tensorflow\python\framework\dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\tomot\anaconda3\envs\lstm\lib\site-packages\tensorflow\python\framework\dtypes.py:532: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
predict_nextday()

2021-02-23 17:13:06,304 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-02-23 17:13:06,311 INFO sqlalchemy.engine.base.Engine ()
2021-02-23 17:13:06,321 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-02-23 17:13:06,324 INFO sqlalchemy.engine.base.Engine ()
2021-02-23 17:13:06,331 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-23 17:13:06,344 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-02-23 17:13:06,349 INFO sqlalchemy.engine.base.Engine ()
2021-02-23 17:13:08,238 INFO sqlalchemy.engine.base.Engine UPDATE data SET real_price=? WHERE data.id = ?
2021-02-23 17:13:08,243 INFO sqlalchemy.engine.base.Engine (5129755.0, 749)
2021-02-23 17:13:08,256 INFO sqlalchemy.engine.base.Engine COMMIT
2021-02-23 17:13:08,291 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-23 17:13:08,296 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-02-23 17:13:08,303 INFO sqlalchemy.engine.base.Engine ()
[[[-0.6149011 ]
  [ 0.86479702]
  [ 0.86306881]
  [ 0.56373853]
  [-1.67670327]]]
5318548.0
2021-02-23 17:13:16,931 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-02-23 17:13:16,942 INFO sqlalchemy.engine.base.Engine ()
2021-02-24 00:00:00
2021-02-23 17:13:17,000 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-23 17:13:17,005 INFO sqlalchemy.engine.base.Engine ('2021-02-24 00:00:00.000000', None, 5318548.0, '2021-02-23 17:12:17.855228')
2021-02-23 17:13:17,017 INFO sqlalchemy.engine.base.Engine COMMIT

In [47]:
# 翌日の日付、予測した価格をデータベースに格納
row = Data(date = next_day, real_price = None, pred_price = future_price)
db_session.add(row)
db_session.commit()

2021-02-22 02:09:53,807 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, real_price, pred_price, timestamp) VALUES (?, ?, ?, ?)
2021-02-22 02:09:53,809 INFO sqlalchemy.engine.base.Engine ('2021-02-22 00:00:00.000000', None, 6211567.0, '2021-02-22 01:09:37.634966')
2021-02-22 02:09:53,818 INFO sqlalchemy.engine.base.Engine COMMIT

In [51]:
print(db_session.query(Data).all()[-1].real_price)

2021-02-22 02:11:03,158 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.real_price AS data_real_price, data.pred_price AS data_pred_price, data.timestamp AS data_timestamp
FROM data
2021-02-22 02:11:03,158 INFO sqlalchemy.engine.base.Engine ()
None